{{ header }}
<nav id="column-left">
	<div id="navigation"><span class="fas fa-bars"></span> Navigation</div>
	<ul id="menu">
		<li id="ultimaterial-common"><a href="#collapse-ultimaterial-common" data-toggle="collapse" class="parent collapsed"><i class="fas fa-cogs"></i> Common</a>
			<ul id="collapse-ultimaterial-common" class="collapse">
				<li><a href="{{ children_1.href }}">Header</a></li>
			</ul>
		</li>
	</ul>
</nav>
<div id="content" class="ultimaterial grey lighten-3" data-ultimaterial="setting">
	<div class="ultimaterial__header header">
		<div class="header__top-panel blue-grey darken-4" data-ultimaterial="setting">
			<div class="container">
				<nav class="navigation-top">
					<ul class="navigation-top__list sortable-wrapper" id="navigation-top-list-left">
						<li class="navigation-top__item waves-effect waves-effect waves-light" data-ultimaterial="setting"><i class="material-icons">language</i></li>
						<li class="navigation-top__item waves-effect waves-effect waves-light" data-ultimaterial="setting"><i class="material-icons">monetization_on</i></li>
					</ul>
					<ul class="navigation-top__list sortable-wrapper" id="navigation-top-list-right">
						<li class="navigation-top__item waves-effect waves-orange" data-ultimaterial="setting"><span class="ultimaterial__text--with-icon"><i class="material-icons">phone_in_talk</i>+7 800 555-35-35</span></li>
						<li class="navigation-top__item waves-effect waves-green" data-ultimaterial="setting"><a href="#" class="navigation-top__link ultimaterial__text--with-icon"><i class="material-icons">person</i>My Account</a></li>
						<li class="navigation-top__item waves-effect waves-green" data-ultimaterial="setting"><a href="#" class="navigation-top__link ultimaterial__text--with-icon"><i class="material-icons">favorite</i>Wish List (0)</a></li>
						<li class="navigation-top__item waves-effect waves-green" data-ultimaterial="setting"><a href="#" class="navigation-top__link ultimaterial__text--with-icon"><i class="material-icons">shopping_cart</i>Shopping Cart</a></li>
						<li class="navigation-top__item waves-effect waves-green" data-ultimaterial="setting"><a href="#" class="navigation-top__link ultimaterial__text--with-icon"><i class="material-icons">reply</i>Checkout</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="header__main blue-grey darken-3" data-ultimaterial="setting">
			<div class="container">
				<div class="header__content">
					<img src="{{ logo }}" alt="{{ name }}" title="{{ name }}">
					<div class="header__information white-text">
						<div class="header__information-top">
							<ul class="header__information-list sortable-wrapper" id="header-information-top">
								<li class="header__information-item" data-ultimaterial="setting"><span class="ultimaterial__text--with-icon ultimaterial__text--bold flow-text"><i class="material-icons">phone_in_talk</i>+7 800 555-35-35</span></li>
							</ul>
						</div>
						<div class="header__information-bottom">
							<ul class="header__information-list sortable-wrapper" id="header-information-bottom">
								<li class="header__information-item" data-ultimaterial="setting">
									<span class="ultimaterial__text--with-icon"><i class="material-icons">email</i>info@myefforts.ru</span>
								</li>
								<li class="header__information-item" data-ultimaterial="setting">
									<span class="ultimaterial__text--with-icon"><i class="material-icons">access_time</i>Weekdays from 09:00 to 18:00</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header__content">
					<form class="search white" data-ultimaterial="setting">
						<button type="button" class="search__button search__button--left btn-flat waves-effect waves-circle"><label class="search__label" for="search"><i class="material-icons grey-text text-darken-3">search</i></label></button>
						<input class="search__input" id="search" type="search" autocomplete="off">
						<button type="reset" class="search__button search__button--right btn-flat waves-effect waves-circle"><i class="material-icons grey-text text-darken-3">close</i></button>
					</form>
				</div>
			</div>
		</div>
		<div class="header__bottom blue-grey darken-2 z-depth-2" data-ultimaterial="setting">
			<div class="container">
				<nav class="nav menu">
					<ul class="menu__list">
						{% for key, category in categories %}
							{% if category.children %}
								<li class="menu__item menu__item--with-child" aria-haspopup="true" aria-expanded="false">
									<a href="{{ category.href }}" class="menu__link menu__link--with-child white-text waves-effect waves-light" id="sub-menu-{{ key }}" title="{{ category.name }}">{{ category.name }}</a>
									<div class="menu__sub-menu sub-menu z-depth-1" aria-hidden="true">
										<div class="sub-menu__lists" role="menu" aria-labelledby="sub-menu-{{ key }}">
											{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
												<ul class="sub-menu__list">
													{% for child in children %}
														<li class="sub-menu__item" role="presentation"><a href="{{ child.href }}" class="sub-menu__link waves-effect" title="{{ child.name }}" role="menuitem">{{ child.name }}</a></li>
													{% endfor %}
												</ul>
											{% endfor %}
										</div>
										<div class="sub-menu__divider" role="separator"></div>
										<a href="{{ category.href }}" class="sub-menu__link waves-effect">Show {{ text_all }} {{ category.name }}</a>
									</div>
								</li>
							{% else %}
								<li class="menu__item"><a href="{{ category.href }}" class="menu__link white-text waves-effect waves-light" title="{{ category.name }}">{{ category.name }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="ultimaterial__main">
		<div class="container">
			<p data-ultimaterial="setting">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium asperiores deleniti dolore dolorem est libero rerum voluptate voluptates? Ab adipisci aliquam, animi asperiores atque blanditiis cum, dicta est exercitationem illo incidunt ipsum iure laudantium libero magnam neque nisi officia quos repellat vero vitae voluptates voluptatibus voluptatum. Ab aut dignissimos distinctio eligendi enim eum explicabo laboriosam nihil nostrum perspiciatis placeat, possimus quam rem repellat, ut voluptatibus voluptatum. Alias aliquid animi aperiam architecto asperiores consequatur culpa cum cumque distinctio dolores error est ex expedita explicabo iste laudantium, maiores minima modi molestias mollitia nam nulla obcaecati officiis porro, provident qui quia quisquam rem rerum soluta sunt, suscipit ullam ut veniam vero voluptate voluptatibus. Accusamus accusantium adipisci architecto beatae, deleniti, eos error fuga illum, inventore itaque maxime mollitia placeat quam ratione recusandae sunt tempora temporibus. Consequuntur cum deleniti, ea est eveniet, impedit ipsa maxime modi quae saepe sint vel. Amet aperiam aut consectetur culpa, cum, ipsum, iure magni maiores non perspiciatis porro quibusdam ratione reiciendis repellendus veniam. Aliquam asperiores debitis dolor esse ex impedit maiores maxime quos ratione reprehenderit vel, veritatis voluptatum! Aliquam aliquid assumenda consequuntur dolores ea harum incidunt labore laboriosam libero magnam maiores minima, odit officia officiis optio perspiciatis porro quo rerum sunt suscipit, tempora temporibus veniam voluptatibus. Aliquam aliquid animi architecto asperiores aut autem, beatae consectetur corporis culpa delectus deserunt dicta dolor dolorem ea eaque expedita facere facilis id illo, ipsam itaque iusto molestias, mollitia nihil non odio odit officia quia rem repellat saepe sequi suscipit tempora tenetur ut veniam voluptatibus. Animi cumque cupiditate dolores eligendi facere inventore magnam, veritatis. Aperiam assumenda deleniti deserunt dolorem dolorum, earum illo modi natus quam quidem, repellat repellendus reprehenderit repudiandae similique tempora? Accusantium alias aliquam aliquid aut consectetur consequatur debitis, eius ex exercitationem explicabo facilis harum illum impedit in maxime natus necessitatibus nihil nisi placeat quo quod ratione repellendus sequi tempore voluptate voluptates voluptatibus! Aliquid blanditiis dignissimos dolore doloremque ducimus earum eveniet ex incidunt ipsum iusto mollitia natus necessitatibus nobis non nostrum, odit omnis porro qui quidem quos reprehenderit sequi similique sint velit veniam, vitae voluptas voluptatem! Atque cum deserunt doloribus facere officiis reiciendis soluta? Alias atque dicta explicabo fugiat laborum reprehenderit, sit voluptatem. Alias aliquid autem dicta esse, et facilis harum laboriosam magnam minima modi necessitatibus, nihil odio quaerat quis, sit unde vitae voluptates? A atque, distinctio esse expedita labore maiores molestias nisi optio quae saepe voluptate voluptatem voluptates! Ab esse ex fugit, hic inventore laboriosam molestiae, nam necessitatibus quas quis repellat sequi sint, velit veritatis voluptatibus? Aliquid autem eius fugiat harum, ipsum modi odio, perspiciatis quasi quod rem sequi, ut voluptatum. A ab amet animi aperiam asperiores dolore earum eos facere iste laudantium natus quas, rem similique sunt suscipit tempora velit veniam voluptatibus! Ad commodi delectus earum excepturi incidunt laboriosam modi nisi, officia, rem repellat, repellendus tempora veritatis? A, amet aut blanditiis, consequatur culpa deleniti ducimus earum eligendi hic ipsum minus modi nulla odio quia quibusdam quidem reiciendis repellat reprehenderit sed sint totam veniam voluptates. Alias aliquam beatae consequatur dolor eum ex modi neque odio, quia quod sed similique. A accusamus aut dicta, distinctio ducimus fugit, hic illo itaque modi necessitatibus odio officia perspiciatis placeat quis recusandae reiciendis veniam. Beatae consequuntur dolore dolorem dolores ducimus ea earum eius enim et illum impedit ipsa laborum magni maiores molestiae natus, nostrum qui repudiandae rerum sint tempora voluptate voluptatem. Corporis iure non quisquam repudiandae! Assumenda dolorem ex, exercitationem harum possimus ratione tenetur vitae voluptas voluptatem voluptatibus. A aliquam aperiam asperiores at atque consectetur consequatur dignissimos dolores eum excepturi expedita id illo inventore ipsum molestiae necessitatibus nesciunt obcaecati quas quos, rerum sit temporibus voluptas! Ad aperiam, blanditiis culpa dolor dolorem ea eveniet in laborum magnam molestiae nihil odio, optio pariatur rerum sed, sit voluptates! Aspernatur beatae cum cumque delectus dolore eos eum excepturi ipsam magni odio. Dignissimos ea non officiis quasi sequi! Accusantium, amet atque corporis cumque deleniti deserunt, dicta eligendi error esse facere impedit iusto laboriosam necessitatibus neque nulla numquam possimus quae quia quos repellat sapiente sunt temporibus vitae. Asperiores aspernatur at blanditiis commodi consectetur consequatur cum doloribus esse et exercitationem facilis fugiat incidunt ipsum iste libero, maxime omnis placeat qui repellat tempore velit voluptas voluptatem voluptates. Dolor harum inventore ipsa magni maxime officia possimus rem repellendus, sint totam ut velit voluptatem. At, commodi dolor doloremque fugiat iusto magni minima perspiciatis ut. Accusantium amet at atque dolor dolorum fugit ipsa itaque iure, libero maiores molestias nemo neque nulla qui, repudiandae ut voluptates? A iure nulla placeat quae quam quis quod tempore vel! Aperiam, assumenda atque commodi, debitis eveniet exercitationem labore molestiae nihil sapiente similique soluta sunt tempore temporibus ut vero. Dicta nulla placeat praesentium reiciendis rerum similique soluta! Ab adipisci facere necessitatibus praesentium quasi rem repellendus sit temporibus vel? Atque, cupiditate dolores eligendi esse fugiat harum incidunt ipsam ipsum molestias, non praesentium quidem repellendus, rerum. Alias aliquam animi aperiam asperiores, beatae consectetur consequatur, distinctio dolore ea enim et exercitationem expedita fuga harum in ipsam ipsum itaque iusto laboriosam laborum minima minus molestiae nemo neque nisi nostrum obcaecati odit quasi quisquam recusandae repellendus repudiandae suscipit voluptas. Accusantium aliquam commodi dignissimos ducimus eligendi, enim et hic inventore ipsa magnam maiores minus molestias natus perferendis quae, qui unde voluptate voluptatibus! Accusamus aut dolorum eaque quaerat. Amet aspernatur autem blanditiis commodi culpa, delectus dolor, et explicabo facere, iusto magnam nam numquam perferendis quasi qui reprehenderit sed? Earum, esse est iure numquam ullam ut. Beatae consequuntur impedit incidunt iusto omnis quaerat, tenetur vero. Amet asperiores aut doloribus iste modi molestias, perferendis quia quis rem vero. Deserunt, dicta fugiat in ipsa laborum obcaecati vero voluptatibus? Asperiores beatae blanditiis consequuntur eveniet exercitationem, quod? Aliquam blanditiis consequatur consequuntur mollitia placeat reprehenderit saepe similique sint ut voluptatum? Beatae cupiditate dicta ea excepturi inventore laborum nulla officia reiciendis unde veniam, voluptas voluptate. Aspernatur doloremque itaque laborum, magni quae repudiandae similique unde. Ab aliquid amet at blanditiis debitis delectus dicta, distinctio dolor eveniet id iure laudantium magni, necessitatibus nesciunt nihil placeat quaerat rerum vel voluptas voluptates! Aliquid animi consequatur dolorum enim nesciunt nihil omnis qui saepe.</p>
		</div>
	</div>
	<footer class="ultimaterial__footer footer blue-grey darken-3 grey-text text-lighten-3" data-ultimaterial="setting">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<h5 class="white-text">Footer Content</h5>
					<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
				</div>
				<div class="col-12 col-lg-4 offset-lg-2">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer__copyright">
			<div class="container">
				© 2019
				<a class="grey-text text-lighten-4 right" href="#">More Links</a>
			</div>
		</div>
	</footer>
</div>
<script>
	$('.ultimaterial a').on('click', function(event) {
		event.preventDefault();
		console.log('href click');

		return false;
	});

	$(document).ready(function() {
		subMenuPosition();

		$(window).resize(function() {
			subMenuPosition();
		});
	});

	function subMenuPosition() {
		let elements = $('.menu__item--with-child'),
				bodyWidth = $('body').innerWidth();
		console.log('Body Width: ' + bodyWidth);

		$.each(elements, function(index, value) {
			let element = $(value),
					elementWidth = parseInt(element.outerWidth()),
					elementOffsetLeft = parseInt(element.offset().left),
					elementOffsetRight = parseInt(bodyWidth - elementOffsetLeft - elementWidth),
					subMenu = element.find('.sub-menu'),
					subMenuWidth = parseInt(subMenu.width());

			let neededDistanceLeft = bodyWidth - elementOffsetLeft - 15,
					neededDistanceRight = bodyWidth - elementOffsetRight - 15;

			if (neededDistanceLeft >= subMenuWidth) {
				subMenu.css({
					'transform-origin': '0 0 0',
					'left': 0,
					'right': 'auto'
				});
			} else if (neededDistanceRight >= subMenuWidth) {
				subMenu.css({
					'transform-origin': '100% 0 0',
					'left': 'auto',
					'right': 0
				});
			} /*else if (subMenuWidth - neededDistanceLeft < subMenuWidth - neededDistanceRight) {
				subMenu.css({
					'transform-origin': '0 0 0',
					'left': '-' + parseInt(subMenuWidth - neededDistanceLeft) + 'px',
					'right': 'auto'
				});
			}*/ else {
				subMenu.css({
					'transform-origin': '100% 0 0',
					'left': 'auto',
					'right': '-' + (elementOffsetRight - 15) + 'px',
				});
			}
		});
	}

	let menuItemParent = $('.menu__item--with-child');

	menuItemParent.on('mouseenter', function() {
		$(this).attr('aria-expanded', true);
		$(this).find('.sub-menu').attr('aria-hidden', false);
	});

	menuItemParent.on('mouseleave', function() {
		$(this).attr('aria-expanded', false);
		$(this).find('.sub-menu').attr('aria-hidden', true);
	});

	$('[data-ultimaterial=\'setting\']').on('click', function(event) {
		event.stopPropagation();

		$(this).addClass('setting--selected');
	});

	$(document).mouseup(function (event) {
		let element = $('[data-ultimaterial=\'setting\'].setting--selected');

		if (!element.is(event.target)/* && element.has(event.target).length === 0*/) {
			element.removeClass('setting--selected');
		}
	});

	$('[data-ultimaterial=\'setting\']').hover(function(event) {
		event.stopPropagation();

		$(this).addClass('setting--hover');
	}, function() {
		$(this).removeClass('setting--hover');
	});

	let navigationTopListLeft = document.getElementById('navigation-top-list-left'),
			navigationTopListRight = document.getElementById('navigation-top-list-right');

	new Sortable(navigationTopListLeft, {
		group: 'navigation-top',
		animation: 150
	});

	new Sortable(navigationTopListRight, {
		group: 'navigation-top',
		animation: 150
	});

	let headerInformationTop = document.getElementById('header-information-top'),
			headerInformationBottom = document.getElementById('header-information-bottom');

	new Sortable(headerInformationTop, {
		group: 'header-information',
		animation: 150
	});

	new Sortable(headerInformationBottom, {
		group: 'header-information',
		animation: 150
	});
</script>
{{ footer }}