</main>
<footer class="page-footer blue-grey darken-3 grey-text text-lighten-4"> {# todo-materiliaze Set color from color scheme #}
	<div class="container">
		<div class="row">
			{% if informations %}
				<div class="col s12 m3">
					<h5>{{ text_information }}</h5>
					<ul>
						{% for information in informations %}
							<li><a class="grey-text text-lighten-3" href="{{ information.href }}">{{ information.title }}</a></li> {# todo-materiliaze Set color from color scheme #}
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div class="col s12 m3">
				<h5>{{ text_service }}</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="{{ contact }}">{{ text_contact }}</a></li> {# todo-materiliaze Set color from color scheme #}
					<li><a class="grey-text text-lighten-3" href="{{ return }}">{{ text_return }}</a></li> {# todo-materiliaze Set color from color scheme #}
					<li><a class="grey-text text-lighten-3" href="{{ sitemap }}">{{ text_sitemap }}</a></li> {# todo-materiliaze Set color from color scheme #}
				</ul>
			</div>
			<div class="col s12 m3">
				<h5>{{ text_extra }}</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="{{ manufacturer }}">{{ text_manufacturer }}</a></li> {# todo-materiliaze Set color from color scheme #}
					<li><a class="grey-text text-lighten-3" href="{{ voucher }}">{{ text_voucher }}</a></li> {# todo-materiliaze Set color from color scheme #}
					<li><a class="grey-text text-lighten-3" href="{{ affiliate }}">{{ text_affiliate }}</a></li> {# todo-materiliaze Set color from color scheme #}
					<li><a class="grey-text text-lighten-3" href="{{ special }}">{{ text_special }}</a></li> {# todo-materiliaze Set color from color scheme #}
				</ul>
			</div>
			<div class="col s12 m3">
				<h5>{{ text_account }}</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="{{ account }}">{{ text_account }}</a></li> {# todo-materiliaze Set color from color scheme #}
					<li><a class="grey-text text-lighten-3" href="{{ order }}">{{ text_order }}</a></li> {# todo-materiliaze Set color from color scheme #}
					<li><a class="grey-text text-lighten-3" href="{{ wishlist }}">{{ text_wishlist }}</a></li> {# todo-materiliaze Set color from color scheme #}
					<li><a class="grey-text text-lighten-3" href="{{ newsletter }}">{{ text_newsletter }}</a></li> {# todo-materiliaze Set color from color scheme #}
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			{{ powered }}
			<a class="right grey-text text-lighten-3" href="//www.opencart.com/index.php?route=marketplace/extension/info&extension_id=30715" target="_blank" rel="noopener">Materialize Template</a> {# todo-materiliaze Set color from color scheme #}
		</div>
	</div>
</footer>
{% for script in scripts %}
	<script src="{{ script }}"></script>
{% endfor %}
<!--
OpenCart and Materialize Template is open source software and you are free to remove the powered by OpenCart and Materialize Template if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com for OpenCart and https://paypal.me/trydalcoholic for Materialize Template
//-->
</body>
</html>