{# todo-materiliazeMake by analogy with the already ready file currency.twig #}
	<div id="modal-language" class="modal">
		<div class="modal-header">
			<h4>{{ text_language }}</h4>
		</div>
		<div class="modal-content">
			<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
				<ul>
					{% for language in languages %}
						<li>
							<label for="language-{{ language.code }}">
								<input id="language-{{ language.code }}" class="with-gap" type="radio" name="code" value="{{ language.code }}"{% if language.code == code %} checked="checked"{% endif %}> {# todo-materiliazeSet color from color scheme #}
								<span>{{ language.name }}</span>
							</label>
						</li>
					{% endfor %}
				</ul>
				<input type="hidden" name="redirect" value="{{ redirect }}">
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="modal-close btn-flat waves-effect" title="{{ button_cancel }}">{{ button_cancel }}</button> {# todo-materiliazeSet color from color scheme #}
			<button type="submit" form="form-currency" class="modal-close btn-flat waves-effect" title="{{ button_continue }}">{{ button_continue }}</button> {# todo-materiliazeSet color from color scheme #}
		</div>
	</div>