{# todo-materiliazeSpecify the maximum height of the drop-down list from the admin panel #}
{# todo-materiliazeAdd simplebar plugin https://github.com/Grsmto/simplebar #}
<div class="materialize-menu-wrapper hide-on-small-only">
	<button type="button" id="category" class="btn waves-effect transparent z-depth-0">
		<span id="category-icon" class="animated-icon menu-cross">
			<span class="ani white"></span> {# todo-materiliazeSet color from color scheme #}
		</span>
		<span>{{ text_category }}</span>
	</button>
	<nav id="menu-wrapper" class="materialize-menu transparent z-depth-0">
		{% if categories %}
			<ul id="menu" class="materialize-menu-content z-depth-2 white"> {# todo-materiliazeSet color from color scheme #}
				{% for category in categories %}
					{% if category.children %}
						<li class="materialize-menu-content__item">
							<a href="{{ category.href }}" class="materialize-menu-content__item--link black-text">{{ category.name }}<div class="category-right-arrow"></div></a> {# todo-materiliazeSet color from color scheme #}
							<ul class="materialize-menu-content materialize-menu-submenu z-depth-2 white"> {# todo-materiliazeSet color from color scheme #}
								{% for children in category.children %}
									<li class="materialize-menu-content__item">
										<a href="{{ children.href }}" class="materialize-menu-content__item--link black-text">{{ children.name }}</a> {# todo-materiliazeSet color from color scheme #}
									</li>
								{% endfor %}
							</ul>
						</li>
					{% else %}
						<li class="materialize-menu-content__item">
							<a href="{{ category.href }}" class="materialize-menu-content__item--link black-text">{{ category.name }}</a> {# todo-materiliazeSet color from color scheme #}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	</nav>
</div>
<script>
	$('#menu').superfish({
		popUpSelector: 'ul',
		hoverClass: 'materialize-menu-content__item--hover',
		delay: 800,
		speed: 150,
		speedOut: 150,
		animation: {
			opacity: 'show'
		},
		animationOut: {
			opacity: 'hide'
		}
	});
</script>