<div class="tab-pane" id="tab-materializeapi">
	<div class="row">
		<div class="col-sm-3">
			<ul class="nav nav-pills nav-stacked" id="tab-materializeapi-pills">
				<li><a href="#tab-donaters" data-toggle="tab"><i class="fa fa-birthday-cake"></i> {{ tab_donaters }}</a></li>
				<li><a href="#tab-translators" data-toggle="tab"><i class="fa fa-users"></i> {{ tab_translators }}</a></li>
				<li><a href="#tab-template-versions" data-toggle="tab"><i class="fa fa-code"></i> {{ tab_template_versions }}</a></li>
				<li><a href="#tab-changelog" data-toggle="tab"><i class="fa fa-asterisk"></i> {{ tab_changelog }}</a></li>
			</ul>
		</div>
		<div class="col-sm-9">
			<div class="tab-content">
				<div class="tab-pane" id="tab-donaters">
					<fieldset>
						<legend>{{ tab_donaters }}</legend>
						<div class="alert alert-info">{{ text_appeal_donate }}</div>
						<div class="table-responsive">
							<table id="donaters" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>{{ column_image }}</th>
										<th>{{ column_name }}</th>
										<th class="text-center">{{ column_amount_donate }}</th>
									</tr>
								</thead>
								<tbody>
									{% set counter_donaters = 1 %}
									{% for donater in donaters %}
									<tr>
										{% if counter_donaters == 1 %}
										<th class="text-center" scope="row">{{ counter_donaters }}</th>
										<th class="text-center"><img src="{{ donater.image }}" alt="{{ donater.name }}" class="donaters-image"></th>
										<td><b>{{ donater.name }}</b></td>
										<td class="text-center"><span class="label label-danger">{{ donater.amount }} USD</span></td>
										{% elseif counter_donaters == 2 or counter_donaters == 3 %}
										<th class="text-center" scope="row">{{ counter_donaters }}</th>
										<th class="text-center"><img src="{{ donater.image }}" alt="{{ donater.name }}" class="donaters-image"></th>
										<td><b>{{ donater.name }}</b></td>
										<td class="text-center"><span class="label label-success">{{ donater.amount }} USD</span></td>
										{% else %}
										<th class="text-center" scope="row">{{ counter_donaters }}</th>
										<th class="text-center"><img src="{{ donater.image }}" alt="{{ donater.name }}" class="donaters-image"></th>
										<td>{{ donater.name }}</td>
										<td class="text-center"><span class="label label-primary">{{ donater.amount }} USD</span></td>
										{% endif %}
									</tr>
									{% set counter_donaters = counter_donaters + 1 %}
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-sm-4 col-sm-offset-8">
								<table class="table table-bordered">
									<tbody>
										<tr>
											<td><b>{{ text_total }}:</b></td>
											<td class="text-center"><span class="label label-default">{{ total_amount }} USD</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</fieldset>
					<hr>
					<div class="form-group">
						<div class="col-xs-12 text-right">
							<div class="btn-group">
								<button type="button" class="btn btn-info">{{ text_donate }}</button>
								<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li>{{ link_paypal }}</li>
									<li>{{ link_yandex }}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab-translators">
					<fieldset>
						<legend>{{ tab_translators }}</legend>
						<div class="table-responsive">
							<table id="versions" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<td>{{ column_language }}</td>
										<td>{{ column_participants }}</td>
									</tr>
								</thead>
								<tbody>
									{% for translate in translators %}
									<tr>
										<td>{{ translate.language }}</td>
										<td>{{ translate.participants }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</fieldset>
					<div class="alert alert-info">{{ text_translate }}</div>
					<hr>
					<div class="form-group">
						<div class="col-xs-12 text-right">
							<div class="btn-group">{{ link_translate }}</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab-template-versions">
					<fieldset>
						<legend>{{ tab_template_versions }}</legend>
						<div class="alert alert-info">{{ text_appeal_donate }}</div>
						<div class="table-responsive">
							<table id="versions" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<td>{{ column_opencart_version }}</td>
										<td>{{ column_template_version }}</td>
										<td>{{ column_status }}</td>
									</tr>
								</thead>
								<tbody>
									{% for version in versions %}
									<tr>
										<td>{{ version.opencart }}</td>
										<td>{{ version.template }}</td>
										<td>{{ version.status }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</fieldset>
					<hr>
					<div class="form-group">
						<div class="col-xs-12 text-right">
							<div class="btn-group">
								<button type="button" class="btn btn-info">{{ text_your_version }} <b>{{ template_verstion }}</b></button>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab-changelog">
					<div class="panel-group" id="accordion-changelog">
						{% set counter_changelogs = 1 %}
						{% for changelog in changelogs %}
						<div class="panel panel-default">
							{% if counter_changelogs == 1 %}
							<div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion-changelog" href="#changelog-version-{{ counter_changelogs }}"><h4 class="panel-title"><b>Version {{ changelog.version }}</b></h4></a></div>
							<div id="changelog-version-{{ counter_changelogs }}" class="panel-collapse collapse in">
								<div class="panel-body">
									<fieldset>
										<legend><i class="fa fa-magic"></i> {{ text_changes }}</legend>
										{{ changelog.changes }}
									</fieldset>
									<fieldset>
										<legend><i class="fa fa-bug"></i> {{ text_fixed_bugs }}</legend>
										{{ changelog.bags }}
									</fieldset>
								</div>
							</div>
							{% set counter_changelogs = counter_changelogs + 1 %}
							{% else %}
							<div class="panel-heading"><a class="collapsed" data-toggle="collapse" data-parent="#accordion-changelog" href="#changelog-version-{{ counter_changelogs }}"><h4 class="panel-title">Version {{ changelog.version }}</h4></a></div>
							<div id="changelog-version-{{ counter_changelogs }}" class="panel-collapse collapse">
								<div class="panel-body">
									<fieldset>
										<legend><i class="fa fa-magic"></i> {{ text_changes }}</legend>
										{{ changelog.changes }}
									</fieldset>
									<fieldset>
										<legend><i class="fa fa-bug"></i> {{ text_fixed_bugs }}</legend>
										{{ changelog.bags }}
									</fieldset>
								</div>
							</div>
							{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>$('#tab-materializeapi-pills a:first').tab('show');</script>