<form id="alipaysubmit" name="alipaysubmit" action="{{ action }}" method="GET">
	{% for key, value in params %}<input type="hidden" name="{{ key }}" value="{{ value }}"/>{% endfor %}
</form>
<div class="flex-reverse">
	<button type="submit" value="{{ button_confirm }}" id="button-confirm" class="btn waves-effect waves-light red">{{ button_confirm }}</button>
</div>
<script>
$('#button-confirm').bind('click', function() {
	$('#alipaysubmit').submit();
});
</script>
