{{ header }}
{% if column_left and column_right %}
	{% set main, goods = 's12 xl6', 's12' %}
{% elseif column_left or column_right %}
	{% set main, goods = 's12 l9', 's12 m6' %}
{% else %}
	{% set main, goods = 's12', 's12 m6 xl4' %}
{% endif %}
<div id="product-category" class="container">
	<nav class="materialize-breadcrumb-wrapper transparent z-depth-0">
		<span class="materialize-breadcrumb-blur hide-on-med-and-up"></span>
		<div class="materialize-breadcrumbs">
			{% for key, breadcrumb in breadcrumbs %}
				{% if key < breadcrumbs|length - 1 %}
					{% if key == 0 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text"><i class="material-icons">home</i></a> {# todo-materiliaze The "Home" icon is output from the language files #}
					{% else %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a> {# todo-materiliaze The "Home" icon is output from the language files #}
					{% endif %}
				{% else %}
					<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
				{% endif %}
			{% endfor %}
		</div>
	</nav>
	<div class="row">
		{{ column_left }}
		<div id="content" class="col {{ main }}">
			{{ content_top }}
			<h1>{{ heading_title }}</h1>
			{% if categories %}
				<h3>{{ text_refine }}</h3>
				<div class="materialize-subcategory-wrap">
					{% for category in categories %}
						<a href="{{ category.href }}" class="chip grey lighten-2 waves-effect waves-default z-depth-1 truncate"> {# todo-materiliaze Set color from color scheme #}
							{% if category.thumb %} {# todo-materiliaze Need a modification to display images #}
								<img src="{{ category.thumb }}" alt="{{ category.name }}">
							{% endif %}
							{{ category.name }}
						</a>
					{% endfor %}
				</div>
			{% endif %}
			{% if products %}
				<div class="right">
					<button type="button" id="grid-view" class="materialize-buttons__grid-view btn btn-floating waves-effect tooltipped transparent z-depth-0" data-position="top" data-tooltip="{{ button_grid }}" aria-label="{{ button_grid }}"><i class="material-icons grey-text">apps</i></button>
					<button type="button" id="list-view" class="materialize-buttons__list-view btn btn-floating waves-effect tooltipped transparent z-depth-0" data-position="top" data-tooltip="{{ button_list }}" aria-label="{{ button_list }}"><i class="material-icons grey-text">art_track</i></button>
					<button type="button" id="btn-filter" class="btn btn-floating waves-effect modal-trigger tooltipped transparent z-depth-0" data-target="modal-sort" data-position="top" data-tooltip="{{ text_sort }}" aria-label="{{ text_sort }}"><i class="material-icons black-text">sort</i></button>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					{% for product in products %}
						<div id="product{{ product.product_id }}" class="col products-list {{ goods }}">
							<div class="card materialize-cards hoverable waves-effect"> {# todo-materiliaze Set color from color scheme #}
								<div class="card-stacked">
									<div class="card-image">
										<a href="{{ product.href }}" rel="nofollow"><img id="image-product{{ product.product_id }}" src="{{ product.thumb }}" data-thumb="{{ product.thumb }}" data-hor-image="{{ product.hor_image }}" title="{{ product.name }}" alt="{{ product.name }}"></a> {# todo-materiliaze Need a modification to display images #}
									</div>
									<div class="card-content">
										<a href="{{ product.href }}" title="{{ product.name }}" alt="{{ product.name }}"><strong class="card-title">{{ product.name }}</strong></a> {# todo-materiliaze Set color from color scheme #}
										{% if product.price %}
											{% if not product.special %}
												<span class="card-price">{{ product.price }}</span> {# todo-materiliaze Set color from color scheme #}
											{% else %}
												<div class="card-price">
													<span class="red-text text-darken-2">{{ product.special }}</span> {# todo-materiliaze Set color from color scheme #}
													<span class="old-price grey-text">{{ product.price }}</span> {# todo-materiliaze Set color from color scheme #}
												</div>
											{% endif %}
											{% if product.tax %}
												<span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {# todo-materiliaze Set color from color scheme #}
											{% endif %}
										{% endif %}
										{% if product.rating %} {# todo-materiliaze Need a modification to display rating (float) #}
											<div class="rating">
												{% for i in 1..5 %}
													{% if product.rating > i %}
														<i class="material-icons">star</i>
													{% else %}
														{% set rest = product.rating|split('.') %}
														{% if rest[1] < 3 %}
															<i class="material-icons">star_border</i>
														{% elseif rest[1] > 3 and rest[1] < 7 %}
															<i class="material-icons">star_half</i>
														{% else %}
															<i class="material-icons">star</i>
														{% endif %}
														&nbsp;{{ product.rating }}&nbsp;
													{% endif %}
												{% endfor %}
												<span>({{ product.reviews }})</span>
											</div>
										{% endif %}
										<p class="product-description" {#data-simplebar#}>{{ product.description }}</p> {# todo-materiliaze Set color from color scheme #} {# todo-materiliaze Add simplebar plugin https://github.com/Grsmto/simplebar #} {# todo-materiliaze The maximum height of the description set in the admin panel #}
									</div>
								</div>
								<div class="card-action">
									<div class="row no-margin-bottom">
										<div class="col s6">
											<a href="{{ product.href }}" class="btn btn-flat waves-effect text-bold without-icons" rel="nofollow" title="{{ text_more_detailed }} {{ product.name }}" alt="{{ text_more_detailed }} {{ product.name }}">{{ text_more_detailed }}</a> {# todo-materiliaze Set color from color scheme #} {# todo-materiliaze Multilingual text is filled in the admin panel #}
										</div>
										<div class="col s6">
											<div class="card-action--buttons no-padding">
												<div class="tooltipped" data-position="top" data-tooltip="{{ button_compare }}">
													<button class="btn-flat btn-floating waves-effect transparent" onclick="compare.add('{{ product.product_id }}');" aria-label="{{ button_compare }}"><i class="material-icons black-text">compare_arrows</i></button>
												</div>
												<div class="tooltipped" data-position="top" data-tooltip="{{ button_wishlist }}">
													<button class="btn-flat btn-floating waves-effect transparent" onclick="wishlist.add('{{ product.product_id }}');" aria-label="{{ button_wishlist }}"><i class="material-icons black-text">favorite_border</i></button> {# todo-materiliaze In the admin panel, you can choose as an option. Already added item in wishlist will be highlighted. #}
												</div>
												<div class="tooltipped" data-position="top" data-tooltip="{{ button_cart }}">
													<button class="btn-flat btn-floating waves-effect transparent" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" aria-label="{{ button_cart }}"><i class="material-icons black-text">add_shopping_cart</i></button>
												</div>
												{#{% if product.add_cart %} todo-materiliaze Need a modification to display button cart
													<div class="tooltipped" data-position="top" data-tooltip="Добавить в корзину"> todo-materiliaze Multilingual text is filled in the admin panel
														<button class="btn-flat btn-floating waves-effect transparent" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="material-icons black-text">add_shopping_cart</i></button>
													</div>
												{% else %}
													<div class="tooltipped" data-position="top" data-tooltip="Товара нет в наличии"> todo-materiliaze Multilingual text is filled in the admin panel
														<button class="btn-flat btn-floating" disabled="disabled"><i class="material-icons grey-text text-lighten-1">add_shopping_cart</i></button>
													</div>
												{% endif %}#}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				{% if pagination %}
					<div class="row">{{ pagination }}</div>
				{% endif %}
			{% else %}

			{% endif %}
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>
{{ footer }}