{{ header }}
{% if column_left and column_right %}  {# todo-materialize In the admin panel, configure the amount of output per line #}
	{% set main, product_grid = 's12 xl6', 's12' %}
{% elseif column_left or column_right %}
	{% set main, product_grid = 's12 l8 xl9', 's12 m6' %}
{% else %}
	{% set main, product_grid = 's12', 's12 m6 xl4' %}
{% endif %}
<div id="product-category" class="container">
	<nav class="materialize-breadcrumb-wrapper transparent z-depth-0">
		<span class="materialize-breadcrumb-blur hide-on-med-and-up"></span>
		<div class="materialize-breadcrumbs">
			{% for key, breadcrumb in breadcrumbs %}
				{% if key < breadcrumbs|length - 1 %}
					{% if key == 0 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text"><i class="material-icons">home</i></a> {# todo-materiliaze The "Home" icon is output from the language files #} {# todo-materiliaze Set color from color scheme #}
					{% else %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a> {# todo-materiliaze The "Home" icon is output from the language files #} {# todo-materiliaze Set color from color scheme #}
					{% endif %}
				{% else %}
					<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span> {# todo-materiliaze Set color from color scheme #}
				{% endif %}
			{% endfor %}
		</div>
	</nav>
	<div class="row">
		{{ column_left }}
		<div id="content" class="col {{ main }}">
			{{ content_top }}
			<h1>{{ heading_title }}</h1>
			{% if categories or products %}
				<div id="content-mt-filter" class="transition-150" data-product-grid="{{ product_grid }}">
					{% if categories %}
						<h3>{{ text_refine }}</h3>
						<div class="materialize-subcategory-wrap left">
							{% for category in categories %}
								<a href="{{ category.href }}" class="chip grey lighten-2 waves-effect waves-default z-depth-1 truncate"> {# todo-materiliaze Set color from color scheme #}
									{% if category.thumb %} {# todo-materiliaze Need a modification to display images #}
										<img src="{{ category.thumb }}" alt="{{ category.name }}">
									{% endif %}
									{{ category.name }}
								</a>
							{% endfor %}
						</div>
					{% endif %}
					{% if products %}
						<div class="right" style="display: flex;"> {# todo-materialize Move to Styles #}
							<button type="button" id="grid-view" class="materialize-buttons__grid-view btn btn-floating waves-effect tooltipped transparent z-depth-0" data-position="top" data-tooltip="{{ button_grid }}" aria-label="{{ button_grid }}"><i class="material-icons grey-text">apps</i></button>
							<button type="button" id="list-view" class="materialize-buttons__list-view btn btn-floating waves-effect tooltipped transparent z-depth-0" data-position="top" data-tooltip="{{ button_list }}" aria-label="{{ button_list }}"><i class="material-icons grey-text">art_track</i></button>
							<button type="button" id="btn-sort" class="btn btn-floating waves-effect dropdown-trigger tooltipped transparent z-depth-0" data-target="dropdown-sort" data-position="top" data-tooltip="{{ text_sort }}" aria-label="{{ text_sort }}"><i class="material-icons black-text">sort</i></button>
							<ul id="dropdown-sort" class="dropdown-content">
								{% for sorts in sorts %}
									{% if sorts.value == '%s-%s'|format(sort, order) %}
										<li class="active"><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
									{% else %}
										<li><a href="{{ sorts.href }}">{{ sorts.text }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
							<button type="button" id="btn-limit" class="btn btn-floating waves-effect dropdown-trigger tooltipped transparent z-depth-0" data-target="dropdown-limit" data-position="top" data-tooltip="{{ text_limit }}" aria-label="{{ text_limit }}"><i class="material-icons black-text">settings_ethernet</i></button>
							<ul id="dropdown-limit" class="dropdown-content">
								{% for limits in limits %}
									{% if limits.value == limit %}
										<li class="active"><a href="{{ limits.href }}">{{ limits.text }}</a></li>
									{% else %}
										<li><a href="{{ limits.href }}">{{ limits.text }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
							<button type="button" id="btn-materialize-filters" class="btn btn-floating waves-effect sidenav-trigger tooltipped hide-on-large-only transparent z-depth-0" data-target="materialize-filters" data-position="top" data-tooltip="Filters" aria-label="Filters"><i class="material-icons black-text">tune</i></button> {# todo-materialize If the module is enabled Materialize Filters #} {# todo-materialize The button must be hidden on large screens #} {# todo-materiliaze Multilingual text is filled in the admin panel #}
						</div>
						<div class="clearfix"></div>
						<div class="row">
							{% for product in products %}
								<div class="col products-list {{ product_grid }}" data-product-id="{{ product.product_id }}">
									<div class="card sticky-action materialize-cards hoverable waves-effect"> {# todo-materiliaze Set color from color scheme #}
										<div class="card-stacked">
											<div class="card-image">
												<a href="{{ product.href }}" rel="nofollow"><img id="image-product{{ product.product_id }}" src="{{ product.thumb }}" data-thumb="{{ product.thumb }}" data-hor-image="{{ product.hor_image }}" title="{{ product.name }}" alt="{{ product.name }}"></a>
												<button class="btn-floating btn-large halfway-fab tooltipped waves-effect red" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" aria-label="{{ button_cart }}" data-position="top" data-tooltip="{{ button_cart }}"><i class="material-icons white-text">add_shopping_cart</i></button> {# todo-materialize In the admin panel, configure the alternative output button #}
											</div>
											<div class="card-content">
												<a href="{{ product.href }}" title="{{ product.name }}" alt="{{ product.name }}"><strong class="card-title black-text">{{ product.name }}</strong></a> {# todo-materiliaze Set color from color scheme #}
												{% if product.price %}
													{% if not product.special %}
														<span class="card-price">{{ product.price }}</span> {# todo-materiliaze Set color from color scheme #}
													{% else %}
														<div class="card-price">
															<span class="red-text text-darken-2">{{ product.special }}</span> {# todo-materiliaze Set color from color scheme #}
															<s class="old-price grey-text">{{ product.price }}</s> {# todo-materiliaze Set color from color scheme #}
														</div>
													{% endif %}
													{% if product.tax %}
														<small class="price-tax">{{ text_tax }} {{ product.tax }}</small> {# todo-materiliaze Set color from color scheme #}
													{% endif %}
												{% endif %}
												{% if product.rating %}
													<div class="rating">
														<span class="grey-text">{{ product.rating }}</span> {# todo-materiliaze Set color from color scheme #}
														{% for i in 1..5 %}
															{% if product.rating > i %}
																<i class="material-icons yellow-text text-accent-4">star</i> {# todo-materiliaze Set color from color scheme #}
															{% else %}
																{% set rest = product.rating|split('.') %}
																{% if rest[0] < i and rest[1] > 3 and rest[1] <= 7 %}
																	<i class="material-icons yellow-text text-accent-4">star_half</i>  {# todo-materiliaze Set color from color scheme #}
																{% elseif rest[0] < i %}
																	<i class="material-icons yellow-text text-accent-4">star_border</i> {# todo-materiliaze Set color from color scheme #}
																{% else %}
																	<i class="material-icons yellow-text text-accent-4">star</i> {# todo-materiliaze Set color from color scheme #}
																{% endif %}
															{% endif %}
														{% endfor %}
														<span class="grey-text">({{ product.reviews }})</span> {# todo-materiliaze Set color from color scheme #}
													</div>
												{% endif %}
												<p class="product-description" data-simplebar>{{ product.description }}</p> {# todo-materiliaze Set color from color scheme #} {# todo-materiliaze Simplebar can be disabled in the admin panel #} {# todo-materiliaze The maximum height of the description set in the admin panel #}
											</div>
										</div>
										<div class="card-action">
											<div class="row no-margin-bottom">
												<div class="col s6">
													<a href="{{ product.href }}" class="btn btn-flat waves-effect text-bold without-icons deep-orange-text" rel="nofollow" title="More detailed {{ product.name }}" alt="{{ text_more_detailed }} {{ product.name }}">More detailed</a> {# todo-materiliaze Set color from color scheme #} {# todo-materiliaze Multilingual text is filled in the admin panel #}
												</div>
												<div class="col s6">
													<div class="card-action--buttons no-padding">
														{% if product.options %}
															<button class="btn-flat btn-floating tooltipped waves-effect transparent activator" data-position="top" data-tooltip="Product Option" aria-label="Product Option"><i class="material-icons black-text">more_vert</i></button>
														{% endif %}
														<button class="btn-flat btn-floating tooltipped waves-effect transparent" onclick="compare.add('{{ product.product_id }}');" data-position="top" data-tooltip="{{ button_compare }}" aria-label="{{ button_compare }}"><i class="material-icons black-text">compare_arrows</i></button>
														<button class="btn-flat btn-floating tooltipped waves-effect transparent" onclick="wishlist.add('{{ product.product_id }}');" data-position="top" data-tooltip="{{ button_wishlist }}" aria-label="{{ button_wishlist }}"><i class="material-icons black-text">favorite_border</i></button> {# todo-materiliaze In the admin panel, you can choose as an option. Already added item in wishlist will be highlighted. #}
														<button class="btn-flat btn-floating tooltipped waves-effect transparent" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');" data-position="top" data-tooltip="{{ button_cart }}" aria-label="{{ button_cart }}"><i class="material-icons black-text">add_shopping_cart</i></button>
														{#{% if product.add_cart %} todo-materiliaze Need a modification to display button cart
															<div class="tooltipped" data-position="top" data-tooltip="Добавить в корзину"> todo-materiliaze Multilingual text is filled in the admin panel
																<button class="btn-flat btn-floating waves-effect transparent" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="material-icons black-text">add_shopping_cart</i></button>
															</div>
														{% else %}
															<div class="tooltipped" data-position="top" data-tooltip="Товара нет в наличии"> todo-materiliaze Multilingual text is filled in the admin panel
																<button class="btn-flat btn-floating" disabled="disabled"><i class="material-icons grey-text text-lighten-1">add_shopping_cart</i></button>
															</div>
														{% endif %}#}
													</div>
												</div>
											</div>
										</div> {# todo-materiliaze Set color from color scheme #}
										{% if product.options %}
											<div class="card-reveal" data-simplebar>
												<span class="card-title grey-text text-darken-4">Available Options<i class="material-icons right waves-effect waves-circle close-icon">close</i></span> {# todo-materiliaze Multilingual text is filled in the admin panel #}
												{% for option in product.options %}
													{% if option.type == 'select' %}
														{# todo-materialize The "select" drop-down list is not visible inside the product snippet! #}
														<div class="section">
															<div class="input-field">
																<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}">
																	<option value="" disabled selected>{{ text_select }}</option>
																	{% for option_value in option.product_option_value %}
																		<option value="{{ option_value.product_option_value_id }}" {% if option_value.image %}data-icon="{{ option_value.image }}"{% endif %}>{{ option_value.name }} {% if option_value.price %}({{ option_value.price_prefix }}{{ option_value.price }}){% endif %}</option>
																	{% endfor %}
																</select>
																<label for="input-option{{ option.product_option_id }}" class="text-bold{{ option.required ? ' required' }}">{{ option.name }}</label> {# todo-materiliaze Set color from color scheme #}
															</div>
														</div>
													{% endif %}
													{% if option.type == 'radio' %}
														<div class="section">
															<label class="text-bold{{ option.required ? ' required' }}">{{ option.name }}</label> {# todo-materiliaze Set color from color scheme #}
															<ul id="input-option{{ option.product_option_id }}" class="materialize-product-options">
																{% for option_value in option.product_option_value %}
																	<li class="materialize-product-options__item">
																		<label class="materialize-product-options__item--radio">
																			{% if option_value.image %}
																				<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}">
																			{% endif %}
																			<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" class="with-gap">
																			<span>
																				{{ option_value.name }}
																				{% if option_value.price %}
																					({{ option_value.price_prefix }}{{ option_value.price }})
																				{% endif %}
																			</span>
																		</label> {# todo-materiliaze Set color from color scheme #}
																	</li>
																{% endfor %}
															</ul>
														</div>
													{% endif %}
													{% if option.type == 'checkbox' %}
														<div class="section">
															<label class="text-bold{{ option.required ? ' required' }}">{{ option.name }}</label> {# todo-materiliaze Set color from color scheme #}
															<div id="input-option{{ option.product_option_id }}">
																{% for option_value in option.product_option_value %}
																	<label class="materialize-product-options__item--checkbox">
																		{% if option_value.image %}
																			<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}">
																		{% endif %}
																		<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" class="filled-in">
																		<span>
																			{{ option_value.name }}
																			{% if option_value.price %}
																				({{ option_value.price_prefix }}{{ option_value.price }})
																			{% endif %}
																		</span>
																	</label> {# todo-materiliaze Set color from color scheme #}
																{% endfor %}
															</div>
														</div>
													{% endif %}
													{% if option.type == 'text' %}
														<div class="section">
															<div class="input-field">
																<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="validate">
																<label class="text-bold{{ option.required ? ' required' }}" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
															</div>
														</div>
													{% endif %}
													{% if option.type == 'textarea' %}
														<div class="section">
															<div class="input-field">
																<textarea name="option[{{ option.product_option_id }}]" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="materialize-textarea">{{ option.value }}</textarea>
																<label class="text-bold{{ option.required ? ' required' }}" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
															</div>
														</div>
													{% endif %}
													{% if option.type == 'file' %}
														{# todo-materialize It is necessary to complete the "file" type options #}
														<div class="section">
															<label class="text-bold{{ option.required ? ' required' }}">{{ option.name }}</label>
															<div class="file-field input-field">
																<button type="button" id="button-upload{{ option.product_option_id }}" class="btn">
																	<span>{{ button_upload }}</span>
																	<input type="file">
																</button>
																<div class="file-path-wrapper">
																	<input type="text" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" class="file-path validate">
																</div>
															</div>
														</div>
													{% endif %}
													{% if option.type == 'date' %}
														{# todo-materialize It is necessary to complete the "date" type options #}
														<div class="section">
															<div class="input-field">
																<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" id="input-option{{ option.product_option_id }}" class="datepicker">
																{#<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
																<div class="input-group-append">
																	<span class="input-group-text"><i class="fa fa-calendar"></i></span>
																</div>#}
																<label class="text-bold{{ option.required ? ' required' }}" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
															</div>
														</div>
													{% endif %}
													{% if option.type == 'datetime' %}
														{#<div class="form-group{% if option.required %} required {% endif %}">
															<label class="col-form-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
															<div class="input-group datetime">
																<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
																<div class="input-group-append">
																	<span class="input-group-text"><i class="fa fa-calendar"></i></span>
																</div>
															</div>
														</div>#}
													{% endif %}
													{% if option.type == 'time' %}
														{# todo-materialize It is necessary to complete the "time" type options #}
														<div class="section">
															<div class="input-field">
																<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" id="input-option{{ option.product_option_id }}" class="timepicker">
																{#<div class="input-group datetime">
																	<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
																	<div class="input-group-append">
																		<span class="input-group-text"><i class="fa fa-calendar"></i></span>
																	</div>
																</div>#}
																<label class="text-bold{{ option.required ? ' required' }}" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
															</div>
														</div>
														{#<div class="form-group{% if option.required %} required {% endif %}">
															<label class="col-form-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
															<div class="input-group time">
																<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" id="input-option{{ option.product_option_id }}" class="form-control"/>
																<div class="input-group-append">
																	<span class="input-group-text"><i class="fa fa-calendar"></i></span>
																</div>
															</div>
														</div>#}
													{% endif %}
												{% endfor %}
											</div>
										{% endif %}
									</div>
								</div>
							{% endfor %}
							{% if pagination %}
								<div class="col s12 center">{{ pagination }}</div>
								<div class="col s12 center">{{ results }}</div>
							{% endif %}
						</div>
					{% else %}

					{% endif %}
				</div>
			{% endif %}
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>
{{ footer }}