<nav class="search-wrapper white">
	<div class="nav-wrapper">
		<div id="blog-search" class="input-field">
			<input id="search-input-blog" class="search-input grey-text text-darken-1" type="search" name="blog_search" value="{{ blog_search }}" placeholder="{{ text_search }}" autocomplete="off">
			<label id="label-search-blog" class="label-icon search-buttons search-buttons__search waves-effect waves-circle" for="input-search"><i class="material-icons grey-text text-darken-1">search</i></label>
			<i id="reset-search-blog" class="material-icons search-buttons search-buttons__clear waves-effect waves-circle grey-text text-darken-1">close</i>
		</div>
	</div>
</nav>
{% if categories %}
<ul class="collapsible collapsible-accordion collection with-header z-depth-1" data-collapsible="accordion">
	{% for category in categories %}
		{% if category.blog_category_id == blog_category_id %}
		<li>
			<a href="{{ category.href }}" class="collapsible-header waves-effect blue-grey-text text-darken-4 text-bold active" onclick="return false;">{{ category.name }}</a>
			{% if category.children %}
			<div class="collapsible-body no-padding">
				<div class="collection">
				{% for child in category.children %}
					{% if child.blog_category_id == child_id %}
						<a class="collection-item waves-effect child truncate blue-grey-text text-darken-4 blue-grey lighten-4" href="{{ child.href }}">{{ child.name }}</a>
					{% else %}
						<a class="collection-item waves-effect child truncate blue-grey-text text-darken-4" href="{{ child.href }}">{{ child.name }}</a>
					{% endif %}
				{% endfor %}
				</div>
			</div>
			{% endif %}
		</li>
		{% else %}
		<li>
			<a href="{{ category.href }}" class="collapsible-header waves-effect truncate blue-grey-text text-darken-4 text-bold">{{ category.name }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
{% endif %}
{% if latest_posts %}
<ul class="collection collapsible-accordion collection with-header z-depth-1">
	{% for latest_post in latest_posts %}
	<li class="collection-item avatar">
		<a href="{{ latest_post.href }}"><img src="{{ img_loader }}" data-src="{{ latest_post.thumb }}" alt="{{ latest_post.name }}" class="circle lazyload"></a>
		<a class="title text-bold truncate" href="{{ latest_post.href }}">{{ latest_post.name }}</a>
		<p>{{ latest_post.description }}<br>
		{{ latest_post.published }}
		</p>
	</li>
	{% endfor %}
</ul>
{% endif %}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	$('#label-search-blog').on('click', function() {
		var url = $('base').attr('href') + 'index.php?route=extension/materialize/blog/search';
		var value = $('#search-input-blog').val();
		if (value) {
			url += '&blog_search=' + encodeURIComponent(value);
		}
		location = url;
	});
	$('#blog-search').on('keydown', function(e) {
		if (e.keyCode == 13) {
			$('#label-search-blog').trigger('click');
		}
	});
});
</script>