<form id="callback__modal" class="modal">
	<div class="modal-content">
		<i class="material-icons modal-action modal-close waves-effect waves-circle close-icon">close</i>
		<div class="row"><h4>{{ module_callback_title }}</h4></div>
		<div class="row">
			{% if module_callback_name %}
			<div class="input-field col s12">
				<i class="material-icons prefix">account_circle</i>
				<input id="callback-name" name="module_callback_name" type="text" class="validate">
				<label for="callback-name" class="text-bold{{ module_callback_name_required ? ' required' }}">{{ entry_name }}</label>
			</div>
			{% endif %}
			<div class="input-field col s12">
				<i class="material-icons prefix">phone</i>
				<input id="callback-telephone" name="module_callback_telephone" type="tel" class="validate">
				<label for="callback-telephone" class="text-bold required">{{ entry_telephone }}</label>
			</div>
			{% if module_callback_enquiry %}
			<div class="input-field col s12">
				<i class="material-icons prefix">chat</i>
				<textarea id="callback-enquiry" name="module_callback_enquiry" class="materialize-textarea character-counter" data-length="360"></textarea>
				<label for="callback-enquiry" class="text-bold{{ module_callback_enquiry_required ? ' required'}}">{{ entry_enquiry }}</label>
			</div>
			{% endif %}
			{% if module_callback_calltime %}
			<div class="input-field col s12">
				<i class="material-icons prefix">av_timer</i>
				<input type="text" id="callback-calltime" class="timepicker" name="module_callback_calltime" value="">
				<label for="callback-calltime" class="text-bold{{ module_callback_calltime_required ? ' required' }}">{{ entry_calltime }}</label>
			</div>
			{% endif %}
		</div>
		{% if text_agree %}
		<div class="row">
			<div class="col s12">
				<label for="agreement-check-callback">
					{% if module_callback_agree %}
					<input type="checkbox" name="module_callback_agree" value="1" checked="checked" id="agreement-check-callback" class="filled-in">
					{% else %}
					<input type="checkbox" name="module_callback_agree" value="1" id="agreement-check-callback" class="filled-in">
					{% endif %}
					<span>{{ text_agree }}</span>
				</label>
			</div>
		</div>
		{% endif %}
		<input type="hidden" name="order_page" value="{{ order_page }}">
	</div>
	<div class="modal-footer href-underline">
		<button type="button" id="callback__button" class="btn modal-action waves-effect waves-light red white-text" value="{{ module_callback_text_button }}">{{ module_callback_text_button }}</button>
	</div>
</form>
{% if module_callback_callaction_status %}
<button type="button" data-target="callback__modal" id="callback__btn" class="btn-floating btn-large {{ module_callback_color_btn }} z-depth-4 waves-effect waves-light pulse modal-trigger"><i id="callback__phone-icon" class="material-icons {{ module_callback_color_btn_text }}">phone</i></button>
<div id="callback__attract" class="tap-target {{ module_callback_color_bubble }}" data-target="callback__btn">
	<div class="tap-target-content {{ module_callback_color_bubble_text }}">
		<h5 class="text-bold">{{ module_callback_caption }}</h5>
		<p>{{ module_callback_description }}</p>
	</div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	var callbackAttract = $('#callback__attract'),
		callbackPhoneIcon = $('#callback__phone-icon');

	setInterval(function() {
		callbackPhoneIcon.toggleClass('callback-shake');
	}, 2500);

	var idleTimer = null,
		idleState = false,
		idleWait = {{ module_callback_time }}000;

	callbackAttract.tapTarget();

	$(document).bind('mousemove keydown scroll', function() {
		clearTimeout(idleTimer);

		idleState = false;
		idleTimer = setTimeout(function() {
			callbackAttract.tapTarget('open');
			idleState = true;
		}, idleWait);
	});

	$("body").trigger("mousemove");
});
</script>
{% endif %}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if module_callback_enquiry %}$('.character-counter').characterCounter();{% endif %}
	{% if module_callback_calltime %}
	$('.timepicker').timepicker({
		defaultTime: 'now',
		autoclose: true,
		i18n: {
			clear: '{{ button_datetime_clear }}',
			cancel: '{{ button_datetime_done }}',
			done: '{{ button_time_done }}',
			twelvehour: {{ twelve_hour }}
		}
	});
	{% endif %}
	$('#callback__button').on('click', function() {
		$.ajax({
			url: 'index.php?route=extension/module/callback/send',
			type: 'post',
			dataType: 'json',
			data: $("#callback__modal").serialize(),
			success: function(json) {
				if (json['error']) {
					M.toast({html: '<i class="material-icons left">warning</i>' + json['error'], classes: 'toast-warning'});
				}
				if (json['success']) {
					M.toast({html: '<i class="material-icons left">check</i>' + json['success'], classes: 'toast-success'});
					$('#callback-telephone').val('').removeClass('valid');
					$('#callback-telephone').parent().find('label').removeClass('active');
					{% if module_callback_name %}
					$('#callback-name').val('').removeClass('valid');
					$('#callback-name').parent().find('label').removeClass('active');
					{% endif %}
					{% if module_callback_enquiry %}
					$('#callback-enquiry').val('');
					$('#callback-enquiry').parent().find('label').removeClass('active');
					$('#callback-enquiry').parent().find('.character-counter').empty();
					M.textareaAutoResize($('#callback-enquiry'));
					{% endif %}
					{% if module_callback_calltime %}
					$('#callback-calltime').val('');
					$('#callback-calltime').parent().find('label').removeClass('active');
					{% endif %}
					{% if text_agree %}
					$('#agreement-check-callback').prop('checked', false);
					{% endif %}
					$('#callback__modal').modal('close');
				}
			}
		});
	});
});
</script>