<ul class="collapsible collapsible-accordion collection with-header z-depth-1" data-collapsible="accordion">
	<li class="collection-header blue-grey white-text"><h5 class="text-bold">{{ heading_title }}</h5></li>
	{% for category in categories %}
	{% if category.category_id == category_id %}
	<li class="active">
		<a href="{{ category.href }}" class="collapsible-header waves-effect blue-grey-text text-darken-4 text-bold active" onclick="return false;">{{ category.name }}</a>
		{% if category.children %}
		<div class="collapsible-body no-padding">
			<div class="collection">
			{% for child in category.children %}
				{% if child.category_id == child_id %}
					<a class="collection-item waves-effect child truncate blue-grey-text text-darken-4 blue-grey lighten-4" href="{{ child.href }}">{{ child.name }}</a>
				{% else %}
					<a class="collection-item waves-effect child truncate blue-grey-text text-darken-4" href="{{ child.href }}">{{ child.name }}</a>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	{% endif %}
	</li>
	{% else %}
	<li><a href="{{ category.href }}" class="collapsible-header waves-effect truncate blue-grey-text text-darken-4 text-bold">{{ category.name }}</a></li>
	{% endif %}
	{% endfor %}
</ul>