<section class="section href-underline">
	<h2>{{ heading_title }}</h2>
	<div class="row">
		{% for product in products %}
		<div class="col s12 m6 xl4">
			<div class="card horizontal hoverable">
				<div class="card-stacked">
					{% if product.labels or product.special %}
					<ul class="labels-wrap">
						{% if product.special %}<li class="labels-wrap__item"><span class="waves-effect badge red lighten-1 white-text">{{ text_percent }} {{ product.percent_discount }}%</span></li>{% endif %}
						{% for label in product.labels %}
						<li class="labels-wrap__item"><span class="waves-effect badge {{ label.color }} {{ label.color_text }}">{{ label.name }}</span></li>
						{% endfor %}
					</ul>
					{% endif %}
					<div class="card-image">
						<a href="{{ product.href }}" rel="nofollow"><img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}"></a>
					</div>
					<div class="card-content">
						<a href="{{ product.href }}" class="card-title grey-text text-darken-4" title="{{ product.name }}" alt="{{ product.name }}"><strong>{{ product.name }}</strong></a>
						{% if product.price %}
							{% if not product.special %}
							<span class="card-price">{{ product.price }}</span>
							{% else %}
							<div class="card-price">
								<span class="red-text text-darken-2">{{ product.special }}</span>
								<span class="old-price grey-text">{{ product.price }}</span>
							</div>
							{% endif %}
							{% if product.tax %}
							<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
							{% endif %}
						{% endif %}
						<div class="rating">
							{% if product.rating %}
								{% for i in 1..5 %}
									{% if product.rating > i %}
										<i class="material-icons">star</i>
									{% else %}
										{% set rest = product.rating|split('.') %}
										{% if rest[1] < 3 %}
										<i class="material-icons">star_border</i>
										{% elseif rest[1] > 3 and rest[1] < 7 %}
										<i class="material-icons">star_half</i>
										{% else %}
										<i class="material-icons">star</i>
										{% endif %}
										&nbsp;{{ product.rating }}&nbsp;
									{% endif %}
								{% endfor %}
								<span>({{ product.reviews }})</span>
							{% endif %}
						</div>
						<p class="product-description" data-simplebar>{{ product.description }}</p>
					</div>
				</div>
				<div class="card-action">
					<div class="row no-margin-bottom">
						<div class="col s6">
							<a href="{{ product.href }}" class="btn btn-flat waves-effect text-bold without-icons {{ color_more_detailed }} {{ color_more_detailed_text }}" rel="nofollow" title="{{ text_more_detailed }} {{ product.name }}" alt="{{ text_more_detailed }} {{ product.name }}">{{ text_more_detailed }}</a>
						</div>
						<div class="col s6">
							<div class="flex-reverse no-padding">
								{% if product.add_cart %}
								<div class="tooltipped" data-position="top" data-tooltip="Добавить в корзину">
									<button class="btn-flat btn-floating waves-effect transparent" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="material-icons black-text">add_shopping_cart</i></button>
								</div>
								{% else %}
								<div class="tooltipped" data-position="top" data-tooltip="Товара нет в наличии">
									<button class="btn-flat btn-floating" disabled="disabled"><i class="material-icons grey-text text-lighten-1">add_shopping_cart</i></button>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>