<ul class="collapsible expandable collection with-header z-depth-1">
	<li class="collection-header blue-grey white-text"><h5 class="text-bold">{{ heading_title }}</h5></li>
	{% for filter_group in filter_groups %}
	<li class="arrow-rotate">
		<div class="collapsible-header active blue-grey lighten-4">{{ filter_group.name }}</div>
		<div class="collapsible-body no-padding">
			<ul id="filter-group{{ filter_group.filter_group_id }}" class="collection ">
				{% for filter in filter_group.filter %}
				<li class="collection-item">
					{% if filter.filter_id in filter_category %}
					<label for="filled-in-{{ filter.filter_id }}">
						<input type="checkbox" class="filled-in" id="filled-in-{{ filter.filter_id }}"  name="filter[]" value="{{ filter.filter_id }}" checked="checked">
						<span>{{ filter.name }}</span>
					</label>
					{% else %}
					<label for="filled-in-{{ filter.filter_id }}">
						<input type="checkbox" class="filled-in" id="filled-in-{{ filter.filter_id }}"  name="filter[]" value="{{ filter.filter_id }}">
						<span>{{ filter.name }}</span>
					</label>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</li>
	{% endfor %}
</ul>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	$("input[name^=\'filter\']").change(function() {
		filter = [];
		$('input[name^=\'filter\']:checked').each(function(element) {
			filter.push(this.value);
		});
		href = '{{ action }}&filter=' + filter.join(',');
		div = ' #content';
		load_href = href + div;
		$(div).load(load_href, function() {
			$(this).children(':first').unwrap();
		});
		setLocation(href);
		return false;
	});
	function setLocation(curLoc){
		try {
			history.pushState(null, null, curLoc);
			return;
		} catch(e) {}
		location.hash = '#' + curLoc;
	}
});
</script>