{% if api_key %}
<script src="//enterprise.api-maps.yandex.ru/2.1/?apikey={{ api_key }}&lang=ru_RU"></script>
{% else %}
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endif %}
<script>
	var map, marker, placemark;

	ymaps.ready(initMap);

	function initMap() {
		map = new ymaps.Map("map", {
			center: [{{ lat }}, {{ lng }}],
			zoom: {{ map_zoom }}
		});

		var materializeMarker = ymaps.templateLayoutFactory.createClass([
			'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="position:absolute;left:-24px;top:-48px;width:48px;height:48px;">',
				'<path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" fill="{{ color_marker }}"/>',
				'<path d="M0 0h24v24H0z" fill="none"/>',
			'</svg>'
		].join(''));

		{% for key, location in locations %}
			{% if location.geocode %}
				placemark{{ key }} = new ymaps.Placemark(
					[{{ location.lat }}, {{ location.lng }}], {
						hintContent: '{{ location.store_name }}',
						balloonContentHeader: '{{ location.store_name }}',
						balloonContentBody: '{% if location.comment %}<p>{{ location.comment }}</p>{% endif %}<address><b>{{ location.address }}</b></address><p><b>{{ location.telephone }}</b></p>{% if location.open %}<p>{{ location.open }}</p>{% endif %}',
						balloonContentFooter: '<a href="//maps.yandex.ru/?text={{ location.lat }},{{ location.lng }}" title="{{ text_view_map }}" target="_blank" rel="noopener">{{ text_view_map }}</a>'
					}, {
						iconLayout: materializeMarker,
						iconShape: {
							type: 'Rectangle',
							coordinates: [
								[24, 0],
								[-24, -48]
							]
						}
					}
				);

				map.geoObjects.add(placemark{{ key }});
			{% endif %}
		{% endfor %}
	}

	{% if locations|length > 1 %}
	$(document).ready(function() {
		var storeImage = $('#store-image'),
			storeLinkMap = $('#store-view-map'),
			storeName = $('#store-name'),
			storeCall = $('#store-call'),
			storeWrite = $('#store-write'),
			storeDescription = $('#store-description'),
			storeAddress = $('#store-address'),
			storeOpen = $('#store-open'),
			storeTelephone = $('#store-telephone'),
			storeFax = $('#store-fax'),
			selectStore = $('#select-store');

		selectStore.on('change', function() {
			var storeId = $(this).val();

			{% for key, location in locations %}
				{% if location.geocode %}
					if (storeId == {{ key }}) {
						{% if location.image %}
						storeImage.show();
						storeImage.attr({
							src: '{{ location.image }}',
							title: '{{ location.store_name }}',
							alt: '{{ location.store_name }}'
						});
						{% else %}
						storeImage.hide();
						{% endif %}
						storeLinkMap.attr('href','//maps.yandex.ru/?text={{ location.lat }},{{ location.lng }}');
						storeName.text('{{ location.store_name }}');
						storeCall.attr('href','tel:{{ location.formatted_tel }}');
						{% if location.comment %}
						storeDescription.show();
						storeDescription.text('{{ location.comment }}');
						{% else %}
						storeDescription.hide();
						{% endif %}
						storeAddress.text('{{ location.address }}');
						{% if location.open %}
						storeOpen.parent().show();
						storeOpen.text('{{ location.open }}');
						{% else %}
						storeOpen.parent().hide();
						{% endif %}
						storeTelephone.text('{{ location.telephone }}');
						{% if location.fax %}
						storeFax.parent().show();
						storeFax.text('{{ location.fax }}');
						{% else %}
						storeFax.parent().hide();
						{% endif %}

						map.setCenter([{{ location.lat }}, {{ location.lng }}], {{ map_zoom }});
					}
				{% endif %}
			{% endfor %}
		});
	});
	{% endif %}
</script>