<div class="megamenu-sideblock__slideshow">
	<h4 class="center">{{ heading_title }}</h4>
	<div id="megamenu_slideshow{{ megamenu_slideshow }}" class="megamenu-slideshow">
		{% for product in products %}
		<div class="card horizontal">
			<div class="card-stacked">
				<div class="card-content">
					<strong class="card-title"><a href="{{ product.href }}" class="grey-text text-darken-4" rel="nofollow">{{ product.name }}</a></strong>
					{% if product.price %}
						{% if not product.special %}
						<span class="card-price">{{ product.price }}</span>
						{% else %}
						<span class="card-price red-text text-darken-2">{{ product.special }}</span>
						<span class="card-price old-price grey-text">{{ product.price }}</span>
						{% endif %}
						{% if product.tax %}
						<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
						{% endif %}
					{% endif %}
					<p class="product-description" data-simplebar>{{ product.description }}</p>
				</div>
				<div class="card-image">
					<a href="{{ product.href }}" rel="nofollow"><img src="{{ img_loader }}" data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="lazyload"></a>
					<div class="rating">
						{% if product.rating %}
							{% for i in 1..5 %}
								{% if product.rating < i %}
								<i class="material-icons">star_border</i>
								{% else %}
								<i class="material-icons">star</i>
								{% endif %}
							{% endfor %}
							<span>({{ product.reviews }})</span>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="card-action">
				<div class="row no-margin-bottom">
					<div class="col s6">
						<a href="{{ product.href }}" class="btn btn-flat waves-effect text-bold without-icons {{ color_more_detailed }} {{ color_more_detailed_text }}" rel="nofollow">{{ text_more_detailed }}</a>
					</div>
					<div class="col s6">
						<div class="flex-reverse no-padding">
							{% if product.add_cart %}
							<div class="tooltipped" data-position="top" data-tooltip="Добавить в корзину">
								<button class="btn-flat btn-floating waves-effect {{ color_add_cart }}" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');"><i class="material-icons {{ color_add_cart_text }}">add_shopping_cart</i></button>
							</div>
							{% else %}
							<div class="tooltipped" data-position="top" data-tooltip="Товара нет в наличии">
								<button class="btn-flat btn-floating" disabled="disabled"><i class="material-icons grey-text text-lighten-1">add_shopping_cart</i></button>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<script>
$('#megamenu_slideshow{{ megamenu_slideshow }}').slick({
	infinite: true,
	autoplay: true,
	autoplaySpeed: 5000,
	slidesToShow: 1,
	adaptiveHeight: true,
	fade: true,
	cssEase: 'linear',
	nextArrow: '<button class="slick-next waves-effect waves-circle" aria-label="Next" type="button">Next</button>',
	prevArrow: '<button class="slick-prev waves-effect waves-circle" aria-label="Previous" type="button">Previous</button>'
});
</script>