{% if module_quickorder_status %}
<form id="quickorder__modal" class="modal white">
	<div class="modal-content">
		<i class="material-icons modal-action modal-close waves-effect waves-circle close-icon">close</i>
		<h4>{{ module_quickorder_button }} — {{ product_title }}</h4>
		<div class="row">
			{% if thumb %}
			<div class="col s12 m6 center">
				<figure>
					<img class="responsive-img lazyload" src="{{ img_loader }}" data-src="{{ thumb }}" alt="{{ module_quickorder_button }} — {{ product_title }}">
					<figcaption>{{ module_quickorder_button }} — {{ product_title }}</figcaption>
				</figure>
			</div>
			{% endif %}
			<div class="col s12 {{ thumb ? 'm6' : '' }}">
				<div class="row">
					{% if module_quickorder_name %}
					<div class="input-field col s12">
						<i class="material-icons prefix">account_circle</i>
						<input id="quickorder-name" name="module_quickorder_name" type="text" class="validate">
						<label for="quickorder-name" class="text-bold{{ module_quickorder_name_required ? ' required' }}">{{ entry_name }}</label>
					</div>
					{% endif %}
					<div class="input-field col s12">
						<i class="material-icons prefix">phone</i>
						<input id="quickorder-telephone" name="module_quickorder_telephone" type="tel" class="validate">
						<label for="quickorder-telephone" class="text-bold required">{{ entry_telephone }}</label>
					</div>
					{% if module_quickorder_email %}
					<div class="input-field col s12">
						<i class="material-icons prefix">email</i>
						<input id="quickorder-email" name="module_quickorder_email" type="email" class="validate">
						<label for="quickorder-email" class="text-bold{{ module_quickorder_email_required ? ' required' }}">{{ entry_email }}</label>
						<span class="helper-text" data-error="{{ text_email_error }}" data-success="{{ text_email_success }}"></span>
					</div>
					{% endif %}
					{% if module_quickorder_enquiry %}
					<div class="input-field col s12">
						<i class="material-icons prefix">chat</i>
						<textarea id="quickorder-enquiry" name="module_quickorder_enquiry" class="materialize-textarea character-counter" data-length="360"></textarea>
						<label for="quickorder-enquiry" class="text-bold{{ module_quickorder_enquiry_required ? ' required' }}">{{ entry_enquiry }}</label>
					</div>
					{% endif %}
					{% if module_quickorder_calltime %}
					<div class="input-field col s12">
						<i class="material-icons prefix">av_timer</i>
						<input type="text" id="quickorder-calltime" class="timepicker" name="module_quickorder_calltime" value="">
						<label for="quickorder-calltime" class="text-bold{{ module_quickorder_calltime_required ? ' required' }}">{{ entry_calltime }}</label>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if text_agree %}
		<div class="row">
			<div class="col s12">
				<label for="agreement-check-quickorder">
					{% if module_quickorder_agree %}
					<input type="checkbox" name="module_quickorder_agree" value="1" checked="checked" id="agreement-check-quickorder" class="filled-in">
					{% else %}
					<input type="checkbox" name="module_quickorder_agree" value="1" id="agreement-check-quickorder" class="filled-in">
					{% endif %}
					<span>{{ text_agree }}</span>
				</label>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="modal-footer">
		<input type="hidden" name="module_quickorder_product_title" value="{{ product_title }}">
		<input type="hidden" name="module_quickorder_product_link" value="{{ product_link }}">
		<button type="button" id="quickorder__button" class="btn modal-action waves-effect waves-light red" value="{{ button_submit }}">{{ button_submit }}</button>
	</div>
</form>
<div class="section">
	<button type="button" data-target="quickorder__modal" id="quickorder__btn" class="btn btn-large waves-effect waves-light width-max modal-trigger {{ module_quickorder_color_btn }} {{ module_quickorder_color_btn_text }}"><i class="material-icons left">shopping_cart</i>{{ module_quickorder_button }}</button>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if module_quickorder_enquiry %}$('.character-counter').characterCounter();{% endif %}
	{% if module_quickorder_calltime %}
	$('.timepicker').timepicker({
		defaultTime: 'now',
		autoclose: true,
		i18n: {
			clear: '{{ button_datetime_clear }}',
			cancel: '{{ button_datetime_done }}',
			done: '{{ button_time_done }}',
			twelvehour: {{ twelve_hour }}
		}
	});
	{% endif %}
	$('#quickorder__button').on('click', function() {
		$.ajax({
			url: 'index.php?route=extension/module/quickorder/send',
			type: 'post',
			dataType: 'json',
			data: $("#quickorder__modal").serialize(),
			success: function(json) {
				if (json['error']) {
					M.toast({html: '<i class="material-icons left">warning</i>' + json['error'], classes: 'toast-warning'});
				}
				if (json['success']) {
					M.toast({html: '<i class="material-icons left">check</i>' + json['success'], classes: 'toast-success'});
					$('#quickorder-telephone').val('').removeClass('valid');
					$('#quickorder-telephone').parent().find('label').removeClass('active');
					{% if module_quickorder_name %}
					$('#quickorder-name').val('').removeClass('valid');
					$('#quickorder-name').parent().find('label').removeClass('active');
					{% endif %}
					{% if module_quickorder_email %}
					$('#quickorder-email').val('').removeClass('valid');
					$('#quickorder-email').parent().find('label').removeClass('active');
					{% endif %}
					{% if module_quickorder_enquiry %}
					$('#quickorder-enquiry').val('');
					$('#quickorder-enquiry').parent().find('label').removeClass('active');
					$('#quickorder-enquiry').parent().find('.character-counter').empty();
					M.textareaAutoResize($('#quickorder-enquiry'));
					{% endif %}
					{% if module_quickorder_calltime %}
					$('#quickorder-calltime').val('');
					$('#quickorder-calltime').parent().find('label').removeClass('active');
					{% endif %}
					{% if text_agree %}
					$('#agreement-check-quickorder').prop('checked', false);
					{% endif %}
					$('#quickorder__modal').modal('close');
				}
			}
		});
	});
});
</script>
{% endif %}