{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-blog" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ blog_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="alert alert-info"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ text_materialize }}</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-blog" class="form-horizontal">
				<fieldset>	
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
							{% if error_name %}
							<div class="text-danger">{{ error_name }}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="status" id="input-status" class="form-control">
								{% if status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>{{ text_search }}</legend>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-search_status">{{ entry_search_status }}</label>
						<div class="col-sm-10">
							<select name="search_status" id="input-search_status" class="form-control">
								{% if search_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-search_sort_order">{{ entry_search_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="search_sort_order" value="{{ search_sort_order }}" placeholder="{{ entry_search_sort_order }}" id="input-search_sort_order" class="form-control" />
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>{{ text_category }}</legend>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-category_status">{{ entry_category_status }}</label>
						<div class="col-sm-10">
							<select name="category_status" id="input-category_status" class="form-control">
								{% if category_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-category_sort_order">{{ entry_category_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="category_sort_order" value="{{ category_sort_order }}" placeholder="{{ entry_category_sort_order }}" id="input-category_sort_order" class="form-control" />
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>{{ text_recent_post }}</legend> 
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-post_status">{{ entry_post_status }}</label>
						<div class="col-sm-10">
							<select name="post_status" id="input-post_status" class="form-control">
								{% if post_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-post_limit">{{ entry_post_limit }}</label>
						<div class="col-sm-10">
							<input type="text" name="post_limit" value="{{ post_limit }}" placeholder="{{ entry_post_limit }}" id="input-post_limit" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-post_sort_order">{{ entry_post_sort_order }}</label>
						<div class="col-sm-10">
							<input type="text" name="post_sort_order" value="{{ post_sort_order }}" placeholder="{{ entry_post_sort_order }}" id="input-post_sort_order" class="form-control" />
						</div>
					</div>
				</fieldset>
				</form>
			</div>
			<div class="panel-footer text-center">
				<a href="//www.opencart.com/index.php?route=marketplace/extension/info&extension_id=30715" target="_blank" rel="noopener"><strong>Materialize Template</strong></a>&nbsp;|&nbsp;
				<i class="fa fa-github"></i>&nbsp;
				<a href="//github.com/trydalcoholic/opencart-materialize" target="_blank" rel="noopener">GitHub</a>&nbsp;|&nbsp;
				<i class="fa fa-twitter"></i>&nbsp;
				<a href="//twitter.com/trydalcoholic" target="_blank" rel="noopener">Twitter</a>&nbsp;|&nbsp;
				<i class="fa fa-paypal"></i>&nbsp;
				<a href="//www.paypal.me/trydalcoholic" target="_blank" rel="noopener">PayPal</a>&nbsp;|&nbsp;
				<i class="fa fa-credit-card-alt"></i>&nbsp;
				<a href="//money.yandex.ru/to/41001413377821" target="_blank" rel="noopener">Yandex.Money</a>
			</div>
		</div>
	</div>
</div>
{{ footer }}