{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div class="col {{ main }}">
				<div class="card-panel">
				{{ content_top }}
					{% if categories %}
					<p>
						<strong>{{ text_index }}</strong>
						<ul class="author-list section">
						{% for category in categories %}
							<li class="waves-effect tooltipped" data-position="top" data-delay="50" data-tooltip="{{ text_authors_starting }} &#34;{{ category.name }}&#34;"><a href="index.php?route=extension/materialize/blog/author#{{ category.name }}">{{ category.name }}</a></li>&nbsp;
						{% endfor %}
						</ul>
					</p>
					{% for category in categories %}
						<h2 id="{{ category.name }}">{{ category.name }}</h2>
						<hr>
						{% if category.author %}
							{% for authors in category.author|batch(4) %}
							<div class="row">
								{% for author in authors %}
									<div class="col s6 m4 l3 ">
										<div class="section center tooltipped" data-position="top" data-delay="50" data-tooltip="{{ text_view_all_posts }} &#34;{{ author.name }}&#34;">
										{% if author.image %}
										<a class="waves-effect waves-light" href="{{ author.href }}"><img class="responsive-img circle lazyload" src="{{ img_loader }}" data-src="{{ author.image }}" alt="{{ author.name }}"></a>
										<br>
										{% endif %}
										<a class="grey-text text-darken-4 text-bold" href="{{ author.href }}">{{ author.name }}</a>
										</div>
									</div>
								{% endfor %}
							</div>
							{% endfor %}
						{% endif %}
					{% endfor %}
					{% else %}
						<p class="flow-text text-bold">{{ text_empty }}</p>
						<img class="responsive-img lazyload" src="{{ img_loader }}" data-src="catalog/view/theme/materialize/img/search-empty.png" alt="">
					{% endif %}
				</div>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
{% endspaceless %}
{{ footer }}