{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
				<div class="card-panel">
					<div class="section" style="overflow-x:scroll;">
						<table class="bordered">
							<thead class="grey lighten-4">
								<tr>
									<th colspan="2"><small>{{ text_recurring_detail }}</small></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="width:50%;">
										<b>{{ text_order_recurring_id }}</b> #{{ order_recurring_id }}<br>
										<b>{{ text_date_added }}</b> {{ date_added }}<br>
										<b>{{ text_status }}</b> {{ status }}<br>
										<b>{{ text_payment_method }}</b> {{ payment_method }}
									</td>
									<td style="width:50%;">
										<b>{{ text_order_id }}</b> <a href="{{ order }}">#{{ order_id }}</a><br>
										<b>{{ text_product }}</b> <a href="{{ product }}">{{ product_name }}</a><br>
										<b>{{ text_quantity }}</b> {{ product_quantity }}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" style="overflow-x:scroll;">
						<table class="bordered">
							<thead class="grey lighten-4">
								<tr>
									<th><small>{{ text_description }}</small></th>
									<th><small>{{ text_reference }}</small></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="width:50%;">{{ recurring_description }}</td>
									<td style="width:50%;">{{ reference }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="section" style="overflow-x:scroll;">
						<h3>{{ text_transaction }}</h3>
						<table class="bordered centered">
							<thead class="grey lighten-4">
								<tr>
									<th><small>{{ column_date_added }}</small></th>
									<th><small>{{ column_type }}</small></th>
									<th><small>{{ column_amount }}</small></th>
								</tr>
							</thead>
							<tbody>
								{% if transactions %}
								{% for transaction in transactions %}
								<tr>
									<td>{{ transaction.date_added }}</td>
									<td>{{ transaction.type }}</td>
									<td>{{ transaction.amount }}</td>
								</tr>
								{% endfor %}
								{% else %}
								<tr>
									<td colspan="3">{{ text_no_results }}</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					<div class="flex-reverse">
						<a href="{{ continue }}" class="btn waves-effect waves-light red href-underline">{{ button_continue }}</a>
					</div>
				</div>
				{{ recurring }}
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
{% endspaceless %}
{{ footer }}