{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				<div class="row">
					{{ content_top }}
					<div class="col s12">
						<div class="card-panel">
							{{ text_description }}
						</div>
					</div>
					<div class="col s12 m6">
						<div class="card-panel">
							<h2>{{ text_new_affiliate }}</h2>
							<p>{{ text_register_account }}</p>
							<div class="flex-reverse">
								<a href="{{ register }}" class="btn waves-effect waves-light red href-underline">{{ button_continue }}</a>
							</div>
						</div>
					</div>
					<div class="col s12 m6">
						<div class="card-panel">
							<h2>{{ text_returning_affiliate }}</h2>
							<p><strong>{{ text_i_am_returning_affiliate }}</strong></p>
							<form action="{{ action }}" method="post" enctype="multipart/form-data">
								<div class="input-field">
									<i class="material-icons prefix">email</i>
									<input type="email" name="email" value="{{ email }}" id="input-email" class="validate">
									<label for="input-email">{{ entry_email }}</label>
									<span class="helper-text" data-error="{{ text_email_error }}" data-success="{{ text_email_success }}"></span>
								</div>
								<div class="input-field">
									<i class="material-icons prefix">lock</i>
									<input type="password" name="password" value="{{ password }}" id="input-password">
									<label for="input-password">{{ entry_password }}</label>
								</div>
								<a href="{{ forgotten }}">{{ text_forgotten }}</a>
								<div class="flex-reverse">
									<button type="submit" value="{{ button_login }}" class="btn waves-effect waves-light red">{{ button_login }}</button>
									{% if redirect %}
									<input type="hidden" name="redirect" value="{{ redirect }}">
									{% endif %}
								</div>
							</form>
						</div>
					</div>
					{{ content_bottom }}
				</div>
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if success %}M.toast({html: '<i class="material-icons left">check</i>{{ success }}', classes: 'toast-success'});{% endif %}
	{% if error_warning %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_warning }}', classes: 'toast-warning'});{% endif %}
});
</script>
{% endspaceless %}
{{ footer }}