{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div id="affiliate-register" class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
				<form action="{{ action }}" method="post" enctype="multipart/form-data">
					<div class="card-panel">
						<p>{{ text_account_already }}</p>
						<div class="form-group" style="display: {% if customer_groups|length > 1 %} block {% else %} none {% endif %};">
							<label class="text-bold required">{{ entry_customer_group }}</label>
							<ul>
								{% for customer_group in customer_groups %}
								<li>
									{% if customer_group.customer_group_id == customer_group_id %}
									<label for="radio-{{ customer_group.customer_group_id }}">
										<input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" id="radio-{{ customer_group.customer_group_id }}" class="with-gap" checked="checked">
										<span>{{ customer_group.name }}</span>
									</label>
									{% else %}
									<label for="radio-{{ customer_group.customer_group_id }}">
										<input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" id="radio-{{ customer_group.customer_group_id }}" class="with-gap">
										<span>{{ customer_group.name }}</span>
									</label>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
						<div id="account" class="section">
							<h2>{{ text_your_details }}</h2>
							<div class="input-field form-group">
								<input type="text" name="firstname" value="{{ firstname }}" id="input-firstname" class="validate">
								<label for="input-firstname" class="text-bold required">{{ entry_firstname }}</label>
							</div>
							<div class="input-field form-group">
								<input type="text" name="lastname" value="{{ lastname }}" id="input-lastname" class="validate">
								<label for="input-lastname" class="text-bold required">{{ entry_lastname }}</label>
							</div>
							<div class="input-field form-group">
								<input type="email" name="email" value="{{ email }}" id="input-email" class="validate">
								<label for="input-email" class="text-bold required">{{ entry_email }}</label>
								<span class="helper-text" data-error="{{ text_email_error }}" data-success="{{ text_email_success }}"></span>
							</div>
							<div class="input-field form-group">
								<input type="password" name="password" value="{{ password }}" id="input-password" class="validate">
								<label for="input-password" class="text-bold required">{{ entry_password }}</label>
							</div>
							<div class="input-field form-group">
								<input type="password" name="confirm" value="{{ confirm }}" id="input-confirm" class="validate">
								<label for="input-confirm" class="text-bold required">{{ entry_confirm }}</label>
							</div>
							<div class="input-field form-group">
								<input type="tel" name="telephone" value="{{ telephone }}" id="input-telephone" class="validate">
								<label for="input-telephone" class="text-bold required">{{ entry_telephone }}</label>
							</div>
							{% for custom_field in custom_fields %}
							{% if custom_field.location == 'account' %}
							{% if custom_field.type == 'select' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<div class="input-field">
									<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}">
										<option value="">{{ text_select }}</option>
										{% for custom_field_value in custom_field.custom_field_value %}
										{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
										<option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
										{% else %}
										<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
										{% endif %}
										{% endfor %}
									</select>
									<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								</div>
							</div>
							{% endif %}
							{% if custom_field.type == 'radio' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold">{{ custom_field.name }}</label>
								<ul>
									{% for custom_field_value in custom_field.custom_field_value %}
									<li>
										{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
										<label>
											<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="with-gap" checked="checked">
											<span>{{ custom_field_value.name }}</span>
										</label>
										{% else %}
										<label>
											<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="with-gap">
											<span>{{ custom_field_value.name }}</span>
										</label>
										{% endif %}
									</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}
							{% if custom_field.type == 'checkbox' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold">{{ custom_field.name }}</label>
								<ul>
									{% for custom_field_value in custom_field.custom_field_value %}
									<li>
										{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in register_custom_field[custom_field.custom_field_id] %}
										<label>
											<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="filled-in" checked="checked">
											<span>{{ custom_field_value.name }}</span>
										</label>
										{% else %}
										<label>
											<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="filled-in">
											<span>{{ custom_field_value.name }}</span>
										</label>
										{% endif %}
									</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}
							{% if custom_field.type == 'text' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<div class="input-field">
									<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="validate">
									<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								</div>
							</div>
							{% endif %}
							{% if custom_field.type == 'textarea' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<div class="input-field">
									<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="materialize-textarea">{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
									<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								</div>
							</div>
							{% endif %}
							{% if custom_field.type == 'file' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold">{{ custom_field.name }}</label>
								<div class="file-field input-field">
									<div id="button-custom-field{{ custom_field.custom_field_id }}" class="btn waves-effect waves-light blue-grey lighten-1"><i class="material-icons left">cloud_upload</i><span>{{ button_upload }}</span></div>
									<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %} {{ register_custom_field[custom_field.custom_field_id] }} {% endif %}">
									<div class="file-path-wrapper"><input value="{{ custom_field.name }}" class="file-path validate" type="text"></div>
								</div>
							</div>
							{% endif %}
							{% if custom_field.type == 'date' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="datepicker">
							</div>
							{% endif %}
							{% if custom_field.type == 'time' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="timepicker">
							</div>
							{% endif %}
							{% endif %}
							{% endfor %}
						</div>
						<div id="affiliate" class="section">
							<h2>{{ text_your_affiliate }}</h2>
							<div class="input-field form-group">
								<input type="text" name="company" value="{{ company }}" id="input-company" class="validate">
								<label for="input-company" class="text-bold">{{ entry_company }}</label>
							</div>
							<div class="input-field form-group">
								<input type="text" name="website" value="{{ website }}" id="input-website" class="validate">
								<label for="input-website" class="text-bold">{{ entry_website }}</label>
							</div>
							<div class="input-field form-group">
								<input type="text" name="tax" value="{{ tax }}" id="input-tax" class="validate">
								<label for="input-tax" class="text-bold">{{ entry_tax }}</label>
							</div>
						</div>
						<div class="section form-group">
							<span>{{ entry_payment }}</span>
							<ul>
								<li>
									<label for="payment-cheque-input">
										{% if payment == 'cheque' %}
										<input type="radio" name="payment" value="cheque" checked="checked" id="payment-cheque-input" class="with-gap">
										{% else %}
										<input type="radio" name="payment" value="cheque" id="payment-cheque-input" class="with-gap">
										{% endif %}
										<span>{{ text_cheque }}</span>
									</label>
								</li>
								<li>
									<label for="payment-paypal-input">
										{% if payment == 'paypal' %}
										<input type="radio" name="payment" value="paypal" checked="checked" id="payment-paypal-input" class="with-gap">
										{% else %}
										<input type="radio" name="payment" value="paypal" id="payment-paypal-input" class="with-gap">
										{% endif %}
										<span>{{ text_paypal }}</span>
									</label>
								</li>
								<li>
									<label for="payment-bank-input">
										{% if payment == 'bank' %}
										<input type="radio" name="payment" value="bank" checked="checked" id="payment-bank-input" class="with-gap">
										{% else %}
										<input type="radio" name="payment" value="bank" id="payment-bank-input" class="with-gap">
										{% endif %}
										<span>{{ text_bank }}</span>
									</label>
								</li>
							</ul>
						</div>
						<div class="input-field payment form-group" id="payment-cheque">
							<input type="text" name="cheque" value="{{ cheque }}" id="input-cheque" class="validate">
							<label for="input-cheque" class="required text-bold">{{ entry_cheque }}</label>
						</div>
						<div class="input-field payment form-group" id="payment-paypal">
							<input type="text" name="paypal" value="{{ paypal }}" id="input-paypal" class="validate">
							<label for="input-paypal" class="required text-bold">{{ entry_paypal }}</label>
						</div>
						<div class="payment form-group" id="payment-bank">
							<div class="input-field">
								<input type="text" name="bank_name" value="{{ bank_name }}" id="input-bank-name" class="validate">
								<label for="input-bank-name" class="required text-bold">{{ entry_bank_name }}</label>
							</div>
							<div class="input-field">
								<input type="text" name="bank_branch_number" value="{{ bank_branch_number }}" id="input-bank-branch-number" class="validate">
								<label for="input-bank-branch-number" class="required text-bold">{{ entry_bank_branch_number }}</label>
							</div>
							<div class="input-field">
								<input type="text" name="bank_swift_code" value="{{ bank_swift_code }}" id="input-bank-swift-code" class="validate">
								<label for="input-bank-swift-code" class="required text-bold">{{ entry_bank_swift_code }}</label>
							</div>
							<div class="input-field">
								<input type="text" name="bank_account_name" value="{{ bank_account_name }}" id="input-bank-account-name" class="validate">
								<label for="input-bank-account-name" class="required text-bold">{{ entry_bank_account_name }}</label>
							</div>
							<div class="input-field">
								<input type="text" name="bank_account_number" value="{{ bank_account_number }}" id="input-bank-account-number" class="validate">
								<label for="input-bank-account-number" class="required text-bold">{{ entry_bank_account_number }}</label>
							</div>
							{% for custom_field in custom_fields %}
							{% if custom_field.location == 'affiliate' %}
							{% if custom_field.type == 'select' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<div class="input-field">
									<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}">
										<option value="">{{ text_select }}</option>
										{% for custom_field_value in custom_field.custom_field_value %}
										{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
										<option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
										{% else %}
										<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
										{% endif %}
										{% endfor %}
									</select>
									<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								</div>
							</div>
							{% endif %}
							{% if custom_field.type == 'radio' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold">{{ custom_field.name }}</label>
								<ul>
									{% for custom_field_value in custom_field.custom_field_value %}
									<li>
										{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
										<label>
											<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="with-gap" checked="checked">
											<span>{{ custom_field_value.name }}</span>
										</label>
										{% else %}
										<label>
											<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="with-gap">
											<span>{{ custom_field_value.name }}</span>
										</label>
										{% endif %}
									</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}
							{% if custom_field.type == 'checkbox' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold">{{ custom_field.name }}</label>
								<ul>
									{% for custom_field_value in custom_field.custom_field_value %}
									<li>
										{% if register_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
										<label>
											<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="filled-in" checked="checked">
											<span>{{ custom_field_value.name }}</span>
										</label>
										{% else %}
										<label>
											<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="filled-in">
											<span>{{ custom_field_value.name }}</span>
										</label>
										{% endif %}
									</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}
							{% if custom_field.type == 'text' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<div class="input-field">
									<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="validate">
									<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								</div>
							</div>
							{% endif %}
							{% if custom_field.type == 'textarea' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<div class="input-field">
									<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="materialize-textarea">{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
									<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								</div>
							</div>
							{% endif %}
							{% if custom_field.type == 'file' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold">{{ custom_field.name }}</label>
								<div class="file-field input-field">
									<div id="button-custom-field{{ custom_field.custom_field_id }}" class="btn waves-effect waves-light blue-grey lighten-1"><i class="material-icons left">cloud_upload</i><span>{{ button_upload }}</span></div>
									<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %} {{ register_custom_field[custom_field.custom_field_id] }} {% endif %}">
									<div class="file-path-wrapper"><input value="{{ custom_field.name }}" class="file-path validate" type="text"></div>
								</div>
							</div>
							{% endif %}
							{% if custom_field.type == 'date' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="datepicker">
							</div>
							{% endif %}
							{% if custom_field.type == 'time' %}
							<div id="custom-field{{ custom_field.custom_field_id }}" class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
								<label class="text-bold" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
								<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if register_custom_field[custom_field.custom_field_id] %}{{ register_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="timepicker">
							</div>
							{% endif %}
							{% endif %}
							{% endfor %}
						</div>
						{{ captcha }}
						{% if text_agree %}
						<div class="section">
							<label for="agreement-check">
								{% if agree %}
								<input type="checkbox" name="agree" value="1" checked="checked" id="agreement-check" class="filled-in">
								{% else %}
								<input type="checkbox" name="agree" value="1" id="agreement-check" class="filled-in">
								{% endif %}
								<span>{{ text_agree }}</span>
							</label>
						</div>
						{% endif %}
					</div>
					<div class="section flex-reverse">
						<button type="submit" class="btn waves-effect waves-light red">{{ button_continue }}</button>
					</div>
				</form>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	$('input[name=\'customer_group_id\']').on('change', function() {
		$.ajax({
			url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
			dataType: 'json',
			success: function(json) {
				$('.custom-field').hide();
				$('.custom-field').removeClass('required');

				for (i = 0; i < json.length; i++) {
					custom_field = json[i];

					$('#custom-field' + custom_field['custom_field_id']).show();

					if (custom_field['required']) {
						$('#custom-field' + custom_field['custom_field_id'] + ' > label').addClass('required');
						$('#custom-field' + custom_field['custom_field_id'] + ' > .input-field > label').addClass('required');
					}
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('input[name=\'customer_group_id\']:checked').trigger('change');

	{% if error_warning %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_warning }}', classes: 'toast-warning'});{% endif %}
	{% if error_firstname %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_firstname }}', classes: 'toast-warning'});{% endif %}
	{% if error_lastname %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_lastname }}', classes: 'toast-warning'});{% endif %}
	{% if error_email %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_email }}', classes: 'toast-warning'});{% endif %}
	{% if error_telephone %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_telephone }}', classes: 'toast-warning'});{% endif %}
	{% if error_password %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_password }}', classes: 'toast-warning'});{% endif %}
	{% if error_confirm %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_confirm }}', classes: 'toast-warning'});{% endif %}
	{% if error_cheque %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_cheque }}', classes: 'toast-warning'});{% endif %}
	{% if error_paypal %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_paypal }}', classes: 'toast-warning'});{% endif %}
	{% if error_bank_account_name %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_bank_account_name }}', classes: 'toast-warning'});{% endif %}
	{% if error_bank_account_number %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_bank_account_number }}', classes: 'toast-warning'});{% endif %}
	{% for custom_field in custom_fields %}
		{% if error_custom_field[custom_field.custom_field_id] %}
		M.toast({html: '<i class="material-icons left">warning</i>{{ error_custom_field[custom_field.custom_field_id] }}', classes: 'toast-warning'});
		{% endif %}
	{% endfor %}

	$('div[id^=\'button-custom-field\']').on('click', function() {
		var node = this;

		$('#form-upload').remove();

		$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display:none;"><input type="file" name="file"></form><div id="modal-loading" class="modal"><div class="modal-content"><div class="row valign-wrapper"><div class="col s4 m3 center"><div class="preloader-wrapper active"><div class="spinner-layer spinner-blue"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div><div class="spinner-layer spinner-red"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div><div class="spinner-layer spinner-yellow"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div><div class="spinner-layer spinner-green"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div><div class="col s10 m9"><p id="loading-text" class="flow-text text-bold">{{ text_loading }}</p></div></div></div></div>');

		$('#form-upload input[name=\'file\']').trigger('click');

		if (typeof timer != 'undefined') {
			clearInterval(timer);
		}

		timer = setInterval(function() {
			if ($('#form-upload input[name=\'file\']').val() != '') {
				clearInterval(timer);

				$('#modal-loading').modal({
					dismissible: false,
					opacity: .7,
					endingTop: '40%',
				}).modal('open');

				$.ajax({
					url: 'index.php?route=tool/upload',
					type: 'post',
					dataType: 'json',
					data: new FormData($('#form-upload')[0]),
					cache: false,
					contentType: false,
					processData: false,
					success: function(json) {
						if (json['error']) {
							$('#modal-loading').modal('close').remove();
							M.toast({html: '<i class="material-icons left">warning</i>' + json["error"], classes: 'toast-warning'});
						}

						if (json['success']) {
							$('#modal-loading').modal('close').remove();
							M.toast({html: '<i class="material-icons left">check</i>' + json["success"], classes: 'toast-success'});

							$(node).parent().find('input').val(json['code']);
						}
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
		}, 500);
	});

	$('.datepicker').datepicker({
		format: 'yyyy-mm-dd',
		firstDay: {{ first_day }},
		i18n: {
			clear: '{{ button_datetime_clear }}',
			today: '{{ button_date_today }}',
			done: '{{ button_datetime_done }}',
			months: ['{{ text_months_full_january }}', '{{ text_months_full_february }}', '{{ text_months_full_march }}', '{{ text_months_full_april }}', '{{ text_months_full_may }}', '{{ text_months_full_june }}', '{{ text_months_full_july }}', '{{ text_months_full_august }}', '{{ text_months_full_september }}', '{{ text_months_full_october }}', '{{ text_months_full_november }}', '{{ text_months_full_december }}'],
			monthsShort: ['{{ text_months_short_january }}', '{{ text_months_short_february }}', '{{ text_months_short_march }}', '{{ text_months_short_april }}', '{{ text_months_short_may }}', '{{ text_months_short_june }}', '{{ text_months_short_july }}', '{{ text_months_short_august }}', '{{ text_months_short_september }}', '{{ text_months_short_october }}', '{{ text_months_short_november }}', '{{ text_months_short_december }}'],
			weekdays: ['{{ text_weekdays_full_sunday }}', '{{ text_weekdays_full_monday }}', '{{ text_weekdays_full_tuesday }}', '{{ text_weekdays_full_wednesday }}', '{{ text_weekdays_full_thursday }}', '{{ text_weekdays_full_friday }}', '{{ text_weekdays_full_saturday }}'],
			weekdaysShort: ['{{ text_weekdays_short_sunday }}', '{{ text_weekdays_short_monday }}', '{{ text_weekdays_short_tuesday }}', '{{ text_weekdays_short_wednesday }}', '{{ text_weekdays_short_thursday }}', '{{ text_weekdays_short_friday }}', '{{ text_weekdays_short_saturday }}'],
			weekdaysAbbrev: ['{{ text_weekdays_short_sunday }}', '{{ text_weekdays_short_monday }}', '{{ text_weekdays_short_tuesday }}', '{{ text_weekdays_short_wednesday }}', '{{ text_weekdays_short_thursday }}', '{{ text_weekdays_short_friday }}', '{{ text_weekdays_short_saturday }}']
		}
	});

	$('.timepicker').timepicker({
		defaultTime: 'now',
		autoclose: true,
		i18n: {
			clear: '{{ button_datetime_clear }}',
			cancel: '{{ button_datetime_done }}',
			done: '{{ button_time_done }}',
			twelvehour: {{ twelve_hour }}
		}
	});

	$('input[name=\'payment\']').on('change', function() {
		$('.payment').hide();
		$('#payment-' + this.value).show();
	});
	$('input[name=\'payment\']:checked').trigger('change');
});
</script>
{% endspaceless %}
{{ footer }}