{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav class="breadcrumb-wrapper transparent z-depth-0">
			<div class="nav-wrapper">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						{% if key == 0 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb black-text"><i class="material-icons">home</i></a>
						{% else %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb black-text">{{ breadcrumb.text }}</a>
						{% endif %}
					{% else %}
					<span class="breadcrumb black-text">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<div class="row">
			{{ column_left }}
			<div class="col {{ main }} section href-underline">
				{{ content_top }}
				<h1>{{ heading_title }}</h1>
				<div class="card-panel">
					<p>Please enter your shipping tracking No. below:</p>
					<div class="input-field">
						<input type="text" name="code" value="{{ code }}" placeholder="{{ entry_code }}" id="input-code" class="validate">
						<label class="required" for="input-code">{{ entry_code }}</label>
					</div>
				</div>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		$('#button-tracking').on('click', function() {
			$.ajax({
				url: 'index.php?route=information/tracking/tracking&code=' + $('input[name="code"]').val(),
				dataType: 'json',
				success: function(json) {
					if (json['redirect']) {
						location = json['redirect'];
					} else if (json['error']) {
						Materialize.toast(json['error']['warning'],4000);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});
	});
</script>
{% endspaceless %}
{{ footer }}