{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
				<div class="card-panel">
					<h2>{{ text_address_book }}</h2>
					{% if addresses %}
					<ul class="collection">
						{% for result in addresses %}
						<li class="collection-item avatar">
							<i class="material-icons circle">home</i>
							<p>{{ result.address }}</p>
							<span class="secondary-content">
								<a href="{{ result.update }}"><i class="material-icons blue-grey-text text-darken-4 waves-effect waves-effect-15 waves-circle">mode_edit</i></a>
								<a href="{{ result.delete }}"><i class="material-icons blue-grey-text text-darken-4 waves-effect waves-effect-15 waves-circle">delete_forever</i></a>
							</span>
						</li>
						{% endfor %}
					</ul>
					{% else %}
						<p>{{ text_empty }}</p>
					{% endif %}
				</div>
				<div class="row">
					<div class="col s6">
						<a href="{{ back }}" class="btn-flat waves-effect waves-light href-underline">{{ button_back }}</a>
					</div>
					<div class="col s6">
						<div class="flex-reverse no-padding">
							<a href="{{ add }}" class="btn waves-effect waves-light red href-underline">{{ button_new_address }}</a>
						</div>
					</div>
				</div>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if success %}M.toast({html: '<i class="material-icons left">check</i>{{ success }}', classes: 'toast-success'});{% endif %}
	{% if error_warning %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_warning }}', classes: 'toast-warning'});{% endif %}
});
</script>
{% endspaceless %}
{{ footer }}