{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div id="account-address" class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
				<form action="{{ action }}" method="post" enctype="multipart/form-data">
					<div class="card-panel">
						<h2>{{ text_address }}</h2>
						<div class="input-field form-group">
							<input type="text" name="firstname" value="{{ firstname }}" id="input-firstname" class="validate">
							<label for="input-firstname" class="text-bold required">{{ entry_firstname }}</label>
						</div>
						<div class="input-field form-group">
							<input type="text" name="lastname" value="{{ lastname }}" id="input-lastname" class="validate">
							<label for="input-lastname" class="text-bold required">{{ entry_lastname }}</label>
						</div>
						<div class="input-field form-group">
							<input type="text" name="company" value="{{ company }}" id="input-company" class="validate">
							<label for="input-company" class="text-bold">{{ entry_company }}</label>
						</div>
						<div class="input-field form-group">
							<input type="text" name="address_1" value="{{ address_1 }}" id="input-address-1" class="validate">
							<label for="input-address-1" class="text-bold required">{{ entry_address_1 }}</label>
						</div>
						<div class="input-field form-group">
							<input type="text" name="address_2" value="{{ address_2 }}" id="input-address-2" class="validate">
							<label for="input-address-2" class="text-bold">{{ entry_address_2 }}</label>
						</div>
						<div class="input-field form-group">
							<input type="text" name="city" value="{{ city }}" id="input-city" class="validate">
							<label for="input-city" class="text-bold required">{{ entry_city }}</label>
						</div>
						<div class="input-field form-group">
							<input type="text" name="postcode" value="{{ postcode }}" id="input-postcode" class="validate">
							<label for="input-postcode" class="text-bold required">{{ entry_postcode }}</label>
						</div>
						<div class="section form-group">
							<div class="input-field">
								<select name="country_id" id="input-country">
									<option value="" disabled selected>{{ text_select }}</option>
									{% for country in countries %}
									{% if country.country_id == country_id %}
									<option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
									{% else %}
									<option value="{{ country.country_id }}">{{ country.name }}</option>
									{% endif %}
									{% endfor %}
								</select>
								<label for="input-country" class="text-bold required">{{ entry_country }}</label>
							</div>
						</div>
						<div class="section form-group">
							<div class="input-field">
								<select name="zone_id" id="input-zone">
								</select>
								<label for="input-zone" class="text-bold required">{{ entry_zone }}</label>
							</div>
						</div>
						{% for custom_field in custom_fields %}
						{% if custom_field.type == 'select' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							<div class="input-field">
								<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}">
									<option value="">{{ text_select }}</option>
									{% for custom_field_value in custom_field.custom_field_value %}
									{% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address_custom_field[custom_field.custom_field_id] %}
									<option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
									{% else %}
									<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						{% endif %}
						{% if custom_field.type == 'radio' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}">{{ custom_field.name }}</label>
							<ul>
								{% for custom_field_value in custom_field.custom_field_value %}
								<li>
									{% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address_custom_field[custom_field.custom_field_id] %}
									<label>
										<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="with-gap" checked="checked">
										<span>{{ custom_field_value.name }}</span>
									</label>
									{% else %}
									<label>
										<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="with-gap">
										<span>{{ custom_field_value.name }}</span>
									</label>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}
						{% if custom_field.type == 'checkbox' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}">{{ custom_field.name }}</label>
							<ul>
								{% for custom_field_value in custom_field.custom_field_value %}
								<li>
									{% if address_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in address_custom_field[custom_field.custom_field_id] %}
									<label>
										<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="filled-in" checked="checked">
										<span>{{ custom_field_value.name }}</span>
									</label>
									{% else %}
									<label>
										<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="filled-in">
										<span>{{ custom_field_value.name }}</span>
									</label>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}
						{% if custom_field.type == 'text' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<div class="input-field">
								<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="validate">
								<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							</div>
						</div>
						{% endif %}
						{% if custom_field.type == 'textarea' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<div class="input-field">
								<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="materialize-textarea">{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
								<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							</div>
						</div>
						{% endif %}
						{% if custom_field.type == 'file' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}">{{ custom_field.name }}</label>
							<div class="file-field input-field">
								<div id="button-custom-field{{ custom_field.custom_field_id }}" class="btn waves-effect waves-light blue-grey lighten-1"><i class="material-icons left">cloud_upload</i><span>{{ button_upload }}</span></div>
								<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}  {{ address_custom_field[custom_field.custom_field_id] }} {% endif %}">
								<div class="file-path-wrapper"><input value="{{ custom_field.name }}" class="file-path validate" type="text"></div>
							</div>
						</div>
						{% endif %}
						{% if custom_field.type == 'date' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="datepicker">
						</div>
						{% endif %}
						{% if custom_field.type == 'time' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if address_custom_field[custom_field.custom_field_id] %}{{ address_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="timepicker">
						</div>
						{% endif %}
						{% endfor %}
						<h2>{{ entry_default }}</h2>
						<div class="switch form-group">
							{% if default %}
							<label>
								{{ text_no }}
								<input id="address-default" type="checkbox" name="default" value="1" checked="checked">
								<span class="lever"></span>
								{{ text_yes }}
							</label>
							{% else %}
							<label>
								{{ text_no }}
								<input id="address-default" type="checkbox" name="default" value="0">
								<span class="lever"></span>
								{{ text_yes }}
							</label>
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<a href="{{ back }}" class="btn-flat waves-effect waves-light left href-underline">{{ button_back }}</a>
						</div>
						<div class="col s6">
							<div class="flex-reverse no-padding">
								<button type="submit" value="{{ button_continue }}" class="btn waves-effect waves-light red">{{ button_continue }}</button>
							</div>
						</div>
					</div>
				</form>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if error_firstname %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_firstname }}', classes: 'toast-warning'});{% endif %}
	{% if error_lastname %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_lastname }}', classes: 'toast-warning'});{% endif %}
	{% if error_address_1 %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_address_1 }}', classes: 'toast-warning'});{% endif %}
	{% if error_city %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_city }}', classes: 'toast-warning'});{% endif %}
	{% if error_postcode %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_postcode }}', classes: 'toast-warning'});{% endif %}
	{% if error_country %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_country }}', classes: 'toast-warning'});{% endif %}
	{% if error_zone %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_zone }}', classes: 'toast-warning'});{% endif %}
	{% for custom_field in custom_fields %}
		{% if error_custom_field[custom_field.custom_field_id] %}
		M.toast({html: '<i class="material-icons left">warning</i>{{ error_custom_field[custom_field.custom_field_id] }}', classes: 'toast-warning'});
		{% endif %}
	{% endfor %}

	$('div[id^=\'button-custom-field\']').on('click', function() {
		var element = this;

		$('#form-upload').remove();

		$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display:none;"><input type="file" name="file"></form><div id="modal-loading" class="modal"><div class="modal-content"><div class="row valign-wrapper"><div class="col s4 m3 center"><div class="preloader-wrapper active"><div class="spinner-layer spinner-blue"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div><div class="spinner-layer spinner-red"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div><div class="spinner-layer spinner-yellow"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div><div class="spinner-layer spinner-green"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div><div class="col s10 m9"><p id="loading-text" class="flow-text text-bold">{{ text_loading }}</p></div></div></div></div>');

		$('#form-upload input[name=\'file\']').trigger('click');

		if (typeof timer != 'undefined') {
			clearInterval(timer);
		}

		timer = setInterval(function() {
			if ($('#form-upload input[name=\'file\']').val() != '') {
				clearInterval(timer);

				$('#modal-loading').modal({
					dismissible: false,
					opacity: .7,
					endingTop: '40%',
				}).modal('open');

				$.ajax({
					url: 'index.php?route=tool/upload',
					type: 'post',
					dataType: 'json',
					data: new FormData($('#form-upload')[0]),
					cache: false,
					contentType: false,
					processData: false,
					success: function(json) {
						if (json['error']) {
							$('#modal-loading').modal('close').remove();
							M.toast({html: '<i class="material-icons left">warning</i>' + json["error"], classes: 'toast-warning'});
						}

						if (json['success']) {
							$('#modal-loading').modal('close').remove();
							M.toast({html: '<i class="material-icons left">check</i>' + json["success"], classes: 'toast-success'});

							$(element).parent().find('input').val(json['code']);
						}
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
		}, 500);
	});

	$('.datepicker').datepicker({
		format: 'yyyy-mm-dd',
		firstDay: {{ first_day }},
		i18n: {
			clear: '{{ button_datetime_clear }}',
			today: '{{ button_date_today }}',
			done: '{{ button_datetime_done }}',
			months: ['{{ text_months_full_january }}', '{{ text_months_full_february }}', '{{ text_months_full_march }}', '{{ text_months_full_april }}', '{{ text_months_full_may }}', '{{ text_months_full_june }}', '{{ text_months_full_july }}', '{{ text_months_full_august }}', '{{ text_months_full_september }}', '{{ text_months_full_october }}', '{{ text_months_full_november }}', '{{ text_months_full_december }}'],
			monthsShort: ['{{ text_months_short_january }}', '{{ text_months_short_february }}', '{{ text_months_short_march }}', '{{ text_months_short_april }}', '{{ text_months_short_may }}', '{{ text_months_short_june }}', '{{ text_months_short_july }}', '{{ text_months_short_august }}', '{{ text_months_short_september }}', '{{ text_months_short_october }}', '{{ text_months_short_november }}', '{{ text_months_short_december }}'],
			weekdays: ['{{ text_weekdays_full_sunday }}', '{{ text_weekdays_full_monday }}', '{{ text_weekdays_full_tuesday }}', '{{ text_weekdays_full_wednesday }}', '{{ text_weekdays_full_thursday }}', '{{ text_weekdays_full_friday }}', '{{ text_weekdays_full_saturday }}'],
			weekdaysShort: ['{{ text_weekdays_short_sunday }}', '{{ text_weekdays_short_monday }}', '{{ text_weekdays_short_tuesday }}', '{{ text_weekdays_short_wednesday }}', '{{ text_weekdays_short_thursday }}', '{{ text_weekdays_short_friday }}', '{{ text_weekdays_short_saturday }}'],
			weekdaysAbbrev: ['{{ text_weekdays_short_sunday }}', '{{ text_weekdays_short_monday }}', '{{ text_weekdays_short_tuesday }}', '{{ text_weekdays_short_wednesday }}', '{{ text_weekdays_short_thursday }}', '{{ text_weekdays_short_friday }}', '{{ text_weekdays_short_saturday }}']
		}
	});

	$('.timepicker').timepicker({
		defaultTime: 'now',
		autoclose: true,
		i18n: {
			clear: '{{ button_datetime_clear }}',
			cancel: '{{ button_datetime_done }}',
			done: '{{ button_time_done }}',
			twelvehour: {{ twelve_hour }}
		}
	});

	var select = $('select'),
		selectCountry = $('#input-country'),
		selectZone = $('#input-zone'),
		postCode = $('#input-postcode');

	selectCountry.on('change', function() {
		$.ajax({
			url: 'index.php?route=account/account/country&country_id=' + this.value,
			dataType: 'json',
			success: function(json) {
				if (json['postcode_required'] == '1') {
					postCode.next().addClass('required');
				} else {
					postCode.next().removeClass('required');
				}
				html = '<option value="">{{ text_select }}</option>';
				if (json['zone'] && json['zone'] != '') {
					for (i = 0; i < json['zone'].length; i++) {
						html += '<option value="' + json['zone'][i]['zone_id'] + '"';
						if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
							html += ' selected="selected"';
						}
						html += '>' + json['zone'][i]['name'] + '</option>';
					}
				} else {
					html += '<option value="0" selected="selected">{{ text_none }}</option>';
				}
				selectZone.html(html);
				select.formSelect();
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
	selectCountry.trigger('change');
	select.formSelect();

	$('.switch input[type=\'checkbox\']').click(function() {
		$('#address-default').attr('value', ($('#address-default').attr('value')==0) ? '1' : '0');
	});
});
</script>
{% endspaceless %}
{{ footer }}