{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div class="col {{ main }} section href-underline">
				{{ content_top }}
				<form action="{{ action }}" method="post" enctype="multipart/form-data">
					<div class="card-panel">
						<div class="row">
							<div id="address" class="col s12">
								<h2>{{ text_my_affiliate }}</h2>
								<div class="input-field form-group">
									<input type="text" name="company" value="{{ company }}" id="input-company" class="validate">
									<label for="input-company" class="text-bold">{{ entry_company }}</label>
								</div>
								<div class="input-field form-group">
									<input type="text" name="website" value="{{ website }}" id="input-website" class="validate">
									<label for="input-website" class="text-bold">{{ entry_website }}</label>
								</div>
								<div class="input-field form-group">
									<input type="text" name="tax" value="{{ tax }}" id="input-tax" class="validate">
									<label for="input-tax" class="text-bold">{{ entry_tax }}</label>
								</div>
							</div>
							<div class="col s12">
								<div class="section form-group">
									<span class="text-bold">{{ text_payment }}</span>
									<ul>
										<li>
											<label for="payment-cheque-input">
												{% if payment == 'cheque' %}
												<input type="radio" name="payment" value="cheque" checked="checked" id="payment-cheque-input" class="with-gap">
												{% else %}
												<input type="radio" name="payment" value="cheque" id="payment-cheque-input" class="with-gap">
												{% endif %}
												<span>{{ text_cheque }}</span>
											</label>
										</li>
										<li>
											<label for="payment-paypal-input">
												{% if payment == 'paypal' %}
												<input type="radio" name="payment" value="paypal" checked="checked" id="payment-paypal-input" class="with-gap">
												{% else %}
												<input type="radio" name="payment" value="paypal" id="payment-paypal-input" class="with-gap">
												{% endif %}
												<span>{{ text_paypal }}</span>
											</label>
										</li>
										<li>
											<label for="payment-bank-input">
												{% if payment == 'bank' %}
												<input type="radio" name="payment" value="bank" checked="checked" id="payment-bank-input" class="with-gap">
												{% else %}
												<input type="radio" name="payment" value="bank" id="payment-bank-input" class="with-gap">
												{% endif %}
												<span>{{ text_bank }}</span>
											</label>
										</li>
									</ul>
								</div>
								<div class="input-field payment form-group" id="payment-cheque">
									<input type="text" name="cheque" value="{{ cheque }}" id="input-cheque" class="validate">
									<label for="input-cheque" class="text-bold required">{{ entry_cheque }}</label>
								</div>
								<div class="input-field payment" id="payment-paypal">
									<input type="text" name="paypal" value="{{ paypal }}" id="input-paypal" class="validate">
									<label for="input-paypal" class="text-bold required">{{ entry_paypal }}</label>
								</div>
								<div class="payment form-group" id="payment-bank">
									<div class="input-field">
										<input type="text" name="bank_name" value="{{ bank_name }}" id="input-bank-name" class="validate">
										<label for="input-bank-name" class="text-bold">{{ entry_bank_name }}</label>
									</div>
									<div class="input-field">
										<input type="text" name="bank_branch_number" value="{{ bank_branch_number }}" id="input-bank-branch-number" class="validate">
										<label for="input-bank-branch-number" class="text-bold">{{ entry_bank_branch_number }}</label>
									</div>
									<div class="input-field">
										<input type="text" name="bank_swift_code" value="{{ bank_swift_code }}" id="input-bank-swift-code" class="validate">
										<label for="input-bank-swift-code" class="text-bold">{{ entry_bank_swift_code }}</label>
									</div>
									<div class="input-field">
										<input type="text" name="bank_account_name" value="{{ bank_account_name }}" id="input-bank-account-name" class="validate">
										<label for="input-bank-account-name" class="required text-bold">{{ entry_bank_account_name }}</label>
									</div>
									<div class="input-field">
										<input type="text" name="bank_account_number" value="{{ bank_account_number }}" id="input-bank-account-number" class="validate">
										<label for="input-bank-account-number" class="required text-bold">{{ entry_bank_account_number }}</label>
									</div>
								</div>
							</div>
						</div>
						{% for custom_field in custom_fields %}
						{% if custom_field.location == 'affiliate' %}
						{% if custom_field.type == 'select' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<div class="input-field">
								<select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}">
									<option value="">{{ text_select }}</option>
									{% for custom_field_value in custom_field.custom_field_value %}
									{% if affiliate_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == affiliate_custom_field[custom_field.custom_field_id] %}
									<option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
									{% else %}
									<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
									{% endif %}
									{% endfor %}
								</select>
								<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							</div>
						</div>
						{% endif %}
						{% if custom_field.type == 'radio' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold {% if custom_field.required %} required{% endif %}">{{ custom_field.name }}</label>
							<ul>
								{% for custom_field_value in custom_field.custom_field_value %}
								<li>
									{% if affiliate_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == affiliate_custom_field[custom_field.custom_field_id] %}
									<label>
										<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="with-gap" checked="checked">
										<span>{{ custom_field_value.name }}</span>
									</label>
									{% else %}
									<label>
										<input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="with-gap">
										<span>{{ custom_field_value.name }}</span>
									</label>
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
						{% endif %}
						{% if custom_field.type == 'checkbox' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}">{{ custom_field.name }}</label>
							<ul>
								{% for custom_field_value in custom_field.custom_field_value %}
								<li>
									{% if affiliate_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in affiliate_custom_field[custom_field.custom_field_id] %}
									<label>
										<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="filled-in" checked="checked">
										<span>{{ custom_field_value.name }}</span>
									</label>
									{% else %}
									<label>
										<input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="filled-in">
										<span>{{ custom_field_value.name }}</span>
									</label>
									{% endif %}
								</li>
							{% endfor %}
							</ul>
						</div>
						{% endif %}
						{% if custom_field.type == 'text' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<div class="input-field">
								<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="validate">
								<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							</div>
						</div>
						{% endif %}
						{% if custom_field.type == 'textarea' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<div class="input-field">
								<textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="materialize-textarea">{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
								<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							</div>
						</div>
						{% endif %}
						{% if custom_field.type == 'file' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}">{{ custom_field.name }}</label>
							<div class="file-field input-field">
								<div id="button-custom-field{{ custom_field.custom_field_id }}" class="btn waves-effect waves-light blue-grey lighten-1"><i class="material-icons left">cloud_upload</i><span>{{ button_upload }}</span></div>
								<input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }} {% endif %}">
								<div class="file-path-wrapper"><input value="{{ custom_field.name }}" class="file-path validate" type="text"></div>
							</div>
						</div>
						{% endif %}
						{% if custom_field.type == 'date' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="datepicker">
						</div>
						{% endif %}
						{% if custom_field.type == 'time' %}
						<div class="section form-group custom-field" data-sort="{{ custom_field.sort_order }}">
							<label class="text-bold{% if custom_field.required %} required{% endif %}" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
							<input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if affiliate_custom_field[custom_field.custom_field_id] %}{{ affiliate_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="timepicker">
						</div>
						{% endif %}
						{% endif %}
						{% endfor %}
						{% if text_agree %}
						<div class="section">
							<label for="agreement-check">
								{% if agree %}
								<input type="checkbox" name="agree" value="1" checked="checked" id="agreement-check" class="filled-in">
								{% else %}
								<input type="checkbox" name="agree" value="1" id="agreement-check" class="filled-in">
								{% endif %}
								<span>{{ text_agree }}</span>
							</label>
						</div>
						{% endif %}
					</div>
					<div class="section flex-reverse">
						<button type="submit" class="btn waves-effect waves-light red">{{ button_continue }}</button>
					</div>
				</form>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if error_warning %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_warning }}', classes: 'toast-warning'});{% endif %}
	{% if error_cheque %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_cheque }}', classes: 'toast-warning'});{% endif %}
	{% if error_paypal %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_paypal }}', classes: 'toast-warning'});{% endif %}
	{% if error_bank_account_name %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_bank_account_name }}', classes: 'toast-warning'});{% endif %}
	{% if error_bank_account_number %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_bank_account_number }}', classes: 'toast-warning'});{% endif %}
	{% for custom_field in custom_fields %}
		{% if custom_field.location == 'affiliate' %}
			{% if error_custom_field[custom_field.custom_field_id] %}
			M.toast({html: '<i class="material-icons left">warning</i>{{ error_custom_field[custom_field.custom_field_id] }}', classes: 'toast-warning'});
			{% endif %}
		{% endif %}
	{% endfor %}

	$('div[id^=\'button-custom-field\']').on('click', function() {
		var node = this;

		$('#form-upload').remove();

		$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display:none;"><input type="file" name="file"></form><div id="modal-loading" class="modal"><div class="modal-content"><div class="row valign-wrapper"><div class="col s4 m3 center"><div class="preloader-wrapper active"><div class="spinner-layer spinner-blue"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div><div class="spinner-layer spinner-red"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div><div class="spinner-layer spinner-yellow"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div><div class="spinner-layer spinner-green"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div><div class="col s10 m9"><p id="loading-text" class="flow-text text-bold">{{ text_loading }}</p></div></div></div></div>');

		$('#form-upload input[name=\'file\']').trigger('click');

		if (typeof timer != 'undefined') {
			clearInterval(timer);
		}

		timer = setInterval(function() {
			if ($('#form-upload input[name=\'file\']').val() != '') {
				clearInterval(timer);

				$('#modal-loading').modal({
					dismissible: false,
					opacity: .7,
					endingTop: '40%',
				}).modal('open');

				$.ajax({
					url: 'index.php?route=tool/upload',
					type: 'post',
					dataType: 'json',
					data: new FormData($('#form-upload')[0]),
					cache: false,
					contentType: false,
					processData: false,
					success: function(json) {
						if (json['error']) {
							$('#modal-loading').modal('close').remove();
							M.toast({html: '<i class="material-icons left">warning</i>' + json["error"], classes: 'toast-warning'});
						}

						if (json['success']) {
							$('#modal-loading').modal('close').remove();
							M.toast({html: '<i class="material-icons left">check</i>' + json["success"], classes: 'toast-success'});

							$(node).parent().find('input').val(json['code']);
						}
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
		}, 500);
	});

	$('.datepicker').datepicker({
		format: 'yyyy-mm-dd',
		firstDay: {{ first_day }},
		i18n: {
			clear: '{{ button_datetime_clear }}',
			today: '{{ button_date_today }}',
			done: '{{ button_datetime_done }}',
			months: ['{{ text_months_full_january }}', '{{ text_months_full_february }}', '{{ text_months_full_march }}', '{{ text_months_full_april }}', '{{ text_months_full_may }}', '{{ text_months_full_june }}', '{{ text_months_full_july }}', '{{ text_months_full_august }}', '{{ text_months_full_september }}', '{{ text_months_full_october }}', '{{ text_months_full_november }}', '{{ text_months_full_december }}'],
			monthsShort: ['{{ text_months_short_january }}', '{{ text_months_short_february }}', '{{ text_months_short_march }}', '{{ text_months_short_april }}', '{{ text_months_short_may }}', '{{ text_months_short_june }}', '{{ text_months_short_july }}', '{{ text_months_short_august }}', '{{ text_months_short_september }}', '{{ text_months_short_october }}', '{{ text_months_short_november }}', '{{ text_months_short_december }}'],
			weekdays: ['{{ text_weekdays_full_sunday }}', '{{ text_weekdays_full_monday }}', '{{ text_weekdays_full_tuesday }}', '{{ text_weekdays_full_wednesday }}', '{{ text_weekdays_full_thursday }}', '{{ text_weekdays_full_friday }}', '{{ text_weekdays_full_saturday }}'],
			weekdaysShort: ['{{ text_weekdays_short_sunday }}', '{{ text_weekdays_short_monday }}', '{{ text_weekdays_short_tuesday }}', '{{ text_weekdays_short_wednesday }}', '{{ text_weekdays_short_thursday }}', '{{ text_weekdays_short_friday }}', '{{ text_weekdays_short_saturday }}'],
			weekdaysAbbrev: ['{{ text_weekdays_short_sunday }}', '{{ text_weekdays_short_monday }}', '{{ text_weekdays_short_tuesday }}', '{{ text_weekdays_short_wednesday }}', '{{ text_weekdays_short_thursday }}', '{{ text_weekdays_short_friday }}', '{{ text_weekdays_short_saturday }}']
		}
	});

	$('.timepicker').timepicker({
		defaultTime: 'now',
		autoclose: true,
		i18n: {
			clear: '{{ button_datetime_clear }}',
			cancel: '{{ button_datetime_done }}',
			done: '{{ button_time_done }}',
			twelvehour: {{ twelve_hour }}
		}
	});

	$('input[name=\'payment\']').on('change', function() {
		$('.payment').hide();
		$('#payment-' + this.value).show();
	});
	$('input[name=\'payment\']:checked').trigger('change');
});
</script>
{% endspaceless %}
{{ footer }}