{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
					{% if downloads %}
					{% for download in downloads %}
					<div class="card horizontal">
						<div class="card-image">
							<a href="{{ download.href }}" class="tooltipped" data-position="top" data-delay="50" data-tooltip="{{ button_download }}"><img src="{{ img_loader }}" data-src="catalog/view/theme/materialize/image/download-icon.png" class="lazyload" width="75" height="75"></a>
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<a href="{{ download.href }}" class="text-bold">{{ download.name }}</a>
								<br>
								<span class="text-bold">{{ column_order_id }}:</span>&nbsp;{{ download.order_id }}
								<br>
								<span class="text-bold">{{ column_size }}:</span>&nbsp;{{ download.size }}
								<br>
								<span class="text-bold">{{ column_date_added }}:</span>&nbsp;{{ download.date_added }}
							</div>
						</div>
					</div>
					{% endfor %}
					{{ pagination }}
					{% else %}
					<div class="card-panel">
						<p>{{ text_empty }}</p>
					</div>
					{% endif %}
					<a href="{{ continue }}" class="btn-flat waves-effect waves-light href-underline">{{ button_back }}</a>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
{% endspaceless %}
{{ footer }}