{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
				<div class="card-panel">
					{% if recurrings %}
					<table class="highlight responsive-table">
						<thead>
							<tr>
								<th>{{ column_order_recurring_id }}</th>
								<th>{{ column_product }}</th>
								<th>{{ column_status }}</th>
								<th>{{ column_date_added }}</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{% for recurring in recurrings %}
							<tr>
								<td>#{{ recurring.order_recurring_id }}</td>
								<td>{{ recurring.product }}</td>
								<td>{{ recurring.status }}</td>
								<td>{{ recurring.date_added }}</td>
								<td><a href="{{ recurring.view }}" title="{{ button_view }}" class="btn waves-effect waves-light blue"><i class="material-icons">remove_red_eye</i></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{{ pagination }}
					{% else %}
						<p>{{ text_empty }}</p>
					{% endif %}
				</div>
				<a href="{{ continue }}" class="btn-flat waves-effect waves-light href-underline">{{ button_back }}</a>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
{% endspaceless %}
{{ footer }}