{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
				<form action="{{ action }}" method="post" enctype="multipart/form-data">
					<div class="card-panel">
						<h2>{{ text_order }}</h2>
						{{ text_description }}
						<div class="row">
							<div class="input-field col s12 l6">
								<i class="material-icons prefix">account_circle</i>
								<input type="text" name="firstname" value="{{ firstname }}" id="input-firstname" class="validate">
								<label for="input-firstname" class="text-bold">{{ entry_firstname }}</label>
							</div>
							<div class="input-field col s12 l6">
								<i class="material-icons prefix">account_circle</i>
								<input type="text" name="lastname" value="{{ lastname }}" id="input-lastname" class="validate">
								<label for="input-lastname" class="text-bold">{{ entry_lastname }}</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 l6">
								<i class="material-icons prefix">phone</i>
								<input type="text" name="telephone" value="{{ telephone }}" id="input-telephone" class="fvalidate">
								<label for="input-telephone" class="text-bold">{{ entry_telephone }}</label>
							</div>
							<div class="input-field col s12 l6">
								<i class="material-icons prefix">email</i>
								<input type="text" name="email" value="{{ email }}" id="input-email" class="validate">
								<label for="input-email" class="text-bold">{{ entry_email }}</label>
								<span class="helper-text" data-error="{{ text_email_error }}" data-success="{{ text_email_success }}"></span>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 l6">
								<i class="material-icons prefix">info</i>
								<input type="text" name="order_id" value="{{ order_id }}" id="input-order-id" class="validate">
								<label for="input-order-id" class="text-bold">{{ entry_order_id }}</label>
							</div>
							<div class="input-field col s12 l6">
								<i class="material-icons prefix">date_range</i>
								<input type="text" name="date_ordered" value="{{ date_ordered }}" id="input-date-ordered" class="datepicker">
								<label for="input-date-ordered" class="text-bold">{{ entry_date_ordered }}</label>
							</div>
						</div>
						<p class="text-bold">{{ text_product }}</p>
						<div class="row">
							<div class="input-field col s12 l6">
								<input type="text" name="product" value="{{ product }}" id="input-product" class="validate">
								<label for="input-product" class="text-bold">{{ entry_product }}</label>
							</div>
							<div class="input-field col s12 l6">
								<input type="text" name="model" value="{{ model }}"  id="input-model" class="validate">
								<label for="input-model" class="text-bold">{{ entry_model }}</label>
							</div>
							<div class="input-field col s12">
								<input type="text" name="quantity" value="{{ quantity }}" id="input-quantity" class="validate">
								<label for="input-quantity" class="text-bold">{{ entry_quantity }}</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<p class="text-bold">{{ entry_reason }}</p>
								<ul>
									{% for return_reason in return_reasons %}
									<li>
										{% if return_reason.return_reason_id == return_reason_id %}
										<label for="{{ return_reason.return_reason_id }}">
											<input id="{{ return_reason.return_reason_id }}" class="with-gap" type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}" checked="checked">
											<span>{{ return_reason.name }}</span>
										</label>
										{% else %}
										<label for="{{ return_reason.return_reason_id }}">
											<input id="{{ return_reason.return_reason_id }}" class="with-gap" type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}">
											<span>{{ return_reason.name }}</span>
										</label>
										{% endif %}
									</li>
									{% endfor %}
								</ul>
							</div>
							<div class="input-field col s12">
								<p class="text-bold">{{ entry_opened }}</p>
								<ul>
									<li>
										<label for="radio-opened">
											{% if opened %}
											<input class="with-gap" id="radio-opened" type="radio" name="opened" value="1" checked="checked">
											{% else %}
											<input class="with-gap" id="radio-opened" type="radio" name="opened" value="1">
											{% endif %}
											<span>{{ text_yes }}</span>
										</label>
									</li>
									<li>
										<label for="radio-not-opened">
											{% if not opened %}
											<input class="with-gap" id="radio-not-opened" type="radio" name="opened" value="0" checked="checked">
											{% else %}
											<input class="with-gap" id="radio-not-opened" type="radio" name="opened" value="0">
											{% endif %}
											<span>{{ text_no }}</span>
										</label>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<label for="input-comment" class="text-bold">{{ entry_fault_detail }}</label>
								<textarea name="comment" id="input-comment" class="materialize-textarea">{{ comment }}</textarea>
							</div>
						</div>
						{{ captcha }}
						{% if text_agree %}
						<div class="row">
							<div class="col s12">
								<label for="text-agree">
									{% if agree %}
									<input type="checkbox" name="agree" value="1" class="filled-in" id="text-agree" checked="checked">
									{% else %}
									<input type="checkbox" name="agree" value="1" class="filled-in" id="text-agree">
									{% endif %}
									<span>{{ text_agree }}</span>
								</label>
							</div>
						</div>
						{% endif %}
					</div>
					<div class="row">
						<div class="col s6">
							<a href="{{ back }}" class="btn-flat waves-effect waves-light href-underline">{{ button_back }}</a>
						</div>
						<div class="col s6">
							<div class="flex-reverse no-padding">
								<button type="submit" value="{{ button_continue }}" class="btn waves-effect waves-light red">{{ button_continue }}</button>
							</div>
						</div>
					</div>
				</form>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if error_warning %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_warning }}', classes: 'toast-warning'});{% endif %}
	{% if error_firstname %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_firstname }}', classes: 'toast-warning'});{% endif %}
	{% if error_lastname %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_lastname }}', classes: 'toast-warning'});{% endif %}
	{% if error_telephone %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_telephone }}', classes: 'toast-warning'});{% endif %}
	{% if error_email %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_email }}', classes: 'toast-warning'});{% endif %}
	{% if error_order_id %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_order_id }}', classes: 'toast-warning'});{% endif %}
	{% if error_product %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_product }}', classes: 'toast-warning'});{% endif %}
	{% if error_model %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_model }}', classes: 'toast-warning'});{% endif %}
	{% if error_reason %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_reason }}', classes: 'toast-warning'});{% endif %}
	$('.datepicker').datepicker({
		format: 'yyyy-mm-dd',
		firstDay: {{ first_day }},
		i18n: {
			clear: '{{ button_datetime_clear }}',
			today: '{{ button_date_today }}',
			done: '{{ button_datetime_done }}',
			months: ['{{ text_months_full_january }}', '{{ text_months_full_february }}', '{{ text_months_full_march }}', '{{ text_months_full_april }}', '{{ text_months_full_may }}', '{{ text_months_full_june }}', '{{ text_months_full_july }}', '{{ text_months_full_august }}', '{{ text_months_full_september }}', '{{ text_months_full_october }}', '{{ text_months_full_november }}', '{{ text_months_full_december }}'],
			monthsShort: ['{{ text_months_short_january }}', '{{ text_months_short_february }}', '{{ text_months_short_march }}', '{{ text_months_short_april }}', '{{ text_months_short_may }}', '{{ text_months_short_june }}', '{{ text_months_short_july }}', '{{ text_months_short_august }}', '{{ text_months_short_september }}', '{{ text_months_short_october }}', '{{ text_months_short_november }}', '{{ text_months_short_december }}'],
			weekdays: ['{{ text_weekdays_full_sunday }}', '{{ text_weekdays_full_monday }}', '{{ text_weekdays_full_tuesday }}', '{{ text_weekdays_full_wednesday }}', '{{ text_weekdays_full_thursday }}', '{{ text_weekdays_full_friday }}', '{{ text_weekdays_full_saturday }}'],
			weekdaysShort: ['{{ text_weekdays_short_sunday }}', '{{ text_weekdays_short_monday }}', '{{ text_weekdays_short_tuesday }}', '{{ text_weekdays_short_wednesday }}', '{{ text_weekdays_short_thursday }}', '{{ text_weekdays_short_friday }}', '{{ text_weekdays_short_saturday }}'],
			weekdaysAbbrev: ['{{ text_weekdays_short_sunday }}', '{{ text_weekdays_short_monday }}', '{{ text_weekdays_short_tuesday }}', '{{ text_weekdays_short_wednesday }}', '{{ text_weekdays_short_thursday }}', '{{ text_weekdays_short_friday }}', '{{ text_weekdays_short_saturday }}']
		}
	});
});
</script>
{% endspaceless %}
{{ footer }}