{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
				<form action="{{ action }}" method="post" enctype="multipart/form-data">
					<div class="card-panel">
						<p>{{ text_description }}</p>
						<div class="section">
							<div class="input-field">
								<textarea id="input-code" placeholder="{{ entry_code }}" class="materialize-textarea">{{ code }}</textarea>
								<label class="text-bold" for="input-code">{{ entry_code }}</label>
							</div>
							<div class="input-field">
								<input type="text" name="product" value="" placeholder="{{ entry_generator }}" id="input-generator" class="autocomplete">
								<label class="text-bold tooltipped" for="input-generator" data-position="top" data-tooltip="{{ help_generator }}">{{ entry_generator }}</label>
							</div>
							<div class="input-field">
								<textarea id="input-link" name="link" placeholder="{{ entry_link }}" raws="10" class="materialize-textarea"></textarea>
								<label class="text-bold" for="input-link">{{ entry_link }}</label>
							</div>
						</div>
					</div>
					<div class="flex-reverse href-underline">
						<a href="{{ continue }}" class="btn waves-effect waves-light red">{{ button_continue }}</a>
					</div>
				</form>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	$(document).ready(function() {
		$('input[name=\'product\']').autocomplete({
			'source': function(request, response) {
				$.ajax({
					url: 'index.php?route=account/tracking/autocomplete&filter_name=' +  encodeURIComponent(request) + '&tracking=' + encodeURIComponent($('#input-code').val()),
					dataType: 'json',
					success: function(json) {
						response($.map(json, function(item) {
							return {
								label: item['name'],
								img: item['img'],
								value: item['link']
							}
						}));
					}
				});
			},
			'select': function(item) {
				$('input[name=\'product\']').val(item['label']);
				$('textarea[name=\'link\']').val(item['value']);
				M.textareaAutoResize($('textarea[name=\'link\']'));
			}
		});
	});
});
</script>
{% endspaceless %}
{{ footer }}