{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
				{% if products %}
					{% for product in products %}
					<div class="card horizontal">
						<div class="card-image">
							<div>
								{% if product.thumb %}
									<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" width="75" height="75"></a>
								{% endif %}
							</div>
						</div>
						<div class="card-stacked">
							<a href="{{ product.remove }}" title="{{ button_remove }}" class="btn-floating waves-effect transparent z-depth-0 remove-item"><i class="material-icons black-text">close</i></a>
							<div class="card-content">
								<a class="text-bold" href="{{ product.href }}">{{ product.name }}</a>
								<br>
								<span class="text-bold">{{ column_price }}: </span>{% if product.price %}{% if not product.special %}{{ product.price }}{% else %}<b>{{ product.special }}</b> <s>{{ product.price }}</s>{% endif %}{% endif %}
								<br>
								<span class="text-bold">{{ column_stock }}: </span>{{ product.stock }}
								<br><br>
								<button type="button" onclick="cart.add('{{ product.product_id }}');" title="{{ button_cart }}" class="btn waves-effect waves-light red"><i class="material-icons left">add_shopping_cart</i>{{ button_cart }}</button>
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
					<div class="card-panel">
						<p>{{ text_empty }}</p>
					</div>
				{% endif %}
				<a href="{{ continue }}" class="btn-flat waves-effect waves-light href-underline">{{ button_back }}</a>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if success %}M.toast({html: '<i class="material-icons left">check</i>{{ success }}', classes: 'toast-success'});{% endif %}
});
</script>
{% endspaceless %}
{{ footer }}