<form action="{{ action }}" method="post">
	<input type="hidden" name="operation_xml" value="{{ xml }}">
	<input type="hidden" name="signature" value="{{ signature }}">
	<div class="flex-reverse">
		<button type="submit" value="{{ button_confirm }}" class="btn waves-effect waves-light red">{{ button_confirm }}</button>
	</div>
</form>