{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="submit" form="form-theme" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-theme">
			{% if error_warning %}
				<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
					<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
			{% endif %}
			{#<i class="fas fa-pencil-alt"></i> {{ text_edit }}#}
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<div class="card">
						<div class="card-header">
							<ul class="nav nav-tabs card-header-tabs" style="margin-bottom: -0.75rem;">
								<li class="nav-item"><a href="#tab-common" data-toggle="tab" class="nav-link">{{ text_general }}</a></li>
								<li class="nav-item"><a href="#tab-product" data-toggle="tab" class="nav-link">{{ text_product }}</a></li>
								<li class="nav-item"><a href="#tab-image" data-toggle="tab" class="nav-link active">{{ text_image }}</a></li>
							</ul>
						</div>
						<div class="card-body">
							<div class="tab-content">
								<div class="tab-pane" id="tab-common">
									<div class="row">
										<div class="col-3">
											<div class="nav flex-column nav-pills">
												<a class="nav-link active" data-toggle="pill" href="#tab-common__header">Шапка</a> <!-- todo-materialize Must be placed in a language variable -->
												<a class="nav-link" data-toggle="pill" href="#tab-common__footer">Футер</a> <!-- todo-materialize Must be placed in a language variable -->
												<a class="nav-link" data-toggle="pill" href="#tab-common__favicon">Фавикон</a> <!-- todo-materialize Must be placed in a language variable -->
												<a class="nav-link" data-toggle="pill" href="#tab-common__social-networks">Социальные сети</a> <!-- todo-materialize Must be placed in a language variable -->
												<a class="nav-link" data-toggle="pill" href="#tab-common__adult-content">Взрослый контент</a> <!-- todo-materialize Must be placed in a language variable -->
												<a class="nav-link" data-toggle="pill" href="#tab-common__optimizationt">Оптимизация</a> <!-- todo-materialize Must be placed in a language variable -->
												<a class="nav-link" data-toggle="pill" href="#tab-common__404">404 страница не найдена</a> <!-- todo-materialize Must be placed in a language variable -->
											</div>
										</div>
										<div class="col-9">
											<div class="tab-content">
												<div class="tab-pane fade show active" id="tab-common__header">
													<ul class="list-group">
														<li class="list-group-item">
															<div class="media">
																<div class="media-body">
																	<h5 class="font-weight-bold mt-0 mb-1">Показывать телефон</h5> <!-- todo-materialize Must be placed in a language variable -->
																	<p>В шапке сайта будет показываться основной телефон интернет магазина.</p> <!-- todo-materialize Must be placed in a language variable -->
																</div>
																<div class="pure-css-switch align-self-center">
																	<label>
																		<input class="simple-switch-input" type="checkbox" checked="checked"><span class="simple-switch dark"></span>
																	</label>
																</div>
															</div>
														</li>
														<li class="list-group-item">
															<div class="media">
																<div class="media-body">
																	<h5 class="font-weight-bold mt-0 mb-1">Показывать e-mail</h5> <!-- todo-materialize Must be placed in a language variable -->
																	<p>В шапке сайта будет показываться основной e-mail интернет магазина.</p> <!-- todo-materialize Must be placed in a language variable -->
																</div>
																<div class="pure-css-switch align-self-center">
																	<label>
																		<input class="simple-switch-input" type="checkbox" checked="checked"><span class="simple-switch dark"></span>
																	</label>
																</div>
															</div>
														</li>
														<li class="list-group-item">
															<div class="media">
																<div class="media-body">
																	<h5 class="font-weight-bold mt-0 mb-1">Показывать время работы</h5> <!-- todo-materialize Must be placed in a language variable -->
																	<p>В шапке сайта будет показываться время работы интернет магазина.</p> <!-- todo-materialize Must be placed in a language variable -->
																</div>
																<div class="pure-css-switch align-self-center">
																	<label>
																		<input class="simple-switch-input" type="checkbox" checked="checked"><span class="simple-switch dark"></span>
																	</label>
																</div>
															</div>
														</li>
														<li class="list-group-item">
															<div class="media">
																<div class="media-body">
																	<h5 class="font-weight-bold mt-0 mb-1">3 уровень категорий</h5> <!-- todo-materialize Must be placed in a language variable -->
																	<p>Показывать 3 уровень категорий в стандартном меню категорий. Может вызвать снижение скорости загрузки сайта.</p> <!-- todo-materialize Must be placed in a language variable -->
																</div>
																<div class="pure-css-switch align-self-center">
																	<label>
																		<input class="simple-switch-input" type="checkbox" checked="checked"><span class="simple-switch dark"></span>
																	</label>
																</div>
															</div>
														</li>
													</ul>
												</div>
												<div class="tab-pane fade" id="tab-common__footer">...</div>
												<div class="tab-pane fade" id="tab-common__favicon">...</div>
												<div class="tab-pane fade" id="tab-common__social-networks">...</div>
												<div class="tab-pane fade" id="tab-common__adult-content">...</div>
												<div class="tab-pane fade" id="tab-common__optimization">...</div>
												<div class="tab-pane fade" id="tab-common__404">...</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-product">
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-catalog-limit">{{ entry_product_limit }}</label>
										<div class="col-sm-10">
											<input type="text" name="theme_mt_materialize_product_limit" value="{{ theme_mt_materialize_product_limit }}" placeholder="{{ entry_product_limit }}" id="input-catalog-limit" class="form-control"/>
											<small class="form-text text-muted">{{ help_product_limit }}</small>
											{% if error_product_limit %}
												<div class="invalid-tooltip">{{ error_product_limit }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-description-limit">{{ entry_product_description_length }}</label>
										<div class="col-sm-10">
											<input type="text" name="theme_mt_materialize_product_description_length" value="{{ theme_mt_materialize_product_description_length }}" placeholder="{{ entry_product_description_length }}" id="input-description-limit" class="form-control"/>
											<small class="form-text text-muted">{{ help_product_description_length }}</small>
											{% if error_product_description_length %}
												<div class="invalid-tooltip">{{ error_product_description_length }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label" for="product-show-fields">Show fields</label> <!-- todo-materialize Must be placed in a language variable -->
										<div class="col-sm-10">
											<select name="theme_mt_materialize_produdcts[fields][]" class="form-control" id="product-show-fields" multiple="multiple">
												{% for field in produdct_fields %}
													<option value="{{ field.value }}" {{ field.selected }}>{{ field.text }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="tab-pane active" id="tab-image">
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-category-width">{{ entry_image_category }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_category_width" value="{{ theme_mt_materialize_image_category_width }}" placeholder="{{ entry_width }}" id="input-image-category-width" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_category_height" value="{{ theme_mt_materialize_image_category_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_category %}
												<div class="invalid-tooltip">{{ error_image_category }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-thumb-width">{{ entry_image_thumb }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_thumb_width" value="{{ theme_mt_materialize_image_thumb_width }}" placeholder="{{ entry_width }}" id="input-image-thumb-width" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_thumb_height" value="{{ theme_mt_materialize_image_thumb_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_thumb %}
												<div class="invalid-tooltip">{{ error_image_thumb }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-popup-width">{{ entry_image_popup }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_popup_width" value="{{ theme_mt_materialize_image_popup_width }}" placeholder="{{ entry_width }}" id="input-image-popup-width" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_popup_height" value="{{ theme_mt_materialize_image_popup_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_popup %}
												<div class="invalid-tooltip">{{ error_image_popup }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-product-width">{{ entry_image_product }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_product_width" value="{{ theme_mt_materialize_image_product_width }}" placeholder="{{ entry_width }}" id="input-image-product-width" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_product_height" value="{{ theme_mt_materialize_image_product_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_product %}
												<div class="invalid-tooltip">{{ error_image_product }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-additional-width">{{ entry_image_additional }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_additional_width" value="{{ theme_mt_materialize_image_additional_width }}" placeholder="{{ entry_width }}" id="input-image-additional-width" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_additional_height" value="{{ theme_mt_materialize_image_additional_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_additional %}
												<div class="invalid-tooltip">{{ error_image_additional }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-related">{{ entry_image_related }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_related_width" value="{{ theme_mt_materialize_image_related_width }}" placeholder="{{ entry_width }}" id="input-image-related" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_related_height" value="{{ theme_mt_materialize_image_related_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_related %}
												<div class="invalid-tooltip">{{ error_image_related }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-compare">{{ entry_image_compare }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_compare_width" value="{{ theme_mt_materialize_image_compare_width }}" placeholder="{{ entry_width }}" id="input-image-compare" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_compare_height" value="{{ theme_mt_materialize_image_compare_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_compare %}
												<div class="invalid-tooltip">{{ error_image_compare }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-wishlist">{{ entry_image_wishlist }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_wishlist_width" value="{{ theme_mt_materialize_image_wishlist_width }}" placeholder="{{ entry_width }}" id="input-image-wishlist" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_wishlist_height" value="{{ theme_mt_materialize_image_wishlist_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_wishlist %}
												<div class="invalid-tooltip">{{ error_image_wishlist }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-cart">{{ entry_image_cart }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_cart_width" value="{{ theme_mt_materialize_image_cart_width }}" placeholder="{{ entry_width }}" id="input-image-cart" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_cart_height" value="{{ theme_mt_materialize_image_cart_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_cart %}
												<div class="invalid-tooltip">{{ error_image_cart }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group row required">
										<label class="col-sm-2 col-form-label" for="input-image-location">{{ entry_image_location }}</label>
										<div class="col-sm-10">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_location_width" value="{{ theme_mt_materialize_image_location_width }}" placeholder="{{ entry_width }}" id="input-image-location" class="form-control"/>
												</div>
												<div class="col-sm-6">
													<input type="text" name="theme_mt_materialize_image_location_height" value="{{ theme_mt_materialize_image_location_height }}" placeholder="{{ entry_height }}" class="form-control"/>
												</div>
											</div>
											{% if error_image_location %}
												<div class="invalid-tooltip">{{ error_image_location }}</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer text-center">Materialize 2017 - 2018</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-3">
					<div class="card">
						<div class="card-header">{{ entry_status }}</div>
						<div class="card-body">
							<select name="theme_mt_materialize_status" id="input-status" class="form-control">
								{% if theme_mt_materialize_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
						<div class="card-footer"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	$('select[multiple=\'multiple\']').bsMultiSelect({
		useCss: true
	});
</script>
{{ footer }}