<h5>Посты</h5>
<div class="mt-card">
	<div class="mt-card__header">
	</div>
	<table class="mt-table highlight">
		<thead>
			<tr>
				<th>
					<div class="test">
						<label>
							<input type="checkbox" id="main-table-checkbox" class="filled-in">
							<span></span>
						</label>
					</div>
				</th>
				{#<th class="center" style="width: 80px;">{{ column_image }}</th>#}
				<th>{{ column_post }}</th>
				<th>{{ column_author }}</th>
				<th>{{ column_category }}</th>
				<th>{{ column_comment }}</th>
				<th>{{ column_data }}</th>
			</tr>
		</thead>
		<tbody>
			{% if posts %}
				{% for post in posts %}
					<tr>
						<td>
							<div class="test">
								<label>
									<input type="checkbox" name="selected[]" value="{{ post.post_id }}" class="filled-in">
									<span></span>
								</label>
							</div>
						</td>
						{#<td class="center"><img src="{{ placeholder }}" alt="{{ post.name }}" class="img-thumbnail"></td>#}
						<td>
							<div class="row valign-wrapper">
								<div class="col-2"><img src="{{ placeholder }}" alt="{{ post.name }}"></div>
								<div class="col-10"><a href="#!" class="grey-text text-darken-4 title">{{ post.name }}</a></div>
							</div>
							{#{% if post.status == 0 %}
								<span class="nt-badge blue-grey lighten-1 mt-2">{{ text_draft }}</span>
							{% elseif post.status == 1 %}
								<span class="nt-badge green mt-2">{{ text_published }}</span>
							{% else %}
								<span class="nt-badge orange mt-2">{{ text_pending_review }}</span>
							{% endif %}#}
						</td>
						<td>{{ post.author }}</td>
						<td>Category</td>
						<td>3</td>
						<td>{{ post.date_added }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
	<div class="mt-card-action">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, nulla, sequi. Enim facilis ipsum molestias nulla odio qui velit voluptas, voluptate! A blanditiis magnam nesciunt odio repudiandae sint veniam voluptatum.</p>
	</div>
</div>
<script>
	let tableRows = $('table tbody tr'),
		mainTableCheckbox = $('#main-table-checkbox'),
		tableCheckboxes = $('tbody td input[type=\'checkbox\']');

	mainTableCheckbox.on('click', function() {
		mainTableCheckbox.addClass('filled-in');

		if (mainTableCheckbox.prop('checked')) {
			tableCheckboxes.prop('checked', true);
			tableRows.addClass('active');
		} else {
			tableCheckboxes.prop('checked', false);
			tableRows.removeClass('active');
		}
	});

	tableCheckboxes.change(function() {
		let allCheckboxChecked = [],
			oneCheckboxChecked = false;

		tableCheckboxes.each(function(index, element) {
			if ($(element).prop('checked')) {
				oneCheckboxChecked = true;
				allCheckboxChecked.push(true);
				$(element).parent().parent().parent().addClass('active');
				$('table thead tr').addClass('active');
			} else {
				$(element).parent().parent().parent().removeClass('active');
			}
		});

		if (allCheckboxChecked.length === tableCheckboxes.length) {
			mainTableCheckbox.addClass('filled-in').prop({
				'checked': true,
				'indeterminate': false
			});
		} else if (oneCheckboxChecked) {
			mainTableCheckbox.prop({
				'checked': false,
				'indeterminate': true
			}).removeClass('filled-in');
		} else if (allCheckboxChecked.length === 0) {
			mainTableCheckbox.addClass('filled-in').prop({
				'checked': false,
				'indeterminate': false
			});
			$('table thead tr').removeClass('active');
		} else {
			mainTableCheckbox.addClass('filled-in').prop({
				'checked': true,
				'indeterminate': false
			});
		}
	});
</script>