<div id="post-form">
	<h5>{{ text_common }}</h5>
	<div class="mt-card-panel mb-5">
		<div class="row">
			<div class="col-sm-12 col-md-8 col-lg-9">
				<ul class="tabs">
					{% for language in languages %}
						<li class="tab"><a class="font-weight-normal waves-effect waves-blue" href="#post-description-{{ language.language_id }}">{{ language.name }}</a></li>
					{% endfor %}
				</ul>
				{% for language in languages %}
					<div id="post-description-{{ language.language_id }}" class="pt-4">
						<div class="input-field mb-5">
							<input id="post-name-{{ language.language_id }}" type="text" name="post[description][{{ language.language_id }}][name]" value="{{ post_description[language.language_id] ? post_description[language.language_id].name }}" class="validate" data-length="255">
							<label for="post-name-{{ language.language_id }}" class="required">{{ entry_name }}</label>
							<span id="post-name-helper-{{ language.language_id }}" class="helper-text">{{ error_name }}</span>
						</div>
						<div class="input-field mb-5">
							<textarea id="post-announcement" class="materialize-textarea" name="post[description][{{ language.language_id }}][announcement]" data-length="255">{{ post_description[language.language_id] ? post_description[language.language_id].announcement }}</textarea>
							<label for="post-announcement">{{ entry_announcement }}</label>
							<span id="post-announcement-helper-{{ language.language_id }}" class="helper-text">{{ error_announcement }}</span>
						</div>
						<label class="w-100 mt-5">
							<textarea id="post-description-{{ language.language_id }}" name="post[description][{{ language.language_id }}][description]" data-toggle="ckeditor" data-lang="{{ ckeditor }}">{{ post_description[language.language_id] ? post_description[language.language_id].description }}</textarea>
						</label>
					</div>
				{% endfor %}
			</div>
			<div class="col-sm-12 col-md-4 col-lg-3">
				<div class="post-image">
					<button type="button" id="post-image-edit" class="post-image__control mt-btn-flat waves-effect waves-circle dropdown-trigger" data-target="post-image-dropdown"><i class="material-icons">more_vert</i></button>
					<ul id="post-image-dropdown" class="dropdown-content">
						<li class="waves-effect"><a data-toggle="mt-image" data-target="#input-post-image" data-thumb="#post-thumb"><i class="material-icons">add_a_photo</i> {{ button_edit }}</a></li>
						<li class="waves-effect"><a data-toggle="mt-clear" data-target="#input-post-image" data-thumb="#post-thumb"><i class="material-icons left">close</i> {{ button_clear }}</a></li>
					</ul>
					<img id="post-thumb" src="{{ placeholder }}" data-placeholder="{{ placeholder }}" class="img-fluid mx-auto d-block" alt="">
					<input type="hidden" name="post[image]" value="{{ image }}" id="input-post-image">
				</div>
				<div class="input-field">
					<i class="material-icons prefix">toggle_on</i>
					<select id="post-status" name="post[status]">
						<option value="0"{{ status == '0' ? ' selected="selected"' }}>{{ text_draft }}</option>
						<option value="1"{{ status == '1' ? ' selected="selected"' }}>{{ text_published }}</option>
						<option value="2"{{ status == '2' ? ' selected="selected"' }}>{{ text_pending_review }}</option>
					</select>
					<label for="post-status">{{ entry_status }}</label>
				</div>
				<div class="input-field mt-4">
					<i class="material-icons prefix">person</i>
					<select id="post-author" name="post[author_id]">
						<option value="{{ user.user_id }}"{% if user.image %} data-icon="{{ user.image }}"{% endif %}>{{ user.name }}</option>
					</select>
					<label for="post-author">{{ entry_author }}</label>
				</div>
				{% if blog_categories %}
					<div class="input-field mt-4">
						<i class="material-icons">developer_board</i>
						<select id="post-main-category" name="post[main_category_id]">
							<option value="{{ main_category.blog_category_id }}"{% if main_category.image %} data-icon="{{ main_category.image }}"{% endif %}>{{ main_category.name }}</option>
						</select>
						<label for="post-main-category">{{ entry_main_category }}</label>
					</div>
				{% endif %}
				<div class="input-field mt-4">
					<i class="material-icons prefix">sort</i>
					<input id="post-sort-order" type="text" name="post[sort_order]" value="{{ sort_order }}">
					<label for="post-sort-order">{{ entry_sort_order }}</label>
				</div>
				<div class="input-field mt-4">
					<i class="material-icons prefix">visibility</i>
					<input id="post-viewed" type="text" name="post[viewed]" value="{{ viewed }}">
					<label for="post-viewed">{{ entry_views }}</label>
				</div>
			</div>
			<div class="col-sm-12 mt-4">
				<div class="row">
					<div class="col-sm-12"><h6>Дата начала публикации</h6></div>
					<div class="col-sm-12 col-md-6">
						<div class="input-field">
							<i class="material-icons prefix">event_available</i>
							<input id="post-date-published-start" type="text" name="post[date_published_start][date]" class="datepicker" value="">
							<label for="post-date-published-start">Дата</label> {# todo-materialize Must be placed in a language variable #}
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="input-field">
							<input id="post-date-published-end" type="text" name="post[date_published_start][time]" class="timepicker" value="">
							<label for="post-date-published-end">Время</label> {# todo-materialize Must be placed in a language variable #}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12"><h6>Дата окончания публикации</h6></div>
					<div class="col-sm-12 col-md-6">
						<div class="input-field">
							<i class="material-icons prefix">event_busy</i>
							<input id="post-date-published-start" type="text" name="post[date_published_end][date]" class="datepicker" value="">
							<label for="post-date-published-start">Дата</label> {# todo-materialize Must be placed in a language variable #}
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="input-field">
							<input id="post-date-published-end" type="text" name="post[date_published_end][time]" class="timepicker" value="">
							<label for="post-date-published-end">Время</label> {# todo-materialize Must be placed in a language variable #}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h5>{{ text_seo }}</h5>
	<div class="mt-card-panel mb-5">
		<table class="mb-5">
			<thead>
				<tr>
					<th>{{ entry_store }}</th>
					<th>{{ entry_seo_url }}</th>
				</tr>
			</thead>
			<tbody>
				{% for store in stores %}
					<tr>
						<td>{{ store.name }}</td>
						<td>
							{% for language in languages %}
								<div class="input-field">
									<img src="language/{{ language.code }}/{{ language.code }}.png" class="prefix" title="{{ language.name }}">
									<input id="seo-url-{{ store.store_id }}-{{ language.language_id }}" type="text" name="post[seo][url][{{ store.store_id }}][{{ language.language_id }}]">
									<label for="seo-url-{{ store.store_id }}-{{ language.language_id }}">{{ entry_seo_url }}</label>
								</div>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<ul class="tabs">
			{% for language in languages %}
				<li class="tab"><a class="font-weight-normal waves-effect waves-blue" href="#post-seo-{{ language.language_id }}">{{ language.name }}</a></li>
			{% endfor %}
		</ul>
		{% for language in languages %}
			<div id="post-seo-{{ language.language_id }}" class="pt-4">
				<div class="input-field">
					<input id="post-meta-title" type="text" name="post[seo][meta][{{ language.language_id }}][title]" value="" data-length="255">
					<label for="post-meta-title">{{ entry_meta_title }}</label>
				</div>
				<div class="input-field mt-5">
					<input id="post-meta-h1" type="text" name="post[seo][meta][{{ language.language_id }}][h1]" value="" data-length="255">
					<label for="post-meta-h1">{{ entry_meta_h1 }}</label>
				</div>
				<div class="input-field mt-5">
					<textarea id="post-meta-description" class="materialize-textarea" name="post[seo][meta][{{ language.language_id }}][description]"></textarea>
					<label for="post-meta-description">{{ entry_meta_description }}</label>
				</div>
				<div class="input-field mt-5">
					<textarea id="post-meta-keyword" class="materialize-textarea" name="post[seo][meta][{{ language.language_id }}][keyword]"></textarea>
					<label for="post-meta-keyword">{{ entry_meta_keyword }}</label>
				</div>
				<div class="input-field mt-5">
					<input id="post-meta-tag" type="text" name="post[seo][meta][{{ language.language_id }}][tag]" value="">
					<label for="post-meta-tag">{{ entry_tag }}</label>
					<span class="helper-text">{{ help_tag }}</span>
				</div>
			</div>
		{% endfor %}
	</div>
	<h5>Дополнительные настройки</h5> {# todo-materialize Must be placed in a language variable #}
	<ul class="mt-list">
		<li class="mt-list-item">
			<span class="mt-list-item__icon waves-effect waves-circle" data-enable="record_voice_over" data-disable="voice_over_off"><i class="material-icons" id="lever-post-enable-comment">{{ post.settings.enable_comment ? 'record_voice_over' : 'voice_over_off' }}</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Разрешить комментарии</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Enter the name of the module</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			<div class="mt-list-item__data">
				<div class="switch">
					<label>
						<input type="checkbox" name="post[settings][enable_comment]" data-lever="lever-post-enable-comment"{{ post.settings.enable_comment ? ' checked' }}>
						<span class="lever"></span>
					</label>
				</div>
			</div>
		</li>
		<li class="mt-list-item">
			<span class="mt-list-item__icon waves-effect waves-circle"><i class="material-icons">stars</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Разрешить рейтинг</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Enter the name of the module</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			<div class="mt-list-item__data">
				<div class="switch">
					<label>
						<input type="checkbox" name="post[settings][enable_rating]"{{ post.settings.enable_rating ? ' checked' }}>
						<span class="lever"></span>
					</label>
				</div>
			</div>
		</li>
		<li class="mt-list-item">
			<span class="mt-list-item__icon waves-effect waves-circle" data-enable="lock" data-disable="lock_open"><i class="material-icons" id="lever-post-fixed">{{ post.settings.fixed ? 'lock' : 'lock_open' }}</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Зафиксировать пост</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Enter the name of the module</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			<div class="mt-list-item__data">
				<div class="switch">
					<label>
						<input type="checkbox" name="post[settings][fixed]" data-lever="lever-post-fixed"{{ post.settings.fixed ? ' checked' }}>
						<span class="lever"></span>
					</label>
				</div>
			</div>
		</li>
		<li class="mt-list-divider" role="separator"></li>
		<li class="mt-list-item">
			<span class="mt-list-item__icon waves-effect waves-circle" data-enable="how_to_reg" data-disable="person"><i class="material-icons" id="lever-post-show-logged">{{ post.settings.show_logged ? 'how_to_reg' : 'person' }}</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Показывать только залогиненым</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Enter the name of the module</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			<div class="mt-list-item__data">
				<div class="switch">
					<label>
						<input type="checkbox" name="post[settings][show_logged]" data-lever="lever-post-show-logged"{{ post.settings.show_logged ? ' checked' }}>
						<span class="lever"></span>
					</label>
				</div>
			</div>
		</li>
		<li class="mt-list-item">
			<span class="mt-list-item__icon"><i class="material-icons">people</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Показывать только группам пользователей</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Enter the name of the module</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			<div class="mt-list-item__inputs">
				<div class="input-field"> {# todo-materialize Add selection of user group list #}
					<select multiple>
						<option value="" disabled selected>Choose your option</option>
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						<option value="3">Option 3</option>
					</select>
					<label>Materialize Multiple Select</label>
				</div>
			</div>
		</li>
		<li class="mt-list-item">
			<span class="mt-list-item__icon waves-effect waves-circle" data-enable="explore_off" data-disable="explore"><i class="material-icons" id="lever-post-disable-indexing">{{ post.settings.disable_indexing ? 'explore_off' : 'explore' }}</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Запретить индексацию</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Enter the name of the module</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			<div class="mt-list-item__data">
				<div class="switch">
					<label>
						<input type="checkbox" name="post[settings][disable_indexing]" data-lever="lever-post-disable-indexing"{{ post.settings.disable_indexing ? ' checked' }}>
						<span class="lever"></span>
					</label>
				</div>
			</div>
		</li>
		<li class="mt-list-item">
			<span class="mt-list-item__icon waves-effect waves-circle"><i class="material-icons">search</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Исключить из поиска</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Enter the name of the module</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			<div class="mt-list-item__data">
				<div class="switch">
					<label>
						<input type="checkbox" name="post[settings][exclude_search]"{{ post.settings.exclude_search ? ' checked' }}>
						<span class="lever"></span>
					</label>
				</div>
			</div>
		</li>
		<li class="mt-list-item">
			<span class="mt-list-item__icon"><i class="material-icons">visibility_off</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Исключить IP для счётчика просмотров</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Укажите IP адреса, которые будут добавлены в исключения для счётчика просмотров данной публикации</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			{#<div class="mt-list-item__data">
				<i class="material-icons tooltipped" data-position="top" data-tooltip="">info</i> #}{# todo-materialize Must be placed in a language variable #}{#
			</div>#}
			<div class="mt-list-item__inputs">
				<div class="input-field">
					<textarea id="" class="materialize-textarea" name="post[settings][exclude_ip_views]">{{ post.settings.exclude_ip_views }}</textarea>
					<label for=""></label> {# todo-materialize Must be placed in a language variable #}
				</div>
			</div>
		</li>
		<li class="mt-list-divider" role="separator"></li>
		<li class="mt-list-item">
			<span class="mt-list-item__icon waves-effect waves-circle"><i class="material-icons">add_comment</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Уведомления на e-mail автора публикации о новых комментариях</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Уведомления на e-mail автора публикации о новых комментариях</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			<div class="mt-list-item__data">
				<div class="switch">
					<label>
						<input type="checkbox" name="post[settings][notification_email]"{{ post.settings.notification_email ? ' checked' }}>
						<span class="lever"></span>
					</label>
				</div>
			</div>
		</li>
		<li class="mt-list-item">
			<span class="mt-list-item__icon"><i class="material-icons">drafts</i></span>
			<span class="mt-list-item__text">
				<span class="mt-list-item__primary-text">Дополнительные e-mail адреса для уведомления о новых комментариях</span> {# todo-materialize Must be placed in a language variable #}
				<span class="mt-list-item__secondary-text">Дополнительные e-mail адреса для уведомления о новых комментариях</span> {# todo-materialize Must be placed in a language variable #}
			</span>
			<div class="mt-list-item__inputs">
				<div class="input-field">
					<textarea id="" class="materialize-textarea" name="post[settings][additional_notification_email]">{{ post.settings.additional_notification_email }}</textarea>
					<label for=""></label> {# todo-materialize Must be placed in a language variable #}
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="fixed-action-mt-btn">
	<span id="save-post-button" class="mt-btn-floating mt-btn-large pulse waves-effect waves-circle waves-light blue accent-2"><i class="large material-icons">save</i></span>
</div>
<script>
	$('select').formSelect();
	$('.tooltipped').tooltip();
	$('.datepicker').datepicker({
		'container': 'body',
		'format': 'yyyy-mm-dd'
	});
	$('.timepicker').timepicker({
		'container': 'body',
		'format': 'yyyy-mm-dd',
		'twelveHour': false
	});
	$('#post-image-edit').dropdown({
		constrainWidth: false
	});
	$('.input-field input[data-length], .input-field textarea[data-length]').characterCounter();
	$('textarea[data-toggle=\'ckeditor\']').ckeditor();

	let savePostButton = $('#save-post-button'),
		postForm = $('#post');

	savePostButton.on('click', function() {
		console.log(postForm.serializeArray());
		$.ajax({
			url: 'index.php?route=extension/module/mt_blog/savePostForm&user_token={{ user_token }}&post_id={{ post_id }}',
			data: postForm.serializeArray(),
			type: 'post',
			dataType: 'json',
			beforeSend: function() {
			},
			complete: function() {
			},
			success: function(json) {
				console.log(json);
				if (json['error']) {
					$.each(json['error']['name'], function(index) {
						$('#post-name-' + index).addClass('invalid');
						$('#post-name-helper-' + index).attr('data-error', json['error']['name'][index]);
					});

					$.each(json['error']['announcement'], function(index) {
						$('#post-announcement-' + index).addClass('invalid');
						$('#post-announcement-helper-' + index).attr('data-error', json['error']['announcement'][index]);
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
</script>