{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="button" form="form-theme-materialize" id="apply-btn" data-toggle="tooltip" title="{{ button_apply }}" class="btn btn-success"><i class="fa fa-repeat"></i></button>
			</div>
			<h1>{{ materialize_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<form action="{{ action }}" data-action="{{ apply|raw }}" method="post" enctype="multipart/form-data" id="form-theme-materialize" class="form-horizontal">
			<div class="row">
				<div class="col-xs-12 col-md-4 col-md-push-8">
					<div class="panel panel-default" id="panel-data">
						<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-power-off"></i> {{ entry_status }}</h3></div>
						<div class="panel-body">
							<select name="theme_materialize_status" id="input-status" class="selectpicker show-tick" data-width="100%">
								{% if theme_materialize_status %}
								<option value="1" selected="selected" data-icon="fa-toggle-on">{{ text_enabled }}</option>
								<option value="0" data-icon="fa-toggle-off">{{ text_disabled }}</option>
								{% else %}
								<option value="1" data-icon="fa-toggle-on">{{ text_enabled }}</option>
								<option value="0" selected="selected" data-icon="fa-toggle-off">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-xs-6">
									<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a>
								</div>
								<div class="col-xs-6 text-right">
									<button type="submit" form="form-theme-materialize" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> {{ button_save }}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-8 col-md-pull-4">
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3></div>
						<div class="panel-body">
							<ul id="apply-tab" class="nav nav-tabs">
								<li><a href="#tab-common" data-toggle="tab">{{ text_common }}</a></li>
								<li><a href="#tab-color-scheme" data-toggle="tab">{{ text_colors }}</a></li>
								<li><a href="#tab-image" data-toggle="tab">{{ text_image }}</a></li>
								<li><a href="#tab-product" data-toggle="tab">{{ text_product }}</a></li>
								{% if materializeapi %}<li><a href="#tab-materializeapi" data-toggle="tab">Информация о шаблоне</a></li>{% endif %}
							</ul>
							<div class="tab-content">
								<div class="tab-pane" id="tab-common">
									<div class="row">
										<div class="col-sm-3">
											<ul class="nav nav-pills nav-stacked" id="tab-common-pills">
												<li><a href="#tab-header" data-toggle="tab">{{ text_header }}</a></li>
												<li><a href="#tab-footer" data-toggle="tab">{{ text_footer }}</a></li>
												<li><a href="#tab-livesearch" data-toggle="tab">Живой поиск</a></li>
												<li><a href="#tab-favicon-settings" data-toggle="tab">Фавикон</a></li>
												<li><a href="#tab-social-networks" data-toggle="tab">Социальные сети</a></li>
												<li><a href="#tab-adult-content" data-toggle="tab">Взрослый контент</a></li>
												<li><a href="#tab-optimization" data-toggle="tab">Оптимизация</a></li>
											</ul>
										</div>
										<div class="col-sm-9">
											<div class="tab-content">
												<div class="tab-pane" id="tab-header">
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">Показывать телефон</h4>
																<p>В шапке сайта будет показываться основной телефон интернет магазина.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[header][phone]" type="checkbox" {{ theme_materialize_settings.header.phone == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">Показывать e-mail</h4>
																<p>В шапке сайта будет показываться основной e-mail интернет магазина.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[header][email]" type="checkbox" {{ theme_materialize_settings.header.email == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">Показывать время работы</h4>
																<p>В шапке сайта будет показываться время работы интернет магазина.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[header][working_hours]" type="checkbox" {{ theme_materialize_settings.header.working_hours == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">3 уровень категорий</h4>
																<p>Показывать 3 уровень категорий в стандартном меню категорий. Может вызвать снижение скорости загрузки сайта.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[header][third_lvl_category]" type="checkbox" {{ theme_materialize_settings.header.third_lvl_category == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="tab-footer">
													<fieldset>
														<legend>{{ entry_description }}</legend>
														<ul class="nav nav-tabs" id="foter-descriptions-language">
															{% for language in languages %}
															<li><a href="#foter-descriptions{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
															{% endfor %}
														</ul>
														<div class="tab-content">
															{% for language in languages %}
															<div class="tab-pane fade" id="foter-descriptions{{ language.language_id }}"><div class="list-group-item">
																<div class="media">
																		<div class="media-body">
																			<h4 class="media-heading text-medium">{{ entry_footer_title }}</h4>
																			<hr>
																			<input type="text" name="theme_materialize_settings[footer][{{ language.language_id }}][title]" value="{{ theme_materialize_settings.footer[language.language_id] ? theme_materialize_settings.footer[language.language_id].title }}" placeholder="{{ entry_title }}" class="form-control" />
																		</div>
																	</div>
																</div>
																<div class="list-group-item">
																	<div class="media">
																		<div class="media-body">
																			<h4 class="media-heading text-medium">{{ entry_description }}</h4>
																			<hr>
																			<textarea name="theme_materialize_settings[footer][{{ language.language_id }}][description]" placeholder="{{ entry_description }}" class="form-control textarea-resize-vertical">{{ theme_materialize_settings.footer[language.language_id] ? theme_materialize_settings.footer[language.language_id].description }}</textarea>
																		</div>
																	</div>
																</div>
															</div>
															{% endfor %}
														</div>
														<div class="list-group-item">
															<div class="media">
																<div class="media-body">
																	<h4 class="media-heading text-medium">{{ entry_contact }}</h4>
																	<p>Будет показывать в футере контактную информацию (если она указна в настройках магазина): e-mail, телефон, время работы.</p>
																</div>
																<div class="media-right media-middle">
																	<label class="form-switch pull-right">
																		<input name="theme_materialize_settings[footer][contact_information]" type="checkbox" {{ theme_materialize_settings.footer.contact_information == 'on' ? 'checked="checked"' }}>
																		<i></i>
																	</label>
																</div>
															</div>
														</div>
													</fieldset>
												</div>
												<div class="tab-pane" id="tab-livesearch">
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">Живой поиск</h4>
																<p>Поиск и соответствующие предложения начнут показываться сразу после начала взаимодействия со строкой поиска по сайту.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[livesearch][status]" type="checkbox" {{ theme_materialize_settings.livesearch.status == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<hr>
													<ul class="nav nav-tabs">
														<li class="active"><a href="#tab-livesearch__settings" data-toggle="tab">Настройки</a></li>
														<li><a href="#tab-livesearch__display" data-toggle="tab">Отображение</a></li>
													</ul>
													<div class="tab-content">
														<div class="tab-pane active" id="tab-livesearch__settings">
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Лимит поиск</h4>
																		<p>Лимит на количество выводимого товара в результатах живого поиска.</p>
																		<hr>
																		<input type="text" name="theme_materialize_settings[livesearch][settings_limit]" value="{{ theme_materialize_settings.livesearch.settings_limit }}" placeholder="Лимит товаров" class="form-control" />
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Минимальное количество символов</h4>
																		<p>Минимальное количество символов для начала поиска. При значении 0, поиск будет производиться сразу после начала взаимодействия с формой поиска.</p>
																		<hr>
																		<input type="text" name="theme_materialize_settings[livesearch][settings_min_length]" value="{{ theme_materialize_settings.livesearch.settings_min_length }}" placeholder="Минимальное количество символов" class="form-control" />
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Задержка перед поиском</h4>
																		<p>После начала взаимодействия пользователя с поиском, через указанное время начнёт срабатывать скрипт поиска.</p>
																		<hr>
																		<input type="text" name="theme_materialize_settings[livesearch][settings_delay]" value="{{ theme_materialize_settings.livesearch.settings_delay }}" placeholder="Время задержки" class="form-control" />
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Уточнение категории</h4>
																		<p>Выводит список главных категорий, позволяя пользователю уточнить поиск в одной из выбранных категорий.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[livesearch][search_categories]" type="checkbox" {{ theme_materialize_settings.livesearch.search_categories == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Искать в описании</h4>
																		<p>Будет производиться поиск в описании товаров.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[livesearch][search_description]" type="checkbox" {{ theme_materialize_settings.livesearch.search_description == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Искать по тегам</h4>
																		<p>Будет производиться поиск по тегам товаров.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[livesearch][search_tags]" type="checkbox" {{ theme_materialize_settings.livesearch.search_tags == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Искать по модели</h4>
																		<p>Будет производиться поиск модели товаров.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[livesearch][search_model]" type="checkbox" {{ theme_materialize_settings.livesearch.search_model == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Искать по артиклу</h4>
																		<p>Будет производиться поиск по артиклум товаров.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[livesearch][search_sku]" type="checkbox" {{ theme_materialize_settings.livesearch.search_sku == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Искать по производителю</h4>
																		<p>Будет производиться поиск по названию производителя. Например, поисковый запрос "Apple" будет выводить товары этого производителя.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[livesearch][search_manufacturer]" type="checkbox" {{ theme_materialize_settings.livesearch.search_manufacturer == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="tab-livesearch__display">
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Показывать изображения</h4>
																		<p>В результатах выдачи будет показываться изображения товаров.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[livesearch][display_image]" type="checkbox" {{ theme_materialize_settings.livesearch.display_image == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Показывать цену</h4>
																		<p>В результатах выдачи будет показываться цена товаров.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[livesearch][display_price]" type="checkbox" {{ theme_materialize_settings.livesearch.display_price == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Показывать рейтинг</h4>
																		<p>В результатах выдачи будет показываться рейтинг товаров.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[livesearch][display_rating]" type="checkbox" {{ theme_materialize_settings.livesearch.display_rating == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media-body">
																	<h4 class="media-heading text-medium">Показывать описание</h4>
																	<p>В результатах выдачи будет показываться описание товаров.</p>
																</div>
																<div class="media-right media-middle">
																	<label class="form-switch pull-right">
																		<input name="theme_materialize_settings[livesearch][display_description]" type="checkbox" {{ theme_materialize_settings.livesearch.display_description == 'on' ? 'checked="checked"' }}>
																		<i></i>
																	</label>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Количество символов в описании</h4>
																		<p>Лимит на количество символов для описания товаров.</p>
																		<hr>
																		<input type="text" name="theme_materialize_settings[livesearch][display_description_length]" value="{{ theme_materialize_settings.livesearch.display_description_length }}" placeholder="Количество символов в описании" class="form-control" />
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media-body">
																	<h4 class="media-heading text-medium">Подсвечивать совпадения</h4>
																	<p>В результатах выдачи будет подсвечиваться совпадение названия с поисковым запросом.</p>
																</div>
																<div class="media-right media-middle">
																	<label class="form-switch pull-right">
																		<input name="theme_materialize_settings[livesearch][display_highlight]" type="checkbox" {{ theme_materialize_settings.livesearch.display_highlight == 'on' ? 'checked="checked"' }}>
																		<i></i>
																	</label>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media-body">
																	<h4 class="media-heading text-medium">Показывать разделитель</h4>
																	<p>В результатах выдачи будет показываться полоса, разделяющая результаты поиска.</p>
																</div>
																<div class="media-right media-middle">
																	<label class="form-switch pull-right">
																		<input name="theme_materialize_settings[livesearch][display_divider]" type="checkbox" {{ theme_materialize_settings.livesearch.display_divider == 'on' ? 'checked="checked"' }}>
																		<i></i>
																	</label>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="tab-favicon-settings">
													<ul class="nav nav-tabs">
														<li class="active"><a href="#tab-favicon" data-toggle="tab">Фавикон</a></li>
														<li><a href="#tab-browserconfig" data-toggle="tab">Browserconfig</a></li>
														<li><a href="#tab-manifest" data-toggle="tab">Манифест</a></li>
													</ul>
													<div class="tab-content">
														<div class="tab-pane active" id="tab-favicon">
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Фавикон</h4>
																		<p>Генерация фавиконки с расширенными настройками и оптимальными размерами. Используя эту опцию, можно не указывать фавикон в настроках магазина.</p>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[favicon][status]" type="checkbox" {{ theme_materialize_settings.favicon.status == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium required">Главный фавикон</h4>
																		<p>Фавикон используемый в качестве основного. Изображение должно быть .png, .jpg или .gif формата. Рекомендуемый формат .png, размер 180x180.</p>
																	</div>
																	<div class="media-right media-middle">
																		<a href="" id="thumb-favicon-image" data-toggle="image" class="img-thumbnail materialize-color-thumbnail"><img src="{{ theme_materialize_favicon_image }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
																		<input type="hidden" name="theme_materialize_settings[favicon][image]" value="{{ theme_materialize_settings.favicon.image }}" id="input-favicon-image" />
																	</div>
																</div>
															</div>
															<hr>
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium required">SVG</h4>
																		<p>Изображение должно быть .svg формата.</p>
																	</div>
																	<div class="media-right media-middle">
																		<a href="" id="thumb-favicon-svg" data-toggle="image" class="img-thumbnail materialize-color-thumbnail"><img src="{{ theme_materialize_favicon_svg }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
																		<input type="hidden" name="theme_materialize_settings[favicon][svg]" value="{{ theme_materialize_settings.favicon.svg }}" id="input-favicon-svg" />
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media overflow-visible materialize-colors">
																	<div class="media-body overflow-visible">
																		<h4 class="media-heading text-medium required">Mask icon цвет</h4>
																		<p>Используется для закреплённых вкладок в macOS. Необходимо указать монохромный SVG фавикон.</p>
																		<hr>
																		<select name="theme_materialize_settings[favicon][maskiconcolor]" class="selectpicker selectpicker-live-search show-tick">
																			{% for color in theme_materialize_get_colors %}
																			{% if color.hex == theme_materialize_settings.favicon.maskiconcolor %}
																			<option value="{{ color.hex }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};" selected="selected">{{ color.name }}</option>
																			{% else %}
																			<option value="{{ color.hex }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};">{{ color.name }}</option>
																			{% endif %}
																			{% endfor %}
																		</select>
																		<hr>
																	</div>
																	<div class="media-right media-middle">
																		<div class="thumbnail materialize-color-thumbnail"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="tab-browserconfig">
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">browserconfig.xml</h4>
																		<p>Генерация файла browserconfig.xml. Файл применяется для создания плиток Windows при сохранении пользоавтелями ссылки на сайт на главный экран устройства.</p>
																		<div class="row">
																			<div class="col-xs-6">
																				<u>Изображение для маленькой и средней плитки.</u>
																				<hr>
																				<a href="" id="thumb-browserconfig-image-small" data-toggle="image" class="img-thumbnail materialize-color-thumbnail"><img src="{{ theme_materialize_browserconfig_thumb_small }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
																				<input type="hidden" name="theme_materialize_settings[favicon][browserconfig][image_small]" value="{{ theme_materialize_settings.favicon.browserconfig.image_small }}" id="input-browserconfig-image-small" />
																			</div>
																			<div class="col-xs-6">
																				<u>Изображение для широкой и крупной плитки.</u>
																				<hr>
																				<a href="" id="thumb-browserconfig-image-large" data-toggle="image" class="img-thumbnail materialize-color-thumbnail"><img src="{{ theme_materialize_browserconfig_thumb_large }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
																				<input type="hidden" name="theme_materialize_settings[favicon][browserconfig][image_large]" value="{{ theme_materialize_settings.favicon.browserconfig.image_large }}" id="input-browserconfig-image-large" />
																			</div>
																		</div>
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[favicon][browserconfig][status]" type="checkbox" {{ theme_materialize_settings.favicon.browserconfig.status == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<div class="list-group-item">
																<div class="media overflow-visible materialize-colors">
																	<div class="media-body overflow-visible">
																		<h4 class="media-heading text-medium">Фоновый цвет</h4>
																		<p>Определяет фоновый цвет плитки.</p>
																		<hr>
																		<select name="theme_materialize_settings[favicon][browserconfig][background_color][hex]" class="selectpicker selectpicker-live-search show-tick">
																			{% for color in theme_materialize_get_colors %}
																			{% if color.hex == theme_materialize_settings.favicon.browserconfig.background_color.hex %}
																			<option value="{{ color.hex }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};" selected="selected">{{ color.name }}</option>
																			{% else %}
																			<option value="{{ color.hex }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};">{{ color.name }}</option>
																			{% endif %}
																			{% endfor %}
																		</select>
																		<hr>
																	</div>
																	<div class="media-right media-middle">
																		<div class="thumbnail materialize-color-thumbnail"></div>
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="tab-manifest">
															<div class="list-group-item">
																<div class="media">
																	<div class="media-body">
																		<h4 class="media-heading text-medium">Manifest JSON</h4>
																		<p>Цель манифества — установить веб-приложение на домашний экран устройства, предоставляя пользователю более быстрый доступ и больше возможностей.</p>
																		<u>Изображение для manifest.json</u>
																		<hr>
																		<a href="" id="thumb-manifest-image" data-toggle="image" class="img-thumbnail materialize-color-thumbnail"><img src="{{ theme_materialize_manifest_thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
																		<input type="hidden" name="theme_materialize_settings[favicon][manifest][image]" value="{{ theme_materialize_settings.favicon.manifest.image }}" id="input-manifest-image" />
																	</div>
																	<div class="media-right media-middle">
																		<label class="form-switch pull-right">
																			<input name="theme_materialize_settings[favicon][manifest][status]" type="checkbox" {{ theme_materialize_settings.favicon.manifest.status == 'on' ? 'checked="checked"' }}>
																			<i></i>
																		</label>
																	</div>
																</div>
															</div>
															<br>
															<fieldset>
																<legend>Тип манифеста</legend>
																<div class="list-group-item">
																	<div class="media">
																		<div class="media-left media-middle">
																			<label class="form-switch">
																				<input type="radio" name="theme_materialize_settings[favicon][manifest][type]" value="static" {{ theme_materialize_settings.favicon.manifest.type == 'static' ? 'checked="checked"' }}>
																				<i></i>
																			</label>
																		</div>
																		<div class="media-body">
																			<h4 class="media-heading text-medium">Статический</h4>
																			<p>После сохранения настроек модуля будет сохранён файл manifest.json. Данный тип манифеста <b>не поддерживает мультиязычность</b>.</p>
																		</div>
																	</div>
																</div>
																<div class="list-group-item">
																	<div class="media">
																		<div class="media-left media-middle">
																			<label class="form-switch">
																				<input type="radio" name="theme_materialize_settings[favicon][manifest][type]" value="dynamic" {{ theme_materialize_settings.favicon.manifest.type == 'dynamic' ? 'checked="checked"' }}>
																				<i></i>
																			</label>
																		</div>
																		<div class="media-body">
																			<h4 class="media-heading text-medium">Динамический</h4>
																			<p>Файл манифеста будет генерироваться, когда пользователь попытается сохранить добавить ссылку на сайт на главную страницу своего устройства. Данный тип манифеста <b>поддерживает мультиязычность.</b></p>
																		</div>
																	</div>
																</div>
															</fieldset>
															<hr>
															<ul class="nav nav-tabs">
																<li class="active"><a href="#tab-manifest-general" data-toggle="tab">Общее</a></li>
																<li><a href="#tab-manifest-display" data-toggle="tab">Отображение</a></li>
															</ul>
															<div class="tab-content">
																<div class="tab-pane active" id="tab-manifest-general">
																	<div class="manifest-static" style="display: {{ theme_materialize_settings.favicon.manifest.type == 'static' ? 'block' : 'none' }}">
																		<div class="list-group-item">
																			<div class="media">
																				<div class="media-body">
																					<h4 class="media-heading text-medium">Имя сайта</h4>
																					<p>Предоставляет удобочитаемое имя для приложения, предназначенное для отображения для пользователя, например, в списке других приложений или как подпись к иконке.</p>
																					<hr>
																					<input type="text" name="theme_materialize_settings[favicon][manifest][name]" value="{{ theme_materialize_settings ? theme_materialize_settings.favicon.manifest.name }}" placeholder="Имя сайта" maxlength="45" class="form-control" />
																				</div>
																			</div>
																		</div>
																		<div class="list-group-item">
																			<div class="media">
																				<div class="media-body">
																					<h4 class="media-heading text-medium">Короткое имя сайта</h4>
																					<p>Предоставляет короткое удобочитаемое имя приложения. Предназначено для использования там, где недостаточно места для отображения полного имени приложения.</p>
																					<hr>
																					<input type="text" name="theme_materialize_settings[favicon][manifest][short_name]" value="{{ theme_materialize_settings ? theme_materialize_settings.favicon.manifest.short_name }}" placeholder="Короткое имя сайта" maxlength="12" class="form-control" />
																				</div>
																			</div>
																		</div>
																		<div class="list-group-item">
																			<div class="media">
																				<div class="media-body">
																					<h4 class="media-heading text-medium">Описание сайта</h4>
																					<p>Обеспечивает общее описание того, что делает приложение.</p>
																					<hr>
																					<input type="text" name="theme_materialize_settings[favicon][manifest][description]" value="{{ theme_materialize_settings ? theme_materialize_settings.favicon.manifest.description }}" placeholder="Описание сайта" maxlength="1024" class="form-control" />
																				</div>
																			</div>
																		</div>
																		<div class="list-group-item">
																			<div class="media">
																				<div class="media-body">
																					<h4 class="media-heading text-medium">Стартовый URL</h4>
																					<p>Определяет URL, который загружается, когда пользователь запустил приложение с устройства. Если относительный URL, базовый URL будет URL манифеста.</p>
																					<hr>
																					<input type="text" name="theme_materialize_settings[favicon][manifest][start_url]" value="{{ theme_materialize_settings ? theme_materialize_settings.favicon.manifest.start_url }}" placeholder="Стартовый URL" maxlength="512" class="form-control" />
																				</div>
																			</div>
																		</div>
																		<div class="list-group-item">
																			<div class="media overflow-visible">
																				<div class="media-body overflow-visible">
																					<h4 class="media-heading text-medium">Язык</h4>
																					<p>Язык и направление текста сайта</p>
																					<hr>
																					<select name="theme_materialize_settings[favicon][manifest][lang]" class="selectpicker show-tick">
																						{% for language in languages %}
																						{% if language.code == theme_materialize_settings.favicon.manifest.lang %}
																						<option value="{{ language.code }}" selected="selected">{{ language.name }}</option>
																						{% else %}
																						<option value="{{ language.code }}">{{ language.name }}</option>
																						{% endif %}
																						{% endfor %}
																					</select>
																					<select name="theme_materialize_settings[favicon][manifest][dir]" class="selectpicker show-tick">
																						{% for direction in theme_materialize_settings.favicon.manifest.direction_value %}
																						{% if direction == theme_materialize_settings.favicon.manifest.dir %}
																						<option value="{{ direction }}" selected="selected">{{ direction }}</option>
																						{% else %}
																						<option value="{{ direction }}">{{ direction }}</option>
																						{% endif %}
																						{% endfor %}
																					</select>
																					<hr>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="manifest-dynamic" style="display: {{ theme_materialize_settings.favicon.manifest.type == 'dynamic' ? 'block' : 'none' }}">
																		<ul class="nav nav-tabs" id="language">
																			{% for language in languages %}
																			<li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
																			{% endfor %}
																		</ul>
																		{% for language in languages %}
																		<div class="tab-pane" id="language{{ language.language_id }}">
																			<div class="list-group-item">
																				<div class="media">
																					<div class="media-body">
																						<h4 class="media-heading text-medium">Имя сайта</h4>
																						<p>Предоставляет удобочитаемое имя для приложения, предназначенное для отображения для пользователя, например, в списке других приложений или как подпись к иконке.</p>
																						<hr>
																						<input type="text" name="theme_materialize_webmanifest_dynamic[{{ language.language_id }}][name]" value="{{ theme_materialize_webmanifest_dynamic[language.language_id] ? theme_materialize_webmanifest_dynamic[language.language_id].name }}" placeholder="Имя сайта" maxlength="45" class="form-control" />
																					</div>
																				</div>
																			</div>
																			<div class="list-group-item">
																				<div class="media">
																					<div class="media-body">
																						<h4 class="media-heading text-medium">Короткое имя сайта</h4>
																						<p>Предоставляет короткое удобочитаемое имя приложения. Предназначено для использования там, где недостаточно места для отображения полного имени приложения.</p>
																						<hr>
																						<input type="text" name="theme_materialize_webmanifest_dynamic[{{ language.language_id }}][short_name]" value="{{ theme_materialize_webmanifest_dynamic[language.language_id] ? theme_materialize_webmanifest_dynamic[language.language_id].short_name }}" placeholder="Имя сайта" maxlength="45" class="form-control" />
																					</div>
																				</div>
																			</div>
																			<div class="list-group-item">
																				<div class="media">
																					<div class="media-body">
																						<h4 class="media-heading text-medium">Описание сайта</h4>
																						<p>Обеспечивает общее описание того, что делает приложение.</p>
																						<hr>
																						<input type="text" name="theme_materialize_webmanifest_dynamic[{{ language.language_id }}][description]" value="{{ theme_materialize_webmanifest_dynamic[language.language_id] ? theme_materialize_webmanifest_dynamic[language.language_id].description }}" placeholder="Имя сайта" maxlength="45" class="form-control" />
																					</div>
																				</div>
																			</div>
																			<div class="list-group-item">
																				<div class="media">
																					<div class="media-body">
																						<h4 class="media-heading text-medium">Стартовый URL</h4>
																						<p>Определяет URL, который загружается, когда пользователь запустил приложение с устройства. Если относительный URL, базовый URL будет URL манифеста.</p>
																						<hr>
																						<input type="text" name="theme_materialize_webmanifest_dynamic[{{ language.language_id }}][start_url]" value="{{ theme_materialize_webmanifest_dynamic[language.language_id] ? theme_materialize_webmanifest_dynamic[language.language_id].start_url }}" placeholder="Имя сайта" maxlength="45" class="form-control" />
																					</div>
																				</div>
																			</div>
																		</div>
																		{% endfor %}
																	</div>
																</div>
																<div class="tab-pane" id="tab-manifest-display">
																	<div class="list-group-item">
																		<div class="media overflow-visible materialize-colors">
																			<div class="media-body overflow-visible">
																				<h4 class="media-heading text-medium">Фоновый цвет</h4>
																				<p>Определяет ожидаемый цвет фона для веб-приложения. Это значение повторяет то, что уже доступно в стилях приложения, но может быть использовано браузерами для отрисовки цвета фона приложения после того, как манифест станет доступен, но до того, как стили загрузятся. Это создает плавный переход между запуском приложения и загрузкой содержимого приложения.</p>
																				<hr>
																				<select name="theme_materialize_settings[favicon][manifest][background_color][hex]" class="selectpicker selectpicker-live-search show-tick">
																					{% for color in theme_materialize_get_colors %}
																					{% if color.hex == theme_materialize_settings.favicon.manifest.background_color.hex %}
																					<option value="{{ color.hex }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};" selected="selected">{{ color.name }}</option>
																					{% else %}
																					<option value="{{ color.hex }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};">{{ color.name }}</option>
																					{% endif %}
																					{% endfor %}
																				</select>
																				<hr>
																			</div>
																			<div class="media-right media-middle">
																				<div class="thumbnail materialize-color-thumbnail"></div>
																			</div>
																		</div>
																	</div>
																	<hr>
																	<div class="list-group-item">
																		<div class="media overflow-visible">
																			<div class="media-body overflow-visible">
																				<h4 class="media-heading text-medium">Отображение</h4>
																				<p>Определяет предпочтительный для разработчика режим отображения приложения.</p>
																				<hr>
																				<select name="theme_materialize_settings[favicon][manifest][display]" class="selectpicker show-tick">
																					{% for display in theme_materialize_settings.favicon.manifest.display_value %}
																					{% if display == theme_materialize_settings.favicon.manifest.display %}
																					<option value="{{ display }}" selected="selected">{{ display }}</option>
																					{% else %}
																					<option value="{{ display }}">{{ display }}</option>
																					{% endif %}
																					{% endfor %}
																				</select>
																			</div>
																		</div>
																	</div>
																	<div class="list-group-item">
																		<div class="media overflow-visible">
																			<div class="media-body overflow-visible">
																				<h4 class="media-heading text-medium">Ориентация</h4>
																				<p>Определяет ориентацию по умолчанию для всех верхних уровней контекстов браузера приложения.</p>
																				<hr>
																				<select name="theme_materialize_settings[favicon][manifest][orientation]" class="selectpicker show-tick">
																					{% for orientation in theme_materialize_settings.favicon.manifest.orientation_value %}
																					{% if orientation == theme_materialize_settings.favicon.manifest.orientation %}
																					<option value="{{ orientation }}" selected="selected">{{ orientation }}</option>
																					{% else %}
																					<option value="{{ orientation }}">{{ orientation }}</option>
																					{% endif %}
																					{% endfor %}
																				</select>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="tab-social-networks">
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">Показывать в футере</h4>
																<p>Показывает иконки ваших социальных сетей в футере. Укажите заголовок для блока, например "Мы в соцсетях".</p>
																<hr>
																<p>
																	{% for language in languages %}
																	<div class="input-group">
																		<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
																		<input type="text" name="theme_materialize_settings[social][{{ language.language_id }}][title]" value="{{ theme_materialize_settings.social[language.language_id] ? theme_materialize_settings.social[language.language_id].title }}" placeholder="{{ entry_text }}" class="form-control" />
																	</div>
																	{% endfor %}
																</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[social][show_footer]" type="checkbox" {{ theme_materialize_settings.social.show_footer == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_not_index }}</h4>
																<p>Запрещает поисковым системам индексировать ссылки на ваши социальные сети из футера.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[social][not_index]" type="checkbox" {{ theme_materialize_settings.social.not_index == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">Мета данные</h4>
																<p>Ссылки на ваши социальные системы будут передаваться поисквым системам через метаданные.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[social][meta_data]" type="checkbox" {{ theme_materialize_settings.social.meta_data == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<br>
													<ul class="nav nav-tabs" id="social-icon-language">
														{% for language in languages %}
															<li><a href="#social-icon-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
														{% endfor %}
													</ul>
													<div class="tab-content">
														{% set icon_row = 0 %}
														{% for language in languages %}
														<div class="tab-pane" id="social-icon-language{{ language.language_id }}">
															<table id="social-icons{{ language.language_id }}" class="table table-striped table-bordered table-hover">
																<thead>
																	<tr>
																		<td class="text-center">{{ entry_icon }}</td>
																		<td class="text-left">{{ entry_title }}</td>
																		<td class="text-left" style="width: 50%">{{ entry_link }}</td>
																		<td class="text-center" style="width: 10%">{{ entry_sort_order }}</td>
																		<td></td>
																	</tr>
																</thead>
																<tbody>
																	{% if theme_materialize_social_icons[language.language_id] %}
																	{% for theme_materialize_social_icon in theme_materialize_social_icons[language.language_id] %}
																	<tr id="icon-row{{ icon_row }}">
																		<td class="text-center">
																			<a href="" id="thumb-image{{ icon_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ theme_materialize_social_icon.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}"></a>
																			<input type="hidden" name="theme_materialize_social_icon[{{ language.language_id }}][{{ icon_row }}][icon]" value="{{ theme_materialize_social_icon.icon }}" id="input-icon{{ icon_row }}">
																		</td>
																		<td class="text-left">
																			<input type="text" name="theme_materialize_social_icon[{{ language.language_id }}][{{ icon_row }}][title]" value="{{ theme_materialize_social_icon.title }}" placeholder="{{ entry_title }}" class="form-control">
																		</td>
																		<td class="text-left">
																			<input type="text" name="theme_materialize_social_icon[{{ language.language_id }}][{{ icon_row }}][link]" value="{{ theme_materialize_social_icon.link }}" placeholder="{{ entry_link }}" class="form-control">
																		</td>
																		<td class="text-right">
																			<input type="text" name="theme_materialize_social_icon[{{ language.language_id }}][{{ icon_row }}][sort_order]" value="{{ theme_materialize_social_icon.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control">
																		</td>
																		<td class="text-center">
																			<button type="button" onclick="$('#icon-row{{ icon_row }}, .tooltip').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
																		</td>
																	</tr>
																	{% set icon_row = icon_row + 1 %}
																	{% endfor %}
																	{% endif %}
																</tbody>
																<tfoot>
																	<tr>
																		<td colspan="4"></td>
																		<td class="text-center"><button type="button" onclick="addIcon('{{ language.language_id }}');" data-toggle="tooltip" title="{{ button_icon_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
																	</tr>
																</tfoot>
															</table>
														</div>
														{% endfor %}
													</div>
												</div>
												<div class="tab-pane" id="tab-adult-content">
													<div class="list-group-item">
														<div class="media overflow-visible">
															<div class="media-body overflow-visible">
																<h4 class="media-heading text-medium">Взрослый контент</h4>
																<p>Это опция вызывает модальное окно для посетителей сайта, в котором псетителю трубется согласиться с указанными правилами.</p>
																<hr>
																<select name="theme_materialize_settings[adult_content][agreement]" class="selectpicker show-tick" data-width="100%">
																	{% for information in informations %}
																	{% if information.information_id == theme_materialize_settings.adult_content.agreement %}
																	<option value="{{ information.information_id }}" selected="selected">{{ information.title }}</option>
																	{% else %}
																	<option value="{{ information.information_id }}">{{ information.title }}</option>
																	{% endif %}
																	{% endfor %}
																</select>
																<hr>
																<input type="text" name="theme_materialize_settings[adult_content][back_link]" value="{{ theme_materialize_settings.adult_content.back_link }}" placeholder="Ссылка при отказе" class="form-control" />
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[adult_content][status]" type="checkbox" {{ theme_materialize_settings.adult_content.status == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="tab-optimization">
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">Кэширование категорий</h4>
																<p>Включить кэширование списка категорий для стандартного меню категорий.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[optimization][cached_categories]" type="checkbox" {{ theme_materialize_settings.optimization.cached_categories == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">Кэширование цветов</h4>
																<p>Включить кэширование настроек цветов шаблона.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_settings[optimization][cached_colors]" type="checkbox" {{ theme_materialize_settings.optimization.cached_colors == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<hr>
													<div class="form-group">
														<div class="col-xs-12 text-right">
															<div class="btn-group">
																<button type="button" class="btn btn-danger" id="cache-clear">Очистить кэш</button>
																<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
																<ul class="dropdown-menu">
																	<li><a id="cache-clear-categories">Категории</a></li>
																	<li><a id="cache-clear-colors">Цвета</a></li>
																	<li role="separator" class="divider"></li>
																	<li><a id="cache-clear-all">Весь кэш</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-color-scheme">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#tab-color-scheme__select" data-toggle="tab">Выбрать цветовую схему</a></li>
										<li><a href="#tab-color-scheme__create" data-toggle="tab">Создать цветовую схему</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="tab-color-scheme__select">
											{% for color_scheme in theme_materialize_color_schemes %}
											<div class="list-group-item">
												<div class="media">
													<div class="media-left media-middle">
														<label class="form-switch">
															<input type="radio" name="theme_materialize_settings[color_scheme_name]" value="{{ color_scheme.name }}" {{ theme_materialize_settings.color_scheme_name == color_scheme.name ? 'checked="checked"' }}>
															<i></i>
														</label>
													</div>
													<div class="media-body vertical-align-middle">
														<h4 class="media-heading text-medium">{{ color_scheme.title }}</h4>
													</div>
													<div class="media-right media-middle">
														<div class="thumbnail materialize-color-thumbnail" style="background:{{ color_scheme.hex }};"></div>
													</div>
												</div>
												<input type="hidden" name="theme_materialize_settings[color_scheme_id]" value="{{ color_scheme.scheme_id }}">
											</div>
											{% endfor %}
											{% if theme_materialize_custom_color_schemes %}
											<hr>
											<div class="form-group">
												<div class="col-xs-12 text-right">
													<div class="btn-group">
														<button type="button" class="btn btn-danger" id="color-scheme-remove">Удалить</button>
														<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
														<ul class="dropdown-menu">
															{% for custom_scheme in theme_materialize_custom_color_schemes %}
															<li><a class="color-scheme-remove" data-scheme-id="{{ custom_scheme.scheme_id }}">{{ custom_scheme.title }}</a></li>
															{% endfor %}
															<li role="separator" class="divider"></li>
															<li><a id="color-scheme-remove-all">Удалить все</a></li>
														</ul>
													</div>
												</div>
											</div>
											{% endif %}
										</div>
										<div class="tab-pane" id="tab-color-scheme__create">
											<div id="create-scheme-wrap-btn" class="form-group">
												<div class="col-xs-12 text-right">
													<div class="btn-group">
														<button type="button" class="btn btn-danger" id="color-scheme-create">Создать</button>
														<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
														<ul class="dropdown-menu">
															<li><a id="color-scheme-create-new">Создать с нуля</a></li>
															<li role="separator" class="divider"></li>
															<li><a id="color-scheme-create-base-existing">На основе существующей</a></li>
														</ul>
													</div>
												</div>
											</div>
											<div id="create-scheme-wrap"></div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-image">
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_category }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_category_width" value="{{ theme_materialize_image_category_width }}" placeholder="{{ entry_width }}" id="input-image-category-width" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_category_height" value="{{ theme_materialize_image_category_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_thumb }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_thumb_width" value="{{ theme_materialize_image_thumb_width }}" placeholder="{{ entry_width }}" id="input-image-thumb-width" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_thumb_height" value="{{ theme_materialize_image_thumb_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_popup }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_popup_width" value="{{ theme_materialize_image_popup_width }}" placeholder="{{ entry_width }}" id="input-image-popup-width" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_popup_height" value="{{ theme_materialize_image_popup_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_product }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_product_width" value="{{ theme_materialize_image_product_width }}" placeholder="{{ entry_width }}" id="input-image-product-width" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_product_height" value="{{ theme_materialize_image_product_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_additional }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_additional_width" value="{{ theme_materialize_image_additional_width }}" placeholder="{{ entry_width }}" id="input-image-additional-width" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_additional_height" value="{{ theme_materialize_image_additional_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_related }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_related_width" value="{{ theme_materialize_image_related_width }}" placeholder="{{ entry_width }}" id="input-image-related" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_related_height" value="{{ theme_materialize_image_related_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_compare }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_compare_width" value="{{ theme_materialize_image_compare_width }}" placeholder="{{ entry_width }}" id="input-image-compare" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_compare_height" value="{{ theme_materialize_image_compare_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_wishlist }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_wishlist_width" value="{{ theme_materialize_image_wishlist_width }}" placeholder="{{ entry_width }}" id="input-image-wishlist" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_wishlist_height" value="{{ theme_materialize_image_wishlist_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_cart }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_cart_width" value="{{ theme_materialize_image_cart_width }}" placeholder="{{ entry_width }}" id="input-image-cart" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_cart_height" value="{{ theme_materialize_image_cart_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
									<div class="list-group-item">
										<div class="media">
											<div class="media-body">
												<h4 class="media-heading text-medium required">{{ entry_image_location }}</h4>
												<hr>
												<div class="row">
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_location_width" value="{{ theme_materialize_image_location_width }}" placeholder="{{ entry_width }}" id="input-image-location" class="form-control" />
													</div>
													<div class="col-sm-6">
														<input type="text" name="theme_materialize_image_location_height" value="{{ theme_materialize_image_location_height }}" placeholder="{{ entry_height }}" class="form-control" />
													</div>
												</div>
												<hr>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-product">
									<div class="row">
										<div class="col-sm-3">
											<ul class="nav nav-pills nav-stacked" id="tab-product-pills">
												<li><a href="#tab-product-default" data-toggle="tab">Стандартные настройки</a></li>
												<li><a href="#tab-show-fields" data-toggle="tab">{{ entry_show_fields }}</a></li>
												<li><a href="#tab-imagezoom" data-toggle="tab">{{ text_imagezoom }}</a></li>
												<li><a href="#tab-info-payment" data-toggle="tab">{{ entry_payment }}</a></li>
											</ul>
										</div>
										<div class="col-sm-9">
											<div class="tab-content">
												<div class="tab-pane" id="tab-product-default">
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium required" data-toggle="tooltip" title="{{ help_product_limit }}">{{ entry_product_limit }}</h4>
																<hr>
																<input type="text" name="theme_materialize_product_limit" value="{{ theme_materialize_product_limit }}" placeholder="{{ entry_product_limit }}" id="input-catalog-limit" class="form-control" />
																<hr>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium required" data-toggle="tooltip" title="{{ help_product_description_length }}">{{ entry_product_description_length }}</h4>
																<hr>
																<input type="text" name="theme_materialize_product_description_length" value="{{ theme_materialize_product_description_length }}" placeholder="{{ entry_product_description_length }}" id="input-description-limit" class="form-control" />
																<hr>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="tab-show-fields">
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_model }}</h4>
																<p>На странице товара будет показываться значение поле "Модель", указанное для каждого товара в панели администратора.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][model]" type="checkbox" {{ theme_materialize_products.fields.model == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_sku }}</h4>
																<p>На странице товара будет показываться значение поле "Артикул", указанное для каждого товара в панели администратора.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][sku]" type="checkbox" {{ theme_materialize_products.fields.sku == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_upc }}</h4>
																<p>На странице товара будет показываться значение поле "UPC", указанное для каждого товара в панели администратора. UPC или Universal Product Code (12-значный универсальный код товара) — американский стандарт штрихкода, предназначенный для отслеживания товаров в магазинах.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][upc]" type="checkbox" {{ theme_materialize_products.fields.upc == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_ean }}</h4>
																<p>На странице товара будет показываться значение поле "EAN", указанное для каждого товара в панели администратора. EAN или European Article Number (европейский номер товара) — европейский стандарт штрихкода, предназначенный для кодирования идентификатора товара и производителя. Является надмножеством американского стандарта UPC.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][ean]" type="checkbox" {{ theme_materialize_products.fields.ean == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_jan }}</h4>
																<p>На странице товара будет показываться значение поле "JAN", указанное для каждого товара в панели администратора. JAN (8- или 13-значный японский номер товара) — японский стандарт штрихкода, предназначенный для кодирования идентификатора товара и производителя.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][jan]" type="checkbox" {{ theme_materialize_products.fields.jan == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_isbn }}</h4>
																<p>На странице товара будет показываться значение поле "ISBN", указанное для каждого товара в панели администратора. ISBN или International Standard Book Number (10- или 13-значный европейский номер товара) — уникальный номер книжного издания.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][isbn]" type="checkbox" {{ theme_materialize_products.fields.isbn == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_mpn }}</h4>
																<p>На странице товара будет показываться значение поле "MPN", указанное для каждого товара в панели администратора. MPN или Manufacturer Part Number — уникальный номер, присваиваемый товару. Связывает товар с производителем.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][mpn]" type="checkbox" {{ theme_materialize_products.fields.mpn == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_location }}</h4>
																<p>На странице товара будет показываться значение поле "Расположение", указанное для каждого товара в панели администратора. Например, товар может находиться на складе или в точке розничной продажи и т.п.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][location]" type="checkbox" {{ theme_materialize_products.fields.location == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_dimension }}</h4>
																<p>На странице товара будет показываться значение поле "Размеры", указанное для каждого товара в панели администратора.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][dimension]" type="checkbox" {{ theme_materialize_products.fields.dimension == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ entry_weight }}</h4>
																<p>На странице товара будет показываться значение поле "Вес", указанное для каждого товара в панели администратора.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][weight]" type="checkbox" {{ theme_materialize_products.fields.weight == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media overflow-visible">
															<div class="media-body overflow-visible">
																<h4 class="media-heading text-medium">Прогресс бар остатка товара</h4>
																<p>Если в настройках магазина вы включили опцию показа остатка товара на странице товара, это настройка заменит числовое значение на разноцветный прогресс бар. При редактировании каждого товара укажите количество товара от которого будет высчитываться процент наличия товара.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][progressbar]" type="checkbox" {{ theme_materialize_products.fields.progressbar == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media overflow-visible">
															<div class="media-body overflow-visible">
																<h4 class="media-heading text-medium">Теги товара</h4>
																<p>Если вы используете теги товара для внутренней поисковой оптимизации и их количество на странице товара избыточно, отключите данную опцию.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[fields][tags]" type="checkbox" {{ theme_materialize_products.fields.tags == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="tab-imagezoom">
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">{{ text_imagezoom }}</h4>
																<p>На странице товара при навадении курсора, соответствующий участок фотографии будет увеличиваться.</p>
															</div>
															<div class="media-right media-middle">
																<label class="form-switch pull-right">
																	<input name="theme_materialize_products[imagezoom]" type="checkbox" {{ theme_materialize_products.imagezoom == 'on' ? 'checked="checked"' }}>
																	<i></i>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="tab-info-payment">
													<div class="alert alert-info"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ help_payment }}</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium required">{{ entry_text }}</h4>
																<hr>
																{% for language in languages %}
																<div class="input-group">
																	<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
																	<input type="text" name="theme_materialize_products[payment][{{ language.language_id }}][text]" value="{{ theme_materialize_products.payment[language.language_id] ? theme_materialize_products.payment[language.language_id].text }}" placeholder="{{ entry_text }}" class="form-control" />
																</div>
																{% endfor %}
																<hr>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium required">{{ entry_payment_image }}</h4>
																<hr>
																<div class="row">
																	<div class="col-sm-6">
																		<input type="text" name="theme_materialize_products[payment][image_width]" value="{{ theme_materialize_products.payment.image_width }}" placeholder="{{ entry_payment_width }}" class="form-control" />
																	</div>
																	<div class="col-sm-6">
																		<input type="text" name="theme_materialize_products[payment][image_height]" value="{{ theme_materialize_products.payment.image_height }}" placeholder="{{ entry_payment_height }}" class="form-control" />
																	</div>
																</div>
																<hr>
															</div>
															<div class="media-right media-middle">
																<a href="" id="thumb-payment-image" data-toggle="image" class="img-thumbnail materialize-color-thumbnail"><img src="{{ theme_materialize_payment_thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
																<input type="hidden" name="theme_materialize_products[payment][image]" value="{{ theme_materialize_products.payment.image }}" id="input-payment-image" />
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{{ materializeapi }}
							</div>
						</div>
						{{ appeal_footer }}
					</div>
				</div>
			</div>
		</form>
	</div>
	{{ installed }}
	{{ updated }}
	<div id="modal-for-all" class="modal fade modal-materialize" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="col-xs-6 text-left"><button type="button" class="btn btn-default" data-dismiss="modal">{{ button_cancel }}</button></div>
						<div class="col-xs-6 text-right"><button type="button" class="btn modal-action-button">Продолжить</button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#language a:first').tab('show');
	$('#tab-common-pills a:first').tab('show');
	$('#tab-product-pills a:first').tab('show');
	$('#foter-descriptions-language a:first').tab('show');
	$('#social-icon-language a:first').tab('show');

	var modalForAll = $('#modal-for-all'),
		modalHeader = modalForAll.find('.modal-header'),
		modalTitle = modalHeader.find('.modal-title'),
		modalBody = modalForAll.find('.modal-body'),
		modalActionButton = $('.modal-action-button');

	// Type Manifest
	var typeManifest = $("input[name=\'theme_materialize_settings[favicon][manifest][type]\']"),
		manifestStatic = $('.manifest-static'),
		manifestDynamic = $('.manifest-dynamic');

	typeManifest.change(function() {
		if (this.value == 'static') {
			manifestStatic.show();
			manifestDynamic.hide();
		} else if (this.value == 'dynamic') {
			manifestStatic.hide();
			manifestDynamic.show();
		}
	});

	// Socials
	var icon_row = {{ icon_row }};

	function addIcon(language_id) {
		html  = '<tr id="icon-row' + icon_row + '">';
		html += '	<td class="text-center">';
		html += '		<a href="" id="thumb-image' + icon_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}"></a>';
		html += '		<input type="hidden" name="theme_materialize_social_icon[' + language_id + '][' + icon_row + '][icon]" value="" id="input-icon' + icon_row + '">';
		html += '	</td>';
		html += '	<td class="text-left">';
		html += '		<input type="text" name="theme_materialize_social_icon[' + language_id + '][' + icon_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control">';
		html += '	</td>';
		html += '	<td class="text-left">';
		html += '		<input type="text" name="theme_materialize_social_icon[' + language_id + '][' + icon_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control">';
		html += '	</td>';
		html += '	<td class="text-right">';
		html += '		<input type="text" name="theme_materialize_social_icon[' + language_id + '][' + icon_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control">';
		html += '	</td>';
		html += '	<td class="text-center">';
		html += '		<button type="button" onclick="$(\'#icon-row' + icon_row + ', .tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>';
		html += '	</td>';
		html += '</tr>';

		$('#social-icons' + language_id + ' tbody').append(html);

		icon_row++;
	}

	// Selectpicker
	$('.selectpicker.selectpicker-live-search').selectpicker({
		size: 10,
		liveSearch: true,
		iconBase: 'fa',
		tickIcon: 'fa-check'
	});

	var successNotification = window.createNotification({
			theme: 'success',
			displayCloseButton: true,
			showDuration: 5000
		}),
		infoNotification = window.createNotification({
			theme: 'info',
			displayCloseButton: true,
			showDuration: 5000
		}),
		warningNotification = window.createNotification({
			theme: 'warning',
			displayCloseButton: true,
			showDuration: 5000
		}),
		errorNotification = window.createNotification({
			theme: 'error',
			displayCloseButton: true,
			showDuration: 5000
		}),
		noneNotification = window.createNotification({
			theme: 'none',
			displayCloseButton: true,
			showDuration: 5000
		});

	// Clear cache
	$(document).on('click', '#cache-clear-categories', function() {
		$.ajax({
			url: 'index.php?route=extension/theme/materialize/clearCacheCategories&user_token={{ user_token }}',
			type: 'post',
			dataType: 'json',
			beforeSend: function() {
				$('#cache-clear').button('loading');
			},
			complete: function() {
				$('#cache-clear').button('reset');
			},
			success: function(json) {
				if (json['info']) {
					infoNotification({
						title: 'Очистка кэша',
						message: json['info']
					});
				}

				if (json['success']) {
					successNotification({
						title: 'Очистка кэша',
						message: json['success']
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$(document).on('click', '#cache-clear-colors', function() {
		$.ajax({
			url: 'index.php?route=extension/theme/materialize/clearCacheColors&user_token={{ user_token }}',
			type: 'post',
			dataType: 'json',
			beforeSend: function() {
				$('#cache-clear').button('loading');
			},
			complete: function() {
				$('#cache-clear').button('reset');
			},
			success: function(json) {
				if (json['info']) {
					infoNotification({
						title: 'Очистка кэша',
						message: json['info']
					});
				}

				if (json['success']) {
					successNotification({
						title: 'Очистка кэша',
						message: json['success']
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$(document).on('click', '#cache-clear-all', function() {
		$.ajax({
			url: 'index.php?route=extension/theme/materialize/clearCacheAll&user_token={{ user_token }}',
			type: 'post',
			dataType: 'json',
			beforeSend: function() {
				$('#cache-clear').button('loading');
			},
			complete: function() {
				$('#cache-clear').button('reset');
			},
			success: function(json) {
				if (json['info']) {
					infoNotification({
						title: 'Очистка кэша',
						message: json['info']
					});
				}

				if (json['success']) {
					successNotification({
						title: 'Очистка кэша',
						message: json['success']
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	var createSchemeWrapBtn = $('#create-scheme-wrap-btn'),
		colorSchemeCreateButton = $('#color-scheme-create'),
		colorSchemeCreateWrap = $('#create-scheme-wrap'),
		colorSchemeCreateBaseExisting = $('#color-scheme-create-base-existing'),
		colorSchemeRemove = $('.color-scheme-remove'),
		colorSchemeRemoveAll = $('#color-scheme-remove-all');

	$(document).on('click', '#color-scheme-create-new', function() {
		$.ajax({
			url: 'index.php?route=extension/theme/materialize/colorSchemeCreate&user_token={{ user_token }}',
			type: 'post',
			dataType: 'json',
			beforeSend: function() {
				colorSchemeCreateButton.button('loading');
				colorSchemeCreateWrap.append('<div class="loader-wrapper"><div class="showbox"><div class="loader"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></svg></div></div></div>');
			},
			complete: function() {
				colorSchemeCreateButton.button('reset');
			},
			success: function(json) {
				createSchemeWrapBtn.hide();
				colorSchemeCreateWrap.html(json);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	colorSchemeCreateBaseExisting.click(function() {
		modalHeader.removeClass().addClass('modal-header bg-primary');
		modalActionButton.removeClass().addClass('btn modal-action-button btn-primary').prop('disabled', true);
		modalTitle.text('Выберите цветовую схему');

		var html  = '';
		{% for color_scheme in theme_materialize_color_schemes %}
		html += '<div class="list-group-item">';
		html += '	<div class="media">';
		html += '		<div class="media-left media-middle">';
		html += '			<label class="form-switch">';
		html += '				<input type="radio" name="create_color_scheme_value" value="{{ color_scheme.scheme_id }}">';
		html += '				<i></i>';
		html += '			</label>';
		html += '		</div>';
		html += '		<div class="media-body vertical-align-middle">';
		html += '			<h4 class="media-heading text-medium">{{ color_scheme.title }}</h4>';
		html += '		</div>';
		html += '		<div class="media-right media-middle">';
		html += '			<div class="thumbnail materialize-color-thumbnail" style="background:{{ color_scheme.hex }};"></div>';
		html += '		</div>';
		html += '	</div>';
		html += '</div>';
		{% endfor %}

		modalBody.html(html);

		modalForAll.modal('show');

		$("input[name=\'create_color_scheme_value\']").change(function() {
			modalActionButton.removeClass().addClass('btn modal-action-button btn-primary').attr('data-action-scheme-remove', 'false').attr('data-action-scheme-id', this.value).prop('disabled', false);
		});
	});

	colorSchemeRemove.click(function() {
		var schemeId = $(this).data('scheme-id'),
			schemeTitle = $(this).text();

		modalHeader.removeClass().addClass('modal-header bg-danger');
		modalActionButton.removeClass().addClass('btn modal-action-button btn-danger').attr('data-action-scheme-remove', 'true').attr('data-action-scheme-id', schemeId).prop('disabled', false);
		modalTitle.text('Удалить ' + schemeTitle);
		modalBody.html('Данное действие приведёт к безвозвратному удалению цветовой схемы: <b>' + schemeTitle + '</b>. Вы уверены, что хотите продолжить?');

		modalForAll.modal('show');
	});

	colorSchemeRemoveAll.click(function() {
		modalHeader.removeClass().addClass('modal-header bg-danger');
		modalActionButton.removeClass().addClass('btn modal-action-button btn-danger').attr('data-action-scheme-remove', 'true').attr('data-action-scheme-id', 'false').prop('disabled', false);
		modalTitle.text('Удалить все цветовые схемы');
		modalBody.html('Данное действие приведёт к безвозвратному удалению <b>всех созданных цветовых схем!</b> Вы уверены, что хотите продолжить?');

		modalForAll.modal('show');
	});

	$(document).on('click', '.modal-action-button', function() {
		var actionSchemeId = $(this).attr('data-action-scheme-id'),
			actionRemove = $(this).attr('data-action-scheme-remove');

		if ((actionSchemeId != 'false') && (actionRemove == 'false')) {
			$.ajax({
				url: 'index.php?route=extension/theme/materialize/colorSchemeCreate&scheme_id=' + actionSchemeId + '&user_token={{ user_token }}',
				type: 'post',
				dataType: 'json',
				beforeSend: function() {
					modalForAll.modal('hide');
					colorSchemeCreateButton.button('loading');
					colorSchemeCreateWrap.append('<div class="loader-wrapper"><div class="showbox"><div class="loader"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/></svg></div></div></div>');
				},
				complete: function() {
					colorSchemeCreateButton.button('reset');
				},
				success: function(json) {
					createSchemeWrapBtn.hide();
					colorSchemeCreateWrap.html(json);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		} else if ((actionSchemeId != 'false') && (actionRemove == 'true')) {
			$.ajax({
				url: 'index.php?route=extension/theme/materialize/colorSchemeDeleteById&scheme_id=' + actionSchemeId + '&user_token={{ user_token }}',
				dataType: 'json',
				success: function(json) {
					if (json['success']) {
						applyBtn.trigger('click');
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		} else if ((actionSchemeId == 'false') && (actionRemove == 'true')) {
			$.ajax({
				url: 'index.php?route=extension/theme/materialize/colorSchemesDeleteAll&user_token={{ user_token }}',
				dataType: 'json',
				success: function(json) {
					if (json['success']) {
						applyBtn.trigger('click');
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	});

	// Apply button
	var applyBtn = $('#apply-btn'),
		formMaterialize = $('#form-theme-materialize'),
		dataAction = formMaterialize.attr('data-action');

	if (sessionStorage['index_p']) {
		var index_p = sessionStorage['index_p'];
	} else {
		var index_p = 0;
	}

	$('#apply-tab li:eq(' + index_p + ') a').tab('show');

	sessionStorage['index_p'] = 0;

	applyBtn.click(function() {
		sessionStorage['index_p'] = $(".nav-tabs .active").index();

		formMaterialize.attr({'action':dataAction});
		formMaterialize.submit();

		e.preventDefault();
	});

	document.addEventListener("keydown", function(event) {
		if (event.keyCode == 83 && (navigator.platform.match("Mac") ? event.metaKey : event.ctrlKey)) {
			event.preventDefault();
			applyBtn.trigger('click');
		}
	}, false);

	// Notify
	{% for error in errors %}
	errorNotification({
		message: '{{ error }}'
	});
	{% endfor %}
	{% if success %}
	successNotification({
		message: '{{ success }}'
	});
	{% endif %}
</script>
{{ footer }}