{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
		{
			"@type": "ListItem",
			"position": {{ key }},
			"item": {
				"@id": "{{ breadcrumb.href }}",
				"name": "{{ breadcrumb.text }}"
			}
		},
		{% endif %}
		{% else %}
		{
			"@type": "ListItem",
			"position": {{ key }},
			"item": {
				"@id": "{{ breadcrumb.href }}",
				"name": "{{ breadcrumb.text }}"
			}
		}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav class="breadcrumb-wrapper transparent z-depth-0">
			<div class="nav-wrapper">
			{% for key, breadcrumb in breadcrumbs %}
				{% if key < breadcrumbs|length - 1 %}
					{% if key == 0 %}
					<a href="{{ breadcrumb.href }}" class="breadcrumb black-text"><i class="material-icons">home</i></a>
					{% else %}
					<a href="{{ breadcrumb.href }}" class="breadcrumb black-text">{{ breadcrumb.text }}</a>
					{% endif %}
				{% else %}
				<span class="breadcrumb black-text">{{ breadcrumb.text }}</span>
				{% endif %}
			{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div class="col {{ main }}">
				{{ content_top }}
				<div class="card-panel">
					{{ text_message }}
					<div class="flex-reverse">
						<a href="{{ continue }}" class="btn waves-effect waves-light red href-underline">{{ button_continue }}</a>
					</div>
				</div>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
{% endspaceless %}
{{ footer }}