{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-callback">
			<div class="row">
				<div id="callback-data" class="col-sm-12 col-md-4 col-md-push-8">
					<div id="post-data">
						<div class="panel panel-default">
							<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-sliders"></i> {{ tab_data }}</h3></div>
							<div class="panel-body">
								<div class="form-group">
									<label class="control-label" for="input-status">{{ entry_status }}</label>
									<select name="status" id="input-status" class="form-control">
										{% if status %}
										<option value="1" selected="selected">{{ text_сalled }}</option>
										<option value="0">{{ text_waiting }}</option>
										{% else %}
										<option value="1">{{ text_сalled }}</option>
										<option value="0" selected="selected">{{ text_waiting }}</option>
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label class="control-label" for="input-date-added">{{ entry_date_added }}:</label>
									<div class="">
										<input type="text" value="{{ date_added }}" placeholder="{{ entry_date_added }}" id="input-date-added" class="form-control" disabled/>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col-sm-6">
										<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a>
									</div>
									<div class="col-sm-6 text-right">
										<button type="submit" form="form-callback" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> {{ button_save }}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-8 col-md-pull-4">
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3></div>
						<div class="panel-body form-horizontal">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
								{% if callback_id %}
								<li><a href="#tab-history" data-toggle="tab">{{ tab_history }}</a></li>
								{% endif %}
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab-general">
									<fieldset>
										<legend>{{ text_account }}</legend>
										<div class="form-group required">
											<label class="col-sm-2 control-label" for="input-telephone">{{ entry_telephone }}:</label>
											<div class="col-sm-10">
												<input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control" />
												{% if error_telephone %}
												<div class="text-danger">{{ error_telephone }}</div>
												{% endif %}
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}:</label>
											<div class="col-sm-10">
												<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
												{% if error_name %}
												<div class="text-danger">{{ error_name }}</div>
												{% endif %}
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}:</label>
											<div class="col-sm-10">
												<textarea name="enquiry" placeholder="{{ entry_enquiry }}" id="input-enquiry" class="form-control textarea-resize-vertical">{{ enquiry }}</textarea>
												{% if error_enquiry %}
												<div class="text-danger">{{ error_enquiry }}</div>
												{% endif %}
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="input-call-time">{{ entry_call_time }}:</label>
											<div class="col-sm-5">
												<div class="input-group time">
													<input type="text" name="call_time" value="{{ call_time }}" placeholder="{{ entry_call_time }}" data-date-format="HH:mm" id="input-call-time" class="form-control" />
													<span class="input-group-btn">
													<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
													</span>
												</div>
											</div>
										</div>
									</fieldset>
									{% if callback_id %}
									<br>
									<fieldset>
										<legend>{{ text_info }}</legend>
										<div class="table-responsive">
											<table class="table table-bordered table-hover">
												<thead>
													<tr>
														<td class="text-left"><b>{{ entry_ip }}</b> </td>
														<td class="text-right"><b>{{ entry_order_page }}</b></td>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="text-left"><a href="//www.geoiptool.com/en/?IP={{ ip }}" target="_blank" rel="noopener">{{ ip }}</a></td>
														<td class="text-right"><a href="{{ order_page }}" target="_blank" rel="noopener">{{ order_page }}</a></td>
													</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
									{% endif %}
								</div>
								{% if callback_id %}
								<div class="tab-pane" id="tab-history">
									<fieldset>
										<legend>{{ text_history }}</legend>
										<div id="history"></div>
									</fieldset>
									<br />
									<fieldset>
										<legend>{{ text_history_add }}</legend>
										<div class="form-group">
											<label class="col-sm-2 control-label" for="input-comment">{{ entry_comment }}</label>
											<div class="col-sm-10">
												<textarea name="comment" placeholder="{{ entry_comment }}" id="input-comment" class="form-control textarea-resize-vertical"></textarea>
											</div>
										</div>
									</fieldset>
									<div class="text-right">
										<button id="button-history" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_history_add }}</button>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
						<div id="footer-appeal-users" class="panel-footer text-center"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	$('.time').datetimepicker({
		language: '{{ datepicker }}',
		pickDate: false,
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down"
		}
	});

	$('#history').delegate('.pagination a', 'click', function(e) {
		e.preventDefault();

		$('#history').load(this.href);
	});

	$('#history').load('index.php?route=extension/materialize/callback/callback/history&user_token={{ user_token }}&callback_id={{ callback_id }}');

	$('#button-history').on('click', function(e) {
		e.preventDefault();

		$.ajax({
			url: 'index.php?route=extension/materialize/callback/callback/addhistory&user_token={{ user_token }}&callback_id={{ callback_id }}',
			type: 'post',
			dataType: 'json',
			data: 'comment=' + encodeURIComponent($('#tab-history textarea[name=\'comment\']').val()),
			beforeSend: function() {
				$('#button-history').button('loading');
			},
			complete: function() {
				$('#button-history').button('reset');
			},
			success: function(json) {
				if (json['error']) {
					$.notify({
						icon: 'fa fa-exclamation-circle',
						message: json['error']
					},{
						type: "danger"
					});
				}

				if (json['success']) {
					$.notify({
						icon: 'fa fa-exclamation-circle',
						message: json['success']
					},{
						type: "success"
					});

					$('#history').load('index.php?route=extension/materialize/callback/callback/history&user_token={{ user_token }}&callback_id={{ callback_id }}');

					$('#tab-history textarea[name=\'comment\']').val('');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('#footer-appeal-users').load('index.php?route=extension/materialize/appeal/installed/footer&user_token={{ user_token }}');
</script>
{{ footer }}