<ul class="collection with-header z-depth-1">
	<li class="collection-header"><h4>{{ heading_title }}</h4></li>
	<li class="collection-item">
		{% for filter_group in filter_groups %}
			<label class="text-bold">{{ filter_group.name }}</label>
			<div class="list-group-item">
				<ul id="filter-group{{ filter_group.filter_group_id }}">
					{% for filter in filter_group.filter %}
						<li class="materialize-product-options__item">
							<label class="materialize-product-options__item--checkbox">
								{% if filter.filter_id in filter_category %}
									<input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" class="filled-in" checked="checked">
									<span>{{ filter.name }}</span>
								{% else %}
									<input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" class="filled-in">
									<span>{{ filter.name }}</span>
								{% endif %}
							</label>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</li>
	<li class="collection-item flex-reverse">
		<button type="button" id="button-filter" class="btn waves-effect blue">{{ button_filter }}</button> {# todo-materiliaze Set color from color scheme #}
	</li>
</ul>
<script>
	$('#button-filter').on('click', function() {
		filter = [];

		$('input[name^=\'filter\']:checked').each(function(element) {
			filter.push(this.value);
		});

		location = '{{ action }}&filter=' + filter.join(',');
	});
</script>