{% if mt_filters %}
	<h4 class="center">{{ php_time }} millisecond</h4>
	<div id="mt-filter-category">
		<ul class="collection with-header mt-filter{{ horizontal ? ' horizontal' : ' collapsible expandable' }} z-depth-1 {{ color.common.background.name }} {{ color.common.text.name }}">
			<li class="collection-header mt-filters-item {{ color.header.background.name }} {{ color.header.text.name }}"><h4>{{ module_name }}</h4></li>
			{% for mt_filter in mt_filters %}
				{% for name, inputs_data in mt_filter.value %}
					<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}">
						<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><b>{{ name }}</b></div>
						<div class="mt-filter-content collapsible-body"{% if mt_filter.type != 'select_single' and mt_filter.type != 'select_multiple' %} data-simplebar{% endif %}>
							{% if mt_filter.input_type == 'select_single' or mt_filter.type == 'select_multiple' %}
								<div class="input-field">
									<select name="{{ inputs_data.input_name }}"{% if mt_filter.type == 'select_multiple' %} multiple{% endif %}>
										<option value=""{% if mt_filter.type == 'select_multiple' %} disabled{% endif %}>{{ text_select }}</option>
										{% for input_value in inputs_data.input_values %}
											<option value="{{ input_value.value }}" id="{{ input_value.mt_filter_id }}"{% if input_value.image %} data-icon="{{ input_value.image }}"{% endif %}{{ input_value.preselected ? ' checked="checked"' }}{{ input_value.product_count_disabled ? ' disabled' }}>{{ input_value.name }}{% if input_value.product_count is not null %} ({{ input_value.product_count }}){% endif %}</option>
										{% endfor %}
									</select>
								</div>
							{% else %}
								<ul>
									{% for input_value in inputs_data.input_values %}
										<li class="mt-filter-item">
											{% if mt_filter.input_type == 'checkbox' %}
												<label class="mt-filter-item--checkbox">
													{% if input_value.image %}<img src="{{ input_value.image }}" alt="{{ input_value.name }}">{% endif %}
													<input type="checkbox" name="{{ inputs_data.input_name }}" value="{{ input_value.value }}" id="{{ input_value.mt_filter_id }}" class="filled-in"{{ input_value.preselected ? ' checked="checked"' }}{{ input_value.product_count_disabled ? ' disabled' }}>
													<span>{{ input_value.name }}{% if input_value.product_count is not null %} ({{ input_value.product_count }}){% endif %}</span>
												</label>
											{% endif %}
											{#{% if mt_filter.input_type == 'radio' %}
												<label class="mt-filter-item--radio">
													{% if value.image %}<img src="{{ value.image }}" alt="{{ value.name }}">{% endif %}
													<input type="radio" name="{{ value.input_name }}" value="{{ value.filter_value }}" id="{{ value.mt_filter_id }}" class="with-gap"{{ value.preselected ? ' checked="checked"' }}>
													<span>{{ value.name }}</span>
												</label>
											{% endif %}
											{% if mt_filter.input_type == 'switches' %}
												<div class="switch">
													<label class="mt-filter-item--switch">
														{% if value.image %}<img src="{{ value.image }}" alt="{{ value.name }}">{% endif %} #}{# todo-materialize To set styles for images #}{#
														{{ value.name }} #}{# todo-materialize Set styles for all "switches" so that they are on the right #}{#
														<input type="checkbox" name="{{ value.input_name }}" value="{{ value.filter_value }}" id="{{ value.mt_filter_id }}"{{ value.preselected ? ' checked="checked"' }}>
														<span class="lever"></span>
													</label>
												</div>
											{% endif %}#}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</li>
				{% endfor %}
				{#{% if mt_filter.type == 'price' and mt_filter.value %}
					<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}"> #}{# todo-materiliaze Set color from color scheme #}{#
						<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><span><b>{{ mt_filter.name }} <span id="span-price-range-min">{{ prices.min_price }}</span> — <span id="span-price-range-max">{{ prices.max_price }}</span></b></span></div>
						<div class="mt-filter-content collapsible-body">
							<div id="slider-prices" class="mt-filters-item--filter-sliders {{ color.slider.secondary_background.name }}"></div>
							<input type="hidden" name="price_filter[]" value="{{ price_filter_preselected.0 }}" id="input-price-range-min">
							<input type="hidden" name="price_filter[]" value="{{ price_filter_preselected.1 }}" id="input-price-range-max">
						</div>
					</li>
				{% endif %}
				{% if mt_filter.type == 'keyword' %}
					<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}"> #}{# todo-materiliaze Set color from color scheme #}{#
						<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><span><b>{{ mt_filter.name }}</b></span></div>
						<div class="mt-filter-content collapsible-body">
							<div class="input-field">
								<input type="text" name="keyword_filter" id="mt-filter-keyword" value="{{ mt_filter.preselected }}">
								<label for="keyword-input">{{ mt_filter.name }}</label>
							</div>
						</div>
					</li>
				{% endif %}
				{% if mt_filter.type == 'sub_categories' %}
					<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}">
						<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}">
							<span><b>{{ mt_filter.name }}</b></span>
						</div>
						<div class="mt-filter-content collapsible-body"{% if mt_filter.type != 'select_single' and mt_filter.type != 'select_multiple' %} data-simplebar{% endif %}>
							{% if mt_filter.input_type == 'select_single' or mt_filter.type == 'select_multiple' %}
								<div class="input-field">
									<select name="sub_category_filter[]"{% if mt_filter.type == 'select_multiple' %} multiple{% endif %}>
										<option value="0"{% if mt_filter.type == 'select_multiple' %} disabled{% endif %}>{{ text_select }}</option>
										{% for sub_category in mt_filter.value %}
											{% if sub_category.category_id in mt_filter.preselected %}
												<option value="{{ sub_category.category_id }}" id="{{ sub_category.mt_filter_id }}" selected{% if sub_category.image %} data-icon="{{ sub_category.image }}"{% endif %}>{{ sub_category.name }}</option>
											{% else %}
												<option value="{{ sub_category.category_id }}" id="{{ sub_category.mt_filter_id }}"{% if sub_category.image %} data-icon="{{ sub_category.image }}"{% endif %}>{{ sub_category.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							{% else %}
								<ul>
									{% for sub_category in mt_filter.value %}
										<li class="mt-filter-item">
											{% if mt_filter.input_type == 'checkbox' %}
												<label class="mt-filter-item--checkbox">
													{% if sub_category.category_id in mt_filter.preselected %}
														{% if sub_category.image %}
															<img src="{{ sub_category.image }}" alt="{{ sub_category.name }}">
														{% endif %}
														<input type="checkbox" name="sub_category_filter[]" value="{{ sub_category.category_id }}" id="{{ sub_category.mt_filter_id }}" class="filled-in" checked="checked">
														<span>{{ sub_category.name }}</span>
													{% else %}
														{% if sub_category.image %}
															<img src="{{ sub_category.image }}" alt="{{ sub_category.name }}">
														{% endif %}
														<input type="checkbox" name="sub_category_filter[]" value="{{ sub_category.category_id }}" id="{{ sub_category.mt_filter_id }}" class="filled-in">
														<span>{{ sub_category.name }}</span>
													{% endif %}
												</label>
											{% endif %}
											{% if mt_filter.input_type == 'radio' %}
												<label class="mt-filter-item--radio">
													{% if sub_category.category_id in mt_filter.preselected %}
														{% if sub_category.image %}
															<img src="{{ sub_category.image }}" alt="{{ sub_category.name }}">
														{% endif %}
														<input type="radio" name="sub_category_filter[]" value="{{ sub_category.category_id }}" id="{{ sub_category.mt_filter_id }}" class="with-gap" checked="checked">
														<span>{{ sub_category.name }}</span>
													{% else %}
														{% if sub_category.image %}
															<img src="{{ sub_category.image }}" alt="{{ sub_category.name }}">
														{% endif %}
														<input type="radio" name="sub_category_filter[]" value="{{ sub_category.category_id }}" id="{{ sub_category.mt_filter_id }}" class="with-gap">
														<span>{{ sub_category.name }}</span>
													{% endif %}
												</label>
											{% endif %}
											{% if mt_filter.input_type == 'switches' %}
												<div class="switch">
													<label class="mt-filter-item--switch">
														{% if sub_category.category_id in mt_filter.preselected %}
															{% if sub_category.image %}
																<img src="{{ sub_category.image }}" alt="{{ sub_category.name }}">  todo-materialize To set styles for images
															{% endif %}
															{{ sub_category.name }}  todo-materialize Set styles for all "switches" so that they are on the right
															<input type="checkbox" name="sub_category_filter[]" value="{{ sub_category.category_id }}" id="{{ sub_category.mt_filter_id }}" checked="checked">
															<span class="lever"></span>
														{% else %}
															{% if sub_category.image %}
																<img src="{{ sub_category.image }}" alt="{{ sub_category.name }}">  todo-materialize To set styles for images
															{% endif %}
															{{ sub_category.name }}
															<input type="checkbox" name="sub_category_filter[]" value="{{ sub_category.category_id }}" id="{{ sub_category.mt_filter_id }}">
															<span class="lever"></span>
														{% endif %}
													</label>
												</div>
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</li>
				{% endif %}
				{% if mt_filter.type == 'default_filters' %}
					{% for filter_group in mt_filter.value %}
						<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}">
							<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><b>{{ filter_group.name }}</b></div>
							<div class="mt-filter-content collapsible-body"{% if mt_filter.type != 'select_single' and mt_filter.type != 'select_multiple' %} data-simplebar{% endif %}>
								{% if mt_filter.input_type == 'select_single' or mt_filter.type == 'select_multiple' %}
									<div class="input-field">
										<select name="default_filter[]"{% if mt_filter.type == 'select_multiple' %} multiple{% endif %}>
											<option value="0"{% if mt_filter.type == 'select_multiple' %} disabled{% endif %}>{{ text_select }}</option>
											{% for filter in filter_group.filter %}
												{% if filter.filter_id in mt_filter.preselected %}
													<option value="{{ filter.filter_id }}" id="{{ filter.mt_filter_id }}" selected>{{ filter.name }}</option>
												{% else %}
													<option value="{{ filter.filter_id }}" id="{{ filter.mt_filter_id }}">{{ filter.name }}</option>
												{% endif %}
											{% endfor %}
										</select>
										<label class="text-bold">{{ option.name }}</label>
									</div>
								{% else %}
									<ul>
										{% for filter in filter_group.filter %}
											<li class="mt-filter-item">
												{% if mt_filter.input_type == 'checkbox' %}
													<label class="mt-filter-item--checkbox">
														{% if filter.filter_id in mt_filter.preselected %}
															<input type="checkbox" name="default_filter[]" value="{{ filter.filter_id }}" id="{{ filter.mt_filter_id }}" class="filled-in" checked="checked">
															<span>{{ filter.name }}</span>
														{% else %}
															<input type="checkbox" name="default_filter[]" value="{{ filter.filter_id }}" id="{{ filter.mt_filter_id }}" class="filled-in">
															<span>{{ filter.name }}</span>
														{% endif %}
													</label>
												{% endif %}
												{% if mt_filter.input_type == 'radio' %}
													<label class="materialize-product-options__item--checkbox">
														{% if filter.filter_id in mt_filter.preselected %}
															<input type="radio" name="default_filter[]" value="{{ filter.filter_id }}" id="{{ filter.mt_filter_id }}" class="with-gap" checked="checked">
															<span>{{ filter.name }}</span>
														{% else %}
															<input type="radio" name="default_filter[]" value="{{ filter.filter_id }}" id="{{ filter.mt_filter_id }}" class="with-gap">
															<span>{{ filter.name }}</span>
														{% endif %}
													</label>
												{% endif %}
												{% if mt_filter.input_type == 'switches' %}
													<div class="switch">
														<label class="mt-filter-item--switch">
															{% if filter.filter_id in mt_filter.preselected %}
																{{ filter.name }}
																<input type="checkbox" name="default_filter[]" value="{{ filter.filter_id }}" id="{{ filter.mt_filter_id }}" checked="checked">
																<span class="lever"></span>
															{% else %}
																{{ filter.name }}
																<input type="checkbox" name="default_filter[]" value="{{ filter.filter_id }}" id="{{ filter.mt_filter_id }}">
																<span class="lever"></span>
															{% endif %}
														</label>
													</div>
												{% endif %}
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</li>
					{% endfor %}
				{% endif %}
				{% if mt_filter.type == 'attributes' %}
					<pre>{{ dump(mt_filter) }}</pre>
					{% for name, attribute in mt_filter.value %}
						<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}">
							<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><b>{{ name }}</b>{% if mt_filter.explanation %}<span class="material-icons mt-filters-item--tooltiped tooltipped-html grey-text" data-position="right" data-tooltip="<b>I am a tooltip</b><br>Hello!">help_outline</span>{% endif %}  todo-materiliaze Set color from color scheme </div>
							<div class="mt-filter-content collapsible-body"{% if mt_filter.type != 'select_single' and mt_filter.type != 'select_multiple' %} data-simplebar{% endif %}>
								{% if mt_filter.input_type == 'select_single' or mt_filter.type == 'select_multiple' %}
									<div class="input-field">
										<select name="attribute_filter[{{ value.attribute_id }}][]"{% if mt_filter.type == 'select_multiple' %} multiple{% endif %}>  todo-materialize It's stupid and it works wrong!
											<option value="0"{% if mt_filter.type == 'select_multiple' %} disabled{% endif %}>{{ text_select }}</option>
											{% for value in attribute %}
												{% if value.text in mt_filter.preselected[value.attribute_id] %}
													<option value="{{ value.text }}" id="{{ value.mt_filter_id }}" selected>{{ value.text }}</option>
												{% else %}
													<option value="{{ value.text }}" id="{{ value.mt_filter_id }}">{{ value.text }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								{% else %}
									<ul>
										{% for value in attribute %}
											<li class="mt-filter-item">
												{% if mt_filter.input_type == 'checkbox' %}
													<label class="mt-filter-item--checkbox">
														{% if value.text in mt_filter.preselected[value.attribute_id] %}
															<input type="checkbox" name="attribute_filter[{{ value.attribute_id }}][]" value="{{ value.text }}" id="{{ value.mt_filter_id }}" class="filled-in" checked="checked">
															<span>{{ value.text }}</span>
														{% else %}
															<input type="checkbox" name="attribute_filter[{{ value.attribute_id }}][]" value="{{ value.text }}" id="{{ value.mt_filter_id }}" class="filled-in">
															<span>{{ value.text }}</span>
														{% endif %}
													</label>
												{% endif %}
												{% if mt_filter.input_type == 'radio' %}
													<label class="mt-filter-item--radio">
														{% if value.attribute_id in mt_filter.preselected[value.attribute_id] %}
															<input type="radio" name="attribute_filter[]" value="{{ value.attribute_id }}" id="{{ value.mt_filter_id }}" class="with-gap" checked="checked">
															<span>{{ value.text }}</span>
														{% else %}
															<input type="radio" name="attribute_filter[]" value="{{ value.attribute_id }}" id="{{ value.mt_filter_id }}" class="with-gap">
															<span>{{ value.text }}</span>
														{% endif %}
													</label>
												{% endif %}
												{% if mt_filter.input_type == 'switches' %}
													<div class="switch">
														<label class="mt-filter-item--switch">
															{% if value.attribute_id in mt_filter.preselected[value.attribute_id] %}
																{{ value.text }}  todo-materialize Set styles for all "switches" so that they are on the right
																<input type="checkbox" name="attribute_filter[]" value="{{ value.attribute_id }}" id="{{ value.mt_filter_id }}" checked="checked">
																<span class="lever"></span>
															{% else %}
																{{ value.text }}
																<input type="checkbox" name="attribute_filter[]" value="{{ value.attribute_id }}" id="{{ value.mt_filter_id }}">
																<span class="lever"></span>
															{% endif %}
														</label>
													</div>
												{% endif %}
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</li>
					{% endfor %}
				{% endif %}
				{% if mt_filter.type == 'options' %}
					{% for option in mt_filter.value %}
						<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}">
							<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><b>{{ option.name }}</b></div>
							<div class="mt-filter-content collapsible-body"{% if mt_filter.type != 'select_single' and mt_filter.type != 'select_multiple' %} data-simplebar{% endif %}>
								{% if mt_filter.input_type == 'select_single' or mt_filter.type == 'select_multiple' %}
									<div class="input-field">
										<select name="option_filter[{{ option.option_id }}][]"{% if mt_filter.type == 'select_multiple' %} multiple{% endif %}>
											<option value="0"{% if mt_filter.type == 'select_multiple' %} disabled{% endif %}>{{ text_select }}</option>
											{% for option_value in option.option_value_data %}
												{% if option_value.option_value_id in mt_filter.preselected %}
													<option value="{{ option_value.option_value_id }}" id="{{ option_value.mt_filter_id }}" selected{% if option_value.image %} data-icon="{{ option_value.image }}"{% endif %}>{{ option_value.name }}</option>
												{% else %}
													<option value="{{ option_value.option_value_id }}" id="{{ option_value.mt_filter_id }}"{% if option_value.image %} data-icon="{{ option_value.image }}"{% endif %}>{{ option_value.name }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								{% else %}
									<ul>
										{% for option_value in option.option_value_data %}
											<li class="mt-filter-item">
												{% if mt_filter.input_type == 'checkbox' %}
													<label class="mt-filter-item--checkbox">
														{% if option_value.image %}
															<img src="{{ option_value.image }}" alt="{{ option_value.name }}">
														{% endif %}
														{% if option_value.option_value_id in mt_filter.preselected[option.option_id] %}
															<input type="checkbox" name="option_filter[{{ option.option_id }}][]" value="{{ option_value.option_value_id }}" id="{{ option_value.mt_filter_id }}" class="filled-in" checked="checked">
															<span>{{ option_value.name }}</span>
														{% else %}
															<input type="checkbox" name="option_filter[{{ option.option_id }}][]" value="{{ option_value.option_value_id }}" id="{{ option_value.mt_filter_id }}" class="filled-in">
															<span>{{ option_value.name }}</span>
														{% endif %}
													</label>
												{% endif %}
												{% if mt_filter.input_type == 'radio' %}
													<label class="mt-filter-item--radio">
														{% if option_value.image %}
															<img src="{{ option_value.image }}" alt="{{ option_value.name }}">
														{% endif %}
														{% if option_value.option_value_id in mt_filter.preselected %}
															<input type="radio" name="option_filter[{{ option.option_id }}][]" value="{{ option_value.option_value_id }}" id="{{ option_value.mt_filter_id }}" class="with-gap" checked="checked">
															<span>{{ option_value.name }}</span>
														{% else %}
															<input type="radio" name="option_filter[{{ option.option_id }}][]" value="{{ option_value.option_value_id }}" id="{{ option_value.mt_filter_id }}" class="with-gap">
															<span>{{ option_value.name }}</span>
														{% endif %}
													</label>
												{% endif %}
												{% if mt_filter.input_type == 'switches' %}
													<div class="switch">
														<label class="mt-filter-item--switch">
															{% if option_value.image %}
																<img src="{{ option_value.image }}" alt="{{ option_value.name }}">
															{% endif %}
															{% if option_value.option_value_id in mt_filter.preselected %}
																{{ option_value.name }} #}{# todo-materialize Set styles for all "switches" so that they are on the right #}{#
																<input type="checkbox" name="option_filter[{{ option.option_id }}][]" value="{{ option_value.option_value_id }}" id="{{ option_value.mt_filter_id }}" checked="checked">
																<span class="lever"></span>
															{% else %}
																{{ option_value.name }}
																<input type="checkbox" name="option_filter[{{ option.option_id }}][]" value="{{ option_value.option_value_id }}" id="{{ option_value.mt_filter_id }}">
																<span class="lever"></span>
															{% endif %}
														</label>
													</div>
												{% endif %}
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						</li>
					{% endfor %}
				{% endif %}
				{% if mt_filter.type == 'rating' %}
					<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}">
						<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><b>{{ mt_filter.name }}</b></div>
						<div class="mt-filter-content collapsible-body" data-simplebar>
							<ul>
								{% for rating in mt_filter.value %}
									<li class="mt-filter-item">
										{% if mt_filter.input_type == 'checkbox' %}
											<label class="mt-filter-item--checkbox">
												{% if rating.rating_id in mt_filter.preselected %}
													<input type="checkbox" name="rating_filter[]" value="{{ rating.rating_id }}" id="{{ rating.mt_filter_id }}" class="filled-in" checked="checked">
													<span class="rating rating-filter">
														{% for i in 1..5 %}
															{% if rating.rating_id < i %}
																<i class="material-icons yellow-text text-accent-4">star_border</i>
															{% else %}
																<i class="material-icons yellow-text text-accent-4">star</i>
															{% endif %}
														{% endfor %}
													</span>
												{% else %}
													<input type="checkbox" name="rating_filter[]" value="{{ rating.rating_id }}" id="{{ rating.mt_filter_id }}" class="filled-in">
													<span class="rating rating-filter">
														{% for i in 1..5 %}
															{% if rating.rating_id < i %}
																<i class="material-icons yellow-text text-accent-4">star_border</i>
															{% else %}
																<i class="material-icons yellow-text text-accent-4">star</i>
															{% endif %}
														{% endfor %}
													</span>
												{% endif %}
											</label>
										{% endif %}
										{% if mt_filter.input_type == 'radio' %}
											<label class="mt-filter-item--radio"> #}{# todo-materialize Customize radio button rating styles #}{#
												{% if rating.rating_id in mt_filter.preselected %}
													<input type="radio" name="rating_filter[]" value="{{ rating.rating_id }}" id="{{ rating.mt_filter_id }}" class="with-gap" checked="checked">
													<span class="rating rating-filter">
														{% for i in 1..5 %}
															{% if rating.rating_id < i %}
																<i class="material-icons yellow-text text-accent-4">star_border</i>
															{% else %}
																<i class="material-icons yellow-text text-accent-4">star</i>
															{% endif %}
														{% endfor %}
													</span>
												{% else %}
													<input type="radio" name="rating_filter[]" value="{{ rating.rating_id }}" id="{{ rating.mt_filter_id }}" class="with-gap">
													<span class="rating rating-filter">
														{% for i in 1..5 %}
															{% if rating.rating_id < i %}
																<i class="material-icons yellow-text text-accent-4">star_border</i>
															{% else %}
																<i class="material-icons yellow-text text-accent-4">star</i>
															{% endif %}
														{% endfor %}
													</span>
												{% endif %}
											</label>
										{% endif %}
										{% if mt_filter.input_type == 'switches' %}
											<div class="switch">
												<label class="mt-filter-item--switch">
													{% if rating.rating_id in mt_filter.preselected %}
														<span class="rating rating-filter">
															{% for i in 1..5 %}
																{% if rating.rating_id < i %}
																	<i class="material-icons yellow-text text-accent-4">star_border</i>
																{% else %}
																	<i class="material-icons yellow-text text-accent-4">star</i>
																{% endif %}
															{% endfor %} #}{# todo-materialize Set styles for all "switches" so that they are on the right #}{#
														</span>
														<input type="checkbox" name="rating_filter[]" value="{{ rating.rating_id }}" id="{{ rating.mt_filter_id }}" checked="checked">
														<span class="lever"></span>
													{% else %}
														<span class="rating rating-filter">
															{% for i in 1..5 %}
																{% if rating.rating_id < i %}
																	<i class="material-icons yellow-text text-accent-4">star_border</i>
																{% else %}
																	<i class="material-icons yellow-text text-accent-4">star</i>
																{% endif %}
															{% endfor %}
														</span>
														<input type="checkbox" name="rating_filter[]" value="{{ rating.rating_id }}" id="{{ rating.mt_filter_id }}">
														<span class="lever"></span>
													{% endif %}
												</label>
											</div>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</div>
					</li>
				{% endif %}
				{% if mt_filter.type == 'stock_statuses' %}
					<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}">
						<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><b>{{ mt_filter.name }}</b></div>
						<div class="mt-filter-content collapsible-body"{% if mt_filter.type != 'select_single' and mt_filter.type != 'select_multiple' %} data-simplebar{% endif %}>
							{% if mt_filter.input_type == 'select_single' or mt_filter.type == 'select_multiple' %}
								<div class="input-field">
									<select name="stock_status_filter[]"{% if mt_filter.type == 'select_multiple' %} multiple{% endif %}>
										<option value="0"{% if mt_filter.type == 'select_multiple' %} disabled{% endif %}>{{ text_select }}</option>
										{% for stock_status in mt_filter.value %}
											{% if stock_status.stock_status_id in mt_filter.preselected %}
												<option value="{{ stock_status.stock_status_id }}" id="{{ stock_status.mt_filter_id }}" selected>{{ stock_status.name }}</option>
											{% else %}
												<option value="{{ stock_status.stock_status_id }}" id="{{ stock_status.mt_filter_id }}">{{ stock_status.name }}</option>
											{% endif %}
										{% endfor %}
									</select>
								</div>
							{% else %}
								<ul id="filter-stock-statuses">
									{% for stock_status in mt_filter.value %}
										<li class="mt-filter-item">
											{% if mt_filter.input_type == 'checkbox' %}
												<label class="mt-filter-item--checkbox">
													{% if stock_status.stock_status_id in mt_filter.preselected %}
														<input type="checkbox" name="stock_status_filter[]" value="{{ stock_status.stock_status_id }}" id="{{ stock_status.mt_filter_id }}" class="filled-in" checked="checked">
														<span>{{ stock_status.name }}</span>
													{% else %}
														<input type="checkbox" name="stock_status_filter[]" value="{{ stock_status.stock_status_id }}" id="{{ stock_status.mt_filter_id }}" class="filled-in">
														<span>{{ stock_status.name }}</span>
													{% endif %}
												</label>
											{% endif %}
											{% if mt_filter.input_type == 'radio' %}
												<label class="mt-filter-item--radio">
													{% if stock_status.stock_status_id in mt_filter.preselected %}
														<input type="radio" name="stock_status_filter[]" value="{{ stock_status.stock_status_id }}" id="{{ stock_status.mt_filter_id }}" class="with-gap" checked="checked">
														<span>{{ stock_status.name }}</span>
													{% else %}
														<input type="radio" name="stock_status_filter[]" value="{{ stock_status.stock_status_id }}" id="{{ stock_status.mt_filter_id }}" class="with-gap">
														<span>{{ stock_status.name }}</span>
													{% endif %}
												</label>
											{% endif %}
											{% if mt_filter.input_type == 'switches' %}
												<div class="switch">
													<label class="mt-filter-item--switch">
														{% if stock_status.stock_status_id in mt_filter.preselected %}
															{{ stock_status.name }} #}{# todo-materialize Set styles for all "switches" so that they are on the right #}{#
															<input type="checkbox" name="stock_status_filter[]" value="{{ stock_status.stock_status_id }}" id="{{ stock_status.mt_filter_id }}" checked="checked">
															<span class="lever"></span>
														{% else %}
															{{ stock_status.name }}
															<input type="checkbox" name="stock_status_filter[]" value="{{ stock_status.stock_status_id }}" id="{{ stock_status.mt_filter_id }}">
															<span class="lever"></span>
														{% endif %}
													</label>
												</div>
											{% endif %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</li>
				{% endif %}
				{% if mt_filter.type == 'discount' %}
					<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}">
						<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><b>{{ mt_filter.name }}</b></div>
						<div class="mt-filter-content collapsible-body" data-simplebar>
							<ul>
								<li class="mt-filter-item">
									{% if mt_filter.input_type == 'checkbox' %}
										<label class="mt-filter-item--checkbox">
											{% for product_special in mt_filter.value %}
												{% if product_special.discount_id in mt_filter.preselected %}
													<input type="checkbox" name="product_special_filter" value="1" id="{{ product_special.mt_filter_id }}" class="filled-in" checked="checked">
													<span>{{ text_yes }}</span>
												{% else %}
													<input type="checkbox" name="product_special_filter" value="1" id="{{ product_special.mt_filter_id }}" class="filled-in">
													<span>{{ text_yes }}</span>
												{% endif %}
											{% endfor %}
										</label>
									{% endif %}
									{% if mt_filter.input_type == 'switches' %}
										<div class="switch">
											<label class="mt-filter-item--switch">
												{% for product_special in mt_filter.value %}
													{% if product_special.discount_id in mt_filter.preselected %}
														{{ text_yes }} #}{# todo-materialize Set styles for all "switches" so that they are on the right #}{#
														<input type="checkbox" name="product_special_filter" value="1" id="{{ product_special.mt_filter_id }}" checked="checked">
														<span class="lever"></span>
													{% else %}
														{{ text_yes }}
														<input type="checkbox" name="product_special_filter" value="1" id="{{ product_special.mt_filter_id }}">
														<span class="lever"></span>
													{% endif %}
												{% endfor %}
											</label>
										</div>
									{% endif %}
								</li>
							</ul>
						</div>
					</li>
				{% endif %}
				{% if mt_filter.type == 'reviews' %}
					<li class="collection-item mt-filters-item arrow-rotate{{ mt_filter.collapsible ? ' active' }}">
						<div class="mt-filter-title collapsible-header waves-effect {{ color.header.background.name }} {{ color.header.text.name }}"><b>{{ mt_filter.name }}</b></div>
						<div class="mt-filter-content collapsible-body" data-simplebar>
							<ul>
								<li class="mt-filter-item">
									{% if mt_filter.input_type == 'checkbox' %}
										<label class="mt-filter-item--checkbox">
											{% for review in mt_filter.value %}
												{% if review.review_id in mt_filter.preselected %}
													<input type="checkbox" name="review_filter" value="1" id="{{ review.mt_filter_id }}" class="filled-in" checked="checked">
													<span>{{ text_yes }}</span>
												{% else %}
													<input type="checkbox" name="review_filter" value="1" id="{{ review.mt_filter_id }}" class="filled-in">
													<span>{{ text_yes }}</span>
												{% endif %}
											{% endfor %}
										</label>
									{% endif %}
									{% if mt_filter.input_type == 'switches' %}
										<div class="switch">
											<label class="mt-filter-item--switch">
												{% for review in mt_filter.value %}
													{% if review.review_id in mt_filter.preselected %}
														{{ text_yes }} #}{# todo-materialize Set styles for all "switches" so that they are on the right #}{#
														<input type="checkbox" name="review_filter" value="1" id="{{ review.mt_filter_id }}" checked="checked">
														<span class="lever"></span>
													{% else %}
														{{ text_yes }}
														<input type="checkbox" name="review_filter" value="1" id="{{ review.mt_filter_id }}">
														<span class="lever"></span>
													{% endif %}
												{% endfor %}
											</label>
										</div>
									{% endif %}
								</li>
							</ul>
						</div>
					</li>
				{% endif %}#}
			{% endfor %}
			<li class="collection-item mt-filters-item mt-filters-item--button flex-reverse">
				<button type="button" id="button-materialize-filter" class="btn waves-effect {{ color.apply_button.background.name }} {{ color.apply_button.text.name }}">{{ button_filter }}</button>
			</li>
		</ul>
	</div>
	<script>
		$(document).ready(function() {
			{% if prices %}
				let sliderPrices = document.getElementById('slider-prices');

				noUiSlider.create(sliderPrices, {
					start: [{{ price_filter_preselected ? price_filter_preselected.0 : prices.min_price }}, {{ price_filter_preselected ? price_filter_preselected.1 : prices.max_price }}],
					connect: true,
					step: 1,
					behaviour: 'drag',
					orientation: 'horizontal',
					range: {
						'min': 0,
						'max': {{ prices.max_price }}
					},
					tooltips: [
						wNumb({
							decimals: 0
						}),
						wNumb({
							decimals: 0
						})
					],
					format: wNumb({
						decimals: {{ prices.decimal_place }},
						{% if prices.symbol_left %}
						prefix: '{{ prices.symbol_left }}',
						{% endif %}
						{% if prices.symbol_right %}
						suffix: '{{ prices.symbol_right }}',
						{% endif %}
						thousand: '{{ prices.thousand_point }}'
					})
				});

				let spanPriceRangeMin = $('#span-price-range-min'),
					spanPriceRangeMax = $('#span-price-range-max'),
					inputPriceRangeMin = $('#input-price-range-min'),
					inputPriceRangeMax = $('#input-price-range-max');

				sliderPrices.noUiSlider.on('update', function (values, handle) {
					if (handle) {
						spanPriceRangeMax.text(values[handle]);
					} else {
						spanPriceRangeMin.text(values[handle]);
					}
				});

				sliderPrices.noUiSlider.on('change', function (values, handle, unencoded) {
					inputPriceRangeMin.val(unencoded[0]).change();
					inputPriceRangeMax.val(unencoded[1]).change();
				});
			{% endif %}

			$('#mt-filter-category').mtFilter({
				product_grid: $('#content-mt-filter').data('product-grid'),
				page_settings: '{{ page_settings }}'
			});
		});
	</script>
	<style>
		.mt-filter-content.collapsible-body {
			min-height: 200px;
			height: auto; {# todo-materiliaze Set color from color scheme #}
		}

		.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle, .noUi-target.noUi-horizontal .noUi-tooltip, .noUi-connect {
			background: {{ color.slider.primary_background.hex }} !important;
		}

		.noUi-tooltip span {
			color: {{ color.slider.text.hex }} !important;
		}

		.mt-filters-item.arrow-rotate:after {
			color: {{ color.header.text.hex }};
		}

		.collection.with-header .collection-header.mt-filters-item, .collection .collection-item.mt-filters-item {
			border-bottom: 1px solid {{ color.common.border.hex }};
		}

		li.mt-filter-item label {
			color: {{ color.common.text.hex }};
		}
	</style>
{% endif %}