{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ map_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-map" class="form-horizontal">
			<div class="row">
				<div class="col-md-4 col-md-push-8">
					<div class="panel panel-default" id="panel-data">
						<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-power-off"></i> {{ entry_status }}</h3></div>
						<div class="panel-body">
							<select name="module_map_status" id="map-status" class="selectpicker show-tick" data-width="100%">
								{% if module_map_status %}
								<option value="1" selected="selected" data-icon="fa-toggle-on">{{ text_enabled }}</option>
								<option value="0" data-icon="fa-toggle-off">{{ text_disabled }}</option>
								{% else %}
								<option value="1" data-icon="fa-toggle-on">{{ text_enabled }}</option>
								<option value="0" selected="selected" data-icon="fa-toggle-off">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-sm-6">
									<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a>
								</div>
								<div class="col-sm-6 text-right">
									<button type="submit" form="form-map" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> {{ button_save }}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-md-pull-4">
					<div class="panel panel-default">
						<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3></div>
						<div class="panel-body">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab-common" data-toggle="tab">Общее</a></li>
								{% if materializeapi %}<li><a href="#tab-materializeapi" data-toggle="tab">Информация о шаблоне</a></li>{% endif %}
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="tab-common">
									<div class="row">
										<div class="col-sm-3">
											<ul class="nav nav-pills nav-stacked" id="tab-common-pills">
												<li><a href="#tab-settings" data-toggle="tab">Настройки</a></li>
												<li><a href="#tab-colors" data-toggle="tab">Цвета</a></li>
											</ul>
										</div>
										<div class="col-sm-9">
											<div class="tab-content">
												<div class="tab-pane" id="tab-settings">
													<div class="list-group-item">
														<div class="media overflow-visible">
															<div class="media-body overflow-visible">
																<h4 class="media-heading text-bold">Тип карты</h4>
																<br>
																<select name="module_map_settings[map][type]" class="selectpicker show-tick" data-width="100%">
																{% for map in maps_value %}
																	{% if module_map_settings.map.type == map.value %}
																	<option value="{{ map.value }}" selected="selected">{{ map.text }}</option>
																	{% else %}
																	<option value="{{ map.value }}">{{ map.text }}</option>
																	{% endif %}
																{% endfor %}
																</select>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">Zoom карты</h4>
																<p>Стандартный размер zoom'а карты.</p>
																<br>
																<input type="text" name="module_map_settings[map][zoom]" value="{{ module_map_settings.map.zoom ? module_map_settings.map.zoom }}" placeholder="Zoom карты" class="form-control" />
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media">
															<div class="media-body">
																<h4 class="media-heading text-medium">API Key</h4>
																<br>
																<input type="text" name="module_map_settings[map][api_key]" value="{{ module_map_settings.map.api_key ? module_map_settings.map.api_key }}" placeholder="API Key" class="form-control" />
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="tab-colors">
													<div class="list-group-item">
														<div class="media overflow-visible materialize-colors">
															<div class="media-body overflow-visible">
																<h4 class="media-heading text-bold">Цвет панели</h4>
																<hr>
																<select name="module_map_settings[colors][panel_color]" class="selectpicker selectpicker-live-search show-tick">
																	{% for color in materialize_get_colors %}
																	{% if color.name == module_map_settings.colors.panel_color %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};" selected="selected">{{ color.name }}</option>
																	{% else %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};">{{ color.name }}</option>
																	{% endif %}
																	{% endfor %}
																</select>
																<select name="module_map_settings[colors][panel_color_text]" class="selectpicker selectpicker-live-search show-tick">
																	{% for color in materialize_get_colors_text %}
																	{% if color.name == module_map_settings.colors.panel_color_text %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color-text" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};" selected="selected">{{ color.name }}</option>
																	{% else %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color-text" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};">{{ color.name }}</option>
																	{% endif %}
																	{% endfor %}
																</select>
																<hr>
															</div>
															<div class="media-right media-middle">
																<div class="thumbnail materialize-color-thumbnail">Text</div>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media overflow-visible materialize-colors">
															<div class="media-body overflow-visible">
																<h4 class="media-heading text-bold">Цвет иконок на панели</h4>
																<hr>
																<select name="module_map_settings[colors][panel_icons_color]" class="selectpicker selectpicker-live-search show-tick">
																	{% for color in materialize_get_colors_text %}
																	{% if color.name == module_map_settings.colors.panel_icons_color %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color-text" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};" selected="selected">{{ color.name }}</option>
																	{% else %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color-text" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};">{{ color.name }}</option>
																	{% endif %}
																	{% endfor %}
																</select>
																<hr>
															</div>
															<div class="media-right media-middle">
																<div class="thumbnail materialize-color-thumbnail">Text</div>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media overflow-visible materialize-colors">
															<div class="media-body overflow-visible">
																<h4 class="media-heading text-bold">Цвет иконки на карте</h4>
																<hr>
																<select name="module_map_settings[colors][marker_color]" id="select-marker-color" class="selectpicker selectpicker-live-search show-tick">
																	{% for color in materialize_get_colors %}
																	{% if color.name == module_map_settings.colors.marker_color %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};" selected="selected">{{ color.name }}</option>
																	{% else %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};">{{ color.name }}</option>
																	{% endif %}
																	{% endfor %}
																</select>
																<input type="hidden" name="module_map_settings[colors][marker_color_hex]" value="{{ module_map_settings.colors.marker_color_hex }}" id="input-marker-color-hex" />
																<hr>
															</div>
															<div class="media-right media-middle">
																<div class="thumbnail materialize-color-thumbnail"></div>
															</div>
														</div>
													</div>
													<div class="list-group-item">
														<div class="media overflow-visible materialize-colors">
															<div class="media-body overflow-visible">
																<h4 class="media-heading text-bold">Цвет кнопки "Посмотреть на карте"</h4>
																<hr>
																<select name="module_map_settings[colors][btn_color]" class="selectpicker selectpicker-live-search show-tick">
																	{% for color in materialize_get_colors %}
																	{% if color.name == module_map_settings.colors.btn_color %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};" selected="selected">{{ color.name }}</option>
																	{% else %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};">{{ color.name }}</option>
																	{% endif %}
																	{% endfor %}
																</select>
																<select name="module_map_settings[colors][btn_color_text]" class="selectpicker selectpicker-live-search show-tick">
																	{% for color in materialize_get_colors_text %}
																	{% if color.name == module_map_settings.colors.btn_color_text %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color-text" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};" selected="selected">{{ color.name }}</option>
																	{% else %}
																	<option value="{{ color.name }}" class="{{ color.name }} select-color-text" data-hex="#{{ color.hex }}" style="background: #{{ color.hex }};">{{ color.name }}</option>
																	{% endif %}
																	{% endfor %}
																</select>
																<hr>
															</div>
															<div class="media-right media-middle">
																<div class="thumbnail materialize-color-thumbnail">Text</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								{{ materializeapi }}
							</div>
						</div>
						{{ appeal_footer }}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	// Open tab
	$('#tab-common-pills a:first').tab('show');

	// Selectpicker
	$('.selectpicker.selectpicker-live-search').selectpicker({
		size: 10,
		liveSearch: true,
		iconBase: 'fa',
		tickIcon: 'fa-check'
	});

	// Materialize Colors
	var materializeColors = $('.materialize-colors');

	materializeColors.each(function() {
		var currentBackground = $(this).find('option:selected.select-color').data('hex'),
			currentColor = $(this).find('option:selected.select-color-text').data('hex');

		$(this).find('.materialize-color-thumbnail').css({
			'background': currentBackground,
			'color': currentColor
		});
	});

	materializeColors.change(function(){
		var currentBackground = $(this).find('option:selected.select-color').data('hex'),
			currentColor = $(this).find('option:selected.select-color-text').data('hex');

		$(this).find('.materialize-color-thumbnail').css({
			'background': currentBackground,
			'color': currentColor
		});
	});

	var selectIconColor = $("#select-marker-color"),
		inputIconColorHex = $("#input-marker-color-hex");

	selectIconColor.change(function() {
		selectIconColorOption = $("#select-marker-color option:selected");
		valueHex = selectIconColorOption.data('hex');
		inputIconColorHex.attr('value',valueHex);
	});

	// Google Maps Settings
	var inputMaps = $("#input-type-map");

	if (inputMaps.val() == 'google_maps') {$('.google-maps-settings').show();}
	if (inputMaps.val() != 'google_maps') {$('.google-maps-settings').hide();}

	inputMaps.change(function(){
		if (inputMaps.val() == 'google_maps') {$('.google-maps-settings').show();}
		if (inputMaps.val() != 'google_maps') {$('.google-maps-settings').hide();}
	});
</script>
{{ footer }}