{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<div class="row">
			{{ column_left }}
			<div class="col {{ main }} section href-underline">
				{{ content_top }}
				<h1>{{ heading_title }}{% if weight %}&nbsp;({{ weight }}){% endif %}</h1>
				<form action="{{ action }}" method="post" enctype="multipart/form-data">
					{% for product in products %}
					<div class="card horizontal">
						<div class="card-image">
							{% if product.thumb %}
							<a href="{{ product.href }}"><img class="lazyload" src="{{ img_loader }}" data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" width="75" height="75"></a>
							{% endif %}
						</div>
						<div class="card-stacked">
							<button type="button" class="btn-floating waves-effect transparent z-depth-0 remove-item" title="{{ button_remove }}" onclick="cart.remove('{{ product.cart_id }}');"><i class="material-icons black-text">close</i></button>
							<div class="card-content">
								<a href="{{ product.href }}" class="text-bold">{{ product.name }}</a> x {{ product.quantity }}{% if not product.stock %}<span class="red-text">***</span>{% endif %}
								<br>
								<span class="text-bold">{{ product.total }}</span>
								{% if product.reward %}
									<br>
									<small>{{ product.reward }}</small>
								{% endif %}
								{% if product.recurring %}
									<br>
									<span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small>
								{% endif %}
								<br>
								<div class="input-filed inline">
									<label for="input-quantity">
										{{ column_quantity }}:
										<button id="update-btn" type="submit" title="{{ button_update }}" style="display:none;"><i class="material-icons">refresh</i></button>
									</label>
									<input id="input-quantity" class="center" type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" style="max-width:50px;height:inherit;">
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% for voucher in vouchers %}
					<div class="card horizontal">
						<div class="card-image">
							<div><img src="{{ img_loader }}" data-src="catalog/view/theme/materialize/image/cart-voucher.png" class="lazyload" width="75" height="75"></div>
						</div>
						<div class="card-stacked">
							<button type="button" class="btn-floating transparent z-depth-0 remove-item" title="{{ button_remove }}" onclick="voucher.remove('{{ voucher.key }}');"><i class="material-icons black-text">close</i></button>
							<div class="card-content">
								{{ voucher.description }}
								<br>
								<span class="text-bold">{{ voucher.amount }}</span>
								<br>
								<div class="input-filed inline">
									<label for="input-quantity">
										{{ column_quantity }}:
										<button id="update-btn" type="submit" title="{{ button_update }}" style="display:none;"><i class="material-icons">refresh</i></button>
									</label>
									<input type="text" name="" value="1" size="1" class="center" disabled="disabled" style="max-width:50px;height:inherit;">
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</form>
				<div class="card-panel">
					{% if modules %}
						<h2>{{ text_next }}</h2>
						<p>{{ text_next_choice }}</p>
						<ul class="collapsible collapsible-modules" data-collapsible="accordion">
							{% for module in modules %}{{ module }}{% endfor %}
						</ul>
					{% endif %}
					<div class="row">
						<div class="col s12 m6 offset-m6 l5 offset-l7">
							<div class="table-responsive card-panel">
								<table class="bordered">
									{% for total in totals %}
									<tr>
										<th>{{ total.title }}:</th>
										<td>{{ total.text }}</td>
									</tr>
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
					<div class="flex-reverse">
						<a href="{{ checkout }}" class="btn waves-effect waves-light red right">{{ button_checkout }}</a>
					</div>
				</div>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if attention %}
		Materialize.toast('<span><i class="material-icons left">info</i>{{ attention }}</span>',7000,'toast-info')
	{% endif %}
	{% if success %}
		Materialize.toast('<span><i class="material-icons left">check</i>{{ success }}</span>',7000,'toast-success')
	{% endif %}
	{% if error_warning %}
		Materialize.toast('<span><i class="material-icons left">warning</i>{{ error_warning }}</span>',7000,'toast-warning')
	{% endif %}
	$('input#input-quantity').change(function() {
		$('#update-btn').trigger('click');
	});
});
</script>
{% endspaceless %}
{{ footer }}