{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div class="col {{ main }} section href-underline">
				{{ content_top }}
				<ul id="accordion" class="collapsible popout" data-collapsible="accordion">
					<li class="active">
						<div class="collapsible-header grey lighten-4 text-bold">{{ text_checkout_option }}</div>
						<div id="collapse-checkout-option" class="collapsible-body white"></div>
					</li>
					{% if not logged and account != 'guest' %}
					<li>
						<div class="collapsible-header-disable grey lighten-4 text-bold active">{{ text_checkout_account }}</div>
						<div id="collapse-payment-address" class="collapsible-body white"></div>
					</li>
					{% else %}
					<li>
						<div class="collapsible-header-disable grey lighten-4 text-bold">{{ text_checkout_payment_address }}</div>
						<div id="collapse-payment-address" class="collapsible-body white"></div>
					</li>
					{% endif %}
					{% if shipping_required %}
					<li>
						<div class="collapsible-header-disable grey lighten-4 text-bold">{{ text_checkout_shipping_address }}</div>
						<div id="collapse-shipping-address" class="collapsible-body white"></div>
					</li>
					<li>
						<div class="collapsible-header-disable grey lighten-4 text-bold">{{ text_checkout_shipping_method }}</div>
						<div id="collapse-shipping-method" class="collapsible-body white"></div>
					</li>
					{% endif %}
					<li>
						<div class="collapsible-header-disable grey lighten-4 text-bold">{{ text_checkout_payment_method }}</div>
						<div id="collapse-payment-method" class="collapsible-body white"></div>
					</li>
					<li>
						<div class="collapsible-header-disable grey lighten-4 text-bold">{{ text_checkout_confirm }}</div>
						<div id="collapse-checkout-confirm" class="collapsible-body white"></div>
					</li>
				</ul>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	$(document).on('change', 'input[name=\'account\']', function() {
		if ($('#collapse-payment-address').parent().find('div:first')) {
			if (this.value == 'register') {
				$('#collapse-payment-address').parent().find('div:first').html('{{ text_checkout_account }}');
			} else {
				$('#collapse-payment-address').parent().find('div:first').html('{{ text_checkout_payment_address }}');
			}
		} else {
			if (this.value == 'register') {
				$('#collapse-payment-address').parent().find('div:first').html('{{ text_checkout_account }}');
			} else {
				$('#collapse-payment-address').parent().find('div:first').html('{{ text_checkout_payment_address }}');
			}
		}
	});

	{% if not logged %}
	$(document).ready(function() {
		$.ajax({
			url: 'index.php?route=checkout/login',
			dataType: 'html',
			success: function(html) {
				$('#collapse-checkout-option').html(html);
				$('#collapse-checkout-option').parent().find('.collapsible-header').html('{{ text_checkout_option }}');
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
	{% else %}
	$(document).ready(function() {
		$.ajax({
			url: 'index.php?route=checkout/payment_address',
			dataType: 'html',
			success: function(html) {
				$('#collapse-checkout-option').parent().removeClass('active');
				$('#collapse-checkout-option').parent().find('.collapsible-header').removeClass('collapsible-header').addClass('collapsible-header-disable');
				$('#collapse-checkout-option').parent().find('.collapsible-body').css('display','');
				$('#collapse-payment-address').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_payment_address }}');
				$('#collapse-payment-address').parent().find('.collapsible-body').css('display','block');
				$('#collapse-payment-address').parent().addClass('active');
				$('#collapse-payment-address').html(html);
				$('html,body').animate({scrollTop:$('#collapse-payment-address').parent().offset().top-100},1150);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
	{% endif %}

	// Checkout
	$(document).delegate('#button-account', 'click', function() {
			$.ajax({
			url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val(),
			dataType: 'html',
			success: function(html) {
				$('#collapse-checkout-option').parent().removeClass('active');
				$('#collapse-checkout-option').parent().find('.collapsible-header').removeClass('active');
				$('#collapse-checkout-option').parent().find('.collapsible-body').css('display','');
				$('#collapse-payment-address').parent().find('.collapsible-body').css('display','block');
				$('#collapse-payment-address').parent().addClass('active');
				$('#collapse-payment-address').html(html);
				if ($('input[name=\'account\']:checked').val() == 'register') {
					$('#collapse-payment-address').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_account }}');
				} else {
					$('#collapse-payment-address').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_payment_address }}');
				}
				$('html,body').animate({scrollTop:$('#collapse-payment-address').parent().offset().top-100},1150);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	// Login
	$(document).delegate('#button-login', 'click', function() {
		$.ajax({
			url: 'index.php?route=checkout/login/save',
			type: 'post',
			data: $('#collapse-checkout-option :input'),
			dataType: 'json',
			success: function(json) {
				if (json['redirect']) {
					location = json['redirect'];
				} else if (json['error']) {
					M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['warning'], classes: 'toast-warning'});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	// Register
	$(document).delegate('#button-register', 'click', function() {
		$.ajax({
			url: 'index.php?route=checkout/register/save',
			type: 'post',
			data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address textarea, #collapse-payment-address select'),
			dataType: 'json',
			success: function(json) {
				if (json['redirect']) {
					location = json['redirect'];
				} else if (json['error']) {
					for (i in json['error']) {
						var element = $('#input-payment-' + i.replace('_', '-'));

						M.toast({html: '<i class="material-icons left">warning</i>' + json['error'][i], classes: 'toast-warning'});
					}
				} else {
					{% if shipping_required %}
					var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');
					if (shipping_address) {
						$.ajax({
							url: 'index.php?route=checkout/shipping_method',
							dataType: 'html',
							success: function(html) {
								$.ajax({
									url: 'index.php?route=checkout/shipping_address',
									dataType: 'html',
									success: function(html) {
										$('#collapse-shipping-address').html(html);
										$('#collapse-shipping-address').parent().find('div:first').html('{{ text_checkout_shipping_address }}');
									},
									error: function(xhr, ajaxOptions, thrownError) {
										alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
									}
								});
								$('#collapse-payment-address').parent().removeClass('active');
								$('#collapse-payment-address').parent().find('div:first').removeClass('active');
								$('#collapse-payment-address').parent().find('.collapsible-body').css('display','');
								$('#collapse-shipping-method').html(html);
								$('#collapse-shipping-method').parent().find('div:first').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_shipping_method }}');
								$('#collapse-shipping-method').parent().find('.collapsible-body').css('display','block');
								$('#collapse-shipping-method').parent().addClass('active');
								$('#collapse-payment-method').parent().find('.collapsible-header-disable').html('{{ text_checkout_payment_method }}');
								$('#collapse-checkout-confirm').parent().find('.collapsible-header-disable').html('{{ text_checkout_confirm }}');
								$('html,body').animate({scrollTop:$('#collapse-shipping-method').parent().offset().top-100},1150);
							},
							error: function(xhr, ajaxOptions, thrownError) {
								alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
							}
						});
					} else {
						$.ajax({
							url: 'index.php?route=checkout/shipping_address',
							dataType: 'html',
							success: function(html) {
								$('#collapse-payment-address').parent().removeClass('active');
								$('#collapse-payment-address').parent().find('.collapsible-header').removeClass('active');
								$('#collapse-payment-address').parent().find('.collapsible-body').css('display','');
								$('#collapse-shipping-address').html(html);
								$('#collapse-shipping-address').parent().find('div:first').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_shipping_address }}');
								$('#collapse-shipping-address').parent().find('.collapsible-body').css('display','block');
								$('#collapse-shipping-address').parent().addClass('active');
								$('#collapse-shipping-method').parent().find('.collapsible-header-disable').html('{{ text_checkout_shipping_method }}');
								$('#collapse-payment-method').parent().find('.collapsible-header-disable').html('{{ text_checkout_payment_method }}');
								$('#collapse-checkout-confirm').parent().find('.collapsible-header-disable').html('{{ text_checkout_confirm }}');
								$('html,body').animate({scrollTop:$('#collapse-shipping-address').parent().offset().top-100},1150);
							},
							error: function(xhr, ajaxOptions, thrownError) {
								alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
							}
						});
					}
					{% else %}
					$.ajax({
						url: 'index.php?route=checkout/payment_method',
						dataType: 'html',
						success: function(html) {
							$('#collapse-shipping-method').parent().removeClass('active');
							$('#collapse-shipping-method').parent().find('.collapsible-header').removeClass('active');
							$('#collapse-shipping-method').parent().find('.collapsible-body').css('display','');
							$('#collapse-payment-method').html(html);
							$('#collapse-payment-method').parent().find('div:first').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_payment_method }}');
							$('#collapse-payment-method').parent().find('.collapsible-body').css('display','block');
							$('#collapse-payment-method').parent().addClass('active');
							$('#collapse-checkout-confirm').parent().find('.collapsible-header-disable').html('{{ text_checkout_confirm }}');
							$('html,body').animate({scrollTop:$('#collapse-payment-method').parent().offset().top-50},1150);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
					{% endif %}
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address').html(html);
							$('#collapse-payment-address').parent().find('div:first').html('{{ text_checkout_payment_address }}');
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	// Payment Address
	$(document).delegate('#button-payment-address', 'click', function() {
		$.ajax({
			url: 'index.php?route=checkout/payment_address/save',
			type: 'post',
			data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'password\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
			dataType: 'json',
			success: function(json) {
				if (json['redirect']) {
					location = json['redirect'];
				} else if (json['error']) {
					if (json['error']['warning']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['warning'], classes: 'toast-warning'});
					}
					for (i in json['error']) {
						var element = $('#input-payment-' + i.replace('_', '-'));

						if ($(element).parent()) {
							M.toast({html: '<i class="material-icons left">warning</i>' + json['error'][i], classes: 'toast-warning'});
						} else {
							M.toast({html: '<i class="material-icons left">warning</i>' + json['error'][i], classes: 'toast-warning'});
						}
					}
				} else {
					{% if shipping_required %}
					$.ajax({
						url: 'index.php?route=checkout/shipping_address',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address').parent().removeClass('active');
							$('#collapse-payment-address').parent().find('.collapsible-header').removeClass('active');
							$('#collapse-payment-address').parent().find('.collapsible-body').css('display','');
							$('#collapse-shipping-address').html(html);
							$('#collapse-shipping-address').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_shipping_address }}');
							$('#collapse-shipping-address').parent().find('.collapsible-body').css('display','block');
							$('#collapse-shipping-address').parent().addClass('active');
							$('html,body').animate({scrollTop:$('#collapse-shipping-address').parent().offset().top-50},1150);
							$('#collapse-shipping-method').parent().find('.collapsible-header-disable').html('{{ text_checkout_shipping_method }}');
							$('#collapse-payment-method').parent().find('.collapsible-header-disable').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('.collapsible-header-disable').html('{{ text_checkout_confirm }}');
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
					{% else %}
					$.ajax({
						url: 'index.php?route=checkout/payment_method',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address').parent().removeClass('active');
							$('#collapse-payment-address').parent().find('.collapsible-header').removeClass('active');
							$('#collapse-payment-address').parent().find('.collapsible-body').css('display','');
							$('#collapse-payment-method').html(html);
							$('#collapse-payment-method').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_payment_method }}');
							$('#collapse-payment-method').parent().find('.collapsible-body').css('display','block');
							$('#collapse-payment-method').parent().addClass('active');
							$('html,body').animate({scrollTop:$('#collapse-payment-method').parent().offset().top-50},1150);
							$('#collapse-checkout-confirm').parent().find('.collapsible-header-disable').html('{{ text_checkout_confirm }}');
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
					{% endif %}
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address').html(html);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	// Shipping Address
	$(document).delegate('#button-shipping-address', 'click', function() {
		$.ajax({
			url: 'index.php?route=checkout/shipping_address/save',
			type: 'post',
			data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
			dataType: 'json',
			success: function(json) {
				if (json['redirect']) {
					location = json['redirect'];
				} else if (json['error']) {
					if (json['error']['warning']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['warning'], classes: 'toast-warning'});
					}
					for (i in json['error']) {
						var element = $('#input-shipping-' + i.replace('_', '-'));
						if ($(element).parent()) {
							M.toast({html: '<i class="material-icons left">warning</i>' + json['error'][i], classes: 'toast-warning'});
						} else {
							M.toast({html: '<i class="material-icons left">warning</i>' + json['error'][i], classes: 'toast-warning'});
						}
					}
				} else {
					$.ajax({
						url: 'index.php?route=checkout/shipping_method',
						dataType: 'html',
						success: function(html) {
							$('#collapse-shipping-address').parent().removeClass('active');
							$('#collapse-shipping-address').parent().find('.collapsible-header').removeClass('active');
							$('#collapse-shipping-address').parent().find('.collapsible-body').css('display','');
							$('#collapse-shipping-method').html(html);
							$('#collapse-shipping-method').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_shipping_method }}');
							$('#collapse-shipping-method').parent().find('.collapsible-body').css('display','block');
							$('#collapse-shipping-method').parent().addClass('active');
							$('html,body').animate({scrollTop:$('#collapse-shipping-method').parent().offset().top-50},1150);
							$('#collapse-payment-method').parent().find('.collapsible-header-disable').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('.collapsible-header-disable').html('{{ text_checkout_confirm }}');
							$.ajax({
								url: 'index.php?route=checkout/shipping_address',
								dataType: 'html',
								success: function(html) {
									$('#collapse-shipping-address').html(html);
								},
								error: function(xhr, ajaxOptions, thrownError) {
									alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
								}
							});
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
					$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address').html(html);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	// Guest
	$(document).delegate('#button-guest', 'click', function() {
		$.ajax({
			url: 'index.php?route=checkout/guest/save',
			type: 'post',
			data: $('#collapse-payment-address input[type=\'text\'], #collapse-payment-address input[type=\'date\'], #collapse-payment-address input[type=\'datetime-local\'], #collapse-payment-address input[type=\'time\'], #collapse-payment-address input[type=\'checkbox\']:checked, #collapse-payment-address input[type=\'radio\']:checked, #collapse-payment-address input[type=\'hidden\'], #collapse-payment-address textarea, #collapse-payment-address select'),
			dataType: 'json',
			success: function(json) {
				if (json['redirect']) {
					location = json['redirect'];
				} else if (json['error']) {
					if (json['error']['warning']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['warning'][i], classes: 'toast-warning'});
					}
					for (i in json['error']) {
						var element = $('#input-payment-' + i.replace('_', '-'));
						if ($(element).parent()) {
							M.toast({html: '<i class="material-icons left">warning</i>' + json['error'][i], classes: 'toast-warning'});
						} else {
							M.toast({html: '<i class="material-icons left">warning</i>' + json['error'][i], classes: 'toast-warning'});
						}
					}
				} else {
					{% if shipping_required %}
					var shipping_address = $('#collapse-payment-address input[name=\'shipping_address\']:checked').prop('value');
					if (shipping_address) {
						$.ajax({
							url: 'index.php?route=checkout/shipping_method',
							dataType: 'html',
							success: function(html) {
								$.ajax({
									url: 'index.php?route=checkout/guest_shipping',
									dataType: 'html',
									success: function(html) {
										$('#collapse-shipping-address').html(html);
										$('#collapse-shipping-address').parent().find('.collapsible-header-disable').html('{{ text_checkout_shipping_address }}');
									},
									error: function(xhr, ajaxOptions, thrownError) {
										alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
									}
								});
								$('#collapse-payment-address').parent().removeClass('active');
								$('#collapse-payment-address').parent().find('.collapsible-header').removeClass('active');
								$('#collapse-payment-address').parent().find('.collapsible-body').css('display','');
								$('#collapse-shipping-method').html(html);
								$('#collapse-shipping-method').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_shipping_method }}');
								$('#collapse-shipping-method').parent().find('.collapsible-body').css('display','block');
								$('#collapse-shipping-method').parent().addClass('active');
								$('html,body').animate({scrollTop:$('#collapse-shipping-method').parent().offset().top-50},1150);
								$('#collapse-payment-method').parent().find('div:first').html('{{ text_checkout_payment_method }}');
								$('#collapse-checkout-confirm').parent().find('div:first').html('{{ text_checkout_confirm }}');
							},
							error: function(xhr, ajaxOptions, thrownError) {
								alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
							}
						});
					} else {
						$.ajax({
							url: 'index.php?route=checkout/guest_shipping',
							dataType: 'html',
							success: function(html) {
								$('#collapse-shipping-address').html(html);
								$('#collapse-payment-address').parent().removeClass('active');
								$('#collapse-payment-address').parent().find('.collapsible-header').removeClass('active');
								$('#collapse-payment-address').parent().find('.collapsible-body').css('display','');
								$('#collapse-shipping-address').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_shipping_address }}');
								$('#collapse-shipping-address').parent().find('.collapsible-body').css('display','block');
								$('#collapse-shipping-address').parent().addClass('active');
								$('html,body').animate({scrollTop:$('#collapse-shipping-address').parent().offset().top-50},1150);
								$('#collapse-shipping-method').parent().find('div:first').html('{{ text_checkout_shipping_method }}');
								$('#collapse-payment-method').parent().find('div:first').html('{{ text_checkout_payment_method }}');
								$('#collapse-checkout-confirm').parent().find('div:first').html('{{ text_checkout_confirm }}');
							},
							error: function(xhr, ajaxOptions, thrownError) {
								alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
							}
						});
					}
					{% else %}
					$.ajax({
						url: 'index.php?route=checkout/payment_method',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-address').parent().removeClass('active');
							$('#collapse-payment-address').parent().find('.collapsible-header').removeClass('active');
							$('#collapse-payment-address').parent().find('.collapsible-body').css('display','');
							$('#collapse-payment-method').html(html);
							$('#collapse-payment-method').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_payment_method }}');
							$('#collapse-payment-method').parent().find('.collapsible-body').css('display','block');
							$('#collapse-payment-method').parent().addClass('active');
							$('html,body').animate({scrollTop:$('#collapse-payment-method').parent().offset()},1150);
							$('#collapse-checkout-confirm').parent().find('div:first').html('{{ text_checkout_confirm }}');
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
					{% endif %}
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	// Guest Shipping
	$(document).delegate('#button-guest-shipping', 'click', function() {
		$.ajax({
			url: 'index.php?route=checkout/guest_shipping/save',
			type: 'post',
			data: $('#collapse-shipping-address input[type=\'text\'], #collapse-shipping-address input[type=\'date\'], #collapse-shipping-address input[type=\'datetime-local\'], #collapse-shipping-address input[type=\'time\'], #collapse-shipping-address input[type=\'password\'], #collapse-shipping-address input[type=\'checkbox\']:checked, #collapse-shipping-address input[type=\'radio\']:checked, #collapse-shipping-address textarea, #collapse-shipping-address select'),
			dataType: 'json',
			success: function(json) {
				if (json['redirect']) {
					location = json['redirect'];
				} else if (json['error']) {
					if (json['error']['warning']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['warning'], classes: 'toast-warning'});
					}
					for (i in json['error']) {
						var element = $('#input-shipping-' + i.replace('_', '-'));
						if ($(element).parent()) {
							M.toast({html: '<i class="material-icons left">warning</i>' + json['error'][i], classes: 'toast-warning'});
						} else {
							M.toast({html: '<i class="material-icons left">warning</i>' + json['error'][i], classes: 'toast-warning'});
						}
					}
				} else {
					$.ajax({
						url: 'index.php?route=checkout/shipping_method',
						dataType: 'html',
						success: function(html) {
							$('#collapse-shipping-address').parent().removeClass('active');
							$('#collapse-shipping-address').parent().find('.collapsible-header').removeClass('active');
							$('#collapse-shipping-address').parent().find('.collapsible-body').css('display','');
							$('#collapse-shipping-method').html(html);
							$('#collapse-shipping-method').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_shipping_method }}');
							$('#collapse-shipping-method').parent().find('.collapsible-body').css('display','block');
							$('#collapse-shipping-method').parent().addClass('active');
							$('html,body').animate({scrollTop:$('#collapse-shipping-method').parent().offset().top-50},1150);
							$('#collapse-payment-method').parent().find('div:first').html('{{ text_checkout_payment_method }}');
							$('#collapse-checkout-confirm').parent().find('div:first').html('{{ text_checkout_confirm }}');
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$(document).delegate('#button-shipping-method', 'click', function() {
		$.ajax({
			url: 'index.php?route=checkout/shipping_method/save',
			type: 'post',
			data: $('#collapse-shipping-method input[type=\'radio\']:checked, #collapse-shipping-method textarea'),
			dataType: 'json',
			success: function(json) {
				if (json['redirect']) {
					location = json['redirect'];
				} else if (json['error']) {
					if (json['error']['warning']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['warning'], classes: 'toast-warning'});
					}
				} else {
					$.ajax({
						url: 'index.php?route=checkout/payment_method',
						dataType: 'html',
						success: function(html) {
							$('#collapse-shipping-method').parent().removeClass('active');
							$('#collapse-shipping-method').parent().find('.collapsible-header').removeClass('active');
							$('#collapse-shipping-method').parent().find('.collapsible-body').css('display','');
							$('#collapse-payment-method').html(html);
							$('#collapse-payment-method').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_payment_method }}');
							$('#collapse-payment-method').parent().find('.collapsible-body').css('display','block');
							$('#collapse-payment-method').parent().addClass('active');
							$('html,body').animate({scrollTop:$('#collapse-shipping-method').parent().offset().top-50},1150);
							$('#collapse-checkout-confirm').parent().find('div:first').html('{{ text_checkout_confirm }}');
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$(document).delegate('#button-payment-method', 'click', function() {
		$.ajax({
			url: 'index.php?route=checkout/payment_method/save',
			type: 'post',
			data: $('#collapse-payment-method input[type=\'radio\']:checked, #collapse-payment-method input[type=\'checkbox\']:checked, #collapse-payment-method textarea'),
			dataType: 'json',
			success: function(json) {
				if (json['redirect']) {
					location = json['redirect'];
				} else if (json['error']) {
					if (json['error']['warning']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['warning'], classes: 'toast-warning'});
					}
				} else {
					$.ajax({
						url: 'index.php?route=checkout/confirm',
						dataType: 'html',
						success: function(html) {
							$('#collapse-payment-method').parent().removeClass('active');
							$('#collapse-payment-method').parent().find('.collapsible-header').removeClass('active');
							$('#collapse-payment-method').parent().find('.collapsible-body').css('display','');
							$('#collapse-checkout-confirm').html(html);
							$('#collapse-checkout-confirm').parent().find('.collapsible-header-disable').removeClass('collapsible-header-disable').addClass('collapsible-header active').html('{{ text_checkout_confirm }}');
							$('#collapse-checkout-confirm').parent().find('.collapsible-body').css('display','block');
							$('#collapse-checkout-confirm').parent().addClass('active');
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});
});
</script>
{% endspaceless %}
{{ footer }}