{% if not redirect %}
<table class="highlight responsive-table">
	<thead>
		<tr>
			<th>{{ column_name }}</th>
			<th>{{ column_model }}</th>
			<th>{{ column_quantity }}</th>
			<th>{{ column_price }}</th>
			<th>{{ column_total }}</th>
		</tr>
	</thead>
	<tbody>
		{% for product in products %}
		<tr>
			<td>
				<a href="{{ product.href }}" target="_blank" rel="noopener">{{ product.name }}</a>
				{% for option in product.option %}
				<br>
				&nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
				{% endfor %}
				{% if product.recurring %}
				<br>
				<span>{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small>
				{% endif %}
			</td>
			<td>{{ product.model }}</td>
			<td>{{ product.quantity }}</td>
			<td>{{ product.price }}</td>
			<td>{{ product.total }}</td>
		</tr>
		{% endfor %}
		{% for voucher in vouchers %}
		<tr>
			<td>{{ voucher.description }}</td>
			<td></td>
			<td>1</td>
			<td>{{ voucher.amount }}</td>
			<td>{{ voucher.amount }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="section">
	<div class="card-panel">
		<table class="bordered">
			{% for total in totals %}
			<tr>
				<th>{{ total.title }}:</th>
				<td>{{ total.text }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{{ payment }}
{% else %}
<script>location = '{{ redirect }}';</script>
{% endif %}