{% if payment_methods %}
<h4 class="text-bold">{{ text_payment_method }}</h4>
<div class="section">
	<ul>
		{% for payment_method in payment_methods %}
		<li>
			<label for="{{ payment_method.code }}">
				{% if payment_method.code == code or not code %}
				{% set code = payment_method.code %}
				<input type="radio" name="payment_method" value="{{ payment_method.code }}" id="{{ payment_method.code }}" class="with-gap" checked="checked">
				{% else %}
				<input type="radio" name="payment_method" value="{{ payment_method.code }}" id="{{ payment_method.code }}" class="with-gap">
				{% endif %}
				<span>{{ payment_method.title }}{% if payment_method.terms %}({{ payment_method.terms }}){% endif %}</span>
			</label>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
<div class="section">
	<strong>{{ text_comments }}</strong>
	<div class="input-field">
		<i class="material-icons prefix">comment</i>
		<textarea name="comment" class="materialize-textarea">{{ comment }}</textarea>
	</div>
</div>
{% if text_agree %}
<div class="section">
	<label for="agreement">
		{% if agree %}
		<input type="checkbox" name="agree" value="1" checked="checked" id="agreement" class="filled-in">
		{% else %}
		<input type="checkbox" name="agree" value="1" id="agreement" class="filled-in">
		{% endif %}
		<span>{{ text_agree }}</span>
	</label>
</div>
{% endif %}
<div class="flex-reverse">
	<button type="button" value="{{ button_continue }}" id="button-payment-method" class="btn waves-effect waves-light red">{{ button_continue }}</button>
</div>
<script>{% if error_warning %}M.toast({html: '<i class="material-icons left">warning</i>{{ error_warning }}', classes: 'toast-warning'});{% endif %}</script>