{% if comments %}
{% for comment in comments %}
<ul class="collection">
	<li class="collection-item avatar">
		<img class="circle lazyload" src="{{ img_loader }}" data-src="catalog/view/theme/materialize/image/comment.png" alt="">
		<span class="title text-bold">{{ comment.author }}</span>
		<p>
			<span class="grey-text text-darken">{{ comment.date_added }}</span><br>
			{{ comment.text }}
		</p>
	</li>
</ul>
{% endfor %}
{{ pagination }}
{% else %}
<div class="center">
	<p class="flow-text text-bold">{{ text_no_comments }}</p>
	<img class="responsive-img lazyload" src="{{ img_loader }}" data-src="catalog/view/theme/materialize/image/search-empty.png" alt="">
</div>
{% endif %}