{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
						<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div class="col {{ main }}">
				{{ content_top }}
				<div class="card-panel">
					{% if yandex or google %}
					<div id="map">
						{% if yandex %}
						<a href="//maps.yandex.ru/?text={{ lat }},{{ lng }}" class="btn-floating btn-large halfway-fab waves-effect waves-light {{ color_btn }} {{ color_btn_text }}" title="{{ text_view_map }}" target="_blank" rel="noopener"><i class="material-icons">map</i></a>
						{% endif %}
						{% if google %}
						<a href="//maps.google.com/maps?q={{ lat }},{{ lng }}&hl={{ geocode_hl }}&t=m&z=15" class="btn-floating btn-large halfway-fab waves-effect waves-light {{ color_btn }} {{ color_btn_text }}" title="{{ text_view_map }}" target="_blank" rel="noopener"><i class="material-icons">map</i></a>
						<div id="google-map">
						</div>
						{% endif %}
					</div>
					{% endif %}
					<section class="section">
						<h2>{{ store }}</h2>
						<div class="row">
							<div class="col s12 l6">
								<div class="card-panel">
									<ul class="collection no-border">
										{% if image %}
										<li class="collection-item no-border">
											<img class="responsive-img lazyload" src="{{ img_loader }}" data-src="{{ image }}" alt="{{ store }}" title="{{ store }}">
										</li>
										{% endif %}
										<li class="collection-item no-border">
											<address><i class="material-icons left">location_on</i>{{ address }}</address>
										</li>
										<li class="collection-item no-border">
											<span><i class="material-icons left">phone</i>{{ telephone }}</span>
										</li>
										<li class="collection-item no-border">
											<span><i class="material-icons left">email</i>{{ email_store }}</span>
										</li>
										{% if open %}
										<li class="collection-item no-border">
											<i class="material-icons left">access_time</i>{{ open }}
										</li>
										{% endif %}
										{% if comment %}
										<li class="collection-item no-border">
											<i class="material-icons left">info</i>{{ comment }}
										</li>
										{% endif %}
									</ul>
								</div>
							</div>
							<div class="col s12 l6">
								<div class="card-panel">
									<form action="{{ action }}" method="post" enctype="multipart/form-data">
										<h3>{{ text_contact }}</h3>
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" name="name" value="{{ name }}" id="input-name" class="validate">
											<label for="input-name">{{ entry_name }}</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">email</i>
											<input type="email" name="email" value="{{ email }}" id="input-email" class="validate">
											<label for="input-email" data-error="{{ text_email_error }}" data-success="{{ text_email_success }}">{{ entry_email }}</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mode_edit</i>
											<textarea name="enquiry" rows="10" id="input-enquiry" class="materialize-textarea"></textarea>
											<label for="input-enquiry">{{ entry_enquiry }}</label>
										</div>
										{{ captcha }}
										<div class="flex-reverse">
											<button class="btn waves-effect waves-light red right" type="submit" value="{{ button_submit }}">{{ button_submit }}</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</div>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
{% if yandex %}<script defer src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>{% endif %}
{% if google %}<script defer src="//maps.googleapis.com/maps/api/js?key={{ google_api }}"></script>{% endif %}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if error_name %}
		M.toast({html: '<i class="material-icons left">warning</i>{{ error_name }}', classes: 'toast-warning'});
	{% endif %}
	{% if error_email %}
		M.toast({html: '<i class="material-icons left">warning</i>{{ error_email }}', classes: 'toast-warning'});
	{% endif %}
	{% if error_enquiry %}
		M.toast({html: '<i class="material-icons left">warning</i>{{ error_enquiry }}', classes: 'toast-warning'});
	{% endif %}
	{% if yandex %}
	ymaps.ready(init);

	var myMap, myPlacemark, myPin;

	function init() {
		myMap = new ymaps.Map("map", {
			center: [{{ lat }}, {{ lng }}],
			zoom: 16,
			controls: []
		});

		myPin = new ymaps.GeoObjectCollection({}, {
			{% if icon_pin %}
			iconLayout: 'default#image',
			iconImageSize: [{{ icon_pin_width }},{{ icon_pin_height }}],
			iconImageHref: '{{ icon_pin }}'
			{% endif %}
		});

		myPlacemark = new ymaps.Placemark([{{ lat }}, {{ lng }}], {
			{% if map_description %}
			balloonContent: '{{ map_description }}'
			{% endif %}
		});

		myPin.add(myPlacemark);
		myMap.geoObjects.add(myPin);
	}
	{% endif %}
	{% if google %}
	google.maps.event.addDomListener(window, 'load', init);

	var element, options, myMap, myPlacemark, infoWindow;

	function init() {
		element = document.getElementById('google-map');
		options = {
			center: {lat: {{ lat }}, lng: {{ lng }}},
			zoom: 16
		}

		myMap = new google.maps.Map(element, options);

		myPlacemark = new google.maps.Marker({
			position: {lat: {{ lat }}, lng: {{ lng }}},
			map: myMap,
			icon: '{{ icon_pin }}'
		});

		{% if map_description %}
		infoWindow = new google.maps.InfoWindow({
			content: '{{ map_description }}'
		});
		{% endif %}

		myPlacemark.addListener('click', function() {
			infoWindow.open(myMap, myPlacemark);
		});
	}
	{% endif %}
});
</script>
{% endspaceless %}
{{ footer }}