{{ header }}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav id="breadcrumbs" class="breadcrumb-wrapper transparent z-depth-0">
			<span class="breadcrumb-blur hide-on-med-and-up"></span>
			<div class="nav-wrapper breadcrumb-wrap href-underline">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
					<a href="{{ breadcrumb.href }}" class="breadcrumb waves-effect black-text">{{ breadcrumb.text }}</a>
					{% else %}
					<span class="breadcrumb blue-grey-text text-darken-3">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<div class="row">
			{{ column_left }}
			<div class="col {{ main }}">
				{{ content_top }}
				<h1>{{ heading_title }}</h1>
				{% if map_materialize %}
					{{ map_materialize }}
				{% else %}
				<div class="row">
					<div class="col s12 l6">
						<div class="card-panel">
							<h2>{{ store }}</h2>
							<ul class="collection no-border">
								{% if image %}
								<li class="collection-item no-border center">
									<img class="responsive-img lazyload" src="{{ img_loader }}" data-src="{{ image }}" alt="{{ store }}" title="{{ store }}">
								</li>
								{% endif %}
								<li class="collection-item no-border">
									<address><i class="material-icons left">location_on</i>{{ address }}</address>
								</li>
								<li class="collection-item no-border">
									<span><i class="material-icons left">phone</i>{{ telephone }}</span>
								</li>
								{% if open %}
								<li class="collection-item no-border">
									<i class="material-icons left">access_time</i>{{ open }}
								</li>
								{% endif %}
								{% if comment %}
								<li class="collection-item no-border">
									<i class="material-icons left">info</i>{{ comment }}
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
					<form action="{{ action }}" method="post" enctype="multipart/form-data" class="col s12 l6">
						<div class="card-panel">
							<h3>{{ text_contact }}</h3>
							<div class="input-field">
								<i class="material-icons prefix">account_circle</i>
								<input type="text" name="name" value="{{ name }}" id="input-name" class="validate">
								<label for="input-name">{{ entry_name }}</label>
								{% if error_name %}<span class="helper-text">{{ error_name }}</span>{% endif %}
							</div>
							<div class="input-field">
								<i class="material-icons prefix">email</i>
								<input type="email" name="email" value="{{ email }}" id="input-email" class="validate">
								<label for="input-email" data-error="{{ text_email_error }}" data-success="{{ text_email_success }}">{{ entry_email }}</label>
								{% if error_email %}<span class="helper-text">{{ error_email }}</span>{% endif %}
							</div>
							<div class="input-field">
								<i class="material-icons prefix">mode_edit</i>
								<textarea name="enquiry" rows="10" id="input-enquiry" class="materialize-textarea"></textarea>
								<label for="input-enquiry">{{ entry_enquiry }}</label>
								{% if error_enquiry %}<span class="helper-text">{{ error_enquiry }}</span>{% endif %}
							</div>
							{{ captcha }}
						</div>
						<div class="flex-reverse">
							<button class="btn waves-effect waves-light red right" type="submit" value="{{ button_submit }}">{{ button_submit }}</button>
						</div>
					</form>
				</div>
				{% if locations %}
				<div class="row">
					<div class="col s12">
						<ul class="collapsible expandable">
							{% for location in locations %}
							<li class="arrow-rotate">
								<div class="collapsible-header grey lighten-5">{{ location.name }}</div>
								<div class="collapsible-body white">
									<div class="row">
										<div class="col s12 m6 xl4 center">
											{% if location.image %}
											<img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="responsive-img">
											{% endif %}
										</div>
										<div class="col s12 m6 xl8">
											<ul class="collection">
												<li class="collection-item"><i class="material-icons left">place</i> <address>{{ location.address }}</address></li>
												{% if location.open %}
												<li class="collection-item"><i class="material-icons left">access_time</i> {{ location.open }}</li>
												{% endif %}
												<li class="collection-item"><i class="material-icons left">phone</i> {{ location.telephone }}</li>
												{% if location.fax %}
												<li class="collection-item"><i class="material-icons left">print</i> {{ location.fax }}</li>
												{% endif %}
												<li class="collection-item"><i class="material-icons left">map</i> <a href="//maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=16" title="{{ text_view_map }}" target="_blank" rel="noopener">{{ text_view_map }}</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
				{% endif %}
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
$(document).ready(function() {
	{% if error_name %}
		M.toast({html: '<i class="material-icons left">warning</i>{{ error_name }}', classes: 'toast-warning'});
	{% endif %}
	{% if error_email %}
		M.toast({html: '<i class="material-icons left">warning</i>{{ error_email }}', classes: 'toast-warning'});
	{% endif %}
	{% if error_enquiry %}
		M.toast({html: '<i class="material-icons left">warning</i>{{ error_enquiry }}', classes: 'toast-warning'});
	{% endif %}
});
</script>
{{ footer }}