<div class="card-footer text-center">
	{{ materialize_template }} |
	{{ patreon }} |
	{{ github }} |
	{{ twitter }} |
	{{ paypal }} |
	{{ yandex }}
</div>
<script type="text/javascript">
	$('.materialize-appeal__popover').popover({
		placement: 'right',
		trigger: 'hover',
		html: true
	});
</script>