<form id="callback__modal" class="modal">
	<div class="modal-content">
		<i class="material-icons modal-action modal-close waves-effect waves-circle close-icon">close</i>
		<div class="row"><h4>{{ module_callback_title }}</h4></div>
		<div class="row">
			{% if module_callback_name %}
			<div class="input-field col s12">
				<i class="material-icons prefix">account_circle</i>
				<input id="callback-name" name="module_callback_name" type="text" class="validate" {{ module_callback_name_required ? 'required' : '' }}>
				<label for="callback-name" {{ module_callback_name_required ? 'class="required"' : '' }}>{{ entry_name }}</label>
			</div>
			{% endif %}
			<div class="input-field col s12">
				<i class="material-icons prefix">phone</i>
				<input id="callback-telephone" name="module_callback_telephone" type="tel" class="validate" {{ module_callback_phonemask_status ? 'data-inputmask="\'alias\':\'phone\'"' : '' }}required>
				<label for="callback-telephone" class="required">{{ entry_telephone }}</label>
			</div>
			{% if module_callback_enquiry %}
			<div class="input-field col s12">
				<i class="material-icons prefix">chat</i>
				<textarea id="callback-enquiry" name="module_callback_enquiry" class="materialize-textarea" data-length="360" {{ module_callback_enquiry_required ? 'required' : '' }}></textarea>
				<label for="callback-enquiry" {{ module_callback_enquiry_required ? 'class="required"' : '' }}>{{ entry_enquiry }}</label>
			</div>
			{% endif %}
			{% if module_callback_calltime %}
			<div class="input-field col s12">
				<i class="material-icons prefix">av_timer</i>
				<input type="text" id="callback-calltime" class="timepicker-{{ lang }}" name="module_callback_calltime" value="">
				<label for="callback-calltime" {{ module_callback_calltime_required ? 'class="required"' : '' }}>{{ entry_calltime }}</label>
			</div>
			{% endif %}
		</div>
		{% if text_agree %}
		<div class="row">
			<div class="col s12">
				{% if agree %}
				<input type="checkbox" name="agree" value="1" checked="checked" id="agreement-check" class="filled-in">
				{% else %}
				<input type="checkbox" name="agree" value="1" id="agreement-check" class="filled-in">
				{% endif %}
				<label for="agreement-check">{{ text_agree }}</label>
			</div>
		</div>
		{% endif %}
		<input type="hidden" name="order_page" value="{{ order_page }}">
	</div>
	<div class="modal-footer href-underline">
		<button type="button" id="callback__button" class="btn modal-action waves-effect waves-light red" value="{{ button_submit }}">{{ button_submit }}</button>
	</div>
</form>
{% if module_callback_callaction_status %}
<button type="button" data-target="callback__modal" id="callback__btn" class="btn-floating btn-large green darken-1 z-depth-4 waves-effect waves-light pulse modal-trigger"><i id="callback__phone-icon" class="material-icons">phone</i></button>
<div id="callback__attract" class="tap-target green lighten-1" data-activates="callback__btn">
	<div class="tap-target-content white-text">
		<i id="callback__attract-close" class="material-icons waves-effect waves-circle right">close</i>
		<h5 class="text-bold">{{ module_callback_caption }}</h5>
		<p>{{ module_callback_description }}</p>
	</div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	var callbackAttract = $('#callback__attract'),
		callbackPhoneIcon = $('#callback__phone-icon');

	setInterval(function() {
		callbackPhoneIcon.toggleClass('callback-shake');
	}, 2500);

	idleTimer = null;
	idleState = false;
	idleWait = {{ module_callback_time }}000;

	$(document).bind('mousemove keydown scroll', function() {
		clearTimeout(idleTimer);

		idleState = false;
		idleTimer = setTimeout(function() { 
			callbackAttract.tapTarget('open');
			idleState = true;
		}, idleWait);
	});

	$("body").trigger("mousemove");
});
</script>
{% endif %}
<script>
document.addEventListener("DOMContentLoaded", function(event) {	
	$('#callback__button').on('click', function() {
		$.ajax({
			url: 'index.php?route=extension/module/callback/send',
			type: 'post',
			dataType: 'json',
			data: $("#callback__modal").serialize(),
			success: function(json) {
				if (json['error']) {
					Materialize.toast('<i class="material-icons left">warning</i>'+json['error'],7000,'toast-warning');
				}
				if (json['success']) {
					Materialize.toast('<i class="material-icons left">check</i>'+json['success'],7000,'toast-success');
					$('input[name=\'module_callback_telephone\']').val('').blur();
					{% if module_callback_name %}
					$('input[name=\'module_callback_name\']').val('').blur();
					{% endif %}
					{% if module_callback_enquiry %}
					$('textarea[name=\'module_callback_enquiry\']').val('').blur();
					{% endif %}
					{% if module_callback_calltime %}
					$('input[name=\'module_callback_calltime\']').val('').blur();
					{% endif %}
					{% if text_agree %}
					$('input[name=\'agree\']').prop('checked', false);
					{% endif %}
					$('#callback__modal').modal('close');
				}
			}
		});
	});
});
</script>