{% if module_quickorder_status %}
<form id="quickorder__modal" class="modal white">
	<div class="modal-content">
		<i class="material-icons modal-action modal-close waves-effect waves-circle close-icon">close</i>
		<h4>{{ module_quickorder_title }} — {{ product_title }}</h4>
		<div class="row">
			{% if thumb %}
			<div class="col s12 m6 center">
				<figure>
					<img class="responsive-img lazyload" src="{{ img_loader }}" data-src="{{ thumb }}" alt="{{ module_quickorder_title }} — {{ product_title }}">
					<figcaption>{{ module_quickorder_title }} — {{ product_title }}</figcaption>
				</figure>
			</div>
			{% endif %}
			<div class="col s12 {{ thumb ? 'm6' : '' }}">
				<div class="row">
					{% if module_quickorder_name %}
					<div class="input-field col s12">
						<i class="material-icons prefix">account_circle</i>
						<input id="quickorder-name" name="module_quickorder_name" type="text" class="validate" {{ module_quickorder_name_required ? 'required' : '' }}>
						<label for="quickorder-name" {{ module_quickorder_name_required ? 'class="required"' : '' }}>{{ entry_name }}</label>
					</div>
					{% endif %}
					<div class="input-field col s12">
						<i class="material-icons prefix">phone</i>
						<input id="quickorder-telephone" name="module_quickorder_telephone" type="tel" class="validate" {{ module_quickorder_phonemask_status ? 'data-inputmask="\'alias\':\'phone\'"' : '' }} required>
						<label for="quickorder-telephone" class="required">{{ entry_telephone }}</label>
					</div>
					{% if module_quickorder_email %}
					<div class="input-field col s12">
						<i class="material-icons prefix">email</i>
						<input id="quickorder-email" name="module_quickorder_email" type="email" class="validate" {{ module_quickorder_email_required ? 'required' : '' }}>
						<label for="quickorder-email" data-error="{{ text_email_error }}" data-success="{{ text_email_success }}" {{ module_quickorder_email_required ? 'class="required"' : '' }}>{{ entry_email }}</label>
					</div>
					{% endif %}
					{% if module_quickorder_enquiry %}
					<div class="input-field col s12">
						<i class="material-icons prefix">chat</i>
						<textarea id="quickorder-enquiry" name="module_quickorder_enquiry" class="materialize-textarea" data-length="360" {{ module_quickorder_enquiry_required ? 'required' : '' }}></textarea>
						<label for="quickorder-enquiry" {{ module_quickorder_enquiry_required ? 'class="required"' : '' }}>{{ entry_enquiry }}</label>
					</div>
					{% endif %}
					{% if module_quickorder_calltime %}
					<div class="input-field col s12">
						<i class="material-icons prefix">av_timer</i>
						<input type="text" id="quickorder-calltime" class="timepicker-{{ lang }}" name="module_quickorder_calltime" value="">
						<label for="quickorder-calltime" {{ module_quickorder_calltime_required ? 'class="required"' : '' }}>{{ entry_calltime }}</label>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		{% if text_agree %}
		<div class="row">
			<div class="col s12">
				{% if agree %}
				<input type="checkbox" name="agree" value="1" checked="checked" id="agreement-check" class="filled-in">
				{% else %}
				<input type="checkbox" name="agree" value="1" id="agreement-check" class="filled-in">
				{% endif %}
				<label for="agreement-check">{{ text_agree }}</label>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="modal-footer">
		<input type="hidden" name="module_quickorder_product_title" value="{{ product_title }}">
		<input type="hidden" name="module_quickorder_product_link" value="{{ product_link }}">
		<button type="button" id="quickorder__button" class="btn modal-action waves-effect waves-light red" value="{{ button_submit }}">{{ button_submit }}</button>
	</div>
</form>
<div class="section">
	<button type="button" data-target="quickorder__modal" id="quickorder__btn" class="btn btn-large waves-effect waves-light blue width-max modal-trigger"><i class="material-icons left">shopping_cart</i>{{ module_quickorder_button }}</button>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {	
	$('#quickorder__button').on('click', function() {
		$.ajax({
			url: 'index.php?route=extension/module/quickorder/send',
			type: 'post',
			dataType: 'json',
			data: $("#quickorder__modal").serialize(),
			success: function(json) {
				if (json['error']) {
					Materialize.toast('<i class="material-icons left">warning</i>'+json['error'],7000,'toast-warning');
				}
				if (json['success']) {
					Materialize.toast('<i class="material-icons left">check</i>'+json['success'],7000,'toast-success');
					$('input[name=\'module_quickorder_telephone \']').val('').blur();
					{% if module_quickorder_name %}
					$('input[name=\'module_quickorder_name\']').val('').blur();
					{% endif %}
					{% if module_quickorder_email %}
					$('input[name=\'module_quickorder_email\']').val('').blur();
					{% endif %}
					{% if module_quickorder_enquiry %}
					$('textarea[name=\'module_quickorder_enquiry\']').val('').blur();
					$('textarea[name=\'module_quickorder_enquiry\']').trigger('autoresize');
					{% endif %}
					{% if module_quickorder_calltime %}
					$('input[name=\'module_quickorder_calltime\']').val('').blur();
					{% endif %}
					$('#quickorder__modal').modal('close');
				}
			}
		});
	});
});
</script>
{% endif %}