<div id="modal-materialize-installed" class="modal fade modal-materialize" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{{ modal_title }}</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-info" role="alert">{{ modal_alert }}</div>
				<div class="list-group">
					<a href="//goo.gl/WYB4yC" target="_blank" rel="noopener" class="list-group-item">
						<h4 class="list-group-item-heading"><i class="fa fa-comment-o shake"></i> {{ modal_review }}</h4>
						<p class="list-group-item-text">
							<p>{{ appeal_marketplace }}</p>
						</p>
					</a>
					<a href="//goo.gl/4Myeis" target="_blank" rel="noopener" class="list-group-item">
						<h4 class="list-group-item-heading"><i class="fa fa-credit-card shake"></i> {{ modal_donations_title }}</h4>
						<p class="list-group-item-text">{{ modal_donations_text }}</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#modal-materialize-installed').modal({
		backdrop: 'static',
		keyboard: false
	});
</script>