<!doctype html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ title }}</title>
	<base href="{{ base }}">
	{% if description %}
		<meta name="description" content="{{ description }}">
	{% endif %}
	{% if keywords %}
		<meta name="keywords" content="{{ keywords }}">
	{% endif %}
	{% for style in styles %}
		<link href="{{ style.href }}" rel="{{ style.rel }}">
	{% endfor %}
	{% for link in links %}
		<link href="{{ link.href }}" rel="{{ link.rel }}">
	{% endfor %}
	{% for script in scripts %}
		<script src="{{ script }}"></script>
	{% endfor %}
</head>
<body class="grey lighten-3" id="content" data-old-class-color-background="grey lighten-3" data-element="body">
	<header class="header z-depth-1" data-element="header">
		<ul class="sidenav sidenav-fixed">
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li class="arrow-rotate arrow-rotate--keyboard-arrow-down">
						<a class="collapsible-header waves-effect">Body</a> {# todo-materialize Must be placed in a language variable #}
						<div class="collapsible-body">
							<ul class="mt-list z-depth-0">
								<li class="divider"></li>
								<li class="mt-list-item">
									<div class="mt-list-item__text">
										<span class="mt-list-item__primary-text">Body Color</span> {# todo-materialize Must be placed in a language variable #}
										<span class="mt-list-item__secondary-text">Body Color description</span> {# todo-materialize Must be placed in a language variable #}
									</div>
									<div class="mt-list-item__inputs mt-list-item__inputs--full-width">
										<div class="input-field">
											<input type="text" name="" value="grey lighten-3" id="input-color-body-background" data-color="true" data-color-type="background" data-target="body" data-mt-settings readonly>
											<label for="input-color-body-background" class="active">Background color</label>
										</div>
									</div>
								</li>
								<li class="divider"></li>
							</ul>
						</div>
					</li>
					<li class="arrow-rotate arrow-rotate--keyboard-arrow-down">
						<a class="collapsible-header waves-effect">Header</a> {# todo-materialize Must be placed in a language variable #}
						<div class="collapsible-body">
							<ul class="mt-list z-depth-0">
								<li class="divider"></li>
								<li class="mt-list-item">
									<div class="mt-list-item__text">
										<span class="mt-list-item__primary-text">Header Shadow</span> {# todo-materialize Must be placed in a language variable #}
										<span class="mt-list-item__secondary-text">Header Shadow description</span> {# todo-materialize Must be placed in a language variable #}
									</div>
									<div class="mt-list-item__inputs mt-list-item__inputs--full-width">
										<div id="slider-header-shadow"></div>
										<input type="hidden" name="" value="1" id="input-header-shadow" data-target="header" data-class="z-depth-" data-mt-settings>
									</div>
								</li>
								<li class="divider"></li>
								<li class="mt-list-item"> {# todo-materialize Replace to Fixed Header #}
									<div class="mt-list-item__text">
										<span class="mt-list-item__primary-text">Center content</span> {# todo-materialize Must be placed in a language variable #}
										<span class="mt-list-item__secondary-text">Center content description</span> {# todo-materialize Must be placed in a language variable #}
									</div>
									<div class="mt-list-item__data">
										<div class="switch">
											<label>
												<input type="checkbox" name="" data-target="header-top-section-container" data-mt-settings checked>
												<span class="lever"></span>
											</label>
										</div>
									</div>
								</li>
								<li class="divider"></li>
							</ul>
							<ul class="collapsible collapsible-accordion">
								<li class="arrow-rotate arrow-rotate--arrow-drop-down">
									<a class="collapsible-header waves-effect" style="padding-left: 48px; font-weight: 400;">Top Section</a> {# todo-materialize Must be placed in a language variable #}
									<div class="collapsible-body">
										<ul class="mt-list z-depth-0">
											<li class="divider"></li>
											<li class="mt-list-item">
												<div class="mt-list-item__text">
													<span class="mt-list-item__primary-text">Top Section Color</span> {# todo-materialize Must be placed in a language variable #}
													<span class="mt-list-item__secondary-text">Top Section Color description</span> {# todo-materialize Must be placed in a language variable #}
												</div>
												<div class="mt-list-item__inputs mt-list-item__inputs--full-width">
													<div class="input-field">
														<input type="text" name="" value="blue-grey darken-4" id="input-color-header-top-section-background" data-color="true" data-color-type="background" data-target="header-top-section" data-mt-settings readonly>
														<label for="input-color-header-top-section-background" class="active">Background color</label>
													</div>
													<div class="input-field">
														<input type="text" name="" value="white-text" id="input-color-header-top-section-text" data-color="true" data-color-type="text" data-target="header-top-section-text" data-mt-settings readonly>
														<label for="input-color-header-top-section-text" class="active">Text color</label>
													</div>
												</div>
											</li>
											<li class="divider"></li>
											<li class="mt-list-item">
												<div class="mt-list-item__text">
													<span class="mt-list-item__primary-text">Waves Effect</span> {# todo-materialize Must be placed in a language variable #}
													<span class="mt-list-item__secondary-text">Waves Effect description</span> {# todo-materialize Must be placed in a language variable #}
												</div>
												<div class="mt-list-item__inputs mt-list-item__inputs--full-width mt-0">
													<div class="input-field">
														<select data-target="header-top-section-text" data-target-change-value="false" data-mt-settings>
															<option value="" selected>{{ text_none }}</option> {# todo-materialize Must be placed in a language variable #}
															{% for waves_effect in waves_effects %}
																<option value="{{ waves_effect.value }}">{{ waves_effect.name }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
											</li>
											<li class="divider"></li>
											<li class="mt-list-item">
												<div class="mt-list-item__text">
													<span class="mt-list-item__primary-text">Center content</span> {# todo-materialize Must be placed in a language variable #}
													<span class="mt-list-item__secondary-text">Center content description</span> {# todo-materialize Must be placed in a language variable #}
												</div>
												<div class="mt-list-item__data">
													<div class="switch">
														<label>
															<input type="checkbox" name="" data-target="header-top-section-container" data-mt-settings checked>
															<span class="lever"></span>
														</label>
													</div>
												</div>
											</li>
											<li class="divider"></li>
										</ul>
									</div>
								</li>
								<li class="arrow-rotate arrow-rotate--arrow-drop-down">
									<a class="collapsible-header waves-effect" style="padding-left: 48px; font-weight: 400;">Main Section</a> {# todo-materialize Must be placed in a language variable #}
									<div class="collapsible-body">
										<ul class="mt-list z-depth-0">
											<li class="divider"></li>
											<li class="mt-list-item">
												<div class="mt-list-item__text">
													<span class="mt-list-item__primary-text">Main Section Color</span> {# todo-materialize Must be placed in a language variable #}
													<span class="mt-list-item__secondary-text">Main Section Color description</span> {# todo-materialize Must be placed in a language variable #}
												</div>
												<div class="mt-list-item__inputs mt-list-item__inputs--full-width">
													<div class="input-field">
														<input type="text" name="" value="blue-grey darken-3" id="input-color-header-main-section-background" data-color="true" data-color-type="background" data-target="header-main-section" data-mt-settings readonly>
														<label for="input-color-header-main-section-background" class="active">Background color</label>
													</div>
													<div class="input-field">
														<input type="text" name="" value="white-text" id="input-color-header-main-section-text" data-color="true" data-color-type="text" data-target="header-main-section-text" data-mt-settings readonly>
														<label for="input-color-header-main-section-text" class="active">Text color</label>
													</div>
												</div>
											</li>
											<li class="divider"></li>
											<li class="mt-list-item">
												<div class="mt-list-item__text">
													<span class="mt-list-item__primary-text">Center content</span> {# todo-materialize Must be placed in a language variable #}
													<span class="mt-list-item__secondary-text">Center content description</span> {# todo-materialize Must be placed in a language variable #}
												</div>
												<div class="mt-list-item__data">
													<div class="switch">
														<label>
															<input type="checkbox" name="" data-target="header-main-section-container" data-mt-settings checked>
															<span class="lever"></span>
														</label>
													</div>
												</div>
											</li>
											<li class="divider"></li>
										</ul>
									</div>
								</li>
								<li class="divider"></li>
							</ul>
						</div>
					</li>
					<li class="arrow-rotate arrow-rotate--keyboard-arrow-down">
						<a class="collapsible-header waves-effect">Footer</a> {# todo-materialize Must be placed in a language variable #}
						<div class="collapsible-body">
							<ul class="mt-list z-depth-0">
								<li class="divider"></li>
								<li class="mt-list-item">
									<div class="mt-list-item__text">
										<span class="mt-list-item__primary-text">Footer Color</span> {# todo-materialize Must be placed in a language variable #}
										<span class="mt-list-item__secondary-text">Footer Color description</span> {# todo-materialize Must be placed in a language variable #}
									</div>
									<div class="mt-list-item__inputs mt-list-item__inputs--full-width">
										<div class="input-field">
											<input type="text" name="" value="blue-grey darken-3" id="input-color-footer-background" data-color="true" data-color-type="background" data-target="footer" data-mt-settings readonly>
											<label for="input-color-footer-background" class="active">Footer Color</label>
										</div>
										<div class="input-field">
											<input type="text" name="" value="white-text" id="input-color-footer-text" data-color="true" data-color-type="text" data-target="footer-text" data-mt-settings readonly>
											<label for="input-color-footer-text" class="active">Text color</label>
										</div>
									</div>
								</li>
								<li class="divider"></li>
							</ul>
						</div>
					</li>
					<li class="arrow-rotate arrow-rotate--keyboard-arrow-down">
						<a class="collapsible-header waves-effect">Products</a> {# todo-materialize Must be placed in a language variable #}
						<div class="collapsible-body">
							<ul class="mt-list z-depth-0">
								<li class="divider"></li>
								<li class="mt-list-item">
									<div class="mt-list-item__text">
										<span class="mt-list-item__primary-text">Header Shadow</span> {# todo-materialize Must be placed in a language variable #}
										<span class="mt-list-item__secondary-text">Header Shadow description</span> {# todo-materialize Must be placed in a language variable #}
									</div>
									<div class="mt-list-item__inputs mt-list-item__inputs--full-width">
										<div id="slider-header-shadow"></div>
										<input type="hidden" name="" value="1" id="input-header-shadow" data-target="header" data-class="z-depth-" data-mt-settings>
									</div>
								</li>
								<li class="divider"></li>
							</ul>
							<ul class="collapsible collapsible-accordion">
								<li class="arrow-rotate arrow-rotate--arrow-drop-down">
									<a class="collapsible-header waves-effect" style="padding-left: 48px; font-weight: 400;">Default Card</a> {# todo-materialize Must be placed in a language variable #}
									<div class="collapsible-body">
										<ul class="mt-list z-depth-0">
											<li class="divider"></li>
											<li class="mt-list-item">
												<i class="material-icons mt-list-item__icon waves-effect waves-circle">image</i>
												<div class="mt-list-item__text">
													<span class="mt-list-item__primary-text">Image Size</span> {# todo-materialize Must be placed in a language variable #}
													<span class="mt-list-item__secondary-text">Image Size description</span> {# todo-materialize Must be placed in a language variable #}
												</div>
												<div class="mt-list-item__inputs mt-list-item__inputs--full-width">
													<label for="input-card-default-image-width">Image Width</label>
													<div id="slider-card-default-image-width"></div>
													<input type="hidden" name="theme_mt_materialize_image_product_width" value="{{ theme_mt_materialize_image_product_width }}" id="input-card-default-image-width" data-target="mt-card-default-image" data-css="width" data-unit="px" data-mt-settings>
													<label for="slider-card-default-image-height">Image Height</label>
													<input type="hidden" name="theme_mt_materialize_image_product_height" value="{{ theme_mt_materialize_image_product_height }}" id="input-card-default-image-height" data-target="mt-card-default-image" data-css="height" data-unit="px" data-mt-settings>
													<div id="slider-card-default-image-height"></div>
												</div>
											</li>
											<li class="divider"></li>
											<li class="mt-list-item">
												<i class="material-icons mt-list-item__icon waves-effect waves-circle">title</i>
												<div class="mt-list-item__text">
													<span class="mt-list-item__primary-text">Title</span> {# todo-materialize Must be placed in a language variable #}
													<span class="mt-list-item__secondary-text">Title description</span> {# todo-materialize Must be placed in a language variable #}
												</div>
												<div class="mt-list-item__inputs mt-list-item__inputs--full-width">
													<div class="input-field">
														<select data-target="mt-card-default-title-position" data-target-change-value="true" data-mt-settings>
															<option value="default">Default</option> {# todo-materialize Must be placed in a language variable #}
															<option value="over-media">Title over media</option> {# todo-materialize Must be placed in a language variable #}
															<option value="header">Title header</option> {# todo-materialize Must be placed in a language variable #}
														</select>
														<label>Title Position</label> {# todo-materialize Must be placed in a language variable #}
													</div>
													<div class="input-field mt-5 scale-transition scale-out" data-change="scale-in" data-element="mt-card-default-title-position-over-media">
														<input type="text" name="" value="" id="input-background-color-mt-card-title" data-color="true" data-color-type="background" data-target="mt-card-default-title-position-over-media" data-mt-settings readonly>
														<label for="input-background-color-mt-card-title" class="active">Title Background color</label>
													</div>
												</div>
											</li>
											<li class="divider"></li>
										</ul>
									</div>
								</li>
								<li class="arrow-rotate arrow-rotate--arrow-drop-down">
									<a class="collapsible-header waves-effect" style="padding-left: 48px; font-weight: 400;">Horizontal Card</a> {# todo-materialize Must be placed in a language variable #}
									<div class="collapsible-body">
										<ul class="mt-list z-depth-0">
											<li class="divider"></li>
											<li class="mt-list-item">
												<div class="mt-list-item__text">
													<span class="mt-list-item__primary-text">Main Section Color</span> {# todo-materialize Must be placed in a language variable #}
													<span class="mt-list-item__secondary-text">Main Section Color description</span> {# todo-materialize Must be placed in a language variable #}
												</div>
												<div class="mt-list-item__inputs mt-list-item__inputs--full-width">
													<div class="input-field">
														<input type="text" name="" value="blue-grey darken-3" id="input-color-header-main-section-background" data-color="true" data-color-type="background" data-target="header-main-section" data-mt-settings readonly>
														<label for="input-color-header-main-section-background" class="active">Background color</label>
													</div>
													<div class="input-field">
														<input type="text" name="" value="white-text" id="input-color-header-main-section-text" data-color="true" data-color-type="text" data-target="header-main-section-text" data-mt-settings readonly>
														<label for="input-color-header-main-section-text" class="active">Text color</label>
													</div>
												</div>
											</li>
											<li class="divider"></li>
											<li class="mt-list-item">
												<div class="mt-list-item__text">
													<span class="mt-list-item__primary-text">Center content</span> {# todo-materialize Must be placed in a language variable #}
													<span class="mt-list-item__secondary-text">Center content description</span> {# todo-materialize Must be placed in a language variable #}
												</div>
												<div class="mt-list-item__data">
													<div class="switch">
														<label>
															<input type="checkbox" name="" data-target="header-main-section-container" data-mt-settings checked>
															<span class="lever"></span>
														</label>
													</div>
												</div>
											</li>
											<li class="divider"></li>
										</ul>
									</div>
								</li>
								<li class="divider"></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
		<div class="header__section header__section--top blue-grey darken-4" data-old-class-color-background="blue-grey darken-4" data-element="header-top-section">
			<div class="container" data-change="container" data-element="header-top-section-container">
				<div class="section-top">
					<a class="dropdown-trigger mt-btn-flat waves-effect waves-default white-text" href="#" data-target="dropdown-switch-language" data-old-class-color-text="white-text" data-element="header-top-section-text"><i class="material-icons">language</i></a>
					<ul id="dropdown-switch-language" class="dropdown-content">
						<li><a href="#!">one</a></li>
					</ul>
					<a class="dropdown-trigger mt-btn-flat waves-effect white-text" href="#" data-target="dropdown-switch-currency" data-old-class-color-text="white-text" data-element="header-top-section-text"><i class="material-icons">monetization_on</i></a>
					<ul id="dropdown-switch-currency" class="dropdown-content">
						<li><a href="#!">one</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header__section header__section--main blue-grey darken-3" data-old-class-color-background="blue-grey darken-3" data-element="header-main-section">
			<div class="container" data-change="container" data-element="header-main-section-container">
				<div class="section-main">
					{% if logo %}
						<img src="{{ logo }}" alt="" class="img-fluid">
					{% endif %}
					<div class="section-main__info white-text" data-old-class-color-text="white-text" data-element="header-main-section-text">
						<div class="section-main__telephone flow-text">+7 (800) 555 35 35</div>
						<div class="section-main__contacts">
							<ul class="section-main__list">
								<li class="section-main__item"><i class="material-icons left">email</i>info@myefforts.ru</li>
								<li class="section-main__item"><i class="material-icons left">access_time</i>Weekdays from 09:00 to 18:00</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header__section header__section--navigation blue-grey darken-2"></div>
	</header>
	<main>
		<div class="container" id="mt-cards-demo">
			<h5>Default Card</h5>
			<div class="row">
				{% for i in 1..4 %}
					<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
						<div class="mt-card" data-element="mt-card">
							<div class="mt-card-content scale-transition scale-out" data-change="scale-in" data-element="mt-card-default-title-position-header">
								<div class="mt-card-title__wrapper">
									<span class="mt-card__title grey-text text-darken-4" data-old-class="grey-text text-darken-4" data-element="mt-card-title">Lorem ipsum dolor sit amet</span>
									<span class="mt-card__subtitle grey-text scale-transition scale-out" data-old-class="grey-text" data-change="scale-in" data-element="mt-card-manufacturer">McDonald’s</span>
									<div class="divider scale-transition scale-out" data-change="scale-in" data-element="mt-card-divider-position-after-title"></div>
								</div>
							</div>
							<div class="mt-card-image">
								<img src="{{ mt_placeholder }}" alt="I want to eat" title="I want to eat" data-element="mt-card-default-image">
								<div class="mt-card-title__wrapper scale-transition scale-out" data-change="scale-in" data-element="mt-card-default-title-position-over-media">
									<span class="mt-card__title black-text" data-old-class="black-text" data-element="mt-card-title">Lorem ipsum dolor sit amet</span>
									<span class="mt-card__subtitle grey-text scale-transition scale-out" data-old-class="grey-text" data-change="scale-in" data-element="mt-card-manufacturer">McDonald’s</span>
									<div class="divider scale-transition scale-out" data-change="scale-in" data-element="mt-card-divider-position-after-title"></div>
								</div>
								<button class="mt-btn-floating mt-btn-large halfway-fab waves-effect waves-light red scale-transition scale-out" data-change="scale-in" data-element="mt-card-cart-floating-button"><i class="material-icons">add_shopping_cart</i></button>
							</div>
							<div class="mt-card-content">
								<div class="mt-card-title__wrapper scale-transition scale-out scale-in" data-change="scale-in" data-element="mt-card-default-title-position-default">
									<span class="mt-card__title grey-text text-darken-4" data-old-class="grey-text text-darken-4" data-element="mt-card-title">Lorem ipsum dolor sit amet</span>
									<span class="mt-card__subtitle grey-text scale-transition scale-out" data-old-class="grey-text" data-change="scale-in" data-element="mt-card-manufacturer">McDonald’s</span>
									<div class="divider scale-transition scale-out" data-change="scale-in" data-element="mt-card-divider-position-after-title"></div>
								</div>
								<div class="mt-card-price">
									{% if loop.index is odd %}
										<span class="mt-card-price__item mt-card-price__item--old-price grey-text" data-element="mt-card-old-price">{{ price }}</span>
										<span class="mt-card-price__item mt-card-price__item--new-price red-text text-darken-2" data-element="mt-card-new-price">{{ price }}</span>
									{% else %}
										<span class="mt-card-price__item mt-card-price__item--current-price" data-element="mt-card-current-price">{{ price }}</span>
									{% endif %}
								</div>
								{% if review %}
									<div class="mt-card-rating scale-transition scale-out scale-in" data-change="scale-in" data-element="mt-card-rating-position-after-price">
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star_half</i>
										<span class="mt-card-rating__rating" data-element="mt-card-reviews">4.5</span>
										<span class="mt-card-rating__review" data-element="mt-card-reviews">(4)</span>
									</div>
								{% endif %}
								<div class="divider scale-transition scale-out" data-change="scale-in" data-element="mt-card-divider-position-after-price"></div>
								<p data-element="mt-card-description" data-element="mt-card-description">{{ lorem }}</p>
								<div class="divider scale-transition scale-out" data-change="scale-in" data-element="mt-card-divider-position-after-description"></div>
								{% if review %}
									<div class="mt-card-rating scale-transition scale-out" data-change="scale-in" data-element="mt-card-rating-position-after-description">
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star_half</i>
										<span class="mt-card-rating__rating" data-element="mt-card-reviews">4.5</span>
										<span class="mt-card-rating__review" data-element="mt-card-reviews">(4)</span>
									</div>
								{% endif %}
							</div>
							<div class="mt-card-action">
								<div class="mt-card__action-buttons">
									<button type="button" class="mt-btn-flat waves-effect waves-blue scale-transition scale-out" data-change="scale-in" data-element="mt-card-cart-button">Add to Cart</button>
									<a class="mt-btn-flat waves-effect waves-blue scale-transition scale-out" data-change="scale-in" data-element="mt-card-additional-buttons-see-more">See More</a>
								</div>
								<div class="mt-card__action-icons">
									<button type="button" class="mt-btn-flat no-padding waves-effect waves-circle scale-transition scale-out" data-change="scale-in" data-element="mt-card-cart-icon"><i class="material-icons">add_shopping_cart</i></button>
									<button type="button" class="mt-btn-flat no-padding waves-effect waves-circle scale-transition scale-out" data-change="scale-in" data-element="mt-card-additional-buttons-wish-list"><i class="material-icons">favorite_border</i></button>
									<button type="button" class="mt-btn-flat no-padding waves-effect waves-circle scale-transition scale-out" data-change="scale-in" data-element="mt-card-additional-buttons-compare"><i class="material-icons">compare_arrows</i></button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<h5>Horizontal Card</h5>
			<div class="row">
				{% for i in 1..4 %}
					<div class="col-12 col-md-6">
						<div class="mt-card horizontal" data-element="mt-card">
							<div class="mt-card-image scale-transition scale-out scale-in order-1" data-change="scale-in" data-element="mt-card-horizontal-image-position-left">
								<img src="{{ mt_placeholder }}" alt="I want to eat" title="I want to eat" data-element="mt-card-horizontal-image">
								<button class="mt-btn-floating halfway-fab waves-effect waves-light red scale-transition scale-out" data-change="scale-in" data-element="mt-card-cart-floating-button"><i class="material-icons">add_shopping_cart</i></button>
							</div>
							<div class="mt-card-content order-2">
								<div class="mt-card-title__wrapper">
									<span class="mt-card__title grey-text text-darken-4" data-old-class="grey-text text-darken-4" data-element="mt-card-title">Lorem ipsum dolor sit amet</span>
									<span class="mt-card__subtitle grey-text scale-transition scale-out" data-old-class="grey-text" data-change="scale-in" data-element="mt-card-manufacturer">McDonald’s</span>
								</div>
								<div class="divider scale-transition scale-out" data-change="scale-in" data-element="mt-card-divider-position-after-title"></div>
								<div class="mt-card-price">
									<span class="mt-card-price__item mt-card-price__item--current-price" data-element="mt-card-current-price">{{ price }}</span>
								</div>
								{% if review %}
									<div class="mt-card-rating scale-transition scale-out scale-in" data-change="scale-in" data-element="mt-card-rating-position-after-price">
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star_half</i>
										<span class="mt-card-rating__rating" data-element="mt-card-reviews">4.5</span>
										<span class="mt-card-rating__review" data-element="mt-card-reviews">(4)</span>
									</div>
								{% endif %}
								<div class="divider scale-transition scale-out" data-change="scale-in" data-element="mt-card-divider-position-after-price"></div>
								<p data-element="mt-card-description" data-element="mt-card-description">{{ lorem }}</p>
								<div class="divider scale-transition scale-out" data-change="scale-in" data-element="mt-card-divider-position-after-description"></div>
								{% if review %}
									<div class="mt-card-rating scale-transition scale-out" data-change="scale-in" data-element="mt-card-rating-position-after-description">
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star</i>
										<i class="mt-card-rating__star material-icons" data-element="mt-card-stars">star_half</i>
										<span class="mt-card-rating__rating" data-element="mt-card-reviews">4.5</span>
										<span class="mt-card-rating__review" data-element="mt-card-reviews">(4)</span>
									</div>
								{% endif %}
							</div>
							<div class="mt-card-image scale-transition scale-out order-3" data-change="scale-in" data-element="mt-card-horizontal-image-position-right">
								<img src="{{ mt_placeholder }}" alt="I want to eat" title="I want to eat" data-element="mt-card-horizontal-image">
								<button class="mt-btn-floating halfway-fab waves-effect waves-light red scale-transition scale-out" data-change="scale-in" data-element="mt-card-cart-floating-button"><i class="material-icons">add_shopping_cart</i></button>
							</div>
							<div class="mt-card-action order-4">
								<div class="mt-card__action-buttons">
									<button type="button" class="mt-btn-flat waves-effect waves-blue scale-transition scale-out" data-change="scale-in" data-element="mt-card-cart-button">Add to Cart</button>
									<a class="mt-btn-flat waves-effect waves-blue scale-transition scale-out" data-change="scale-in" data-element="mt-card-additional-buttons-see-more">See More</a>
								</div>
								<div class="mt-card__action-icons">
									<button type="button" class="mt-btn-flat no-padding waves-effect waves-circle scale-transition scale-out" data-change="scale-in" data-element="mt-card-cart-icon"><i class="material-icons">add_shopping_cart</i></button>
									<button type="button" class="mt-btn-flat no-padding waves-effect waves-circle scale-transition scale-out" data-change="scale-in" data-element="mt-card-additional-buttons-wish-list"><i class="material-icons">favorite_border</i></button>
									<button type="button" class="mt-btn-flat no-padding waves-effect waves-circle scale-transition scale-out" data-change="scale-in" data-element="mt-card-additional-buttons-compare"><i class="material-icons">compare_arrows</i></button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>
	<footer class="page-footer blue-grey darken-3" data-old-class-color-background="blue-grey darken-3" data-element="footer">
		<div class="container">
			<div class="row" data-old-class-color-text="white-text" data-element="footer-text">
				<div class="col-12 col-lg-6">
					<h5>Footer Content</h5>
					<p>You can use rows and columns here to organize your footer content.</p>
				</div>
				<div class="col-12 col-lg-4 offset-lg-2">
					<h5>Links</h5>
					<ul>
						<li><a href="#!" class="white-text" data-old-class-color-text="white-text" data-element="footer-text">Link 1</a></li>
						<li><a href="#!" class="white-text" data-old-class-color-text="white-text" data-element="footer-text">Link 2</a></li>
						<li><a href="#!" class="white-text" data-old-class-color-text="white-text" data-element="footer-text">Link 3</a></li>
						<li><a href="#!" class="white-text" data-old-class-color-text="white-text" data-element="footer-text">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright" data-old-class-color-text="white-text" data-element="footer-text">
			<div class="container">
				© 2014 Copyright Text
				<a class="right white-text" href="#!" data-old-class-color-text="white-text" data-element="footer-text">More Links</a>
			</div>
		</div>
	</footer>
	<script>
		$('.sidenav').sidenav();
		$('.dropdown-trigger').dropdown();

		let sliderHeaderShadow = document.getElementById('slider-header-shadow');
		noUiSlider.create(sliderHeaderShadow, {
			start: 1,
			step: 1,
			connect: [true, false],
			range: {
				'min': 0,
				'max': 5
			},
			format: wNumb({
				decimals: 0
			}),
		});

		sliderHeaderShadow.noUiSlider.on('change', function (values) {
			$('#input-header-shadow').val(values[0]).change();
		});

		let sliderImageWidth = document.getElementById('slider-card-default-image-width');
		noUiSlider.create(sliderImageWidth, {
			start: {{ theme_mt_materialize_image_product_width }},
			step: 1,
			connect: [true, false],
			range: {
				'min': 0,
				'max': 400
			},
			format: wNumb({
				decimals: 0
			}),
		});

		sliderImageWidth.noUiSlider.on('change', function (values) {
			$('#input-card-default-image-width').val(values[0]).change();
		});

		let sliderImageHeight = document.getElementById('slider-card-default-image-height');
		noUiSlider.create(sliderImageHeight, {
			start: {{ theme_mt_materialize_image_product_height }},
			step: 1,
			connect: [true, false],
			range: {
				'min': 0,
				'max': 400
			},
			format: wNumb({
				decimals: 0
			}),
		});

		sliderImageHeight.noUiSlider.on('change', function (values) {
			$('#input-card-default-image-height').val(values[0]).change();
		});

		$('[data-mt-settings]').mtSettings();
	</script>
</body>
</html>