<button type="button" id="cart" data-target="modal-cart" class="btn-floating btn-large waves-effect waves-light waves-circle modal-trigger z-depth-4 {{ color_cart }}">
	<i class="material-icons {{ color_cart_text }}">shopping_cart</i>
	<small id="cart-total" class="btn-floating z-depth-1 {{ color_cart_total }} {{ color_cart_total_text }}">{{ text_items }}</small>
</button>
<div id="modal-cart" class="modal bottom-sheet modal-fixed-footer">
	<div id="modal-cart-content" class="modal-content">
		<div id="modal-cart-list" class="container">
			<h4 class="flow-text text-bold">{{ text_shopping_cart }}</h4>
			{% if products or vouchers %}
			<ul class="collection z-depth-2">
				{% for product in products %}
				<li class="collection-item avatar">
					{% if product.thumb %}
					<a href="{{ product.href }}"><img src="{{ img_loader }}" data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="circle lazyload"></a>
					{% endif %}
					<a href="{{ product.href }}"><span class="title">{{ product.name }}</span></a> x {{ product.quantity }}
					<p>
						<b>{{ product.total }}</b>
						<br>
						{% if product.option %}
						{% for option in product.option %}
						<br>
						- <small>{{ option.name }}: {{ option.value }}</small>
						{% endfor %}
						{% endif %}
						{% if product.recurring %}
						<br>
						- <small>{{ text_recurring }}: {{ product.recurring }}</small>
						{% endif %}
					</p>
					<button onclick="cart.remove('{{ product.cart_id }}', '{{ product.product_id }}', '{{ product.quantity }}', '{{ text_product_removed }}', '{{ text_cancel }}');" title="{{ button_remove }}" class="btn-floating transparent z-depth-0 waves-effect secondary-content activator"><i class="material-icons black-text">remove_shopping_cart</i></button>
				</li>
				{% endfor %}
				{% for voucher in vouchers %}
				<li class="collection-item avatar">
					<img src="{{ img_loader }}" data-src="catalog/view/theme/materialize/image/cart-voucher.png" class="circle lazyload" width="42" height="42">
					<span class="title text-bold">{{ voucher.description }}</span>&nbsp;x&nbsp;1
					<button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn-flat no-padding secondary-content activator black-text"><i class="material-icons">remove_shopping_cart</i></button>
				</li>
				{% endfor %}
			</ul>
			<div class="row">
				<div class="col s12 m6 offset-m6 l5 offset-l7">
					<div class="card-panel">
						<table class="bordered">
							{% for total in totals %}
							<tr>
								<th>{{ total.title }}:</th>
								<td>{{ total.text }}</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			{% else %}
			<div class="card-panel">
				<p class="flow-text text-bold">{{ text_empty }}</p>
				<div class="row">
					<div class="col s4 m3 l2 center">
						<img class="responsive-img lazyload" src="{{ img_loader }}" data-src="catalog/view/theme/materialize/image/cart-empty.png" alt="" width="128" height="128">
					</div>
					<div class="col s8 m9 l10 grey lighten-3 z-depth-1 comment-body">
						<p>{{ text_cat_says }}</p>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="modal-footer grey lighten-3">
		<div class="container">
			<a href="{{ cart }}" class="modal-action btn-flat waves-effect waves-default href-underline" rel="nofollow">{{ text_cart }}</a>
		</div>
	</div>
</div>
{% if products or vouchers %}
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	$('#cart').addClass('pulse');
	$('#cart-total').addClass('pulse');
});
</script>
{% endif %}