{% if currencies|length > 1 %}
<div id="modal-currency" class="modal">
	<div class="modal-content">
		<i class="material-icons modal-action modal-close waves-effect waves-circle close-icon">close</i>
		<h4>{{ text_currency }}</h4>
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-currency">
			<ul>
				{% for currency in currencies %}
				{% if currency.symbol_left %}
				<li>
					<label for="{{ currency.code }}">
						<input id="{{ currency.code }}" class="with-gap currency-select" type="radio" name="{{ currency.code }}"{% if currency.code == code %} checked="checked"{% endif %}>
						<span>{{ currency.symbol_left }} {{ currency.title }}</span>
					</label>
				</li>
				{% else %}
				<li>
					<label for="{{ currency.code }}">
						<input id="{{ currency.code }}" class="with-gap currency-select" type="radio" name="{{ currency.code }}"{% if currency.code == code %} checked="checked"{% endif %}>
						<span>{{ currency.symbol_right }} {{ currency.title }}</span>
					</label>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
			<input type="hidden" name="code" value="">
			<input type="hidden" name="redirect" value="{{ redirect }}">
		</form>
	</div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	$('#form-currency .currency-select').on('click', function(e) {
		e.preventDefault();
		$('#form-currency input[name=\'code\']').val($(this).attr('name'));
		$('#form-currency').submit();
	});
});
</script>
{% endif %}