{% spaceless %}
<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}" prefix="og: http://ogp.me/ns#">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base href="{{ base }}">
	<title>{{ title }}</title>
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="{{ color_browser_bar }}">
	<meta name="application-name" content="{{ name }}">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="{{ color_browser_bar }}">
	<meta name="apple-mobile-web-app-title" content="{{ name }}">
	<meta name="msapplication-TileColor" content="{{ color_browser_bar }}">
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
	<meta name="format-detection" content="telephone=no">
	{% if description %}<meta name="description" content="{{ description }}">{% endif %}
	{% if keywords %}<meta name="keywords" content="{{ keywords }}">{% endif %}
	<!-- Facebook share -->
	<meta property="og:site_name" content="{{ facebook_site_name }}">
	<meta property="og:url" content="{{ facebook_share_url }}">
	<meta property="og:type" content="{{ facebook_share_type }}">
	<meta property="og:locale" content="{{ lang }}">
	<meta property="og:title" content="{{ facebook_share_title }}">
	<meta property="og:description" content="{{ facebook_share_description }}">
	<meta property="og:image" content="{{ facebook_share_image }}">
	<meta property="og:image:width" content="{{ facebook_share_image_width }}">
	<meta property="og:image:height" content="{{ facebook_share_image_height }}">
	{% if facebook_share_type == 'product' %}
	<meta property="product:price:amount" content="{{ facebook_product_price_amount }}">
	<meta property="product:price:currency" content="{{ facebook_product_price_currency }}">
	{% endif %}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "{{ name }}",
		"url": "{{ base }}",
		{% if logo %}
		"logo": "{{ logo }}",
		{% endif %}
		"contactPoint": [
			{
				"@type": "ContactPoint",
				"telephone": "{{ telephone }}",
				"contactType": "sales",
				"areaServed": ["{{ lang }}"]
			}
		]
		{% if social_links %}
		,"sameAs": [
		{% for i in range(0, social_links|length - 1) %}
			{% if i < (social_links|length - 1) %}
			"{{ social_links[i].link }}",
			{% else %}
			"{{ social_links[i].link }}"
			{% endif %}
		{% endfor %}
		]
		{% endif %}
	}
	</script>
	<style>{{ css }}</style>
	{% for link in links %}<link href="{{ link.href }}" rel="{{ link.rel }}" {% if link.type or link.sizes %}type="{{ link.type }}" sizes="{{ link.sizes }}" {% endif %}>{% endfor %}
	{% for analytic in analytics %}{{ analytic }}{% endfor %}
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body class="{{ color_background }}">
	<header class="href-underline">
		<div class="row hide-on-small-only {{ color_top_menu }}">
			<nav class="container transparent z-depth-0 top-menu">
				<div class="nav-wrapper">
					{% if language or currency %}
					<ul class="left">
						{% if language %}<li><a class="waves-effect waves-light modal-trigger" href="#modal-language" rel="nofollow"><i class="material-icons">language</i></a></li>{% endif %}
						{% if currency %}<li><a class="waves-effect waves-light modal-trigger" href="#modal-currency" rel="nofollow"><i class="material-icons">monetization_on</i></a></li>{% endif %}
					</ul>
					{% endif %}
					<ul class="right">
						{% if blog %}<li><a class="waves-effect waves-light {{ color_top_menu_text }}" href="{{ blog }}">{{ text_blog }}</a></li>{% endif %}
						<li><a class="waves-effect waves-light {{ color_top_menu_text }}" href="{{ delivery }}">{{ text_delivery }}</a></li>
						<li><a class="waves-effect waves-light {{ color_top_menu_text }}" href="{{ contact }}">{{ text_contact }}</a></li>
						<li><a class="waves-effect waves-light {{ color_top_menu_text }}" href="{{ about }}">{{ text_about }}</a></li>
						<li>
							<a id="dropdown-lk" class="dropdown-trigger waves-effect waves-light {{ color_top_menu_text }}" href="{{ account }}" data-target="dropdown-top-lk" rel="nofollow">{{ text_account }}</a>
							<ul id="dropdown-top-lk" class="dropdown-content">
								{% if logged %}
								<li><a class="waves-effect" href="{{ account }}" rel="nofollow">{{ text_account }}</a></li>
								<li class="divider"></li>
								<li><a class="waves-effect" href="{{ wishlist }}" rel="nofollow">{{ text_wishlist }}</a></li>
								<li class="divider"></li>
								<li><a class="waves-effect" href="{{ order }}" rel="nofollow">{{ text_order }}</a></li>
								<li class="divider"></li>
								<li><a class="waves-effect" href="{{ logout }}" rel="nofollow">{{ text_logout }}</a></li>
								<li class="divider"></li>
								{% else %}
								<li><a class="waves-effect" href="{{ register }}" rel="nofollow">{{ text_register }}</a></li>
								<li class="divider"></li>
								<li><a class="waves-effect" href="{{ login }}" rel="nofollow">{{ text_login }}</a></li>
								{% endif %}
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="row top-container {{ color_header }}">
			<div class="container">
				<div class="valign-wrapper">
					<div class="col s12 m4">
						{% if logo %}
						<a href="{{ home }}">
							<img id="logo-img" class="responsive-img lazyload" src="{{ img_loader }}" data-src="{{ logo }}" title="{{ name }}" alt="{{ name }}">
						</a>
						{% else %}
						<strong><a href="{{ home }}" class="{{ color_header_text }}">{{ name }}</a></strong>
						{% endif %}
					</div>
					<div class="col m8 right-align hide-on-small-only {{ color_header_text }}">
						<a class="href-underline text-bold flow-text block {{ color_header_text }}" href="tel:{{ telephone }}">{{ telephone }}</a>
						<ul class="right contact-info">
							<li><a href="mailto:{{ email }}" class="{{ color_header_text }}"><i class="material-icons left">email</i>{{ email }}</a></li>
							{% if callback_status %}<li><a href="#callback__modal" class="modal-trigger activator {{ color_header_text }}" rel="nofollow"><i class="material-icons left">phone_in_talk</i>{{ callback_title }}</a></li>{% endif %}
							{% if open %}
							<li><i class="material-icons left">access_time</i>{{ open }}</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="fixed-nav-wrapper">
			<nav id="header-navigation" class="hide-on-small-only pin-top {{ color_navigation }}">
				<div class="nav-wrapper container">
					<div class="row">
						<ul>
							<li class="col m3">
							{{ menu }}
							</li>
							<li class="col m9">
							{{ search }}
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<button type="button" data-target="slide-out" id="btn-side-menu" class="sidenav-trigger hide-on-med-and-up btn-floating btn-large waves-effect waves-circle waves-light z-depth-4 {{ color_nav_btn }}"><i class="material-icons {{ color_nav_btn_text }}">menu</i></button>
			<ul id="slide-out" class="sidenav"><li class="progress"><div class="indeterminate"></div></li></ul>
		</div>
	</header>
	{{ cart }}
	{{ language }}
	{{ currency }}
	{{ callback_module }}
	<a id="compare-btn" href="{{ compare }}" class="btn-floating btn-large waves-effect waves-light scale-transition pulse {{ color_compare }} {{ text_compare == '0' ? 'scale-out' : '' }}" title="{{ text_comparison_list }}" rel="nofollow">
		<i class="material-icons {{ color_compare_text }}">compare_arrows</i>
		<small id="compare-total" class="btn-floating z-depth-1 pulse {{ color_compare_total }} {{ color_compare_total_text }}">{{ text_compare }}</small>
	</a>
{% endspaceless %}