{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebSite",
	"url": "{{ base }}",
	"potentialAction": {
		"@type": "SearchAction",
		"target": "{{ base }}index.php?route=product/search&search={query}",
		"query-input": "required name=query"
	}
}
</script>
{% if column_left and column_right %}
	{% set main, goods = 's12 l6', 's12' %}
{% elseif column_left or column_right %}
	{% set main, goods = 's12 l9', 's12 m6' %}
{% else %}
	{% set main, goods = 's12', 's12 m6 l4' %}
{% endif %}
<main>
	<div class="container">
		<div class="row">
			{{ column_left }}
			<div class="col {{ main }}">
			{{ content_top }}
			{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
{% endspaceless %}
{{ footer }}