{% if languages|length > 1 %}
<div id="modal-language" class="modal">
	<div class="modal-content">
		<i class="material-icons modal-action modal-close waves-effect waves-circle close-icon">close</i>
		<h4>{{ text_language }}</h4>
		<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
			<ul>
				{% for language in languages %}
				<li>
					<label for="{{ language.code }}">
						<input id="{{ language.code }}" class="with-gap language-select" type="radio" name="{{ language.code }}"{% if language.code == code %} checked="checked"{% endif %}>
						<span>{{ language.name }}</span>
					</label>
				</li>
				{% endfor %}
			</ul>
			<input type="hidden" name="code" value="">
			<input type="hidden" name="redirect" value="{{ redirect }}">
		</form>
	</div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	$('#form-language .language-select').on('click', function(e) {
		e.preventDefault();
		$('#form-language input[name=\'code\']').val($(this).attr('id'));
		$('#form-language').submit();
	});
});
</script>
{% endif %}