{% if categories %}
<li>
	<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
	{% for category in categories %}
		{% if category.children %}
		<li class="with-subcat">
			<a href="{{ category.href }}" class="collapsible-header waves-effect truncate text-bold" onclick="return false;" rel="nofollow">{{ category.name }}</a>
			{% for children in category.children|batch(category.children|length) %}
			<div class="collapsible-body no-padding">
				<ul>
				{% for child in children %}
					<li><a class="truncate" href="{{ child.href }}" rel="nofollow">{{ child.name }}</a></li>
				{% endfor %}
				</ul>
			</div>
			{% endfor %}
		</li>
		{% else %}
		<li><a href="{{ category.href }}" class="collapsible-header waves-effect truncate text-bold" rel="nofollow">{{ category.name }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</li>
{% endif %}