<div class="hide-on-small-only {{ color_header }}">
	<div class="container">
		<div class="row no-margin-bottom">
			<div class="col s12">
				<div class="nav-wrapper search-wrapper z-depth-0 {{ color_search }}">
					<div id="search" class="input-field">
						<input id="input-search" class="search-input autocomplete {{ color_search_text }}" type="search" name="search" value="{{ search }}" autocomplete="off"{% if delay %}data-delay="{{ delay }}"{% endif %}>
						<label class="label-icon search-buttons search-buttons__search waves-effect waves-circle" for="input-search"><i class="material-icons {{ color_search_text }}">search</i></label>
						<i class="material-icons search-buttons search-buttons__clear waves-effect waves-circle">close</i>
						{% if categories %}
						<i id="live-search-trigger-categories" class="material-icons search-buttons search-buttons__categories waves-effect waves-circle dropdown-trigger {{ color_search_text }}" data-target="live-search-categories">more_vert</i>
						<ul id="live-search-categories" class="dropdown-content">
							<li><a href="#" class="waves-effect live-search-categories active" data-category-id="0" onclick="return false" rel="nofollow">Искать везде</a></li>
							{% for category in categories %}
							<li><a href="#" class="waves-effect live-search-categories" data-category-id="{{ category.category_id }}" onclick="return false" rel="nofollow">{{ category.name }}</a></li>
							{% endfor %}
						</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ live_search }}