<li>
	<div class="user-view">
		<div class="background {{ color_sidebar }}"></div>
		{% if logo %}
		<img class="responsive-img lazyload" src="{{ img_loader }}" data-src="{{ logo }}" title="{{ name }}" alt="{{ name }}">
		{% else %}
		<strong><a href="{{ home }}">{{ name }}</a></strong>
		{% endif %}
		<nav class="search-wrapper z-depth-0 {{ color_mobile_search }}">
			<div class="nav-wrapper">
				<div id="search-side" class="input-field">
					<input id="input-search-side" class="search-input autocomplete" type="search" name="search" value="{{ search }}" autocomplete="off">
					<label class="label-icon search-buttons search-buttons__search waves-effect waves-circle" for="input-search"><i class="material-icons">search</i></label>
					<i class="material-icons search-buttons search-buttons__clear waves-effect waves-circle">close</i>
				</div>
			</div>
		</nav>
		<div class="row">
			<div class="col s9 side-info no-padding">
				<a class="{{ color_sidebar_text }}" href="tel:{{ telephone }}" rel="nofollow"><i class="material-icons left">phone</i>{{ telephone }}</a>
				<a class="{{ color_sidebar_text }}" href="mailto:{{ email }}" rel="nofollow"><i class="material-icons left">email</i>{{ email }}</a>
			</div>
			<div class="col s3 no-padding">
				{% if language or currency %}
				<div id="side-settings" class="btn-floating waves-effect waves-light transparent z-depth-0 dropdown-trigger" data-target="dropdown-side-settings">
					<i class="material-icons {{ color_sidebar_text }}">settings</i>
				</div>
				<ul id="dropdown-side-settings" class="dropdown-content">
					{% if language %}<li><a class="waves-effect waves-light modal-trigger" href="#modal-language" rel="nofollow"><i class="material-icons">language</i>{{ text_language }}</a></li>{% endif %}
					{% if currency %}<li><a class="waves-effect waves-light modal-trigger" href="#modal-currency" rel="nofollow"><i class="material-icons">monetization_on</i>{{ text_currency }}</a></li>{% endif %}
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
</li>
{% if callback %}<li class="grey lighten-4"><a class="waves-effect waves-default modal-trigger text-bold activator" href="#callback__modal" rel="nofollow"><i class="material-icons black-text">phone_in_talk</i>{{ callback_text }}</a></li>{% endif %}
{% if categories %}
<li>
	<ul class="collapsible">
	{% for category in categories %}
		{% if category.children %}
		<li class="arrow-rotate">
			<span class="collapsible-header waves-effect truncate text-bold">{{ category.name }}</span>
			{% for children in category.children|batch(category.children|length) %}
			<div class="collapsible-body no-padding">
				<ul>
					{% for child in children %}
					<li><a class="truncate" href="{{ child.href }}" rel="nofollow">{{ child.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
		</li>
		{% else %}
		<li><a href="{{ category.href }}" class="collapsible-header waves-effect truncate text-bold" rel="nofollow">{{ category.name }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
</li>
{% endif %}
<li class="divider"></li>
<li>
	<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
		<li class="arrow-rotate">
			<span class="collapsible-header waves-effect"><i class="material-icons">account_circle</i>{{ text_account }}</span>
			<div class="collapsible-body no-padding">
				<ul>
					{% if logged %}
					<li><a class="waves-effect" href="{{ account }}" rel="nofollow"><i class="material-icons">assignment</i>{{ text_account }}</a></li>
					<li><a class="waves-effect" href="{{ wishlist }}" rel="nofollow"><i class="material-icons">favorite</i>{{ text_wishlist }}</a></li>
					<li><a class="waves-effect" href="{{ order }}" rel="nofollow"><i class="material-icons">history</i>{{ text_order }}</a></li>
					<li><a class="waves-effect" href="{{ logout }}" rel="nofollow"><i class="material-icons">power_settings_new</i>{{ text_logout }}</a></li>
					{% else %}
					<li><a class="waves-effect" href="{{ register }}" rel="nofollow">{{ text_register }}</a></li>
					<li><a class="waves-effect" href="{{ login }}" rel="nofollow">{{ text_login }}</a></li>
					{% endif %}
				</ul>
			</div>
		</li>
	</ul>
</li>
<li><a class="waves-effect" href="{{ cart }}" rel="nofollow"><i class="material-icons">shopping_cart</i>{{ text_cart }}</a></li>
<li><a class="waves-effect" href="{{ delivery }}" rel="nofollow"><i class="material-icons">local_shipping</i>{{ text_delivery }}</a></li>
<li><a class="waves-effect" href="{{ contact }}" rel="nofollow"><i class="material-icons">email</i>{{ text_contact }}</a></li>
{% if blog %}<li><a class="waves-effect" href="{{ blog }}" rel="nofollow"><i class="material-icons">chrome_reader_mode</i>{{ text_blog }}</a></li>{% endif %}
<li><a class="waves-effect" href="{{ about }}" rel="nofollow"><i class="material-icons">store</i>{{ text_about }}</a></li>
<script>
	var collapsible = $('.collapsible'),
		sideSettings = $('#side-settings'),
		inputSearchSidebar = $('#input-search-side'),
		searchClear = $('.search-buttons__clear');

	collapsible.collapsible();
	sideSettings.dropdown({
		alignment: 'right',
		constrainWidth: false
	});

	inputSearchSidebar.parent().find('label').on('click', function() {
		var url = $('base').attr('href') + 'index.php?route=product/search',
			value = inputSearchSidebar.val();
		if (value) {
			url += '&search=' + encodeURIComponent(value);
		}
		location = url;
	});

	inputSearchSidebar.on('keydown', function(e) {
		if (e.keyCode == 13) {
			inputSearchSidebar.parent().find('label').trigger('click');
		}
	});

	searchClear.click(function() {searchClear.parent().find('input').val('');});

	$('input[name=\'search\']').autocomplete({
		'source': function(request, response) {
			$.ajax({
				url: 'index.php?route=common/search/autocomplete&filter_name=' + encodeURIComponent(request),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: item['name'],
							img: item['img'],
							value: item['product_id']
						}
					}));
				}
			});
		},
		'select': function(item) {
			window.location = "{{ product_path }}&product_id="+item['value'];
		}
	});
</script>