<li class="arrow-rotate">
	<div class="collapsible-header grey lighten-5"><i class="material-icons">local_shipping</i><span class="text-bold">{{ heading_title }}</span></div>
	<div class="collapsible-body">
		<p class="text-bold">{{ text_shipping }}</p>
		<div class="section">
			<div class="input-field">
				<select name="country_id" id="input-country">
					<option value="">{{ text_select }}</option>
					{% for country in countries %}
					{% if country.country_id == country_id %}
					<option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
					{% else %}
					<option value="{{ country.country_id }}">{{ country.name }}</option>
					{% endif %}
					{% endfor %}
				</select>
				<label for="input-country" class="required">{{ entry_country }}</label>
			</div>
		</div>
		<div class="section">
			<div class="input-field">
				<select name="zone_id" id="input-zone">
				</select>
				<label for="input-zone" class="required">{{ entry_zone }}</label>
			</div>
		</div>
		<div class="section">
			<div class="input-field">
				<label for="input-postcode">{{ entry_postcode }}</label>
				<input type="text" name="postcode" value="{{ postcode }}" id="input-postcode" class="validate">
			</div>
		</div>
		<div class="flex-reverse">
			<button type="button" id="button-quote" class="btn blue waves-effect waves-light right">{{ button_quote }}</button>
		</div>
	</div>
</li>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	$('#button-quote').on('click', function() {
		$.ajax({
			url: 'index.php?route=extension/total/shipping/quote',
			type: 'post',
			data: 'country_id=' + $('select[name=\'country_id\']').val() + '&zone_id=' + $('select[name=\'zone_id\']').val() + '&postcode=' + encodeURIComponent($('input[name=\'postcode\']').val()),
			dataType: 'json',
			success: function(json) {
				if (json['error']) {
					if (json['error']['warning']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['warning'], classes: 'toast-warning'});
					}
					if (json['error']['country']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['country'], classes: 'toast-warning'});
					}
					if (json['error']['zone']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['zone'], classes: 'toast-warning'});
					}
					if (json['error']['postcode']) {
						M.toast({html: '<i class="material-icons left">warning</i>' + json['error']['postcode'], classes: 'toast-warning'});
					}
				}

				if (json['shipping_method']) {
					$('#modal-shipping').remove();

					html  = '<div id="modal-shipping" class="modal">';
					html += '	<div class="modal-content">';
					html += '		<h4 class="text-bold">{{ text_shipping_method }}</h4>';
					html +=	'			<ul>';

					for (i in json['shipping_method']) {
						if (!json['shipping_method'][i]['error']) {
							for (j in json['shipping_method'][i]['quote']) {
								html +=	'<li>';
								html +=		'<label for="radio-'+json['shipping_method'][i]['quote'][j]['code']+'">';
								if (json['shipping_method'][i]['quote'][j]['code'] == '{{ shipping_method }}') {
									html +=		'<input type="radio" name="shipping_method" value="' + json['shipping_method'][i]['quote'][j]['code'] + '" checked="checked" id="radio-'+json['shipping_method'][i]['quote'][j]['code']+'" class="with-gap">';
								} else {
									html +=		'<input type="radio" name="shipping_method" value="' + json['shipping_method'][i]['quote'][j]['code'] + '" id="radio-'+json['shipping_method'][i]['quote'][j]['code']+'" class="with-gap">';
								}
								html +=			'<span>' + json['shipping_method'][i]['quote'][j]['title'] + ' - ' + json['shipping_method'][i]['quote'][j]['text'] + '</span>';
								html += 	'</label>';
								html +=	'</li>';
							}
						} else {
							M.toast({html: '<i class="material-icons left">warning</i>' + json['shipping_method'][i]['error'], classes: 'toast-warning'});
						}
					}
					html += '	</ul>';

					html += '	</div>';
					html += '	<div class="modal-footer">';
					html += '		<button type="button" class="btn-flat waves-effect waves-default modal-action modal-close">{{ button_cancel }}</button>';

					{% if shipping_method %}
					html += '		<button type="button" value="{{ button_shipping }}" id="button-shipping" class="btn-flat waves-effect waves-default modal-action">{{ button_shipping }}</button>';
					{% else %}
					html += '		<button type="button" value="{{ button_shipping }}" id="button-shipping" class="btn-flat waves-effect waves-default modal-action" disabled="disabled">{{ button_shipping }}</button>';
					{% endif %}

					html += '	</div>';
					html += '</div>';

					$('body').append(html);


					$('input[name=\'shipping_method\']').on('change', function() {
						$('#button-shipping').prop('disabled', false);
					});
					$('#modal-shipping').modal();
					$('#modal-shipping').modal('open');
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$(document).delegate('#button-shipping', 'click', function() {
		$.ajax({
			url: 'index.php?route=extension/total/shipping/shipping',
			type: 'post',
			data: 'shipping_method=' + encodeURIComponent($('input[name=\'shipping_method\']:checked').val()),
			dataType: 'json',
			success: function(json) {
				if (json['error']) {
					M.toast({html: '<i class="material-icons left">warning</i>' + json['error'], classes: 'toast-warning'});
				}
				if (json['redirect']) {
					location = json['redirect'];
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('select[name=\'country_id\']').on('change', function() {
		$.ajax({
			url: 'index.php?route=extension/total/shipping/country&country_id=' + this.value,
			dataType: 'json',
			success: function(json) {
				if (json['postcode_required'] == '1') {
					$('input[name=\'postcode\']').parent().find('label').addClass('required');
				} else {
					$('input[name=\'postcode\']').parent().find('label').removeClass('required');
				}

				html = '<option value="">{{ text_select }}</option>';

				if (json['zone'] && json['zone'] != '') {
					for (i = 0; i < json['zone'].length; i++) {
						html += '<option value="' + json['zone'][i]['zone_id'] + '"';

						if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
							html += ' selected="selected"';
						}

						html += '>' + json['zone'][i]['name'] + '</option>';
					}
				} else {
					html += '<option value="0" selected="selected">{{ text_none }}</option>';
				}

				$('select[name=\'zone_id\']').html(html);
				$('select').formSelect();
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	});

	$('select[name=\'country_id\']').trigger('change');
	$('select').formSelect();
});
</script>