{{ header }}
{% spaceless %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for key, breadcrumb in breadcrumbs %}
		{% if key < breadcrumbs|length - 1 %}
			{% if key == 0 %}
			{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			},
			{% endif %}
		{% else %}
			{
				"@type": "ListItem",
				"position": {{ key }},
				"item": {
					"@id": "{{ breadcrumb.href }}",
					"name": "{{ breadcrumb.text }}"
				}
			}
		{% endif %}
	{% endfor %}
	]
}
</script>
{% if column_left and column_right %}
	{% set main = 's12 l6' %}
{% elseif column_left or column_right %}
	{% set main = 's12 l9' %}
{% else %}
	{% set main = 's12' %}
{% endif %}
<main>
	<div class="container">
		<nav class="breadcrumb-wrapper transparent z-depth-0">
			<div class="nav-wrapper">
				{% for key, breadcrumb in breadcrumbs %}
					{% if key < breadcrumbs|length - 1 %}
						{% if key == 0 %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb black-text"><i class="material-icons">home</i></a>
						{% else %}
						<a href="{{ breadcrumb.href }}" class="breadcrumb black-text">{{ breadcrumb.text }}</a>
						{% endif %}
					{% else %}
					<span class="breadcrumb black-text">{{ breadcrumb.text }}</span>
					{% endif %}
				{% endfor %}
			</div>
		</nav>
		<h1>{{ heading_title }}</h1>
		<div class="row">
			{{ column_left }}
			<div id="content" class="col {{ main }}">
				{{ content_top }}
				<div class="card-panel">
					<p>{{ text_account_already }}</p>
					<form action="{{ action }}" method="post" enctype="multipart/form-data">
						<div class="row">
							<div id="account" class="col s12 l6">
								<h2>{{ text_your_details }}</h2>
								<div class="input-field">
									<input type="text" name="firstname" value="{{ firstname }}" id="input-firstname" class="validate">
									<label for="input-firstname" class="required">{{ entry_firstname }}</label>
								</div>
								<div class="input-field">
									<input type="text" name="lastname" value="{{ lastname }}" id="input-lastname" class="validate">
									<label for="input-lastname" class="required">{{ entry_lastname }}</label>
								</div>
								<div class="input-field">
									<input type="email" name="email" value="{{ email }}" id="input-email" class="validate">
									<label for="input-email" data-error="{{ text_email_error }}" data-success="{{ text_email_success }}" class="required">{{ entry_email }}</label>
								</div>
								<div class="input-field">
									<input type="password" name="password" value="{{ password }}" id="input-password" class="validate">
									<label for="input-password" class="required">{{ entry_password }}</label>
								</div>
								<div class="input-field">
									<input type="password" name="confirm" value="{{ confirm }}" id="input-confirm" class="validate">
									<label for="input-confirm" class="required">{{ entry_confirm }}</label>
								</div>
								<div class="input-field">
									<input type="tel" name="telephone" value="{{ telephone }}" id="input-telephone" class="validate" placeholder="+7_(___)___-____" data-inputmask="'alias':'phone'">
									<label for="input-telephone" class="required">{{ entry_telephone }}</label>
								</div>
							</div>
							<div id="address" class="col s12 l6">
								<h2>{{ text_your_affiliate }}</h2>
								<div class="input-field">
									<input type="text" name="company" value="{{ company }}" id="input-company" class="validate">
									<label for="input-company">{{ entry_company }}</label>
								</div>
								<div class="input-field">
									<input type="text" name="website" value="{{ website }}" id="input-website" class="validate">
									<label for="input-website">{{ entry_website }}</label>
								</div>
								<div class="input-field">
									<input type="text" name="tax" value="{{ tax }}" id="input-tax" class="validate">
									<label for="input-tax">{{ entry_tax }}</label>
								</div>
							</div>
							<div class="col s12">
								<div class="section">
									<span>{{ entry_payment }}</span>
									<ul>
										<li>
											{% if payment == 'cheque' %}
											<input type="radio" name="payment" value="cheque" checked="checked" id="payment-cheque-input" class="with-gap">
											{% else %}
											<input type="radio" name="payment" value="cheque" id="payment-cheque-input" class="with-gap">
											{% endif %}
											<label for="payment-cheque-input">{{ text_cheque }}</label>
										</li>
										<li>
											{% if payment == 'paypal' %}
											<input type="radio" name="payment" value="paypal" checked="checked" id="payment-paypal-input" class="with-gap">
											{% else %}
											<input type="radio" name="payment" value="paypal" id="payment-paypal-input" class="with-gap">
											{% endif %}
											<label for="payment-paypal-input">{{ text_paypal }}</label>
										</li>
										<li>
											{% if payment == 'bank' %}
											<input type="radio" name="payment" value="bank" checked="checked" id="payment-bank-input" class="with-gap">
											{% else %}
											<input type="radio" name="payment" value="bank" id="payment-bank-input" class="with-gap">
											{% endif %}
											<label for="payment-bank-input">{{ text_bank }}</label>
										</li>
									</ul>
								</div>
								<div class="input-field payment" id="payment-cheque">
									<input type="text" name="cheque" value="{{ cheque }}" id="input-cheque" class="validate">
									<label class="required" for="input-cheque">{{ entry_cheque }}</label>
								</div>
								<div class="input-field payment" id="payment-paypal">
									<input type="text" name="paypal" value="{{ paypal }}" id="input-paypal" class="validate">
									<label class="required" for="input-paypal">{{ entry_paypal }}</label>
								</div>
								<div class="payment" id="payment-bank">
									<div class="input-field">
										<input type="text" name="bank_name" value="{{ bank_name }}" id="input-bank-name" class="validate">
										<label for="input-bank-name">{{ entry_bank_name }}</label>
									</div>
									<div class="input-field">
										<input type="text" name="bank_branch_number" value="{{ bank_branch_number }}" id="input-bank-branch-number" class="validate">
										<label for="input-bank-branch-number">{{ entry_bank_branch_number }}</label>
									</div>
									<div class="input-field">
										<input type="text" name="bank_swift_code" value="{{ bank_swift_code }}" id="input-bank-swift-code" class="validate">
										<label for="input-bank-swift-code">{{ entry_bank_swift_code }}</label>
									</div>
									<div class="input-field">
										<input type="text" name="bank_account_name" value="{{ bank_account_name }}" id="input-bank-account-name" class="validate">
										<label class="required" for="input-bank-account-name">{{ entry_bank_account_name }}</label>
									</div>
									<div class="input-field">
										<input type="text" name="bank_account_number" value="{{ bank_account_number }}" id="input-bank-account-number" class="validate">
										<label class="required" for="input-bank-account-number">{{ entry_bank_account_number }}</label>
									</div>
								</div>
							</div>
							<div class="col s12">
								{% if captcha %}
								<div class="section">{{ captcha }}</div>
								{% endif %}
								{% if text_agree %}
								<div class="section">
									{% if agree %}
									<input type="checkbox" name="agree" value="1" checked="checked" id="agreement-check" class="filled-in">
									{% else %}
									<input type="checkbox" name="agree" value="1" id="agreement-check" class="filled-in">
									{% endif %}
									<label for="agreement-check">{{ text_agree }}</label>
								</div>
								<div class="section flex-reverse">
									<button type="submit" class="btn waves-effect waves-light red">{{ button_continue }}</button>
								</div>
								{% else %}
								<div class="section flex-reverse">
									<button type="submit" class="btn waves-effect waves-light red">{{ button_continue }}</button>
								</div>
								{% endif %}
							</div>
						</div>
					</form>
				</div>
				{{ content_bottom }}
			</div>
			{{ column_right }}
		</div>
	</div>
</main>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	{% if error_warning %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_warning }}',7000,'toast-warning')
	{% endif %}
	{% if error_firstname %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_firstname }}',7000,'toast-warning')
	{% endif %}
	{% if error_lastname %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_lastname }}',7000,'toast-warning')
	{% endif %}
	{% if error_email %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_email }}',7000,'toast-warning')
	{% endif %}
	{% if error_telephone %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_telephone }}',7000,'toast-warning')
	{% endif %}
	{% if error_password %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_password }}',7000,'toast-warning')
	{% endif %}
	{% if error_confirm %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_confirm }}',7000,'toast-warning')
	{% endif %}
	{% if error_cheque %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_cheque }}',7000,'toast-warning')
	{% endif %}
	{% if error_paypal %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_paypal }}',7000,'toast-warning')
	{% endif %}
	{% if error_bank_account_name %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_bank_account_name }}',7000,'toast-warning')
	{% endif %}
	{% if error_bank_account_number %}
		Materialize.toast('<i class="material-icons left">warning</i>{{ error_bank_account_number }}',7000,'toast-warning')
	{% endif %}
	$('input[name=\'payment\']').on('change', function() {
		$('.payment').hide();
		$('#payment-' + this.value).show();
	});
	$('input[name=\'payment\']:checked').trigger('change');
});
</script>
{% endspaceless %}
{{ footer }}