{{ header }}{{ column_left }}
<div id="content" class="mt-content">
	<div id="preloader" class="mt-progress white" style="display: none;"><div class="indeterminate"></div></div>
	<nav class="mt-nav nav-extended pl-3 pr-3 white">
		<div class="nav-wrapper">
			<a href="#" data-target="slide-out" class="sidenav-trigger black-text waves-effect"><i class="material-icons">menu</i></a>
			<ul class="left">
				<li><a class="black-text waves-effect"><i class="material-icons">arrow_back</i></a></li>
				<li><span class="black-text title">Добавление поста</span></li>
			</ul>
			<ul class="right">
				<li>
					<a class="black-text waves-effect waves-blue dropdown-trigger" {#href="#!"#} data-target="dropdown1"><i class="material-icons">settings</i></a>
					<ul id="dropdown1" class="dropdown-content">
						<li><a href="#!">one</a></li>
						<li><a href="#!">two</a></li>
						<li class="divider"></li>
						<li><a href="#!">three</a></li>
					</ul>
				</li>
				<li><a class="black-text waves-effect waves-blue" href="{{ cancel }}"><i class="material-icons">arrow_back</i></a></li>
				<li><a id="save-module-settings" class="black-text waves-effect waves-blue"><i class="material-icons">save</i></a></li>
			</ul>
		</div>
		<div class="nav-content">
			<ul id="tabs-navigation" class="tabs no-padding">
				<li class="tab"><a class="font-weight-normal waves-effect waves-blue" href="#settings">{{ tab_dashboard }}</a></li>
				<li class="tab"><a class="font-weight-normal waves-effect waves-blue" href="#post">{{ tab_post }}</a></li>
				<li class="tab"><a class="font-weight-normal waves-effect waves-blue" href="#test2">{{ tab_category }}</a></li>
				<li class="tab"><a class="font-weight-normal waves-effect waves-blue" href="#test4">{{ tab_comment }}</a></li>
			</ul>
		</div>
	</nav>
	{#<div class="container">
		<nav class="mt-nav breadcrumb-wrapper transparent z-depth-0">
			<div class="nav-wrapper">
				{% for breadcrumb in breadcrumbs %}
					<a href="{{ breadcrumb.href }}" class="mt-breadcrumb black-text"><span class="waves-effect">{{ breadcrumb.text }}</span></a>
				{% endfor %}
				<span class="mt-breadcrumb grey-text"><span id="breadcrumb-current">Общие настройки</span></span>
			</div>
		</nav>
	</div>#}
	<div {#class="container"#}>
		<form id="settings">
			{{ post_form }}
			<h5>Общие настройки</h5>
			<ul class="mt-list">
				<li class="mt-list-item">
					<span class="mt-list-item__icon waves-effect waves-circle required"><i class="material-icons">power_settings_new</i></span>
					<span class="mt-list-item__text">
						<span class="mt-list-item__primary-text">{{ entry_status }}</span>
						<span class="mt-list-item__secondary-text">Enter the name of the module</span>
					</span>
					<div class="mt-list-item__data">
						<div class="switch">
							<label>
								<input name="module_mt_blog_status" type="checkbox"{{ module_mt_blog_status ? ' checked' }}>
								<span class="lever"></span>
							</label>
						</div>
					</div>
				</li>
				{#<li class="mt-list-divider" role="separator"></li>#}
				<li class="mt-list-item">
					<span class="mt-list-item__icon waves-effect waves-circle"><i class="material-icons">comment</i></span>
					<span class="mt-list-item__text">
						<span class="mt-list-item__primary-text">{{ entry_status }}</span>
						<span class="mt-list-item__secondary-text">Enter the name of the module</span>
					</span>
					<div class="mt-list-item__data">
						<div class="switch">
							<label>
								<input type="checkbox">
								<span class="lever"></span>
							</label>
						</div>
					</div>
				</li>
				<li class="mt-list-item">
					<span class="mt-list-item__icon waves-effect waves-circle"><i class="material-icons">remove_red_eye</i></span>
					<span class="mt-list-item__text">
						<span class="mt-list-item__primary-text">{{ entry_status }}</span>
						<span class="mt-list-item__secondary-text">Enter the name of the module</span>
					</span>
					<div class="mt-list-item__data">
						<div class="switch">
							<label>
								<input type="checkbox">
								<span class="lever"></span>
							</label>
						</div>
					</div>
				</li>
			</ul>
			<div id="add-new-buttons" class="fixed-action-mt-btn">
				<span class="mt-btn-floating mt-btn-large red">
					<i class="large material-icons">mode_edit</i>
				</span>
				<ul>
					<li><a class="mt-btn-floating blue"><i class="material-icons">add_comment</i></a></li>
					<li><a class="mt-btn-floating green"><i class="material-icons">perm_media</i></a></li>
					<li><a id="add-new-post" class="mt-btn-floating orange"><i class="material-icons">art_track</i></a></li>
				</ul>
			</div>
		</form>
		<form id="post">
			<div class="mt-card center pt-5 pb-5">
				<div class="preloader-wrapper big active">
					<div class="spinner-layer spinner-blue">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
					<div class="spinner-layer spinner-red">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
					<div class="spinner-layer spinner-yellow">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
					<div class="spinner-layer spinner-green">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div id="test2"></div>
		<div id="test4">
			<div class="mt-card-panel">Test 4</div>
		</div>
	</div>
	{#<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="mt-btn mt-btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="mt-btn mt-btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="module_mt_blog_status" id="input-status" class="form-control">
								{% if module_mt_blog_status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>#}
</div>
<style>
	#content a {
		text-decoration: none;
	}
	h1 {
		margin-top: 0;
	}
</style>
<script>
	$(document).ready(function() {
		let preloader = $('#preloader'),
			tabsNavigation = $('#tabs-navigation'),
			post = $('#post');

		let issetFormPost = false,
			issetFormList = false;

		$(".dropdown-trigger").dropdown();
		$('.fixed-action-mt-btn').floatingActionButton();
		$('select').formSelect();
		$('.sidenav').sidenav();

		let saveModuleSettings = $('#save-module-settings');

		saveModuleSettings.on('click', function() {
			$.ajax({
				url: 'index.php?route=extension/module/mt_blog/saveModuleSettings&user_token={{ user_token }}',
				type: 'post',
				data: $('#settings').serialize(),
				dataType: 'json',
				beforeSend: function() {
				},
				complete: function() {
				},
				success: function(json) {
					console.log(json);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});

		$('#add-new-post').on('click', function() {
			issetFormPost = true;
			issetFormList = false;

			$.ajax({
				url: 'index.php?route=extension/module/mt_blog/getPostForm&user_token={{ user_token }}',
				type: 'get',
				dataType: 'json',
				beforeSend: function() {
					preloader.show();
				},
				complete: function() {
					preloader.hide();
					tabsNavigation.tabs('select', 'post');
					$('#post-form .tabs').tabs().tabs('updateTabIndicator');
				},
				success: function(json) {
					post.html(json['post_form']);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		});

		tabsNavigation.tabs({
			onShow: function(element) {
				let tabId = $(element).attr('id');

				if (tabId === 'post' && !issetFormPost && !issetFormList) {
					getPosts();
				}
			}
		});

		function getPosts() {
			issetFormList = true;

			$.ajax({
				url: 'index.php?route=extension/module/mt_blog/getPostList&user_token={{ user_token }}',
				type: 'get',
				dataType: 'json',
				beforeSend: function() {
					preloader.show();
				},
				complete: function() {
					preloader.hide();
					$('#tabs-navigation').tabs().tabs('updateTabIndicator');
				},
				success: function(json) {
					post.html(json['post_list']);
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	});
</script>
{{ footer }}