{{ header }}{{ column_left }}
<div id="content" class="materialize-content">
	<nav class="materialize-nav nav-extended white pl-4">
		<div class="nav-wrapper">
			<h1 class="left light-blue-text text-accent-4 mt-2">{{ module_title }}</h1>
			<ul class="right hide-on-med-and-down">
				<li>
					<a class="black-text waves-effect waves-default dropdown-trigger" {#href="#!"#} data-target="dropdown1"><i class="material-icons">settings</i></a>
					<ul id="dropdown1" class="dropdown-content">
						<li><a href="#!">one</a></li>
						<li><a href="#!">two</a></li>
						<li class="divider"></li>
						<li><a href="#!">three</a></li>
					</ul>
				</li>
				<li><a class="black-text waves-effect waves-default" href="{{ cancel }}"><i class="material-icons">arrow_back</i></a></li>
				<li><a class="black-text waves-effect waves-default" href="{{ cancel }}"><i class="material-icons">save</i></a></li>
			</ul>
		</div>
		<div class="nav-content">
			<ul class="tabs tabs-transparent no-padding">
				<li class="tab"><a class="font-weight-normal light-blue-text text-accent-4 waves-effect waves-default" href="#test1">{{ tab_dashboard }}</a></li>
				<li class="tab"><a class="font-weight-normal light-blue-text text-accent-4 waves-effect waves-default" href="#test2">{{ tab_post }}</a></li>
				<li class="tab"><a class="font-weight-normal light-blue-text text-accent-4 waves-effect waves-default" href="#test3">{{ tab_category }}</a></li>
				<li class="tab"><a class="font-weight-normal light-blue-text text-accent-4 waves-effect waves-default" href="#test4">{{ tab_comment }}</a></li>
			</ul>
		</div>
	</nav>
	<div class="mt-4 ml-4 mr-4">
		<div id="test1">
			<ul class="materialize-list white z-depth-1">
				<li class="materialize-list-item waves-effect">
					<span class="materialize-list-item__icon required"><i class="material-icons">power_settings_new</i></span>
					<span class="materialize-list-item__text">
						<span class="materialize-list-item__primary-text">{{ entry_status }}</span>
						<span class="materialize-list-item__secondary-text">Enter the name of the module</span>
					</span>
					<div class="materialize-list-item__data">
						<div class="switch">
							<label>
								<input name="module_mt_blog_status" type="checkbox"{{ module_mt_blog_status ? ' checked' }}>
								<span class="lever"></span>
							</label>
						</div>
					</div>
				</li>
				<li class="materialize-list-item waves-effect">
					<span class="materialize-list-item__icon"><i class="material-icons">comment</i></span>
					<span class="materialize-list-item__text">
						<span class="materialize-list-item__primary-text">{{ entry_status }}</span>
						<span class="materialize-list-item__secondary-text">Enter the name of the module</span>
					</span>
					<div class="materialize-list-item__data">
						<div class="switch">
							<label>
								<input type="checkbox">
								<span class="lever"></span>
							</label>
						</div>
					</div>
				</li>
				<li class="materialize-list-item waves-effect">
					<span class="materialize-list-item__icon"><i class="material-icons">remove_red_eye</i></span>
					<span class="materialize-list-item__text">
						<span class="materialize-list-item__primary-text">{{ entry_status }}</span>
						<span class="materialize-list-item__secondary-text">Enter the name of the module</span>
					</span>
					<div class="materialize-list-item__data">
						<div class="switch">
							<label>
								<input type="checkbox">
								<span class="lever"></span>
							</label>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div id="test2">
			<div class="materialize-card">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores atque consequuntur esse excepturi, harum in, inventore ipsum minima obcaecati pariatur, possimus quis quo rerum saepe sint suscipit ullam voluptates.</p>
				<table class="highlight">
					<thead>
					<tr>
						<th style="width: 50px;">
							<label>
								<input type="checkbox" id="main-table-checkbox" class="filled-in">
								<span></span>
							</label>
						</th>
						<th class="center" style="width: 80px;">{{ column_image }}</th>
						<th style="width: 300px;">{{ column_post }}</th>
						<th>{{ column_author }}</th>
						<th>{{ column_category }}</th>
						<th>{{ column_comment }}</th>
						<th>{{ column_data }}</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>
							<label>
								<input type="checkbox" name="selected[]" class="filled-in">
								<span></span>
							</label>
						</td>
						<td class="center"><img src="{{ placeholder }}" alt="" class="img-thumbnail"></td>
						<td>
							<a href="#!" class="grey-text text-darken-4 title">Example post name</a>
							<span class="materialize-badge green mt-2">{{ text_published }}</span>
						</td>
						<td>Admin</td>
						<td>Category</td>
						<td>3</td>
						<td>20.01.2021</td>
						<td>
							<a class="btn-floating btn-flat waves-effect"><i class="material-icons grey-text text-darken-4">mode_edit</i></a>
						</td>
					</tr>
					</tbody>
				</table>
				<div class="materialize-card-action">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, nulla, sequi. Enim facilis ipsum molestias nulla odio qui velit voluptas, voluptate! A blanditiis magnam nesciunt odio repudiandae sint veniam voluptatum.</p>
				</div>
			</div>
		</div>
		<div id="test3">
			<div class="materialize-card-panel">Test 3</div>
		</div>
		<div id="test4">
			<div class="materialize-card-panel">Test 4</div>
		</div>
	</div>
	{#<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
			<div class="card-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="module_mt_blog_status" id="input-status" class="form-control">
								{% if module_mt_blog_status %}
									<option value="1" selected="selected">{{ text_enabled }}</option>
									<option value="0">{{ text_disabled }}</option>
								{% else %}
									<option value="1">{{ text_enabled }}</option>
									<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>#}
	<div class="fixed-action-btn">
		<span class="btn-floating btn-large red">
			<i class="large material-icons">mode_edit</i>
		</span>
		<ul>
			<li><a class="btn-floating blue"><i class="material-icons">add_comment</i></a></li>
			<li><a class="btn-floating green"><i class="material-icons">perm_media</i></a></li>
			<li><a class="btn-floating orange"><i class="material-icons">art_track</i></a></li>
		</ul>
	</div>
</div>
<style>
	ul:not(.browser-default) {
		padding-left: 0;
		list-style-type: none;
	}
	ul:not(.browser-default) > li {
		list-style-type: none;
	}
	#content a {
		text-decoration: none;
	}
	h1 {
		margin-top: 0;
	}
	.tabs li.indicator {
		background-color: #0091ea !important;
	}
	.tabs .tab a:focus, .tabs .tab a:focus.active {
		background-color: rgba(0, 0, 0, 0.1);
	}
	[type="checkbox"].filled-in:checked + span:not(.lever):after {
		border: 2px solid #0091ea;
		background-color: #0091ea;
	}
	[type="checkbox"]:indeterminate+span:not(.lever):before {
		border-right: 2px solid #0091ea;
	}
	[type="checkbox"].filled-in.tabbed:checked:focus + span:not(.lever):after {
		background-color: #0091ea;
		border-color: #0091ea;
	}
	table.highlight > tbody > tr:hover, table > tbody > tr.active {
		background-color: #e1f5fe;
	}
	th label, td label {
		height: 20px !important;
		margin-bottom: 0;
		margin-left: 10px;
		margin-top: 4px;
	}
	th label input[type="checkbox"] + span, td label input[type="checkbox"] + span {
		height: 20px !important;
		width: 20px !important;
		padding-left: 0 !important;
	}
	td a.title {
		font-size: 1rem;
	}
	td span.materialize-badge {
		font-size: .7rem;
		color: #fff;
	}
	td a, td span {
		display: block;
	}
	.btn-floating:hover {
		background-color: transparent;
	}
	.switch label input[type=checkbox]:checked + .lever {
		background-color: #40c4ff;
	}
	.switch label input[type=checkbox]:checked + .lever:after {
		background-color: #0091ea;
	}
</style>
<script>
	$(document).ready(function(){
		$('.tabs').tabs();
		$(".dropdown-trigger").dropdown();
		$('.fixed-action-btn').floatingActionButton();

		let tableRows = $('table tbody tr'),
			mainTableCheckbox = $('#main-table-checkbox'),
			tableCheckboxes = $('tbody td input[type=\'checkbox\']');

		mainTableCheckbox.on('click', function() {
			mainTableCheckbox.addClass('filled-in');

			if (mainTableCheckbox.prop('checked')) {
				tableCheckboxes.prop('checked', true);
				tableRows.addClass('active');
			} else {
				tableCheckboxes.prop('checked', false);
				tableRows.removeClass('active');
			}
		});

		tableCheckboxes.change(function() {
			let allCheckboxChecked = [],
				oneCheckboxChecked = false;

			tableCheckboxes.each(function(index, element) {
				if ($(element).prop('checked')) {
					oneCheckboxChecked = true;
					allCheckboxChecked.push(true);
					$(element).parent().parent().parent().addClass('active');
				} else {
					$(element).parent().parent().parent().removeClass('active');
				}
			});

			if (allCheckboxChecked.length === tableCheckboxes.length) {
				mainTableCheckbox.addClass('filled-in').prop({
					'checked': true,
					'indeterminate': false
				});
			} else if (oneCheckboxChecked) {
				mainTableCheckbox.prop({
					'checked': false,
					'indeterminate': true
				}).removeClass('filled-in');
			} else if (allCheckboxChecked.length === 0) {
				mainTableCheckbox.addClass('filled-in').prop({
					'checked': false,
					'indeterminate': false
				});
			} else {
				mainTableCheckbox.addClass('filled-in').prop({
					'checked': true,
					'indeterminate': false
				});
			}
		});
	});
</script>
{{ footer }}